n8n/26hGDMjIiPVGI8gA.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2025-12-23T03:00:22.183Z",
    "createdAt": "2025-12-23T03:00:15.936Z",
    "versionId": "02cee5d2-a425-4fac-863f-c6ce80f11906",
    "workflowId": "26hGDMjIiPVGI8gA",
    "nodes": [
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -912,
          304
        ],
        "id": "c44b18f3-5086-496f-b39c-1a3e69e974c0",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "8d513345-6484-431f-afb7-7cf045c90f4f",
                "name": "Done",
                "type": "boolean",
                "value": true
              }
            ]
          },
          "options": {}
        },
        "id": "d8afe656-cd08-4a5c-85f9-3d4bd2da01a0",
        "name": "Return",
        "type": "n8n-nodes-base.set",
        "position": [
          1408,
          128
        ],
        "typeVersion": 3.3
      },
      {
        "parameters": {
          "url": "={{ $json.download_url }}",
          "options": {}
        },
        "id": "0b0fff6e-18fa-49f0-b42b-244e323225e2",
        "name": "Get File",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          0,
          0
        ],
        "typeVersion": 4.2
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "45ce825e-9fa6-430c-8931-9aaf22c42585",
                "operator": {
                  "type": "string",
                  "operation": "empty",
                  "singleValue": true
                },
                "leftValue": "={{ $json.content }}",
                "rightValue": ""
              },
              {
                "id": "9619a55f-7fb1-4f24-b1a7-7aeb82365806",
                "operator": {
                  "type": "string",
                  "operation": "notExists",
                  "singleValue": true
                },
                "leftValue": "={{ $json.error }}",
                "rightValue": ""
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "d70b3a72-3681-43bc-aada-286836e916b5",
        "name": "If file too large",
        "type": "n8n-nodes-base.if",
        "position": [
          -224,
          16
        ],
        "typeVersion": 2
      },
      {
        "parameters": {},
        "id": "4442da44-ff5e-45e8-b0c2-a1a836058977",
        "name": "Merge Items",
        "type": "n8n-nodes-base.merge",
        "position": [
          224,
          288
        ],
        "typeVersion": 2
      },
      {
        "parameters": {
          "jsCode": "const orderJsonKeys = (jsonObj) => {\n  const ordered = {};\n  Object.keys(jsonObj).sort().forEach(key => {\n    ordered[key] = jsonObj[key];\n  });\n  return ordered;\n}\n\n// Check if file returned with content\nif (Object.keys($input.all()[0].json).includes(\"content\")) {\n  // Decode base64 content and parse JSON\n  const origWorkflow = JSON.parse(Buffer.from($input.all()[0].json.content, 'base64').toString());\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n// No file returned / new workflow\n} else if (Object.keys($input.all()[0].json).includes(\"data\")) {\n  const origWorkflow = JSON.parse($input.all()[0].json.data);\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n\n} else {\n  // Order JSON object\n  const n8nWorkflow = $input.all()[1].json;\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n  \n  // Proper formatting\n  $input.all()[0].json.github_status = \"new\";\n  $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return items\nreturn $input.all();\n"
        },
        "id": "1cb559e0-f39e-46b2-b277-531ef3fa38ee",
        "name": "isDiffOrNew",
        "type": "n8n-nodes-base.code",
        "position": [
          416,
          288
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "authentication": "oAuth2",
          "resource": "file",
          "owner": {
            "__rl": true,
            "value": "={{ $('Config').item.json.repo_owner }}",
            "mode": ""
          },
          "repository": {
            "__rl": true,
            "value": "={{ $('Config').item.json.repo_name }}",
            "mode": ""
          },
          "filePath": "={{ $('Config').item.json.repo_path }}/{{ $('Config').item.json.id }}.json",
          "fileContent": "={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}",
          "commitMessage": "={{ $('Config').item.json.name }} ({{$json.github_status}})"
        },
        "id": "d83698de-0a22-4c9b-969c-9f8678f00f9b",
        "name": "Create new file",
        "type": "n8n-nodes-base.github",
        "position": [
          1168,
          496
        ],
        "typeVersion": 1,
        "webhookId": "4c142bd7-3446-4249-bbcc-1b1148ea5a43",
        "credentials": {
          "githubOAuth2Api": {
            "id": "AGTVB8aYZCX5E4G4",
            "name": "bio_1"
          }
        }
      },
      {
        "parameters": {
          "authentication": "oAuth2",
          "resource": "file",
          "operation": "edit",
          "owner": {
            "__rl": true,
            "value": "={{ $('Config').item.json.repo_owner }}",
            "mode": ""
          },
          "repository": {
            "__rl": true,
            "value": "={{ $('Config').item.json.repo_name }}",
            "mode": ""
          },
          "filePath": "={{ $('Config').item.json.repo_path }}/{{ $('Config').item.json.id }}.json",
          "fileContent": "={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}",
          "commitMessage": "={{ $('Config').item.json.name }} ({{$json.github_status}})"
        },
        "id": "16c1cc7b-d4d2-467b-82b6-56af056e9579",
        "name": "Edit existing file",
        "type": "n8n-nodes-base.github",
        "position": [
          1168,
          320
        ],
        "typeVersion": 1,
        "webhookId": "744c870f-d376-4727-96f8-108d0a13de36",
        "credentials": {
          "githubOAuth2Api": {
            "id": "AGTVB8aYZCX5E4G4",
            "name": "bio_1"
          }
        }
      },
      {
        "parameters": {
          "authentication": "oAuth2",
          "resource": "file",
          "operation": "get",
          "owner": {
            "__rl": true,
            "value": "={{ $json.repo_owner }}",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "={{ $json.repo_name }}",
            "mode": "name"
          },
          "filePath": "={{ $('Config').item.json.repo_path }}/{{$json.id}}.json",
          "asBinaryProperty": false,
          "additionalParameters": {}
        },
        "id": "6aee0a1e-5372-4350-99d9-ced0cb81ef92",
        "name": "Get file data",
        "type": "n8n-nodes-base.github",
        "position": [
          -416,
          16
        ],
        "typeVersion": 1,
        "alwaysOutputData": true,
        "webhookId": "84cfd78a-f412-4ae2-8b9d-3339fddd0025",
        "credentials": {
          "githubOAuth2Api": {
            "id": "AGTVB8aYZCX5E4G4",
            "name": "bio_1"
          }
        },
        "continueOnFail": true
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "8f6d1741-772f-462a-811f-4c334185e4f0",
                "name": "repo_owner",
                "type": "string",
                "value": "=mirkoflores"
              },
              {
                "id": "8cac215c-4fd7-422f-9fd2-6b2d1e5e0383",
                "name": "repo_name",
                "type": "string",
                "value": "=n8n_backups"
              },
              {
                "id": "eee305e9-4164-462a-86bd-80f0d58a31ae",
                "name": "repo_path",
                "type": "string",
                "value": "=n8n"
              }
            ]
          },
          "includeOtherFields": true,
          "options": {}
        },
        "id": "1de07612-ac49-4913-97ec-7355166ed01f",
        "name": "Config",
        "type": "n8n-nodes-base.set",
        "position": [
          -656,
          304
        ],
        "typeVersion": 3.4
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{$json.github_status}}",
                      "rightValue": "same",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "45e44cc5-c3ea-42a8-8525-364b48a0d68f"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "=igual"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "ba43677d-23fb-47a2-b80b-3fe7d621b7f8",
                      "leftValue": "={{$json.github_status}}",
                      "rightValue": "=different",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "=diferente"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "4475368c-a555-4b33-8480-8301913893fb",
                      "leftValue": "={{$json.github_status}}",
                      "rightValue": "=new",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "nuevo"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          640,
          288
        ],
        "id": "f16f3740-7a0a-48af-8107-fea4d0e2b774",
        "name": "Switch"
      },
      {
        "parameters": {},
        "id": "aa3d9ed9-9905-4a93-96d4-01399ff4fad1",
        "name": "File is new",
        "type": "n8n-nodes-base.noOp",
        "position": [
          944,
          496
        ],
        "typeVersion": 1
      },
      {
        "parameters": {},
        "id": "4c5ccdee-2adf-4f5b-ae5d-31190ec14a88",
        "name": "File is different",
        "type": "n8n-nodes-base.noOp",
        "position": [
          944,
          320
        ],
        "typeVersion": 1
      },
      {
        "parameters": {},
        "id": "8df32a99-5990-4513-a217-e7925b3fd43e",
        "name": "Same file - Do nothing",
        "type": "n8n-nodes-base.noOp",
        "position": [
          944,
          128
        ],
        "typeVersion": 1
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Config",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get File": {
        "main": [
          [
            {
              "node": "Merge Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If file too large": {
        "main": [
          [
            {
              "node": "Get File",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Merge Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge Items": {
        "main": [
          [
            {
              "node": "isDiffOrNew",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "isDiffOrNew": {
        "main": [
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create new file": {
        "main": [
          [
            {
              "node": "Return",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit existing file": {
        "main": [
          [
            {
              "node": "Return",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get file data": {
        "main": [
          [
            {
              "node": "If file too large",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Config": {
        "main": [
          [
            {
              "node": "Get file data",
              "type": "main",
              "index": 0
            },
            {
              "node": "Merge Items",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "node": "Same file - Do nothing",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "File is different",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "File is new",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "File is new": {
        "main": [
          [
            {
              "node": "Create new file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "File is different": {
        "main": [
          [
            {
              "node": "Edit existing file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Same file - Do nothing": {
        "main": [
          [
            {
              "node": "Return",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Bioenglish Lat",
    "name": "Version 02cee5d2",
    "description": ""
  },
  "activeVersionId": "02cee5d2-a425-4fac-863f-c6ce80f11906",
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get File": {
      "main": [
        [
          {
            "node": "Merge Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If file too large": {
      "main": [
        [
          {
            "node": "Get File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Items": {
      "main": [
        [
          {
            "node": "isDiffOrNew",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isDiffOrNew": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create new file": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit existing file": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get file data": {
      "main": [
        [
          {
            "node": "If file too large",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Get file data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Items",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Same file - Do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "File is different",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "File is new",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File is new": {
      "main": [
        [
          {
            "node": "Create new file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File is different": {
      "main": [
        [
          {
            "node": "Edit existing file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Same file - Do nothing": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-20T17:23:50.346Z",
  "id": "26hGDMjIiPVGI8gA",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Iniciar backups",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -912,
        304
      ],
      "id": "c44b18f3-5086-496f-b39c-1a3e69e974c0",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8d513345-6484-431f-afb7-7cf045c90f4f",
              "name": "Done",
              "type": "boolean",
              "value": true
            }
          ]
        },
        "options": {}
      },
      "id": "d8afe656-cd08-4a5c-85f9-3d4bd2da01a0",
      "name": "Return",
      "type": "n8n-nodes-base.set",
      "position": [
        1408,
        128
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "url": "={{ $json.download_url }}",
        "options": {}
      },
      "id": "0b0fff6e-18fa-49f0-b42b-244e323225e2",
      "name": "Get File",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        0,
        0
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "45ce825e-9fa6-430c-8931-9aaf22c42585",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              },
              "leftValue": "={{ $json.content }}",
              "rightValue": ""
            },
            {
              "id": "9619a55f-7fb1-4f24-b1a7-7aeb82365806",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              },
              "leftValue": "={{ $json.error }}",
              "rightValue": ""
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d70b3a72-3681-43bc-aada-286836e916b5",
      "name": "If file too large",
      "type": "n8n-nodes-base.if",
      "position": [
        -224,
        16
      ],
      "typeVersion": 2
    },
    {
      "parameters": {},
      "id": "4442da44-ff5e-45e8-b0c2-a1a836058977",
      "name": "Merge Items",
      "type": "n8n-nodes-base.merge",
      "position": [
        224,
        288
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const orderJsonKeys = (jsonObj) => {\n  const ordered = {};\n  Object.keys(jsonObj).sort().forEach(key => {\n    ordered[key] = jsonObj[key];\n  });\n  return ordered;\n}\n\n// Check if file returned with content\nif (Object.keys($input.all()[0].json).includes(\"content\")) {\n  // Decode base64 content and parse JSON\n  const origWorkflow = JSON.parse(Buffer.from($input.all()[0].json.content, 'base64').toString());\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n// No file returned / new workflow\n} else if (Object.keys($input.all()[0].json).includes(\"data\")) {\n  const origWorkflow = JSON.parse($input.all()[0].json.data);\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n\n} else {\n  // Order JSON object\n  const n8nWorkflow = $input.all()[1].json;\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n  \n  // Proper formatting\n  $input.all()[0].json.github_status = \"new\";\n  $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return items\nreturn $input.all();\n"
      },
      "id": "1cb559e0-f39e-46b2-b277-531ef3fa38ee",
      "name": "isDiffOrNew",
      "type": "n8n-nodes-base.code",
      "position": [
        416,
        288
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "={{ $('Config').item.json.repo_owner }}",
          "mode": ""
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('Config').item.json.repo_name }}",
          "mode": ""
        },
        "filePath": "={{ $('Config').item.json.repo_path }}/{{ $('Config').item.json.id }}.json",
        "fileContent": "={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}",
        "commitMessage": "={{ $('Config').item.json.name }} ({{$json.github_status}})"
      },
      "id": "d83698de-0a22-4c9b-969c-9f8678f00f9b",
      "name": "Create new file",
      "type": "n8n-nodes-base.github",
      "position": [
        1168,
        496
      ],
      "typeVersion": 1,
      "webhookId": "4c142bd7-3446-4249-bbcc-1b1148ea5a43",
      "credentials": {
        "githubOAuth2Api": {
          "id": "AGTVB8aYZCX5E4G4",
          "name": "bio_1"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "={{ $('Config').item.json.repo_owner }}",
          "mode": ""
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('Config').item.json.repo_name }}",
          "mode": ""
        },
        "filePath": "={{ $('Config').item.json.repo_path }}/{{ $('Config').item.json.id }}.json",
        "fileContent": "={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}",
        "commitMessage": "={{ $('Config').item.json.name }} ({{$json.github_status}})"
      },
      "id": "16c1cc7b-d4d2-467b-82b6-56af056e9579",
      "name": "Edit existing file",
      "type": "n8n-nodes-base.github",
      "position": [
        1168,
        320
      ],
      "typeVersion": 1,
      "webhookId": "744c870f-d376-4727-96f8-108d0a13de36",
      "credentials": {
        "githubOAuth2Api": {
          "id": "AGTVB8aYZCX5E4G4",
          "name": "bio_1"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "={{ $json.repo_owner }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $json.repo_name }}",
          "mode": "name"
        },
        "filePath": "={{ $('Config').item.json.repo_path }}/{{$json.id}}.json",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "id": "6aee0a1e-5372-4350-99d9-ced0cb81ef92",
      "name": "Get file data",
      "type": "n8n-nodes-base.github",
      "position": [
        -416,
        16
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "webhookId": "84cfd78a-f412-4ae2-8b9d-3339fddd0025",
      "credentials": {
        "githubOAuth2Api": {
          "id": "AGTVB8aYZCX5E4G4",
          "name": "bio_1"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8f6d1741-772f-462a-811f-4c334185e4f0",
              "name": "repo_owner",
              "type": "string",
              "value": "=mirkoflores"
            },
            {
              "id": "8cac215c-4fd7-422f-9fd2-6b2d1e5e0383",
              "name": "repo_name",
              "type": "string",
              "value": "=n8n_backups"
            },
            {
              "id": "eee305e9-4164-462a-86bd-80f0d58a31ae",
              "name": "repo_path",
              "type": "string",
              "value": "=n8n"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "1de07612-ac49-4913-97ec-7355166ed01f",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "position": [
        -656,
        304
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{$json.github_status}}",
                    "rightValue": "same",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "45e44cc5-c3ea-42a8-8525-364b48a0d68f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "=igual"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ba43677d-23fb-47a2-b80b-3fe7d621b7f8",
                    "leftValue": "={{$json.github_status}}",
                    "rightValue": "=different",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "=diferente"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4475368c-a555-4b33-8480-8301913893fb",
                    "leftValue": "={{$json.github_status}}",
                    "rightValue": "=new",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "nuevo"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        640,
        288
      ],
      "id": "f16f3740-7a0a-48af-8107-fea4d0e2b774",
      "name": "Switch"
    },
    {
      "parameters": {},
      "id": "aa3d9ed9-9905-4a93-96d4-01399ff4fad1",
      "name": "File is new",
      "type": "n8n-nodes-base.noOp",
      "position": [
        944,
        496
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "4c5ccdee-2adf-4f5b-ae5d-31190ec14a88",
      "name": "File is different",
      "type": "n8n-nodes-base.noOp",
      "position": [
        944,
        320
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "8df32a99-5990-4513-a217-e7925b3fd43e",
      "name": "Same file - Do nothing",
      "type": "n8n-nodes-base.noOp",
      "position": [
        944,
        128
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "updatedAt": "2025-11-14T00:59:44.977Z",
          "createdAt": "2025-11-14T00:59:44.977Z",
          "id": "0wJXJgZhpal8PuDy",
          "name": "Agregar correo a sendpulse",
          "active": false,
          "isArchived": false,
          "nodes": [],
          "connections": {},
          "settings": {
            "executionOrder": "v1"
          },
          "staticData": null,
          "meta": null,
          "pinData": {},
          "versionId": "f2b4fb2c-25ae-47ef-8dbf-fecb295bc225",
          "triggerCount": 0,
          "shared": [
            {
              "updatedAt": "2025-11-14T00:59:44.977Z",
              "createdAt": "2025-11-14T00:59:44.977Z",
              "role": "workflow:owner",
              "workflowId": "0wJXJgZhpal8PuDy",
              "projectId": "b2lVB0vkIPboFk2w"
            }
          ],
          "tags": []
        }
      }
    ]
  },
  "repo_name": "n8n_backups",
  "repo_owner": "mirkoflores",
  "repo_path": "n8n",
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "3eeV0S5bC6x3HCMd"
  },
  "shared": [
    {
      "updatedAt": "2025-12-20T17:23:50.346Z",
      "createdAt": "2025-12-20T17:23:50.346Z",
      "role": "workflow:owner",
      "workflowId": "26hGDMjIiPVGI8gA",
      "projectId": "axO88AWqOW8lB7Vc"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-12-23T03:01:26.590Z",
  "versionId": "02cee5d2-a425-4fac-863f-c6ce80f11906"
}