n8n/3eeV0S5bC6x3HCMd.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2025-12-20T17:20:44.021Z",
    "createdAt": "2025-12-20T17:20:38.495Z",
    "versionId": "8ecc593a-80a5-485e-9773-4f007aed0561",
    "workflowId": "3eeV0S5bC6x3HCMd",
    "nodes": [
      {
        "parameters": {},
        "type": "n8n-nodes-base.errorTrigger",
        "typeVersion": 1,
        "position": [
          0,
          0
        ],
        "id": "f6a14f37-0fac-4dad-bb93-20f149e3c1fa",
        "name": "Error Trigger"
      }
    ],
    "connections": {},
    "authors": "Bioenglish Lat",
    "name": "Version 8ecc593a",
    "description": ""
  },
  "activeVersionId": "8ecc593a-80a5-485e-9773-4f007aed0561",
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "enviar error",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "enviar error": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2025-12-20T17:20:18.491Z",
  "id": "3eeV0S5bC6x3HCMd",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Aviso de errores",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -48,
        112
      ],
      "id": "f6a14f37-0fac-4dad-bb93-20f149e3c1fa",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://appwebhook.gianmarcorusher.com/webhook/898a5f94-e466-42df-82a2-17d880bed5f4",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('Error Trigger').item.json.toJsonString() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        192,
        0
      ],
      "id": "11d10f10-4e78-4358-a0dc-262be27acc1e",
      "name": "enviar error"
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1244011715008532602",
          "mode": "list",
          "cachedResultName": "Bioenglish",
          "cachedResultUrl": "https://discord.com/channels/1244011715008532602"
        },
        "channelId": {
          "__rl": true,
          "value": "1357814199446929488",
          "mode": "list",
          "cachedResultName": "errores",
          "cachedResultUrl": "https://discord.com/channels/1244011715008532602/1357814199446929488"
        },
        "content": "=Reporte de Error - {{ $json.body.workflow.name }}\n\nNombre de flujo: {{ $json.body.workflow.name }}\n\nerror_url_workflow: https://primary-production-55a73.up.railway.app/workflow/{{ $json.body.workflow.id }}/executions/{{ $json.body.execution.id }}\n\nHora de error: {{ DateTime.fromISO($now).set({ hour: 1, minute: 20, second: 35 }).toFormat(\"yyyy-MM-dd HH:mm:ss\") }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        192,
        192
      ],
      "id": "b92dd6dc-56b2-44c5-a253-b5ae35c6d334",
      "name": "Send a message",
      "webhookId": "cf7337c4-50db-4dc5-95b6-bd0922108198",
      "credentials": {
        "discordBotApi": {
          "id": "lrG2Z5VoQXKArDMn",
          "name": "bio_1"
        }
      }
    }
  ],
  "pinData": {},
  "repo_name": "n8n_backups",
  "repo_owner": "mirkoflores",
  "repo_path": "n8n",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-12-20T17:20:18.491Z",
      "createdAt": "2025-12-20T17:20:18.491Z",
      "role": "workflow:owner",
      "workflowId": "3eeV0S5bC6x3HCMd",
      "projectId": "axO88AWqOW8lB7Vc"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-12-21T18:33:52.493Z",
  "versionId": "fb4dae91-e59d-4a74-a4ad-0e737f6dffb0"
}