n8n/efFbgE1bYCOEbonn.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-01-04T04:00:27.837Z",
    "createdAt": "2026-01-04T04:00:26.386Z",
    "versionId": "254befd5-01e0-49e3-94cc-d76d2b7e4d63",
    "workflowId": "efFbgE1bYCOEbonn",
    "nodes": [
      {
        "parameters": {
          "formTitle": "Bio English",
          "formDescription": "=<img src=\"https://primary-production-55a73.up.railway.app/webhook/c0e78331-d79f-4b79-ae6b-4807cb1363e4\" \n     width=\"150\">",
          "formFields": {
            "values": [
              {
                "fieldName": "tipo_estudiante",
                "fieldLabel": "¿Para quien son las clases de inglés?",
                "fieldType": "dropdown",
                "defaultValue": "=",
                "fieldOptions": {
                  "values": [
                    {
                      "option": "Para mí"
                    },
                    {
                      "option": "Para mi hijo/hija"
                    },
                    {
                      "option": "Para un familiar o amig@"
                    }
                  ]
                },
                "requiredField": true
              }
            ]
          },
          "options": {
            "appendAttribution": false,
            "buttonLabel": "Siguiente"
          }
        },
        "type": "n8n-nodes-base.formTrigger",
        "typeVersion": 2.4,
        "position": [
          64,
          -112
        ],
        "id": "08f9137d-f800-4f9d-8951-a415bea9b881",
        "name": "On form submission",
        "webhookId": "1a514538-6c3d-46ce-a241-2cc1f4440166"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "e3b6bb55-fdba-456d-8db7-c482e436be0c",
                "leftValue": "={{ $('On form submission').item.json.tipo_estudiante }}",
                "rightValue": "Para mí",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          272,
          -112
        ],
        "id": "1901249b-48f9-4ee8-8d59-bf8eda6cb773",
        "name": "es para el mismo estudiante?"
      },
      {
        "parameters": {
          "formFields": {
            "values": [
              {
                "fieldName": "nombre_apoderado",
                "fieldLabel": "Nombre completo del apoderado",
                "requiredField": true
              },
              {
                "fieldName": "dni_apoderado",
                "fieldLabel": "DNI del apoderado",
                "requiredField": true
              },
              {
                "fieldName": "correo_apoderado",
                "fieldLabel": "Correo electrónico del apoderado",
                "requiredField": true
              },
              {
                "fieldName": "celular_apoderado",
                "fieldLabel": "Celular de apoderado - colocar sin codigo de pais",
                "requiredField": true
              },
              {
                "fieldName": "nivel_ingles_apoderado",
                "fieldLabel": "Nivel de inglés del apoderado",
                "fieldType": "dropdown",
                "fieldOptions": {
                  "values": [
                    {
                      "option": "Básico"
                    },
                    {
                      "option": "Intermedio"
                    },
                    {
                      "option": "Avanzado"
                    },
                    {
                      "option": "Nunca he estudiado inglés"
                    },
                    {
                      "option": "No se mi nivel de inglés"
                    }
                  ]
                },
                "requiredField": true
              }
            ]
          },
          "options": {
            "formTitle": "Datos del apoderado"
          }
        },
        "type": "n8n-nodes-base.form",
        "typeVersion": 2.4,
        "position": [
          1056,
          -544
        ],
        "id": "628286e9-5331-4382-ae79-7647d3d13d62",
        "name": "info apoderado",
        "webhookId": "c4d2aac6-01be-495b-a27e-3c03ed4cb389"
      },
      {
        "parameters": {
          "defineForm": "json",
          "jsonOutput": "=[\n  {\n    \"fieldLabel\": \"Nombre completo del estudiante\",\n    \"requiredField\": true\n  },\n  {\n    \"fieldLabel\": \"Correo electrónico del estudiante\",\n    \"fieldType\": \"email\",\n    \"requiredField\": true\n  },\n  {\n    \"fieldLabel\": \"Pais\",\n    \"fieldType\": \"dropdown\",\n    \"fieldOptions\": { \"values\":\n{{ $('Call Paises - form de inscripcion1').item.json.values }}\n                    },\n    \"defaultValue\": [\"Perú\"],\n    \"requiredField\": true\n},\n  {\n    \"fieldLabel\": \"Celular del estudiante - colocar sin codigo de pais\",\n    \"requiredField\": true\n  },\n  {\n    \"fieldLabel\": \"Grupo y horario al que desea inscribirse\",\n    \"fieldType\": \"dropdown\",\n    \"fieldOptions\": { \"values\":\n{{ JSON.stringify($('Aggregate').item.json.values) }}\n},\n    \"requiredField\": true \n},\n{\n    \"fieldLabel\": \"Comprobante de pago\",\n    \"fieldType\": \"file\",\n    \"multipleFiles\": true,\n    \"acceptFileTypes\": \".jpg, .png\" ,\n    \"requiredField\": true\n  }\n]\n",
          "options": {
            "formTitle": "Datos del estudiante"
          }
        },
        "type": "n8n-nodes-base.form",
        "typeVersion": 2.4,
        "position": [
          1968,
          -128
        ],
        "id": "3423b85a-b689-449f-9312-bc6988a59db3",
        "name": "info estudiante",
        "webhookId": "c4d2aac6-01be-495b-a27e-3c03ed4cb389"
      },
      {
        "parameters": {
          "authentication": "airtableOAuth2Api",
          "operation": "search",
          "base": {
            "__rl": true,
            "value": "appBCL3CWLhCwIjnP",
            "mode": "list",
            "cachedResultName": "BioEnglish",
            "cachedResultUrl": "https://airtable.com/appBCL3CWLhCwIjnP"
          },
          "table": {
            "__rl": true,
            "value": "tbllfzjbgoKjO87HI",
            "mode": "list",
            "cachedResultName": "Grupos",
            "cachedResultUrl": "https://airtable.com/appBCL3CWLhCwIjnP/tbllfzjbgoKjO87HI"
          },
          "filterByFormula": "AND({GRUPOS ACTIVOS}=\"activo\",{Year2024}=\"2026\")",
          "options": {}
        },
        "type": "n8n-nodes-base.airtable",
        "typeVersion": 2.1,
        "position": [
          1072,
          -128
        ],
        "id": "71fdc19b-a74d-4114-854b-84fa93718b5a",
        "name": "Search records",
        "credentials": {
          "airtableOAuth2Api": {
            "id": "mylJqD7auLJ9sN2T",
            "name": "Bioenglish_1"
          }
        }
      },
      {
        "parameters": {
          "formFields": {
            "values": [
              {
                "fieldType": "radio",
                "fieldOptions": {
                  "values": [
                    {}
                  ]
                }
              }
            ]
          },
          "options": {
            "formTitle": "Datos del apoderado"
          }
        },
        "type": "n8n-nodes-base.form",
        "typeVersion": 2.4,
        "position": [
          1264,
          -528
        ],
        "id": "2addfaf2-b95b-4f01-9228-397bec6d5e01",
        "name": "info estudiante1",
        "webhookId": "c4d2aac6-01be-495b-a27e-3c03ed4cb389"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "da93796e-44e3-4f22-8a01-409d43abf458",
                "name": "option",
                "value": "={{ $('Search records').item.json['Nombre de grupo - form inscripcion'] }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1280,
          -128
        ],
        "id": "b2dc214b-41ea-4e98-8492-20fa5e8f1e4c",
        "name": "formato"
      },
      {
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "destinationFieldName": "values",
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          1488,
          -128
        ],
        "id": "0d91e0f9-5b94-4b2a-9ce6-e117d8133138",
        "name": "Aggregate"
      },
      {
        "parameters": {
          "operation": "completion",
          "completionTitle": "Bienvenid@ a Bioenglish!",
          "completionMessage": "=Tu inscripción se ha completado con éxito, revisa las indicaciones de como entrar a tus clases en tu correo {{ $('variables_1').item.json['Correo electrónico del estudiante'] }}\n y numero de celular {{ $('variables_1').item.json['Celular del estudiante - colocar sin codigo de pais'] }}.",
          "options": {}
        },
        "type": "n8n-nodes-base.form",
        "typeVersion": 2.4,
        "position": [
          2384,
          -128
        ],
        "id": "c7f67cbf-e8b0-417b-a177-22f96b460bc6",
        "name": "Form1",
        "webhookId": "321ce14a-d2e6-4df2-9952-590f798ee2bf"
      },
      {
        "parameters": {
          "errorMessage": "Error en subescenario"
        },
        "type": "n8n-nodes-base.stopAndError",
        "typeVersion": 1,
        "position": [
          3888,
          48
        ],
        "id": "bd6e34ea-1f1f-434e-b478-5aade2964fbb",
        "name": "Stop and Error"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "NDODlDQBUvrwqCwc",
            "mode": "list",
            "cachedResultUrl": "/workflow/NDODlDQBUvrwqCwc",
            "cachedResultName": "Guardar informacion de inscripcion"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {
            "waitForSubWorkflow": true
          }
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          2640,
          -128
        ],
        "id": "26ae9d6a-e166-4d16-bd2e-89baf660a695",
        "name": "Guardar informacion de inscripcion",
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "defineForm": "json",
          "jsonOutput": "=[\n  {\n    \"fieldLabel\": \"Nombre completo del apoderado\",\n    \"requiredField\": true\n  },\n  {\n    \"fieldLabel\": \"DNI del apoderado\",\n    \"fieldType\": \"number\",\n    \"requiredField\": true\n  },\n  {\n    \"fieldLabel\": \"Correo electrónico del apoderado\",\n    \"fieldType\": \"email\",\n    \"requiredField\": true\n  },\n  {\n    \"fieldLabel\": \"Pais\",\n    \"fieldType\": \"dropdown\",\n    \"fieldOptions\": { \"values\":\n{{ $('Call Paises - form de inscripcion').item.json.values }}\n                    },\n    \"defaultValue\": [\"Perú\"],\n    \"requiredField\": true\n},\n  {\n    \"fieldLabel\": \"Celular de apoderado - colocar sin codigo de pais\",\n    \"fieldType\": \"number\",\n    \"requiredField\": true\n  },\n  {\n    \"fieldLabel\": \"Nivel de inglés del apoderado\",\n    \"fieldType\": \"dropdown\",\n    \"fieldOptions\": {\n      \"values\": [\n        {\n          \"option\": \"Básico\"\n        },\n        {\n          \"option\": \"Intermedio\"\n        },\n        {\n          \"option\": \"Avanzado\"\n        },\n        {\n          \"option\": \"Nunca he estudiado inglés\"\n        },\n        {\n          \"option\": \"No se mi nivel de inglés\"\n        }\n      ]\n    },\n    \"requiredField\": true\n  }\n]\n",
          "options": {
            "formTitle": "Datos del apoderado"
          }
        },
        "type": "n8n-nodes-base.form",
        "typeVersion": 2.4,
        "position": [
          800,
          64
        ],
        "id": "172ae1dc-7838-4e2e-8520-7e04f377b7ca",
        "name": "info apoderado1",
        "webhookId": "c4d2aac6-01be-495b-a27e-3c03ed4cb389"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "VKL8pPTOJRCGOy5R",
            "mode": "list",
            "cachedResultUrl": "/workflow/VKL8pPTOJRCGOy5R",
            "cachedResultName": "Paises - form de inscripcion"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          592,
          64
        ],
        "name": "Call Paises - form de inscripcion",
        "id": "00a01d2c-3319-48fd-9d0b-c984de85c551"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "VKL8pPTOJRCGOy5R",
            "mode": "list",
            "cachedResultUrl": "/workflow/VKL8pPTOJRCGOy5R",
            "cachedResultName": "Paises - form de inscripcion"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          1728,
          -128
        ],
        "name": "Call Paises - form de inscripcion1",
        "id": "a02f2467-76a2-4454-86ab-dc8fee513e5a"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "34d45ad4-00de-400b-836a-76759a1bbe4a",
                "name": "tipo_estudiante",
                "value": "={{ $('On form submission').item.json.tipo_estudiante }}",
                "type": "string"
              },
              {
                "id": "fa9a5dfb-47b3-4b1c-b6d7-31446ad238d4",
                "name": "nombre_apoderado",
                "value": "={{ $('info apoderado1').item.json['Nombre completo del apoderado'] }}",
                "type": "string"
              },
              {
                "id": "01729028-f555-4464-944f-773c0bcb8d35",
                "name": "dni_apoderado",
                "value": "={{ $('info apoderado1').item.json['DNI del apoderado'] }}",
                "type": "number"
              },
              {
                "id": "b6524707-3d13-443f-b091-ccbe4df8975d",
                "name": "correo_apoderado",
                "value": "={{ $('info apoderado1').item.json['Correo electrónico del apoderado'] }}",
                "type": "string"
              },
              {
                "id": "554aeef9-0128-48cd-8551-7c1809e0a924",
                "name": "pais_apoderado",
                "value": "={{ $('info apoderado1').item.json.Pais }}",
                "type": "string"
              },
              {
                "id": "4b325450-71fc-4958-bce6-fe6712321933",
                "name": "celular_apoderado_sin_codigo",
                "value": "={{ $('info apoderado1').item.json['Celular de apoderado - colocar sin codigo de pais'] }}",
                "type": "number"
              },
              {
                "id": "8837a6f6-6805-40d8-bf10-ceb7aaf361e2",
                "name": "nivel_inglés_apoderado",
                "value": "={{ $('info apoderado1').item.json['Nivel de inglés del apoderado'] }}",
                "type": "string"
              }
            ]
          },
          "includeOtherFields": true,
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2176,
          -128
        ],
        "id": "5c40ccea-43af-4cd9-9849-7b2e1068623e",
        "name": "variables_1"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "xKuzM69hfs7W22TM",
            "mode": "list",
            "cachedResultUrl": "/workflow/xKuzM69hfs7W22TM",
            "cachedResultName": "Enviar accesos a nuevo usuario"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          3168,
          -272
        ],
        "id": "6f1dc726-9a84-477d-ab9a-74ff9ca7debc",
        "name": "Call 'Enviar accesos a nuevo usuario'",
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "authentication": "nocoDbApiToken",
          "operation": "create",
          "projectId": "prkc7a6zgmy2biw",
          "table": "mhwre6k16cwus69",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldName": "id_escenario_n8n",
                "fieldValue": "={{ $workflow.id }}"
              },
              {
                "fieldName": "id_ejecucion_n8n",
                "fieldValue": "={{ $execution.id }}"
              },
              {
                "fieldName": "sin errores",
                "fieldValue": "={{ false }}"
              },
              {
                "fieldName": "celular_apoderado_sin_codigo",
                "fieldValue": "={{ $('variables_1').item.json.celular_apoderado_sin_codigo }}"
              },
              {
                "fieldName": "celular_estudiante_sin_codigo",
                "fieldValue": "={{ $('variables_1').item.json['Celular del estudiante - colocar sin codigo de pais'] }}"
              },
              {
                "fieldName": "pais_estudiante",
                "fieldValue": "={{ $('variables_1').item.json.Pais }}"
              },
              {
                "fieldName": "pais_apoderado",
                "fieldValue": "={{ $('variables_1').item.json.pais_apoderado }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.nocoDb",
        "typeVersion": 3,
        "position": [
          3680,
          48
        ],
        "id": "138fe642-fddd-4c29-bd33-1a0f13691026",
        "name": "Create a row",
        "credentials": {
          "nocoDbApiToken": {
            "id": "Sybr1jbACFyMMWFf",
            "name": "bio_1"
          }
        }
      },
      {
        "parameters": {
          "authentication": "nocoDbApiToken",
          "operation": "create",
          "projectId": "prkc7a6zgmy2biw",
          "table": "mhwre6k16cwus69",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldName": "id_escenario_n8n",
                "fieldValue": "={{ $workflow.id }}"
              },
              {
                "fieldName": "id_ejecucion_n8n",
                "fieldValue": "={{ $execution.id }}"
              },
              {
                "fieldName": "sin errores",
                "fieldValue": "={{ true }}"
              },
              {
                "fieldName": "celular_apoderado_sin_codigo",
                "fieldValue": "={{ $('variables_1').item.json.celular_apoderado_sin_codigo }}"
              },
              {
                "fieldName": "celular_estudiante_sin_codigo",
                "fieldValue": "={{ $('variables_1').item.json['Celular del estudiante - colocar sin codigo de pais'] }}"
              },
              {
                "fieldName": "pais_estudiante",
                "fieldValue": "={{ $('variables_1').item.json.Pais }}"
              },
              {
                "fieldName": "pais_apoderado",
                "fieldValue": "={{ $('variables_1').item.json.pais_apoderado }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.nocoDb",
        "typeVersion": 3,
        "position": [
          3584,
          -368
        ],
        "id": "ef51b04d-8529-4717-82db-a1b93988ab4f",
        "name": "Create a row1",
        "credentials": {
          "nocoDbApiToken": {
            "id": "Sybr1jbACFyMMWFf",
            "name": "bio_1"
          }
        }
      }
    ],
    "connections": {
      "On form submission": {
        "main": [
          [
            {
              "node": "es para el mismo estudiante?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "es para el mismo estudiante?": {
        "main": [
          [
            {
              "node": "Search records",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Call Paises - form de inscripcion",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Search records": {
        "main": [
          [
            {
              "node": "formato",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "formato": {
        "main": [
          [
            {
              "node": "Aggregate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate": {
        "main": [
          [
            {
              "node": "Call Paises - form de inscripcion1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "info estudiante": {
        "main": [
          [
            {
              "node": "variables_1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "info apoderado": {
        "main": [
          []
        ]
      },
      "Form1": {
        "main": [
          [
            {
              "node": "Guardar informacion de inscripcion",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Guardar informacion de inscripcion": {
        "main": [
          [
            {
              "node": "Call 'Enviar accesos a nuevo usuario'",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Create a row",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "info apoderado1": {
        "main": [
          [
            {
              "node": "Search records",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call Paises - form de inscripcion": {
        "main": [
          [
            {
              "node": "info apoderado1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call Paises - form de inscripcion1": {
        "main": [
          [
            {
              "node": "info estudiante",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "variables_1": {
        "main": [
          [
            {
              "node": "Form1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'Enviar accesos a nuevo usuario'": {
        "main": [
          [
            {
              "node": "Create a row1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Create a row",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create a row": {
        "main": [
          [
            {
              "node": "Stop and Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Bioenglish Lat",
    "name": "Version 254befd5",
    "description": "",
    "autosaved": false
  },
  "activeVersionId": "254befd5-01e0-49e3-94cc-d76d2b7e4d63",
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "es para el mismo estudiante?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "es para el mismo estudiante?": {
      "main": [
        [
          {
            "node": "Search records",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Paises - form de inscripcion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records": {
      "main": [
        [
          {
            "node": "formato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formato": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Call Paises - form de inscripcion1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "info estudiante": {
      "main": [
        [
          {
            "node": "variables_1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "info apoderado": {
      "main": [
        []
      ]
    },
    "Form1": {
      "main": [
        [
          {
            "node": "Guardar informacion de inscripcion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar informacion de inscripcion": {
      "main": [
        [
          {
            "node": "Call 'Enviar accesos a nuevo usuario'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "info apoderado1": {
      "main": [
        [
          {
            "node": "Search records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Paises - form de inscripcion": {
      "main": [
        [
          {
            "node": "info apoderado1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Paises - form de inscripcion1": {
      "main": [
        [
          {
            "node": "info estudiante",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "variables_1": {
      "main": [
        [
          {
            "node": "Form1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Enviar accesos a nuevo usuario'": {
      "main": [
        [
          {
            "node": "Create a row1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row": {
      "main": [
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-31T05:18:18.673Z",
  "id": "efFbgE1bYCOEbonn",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Formulario de inscripcion",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Bio English",
        "formDescription": "=<img src=\"https://primary-production-55a73.up.railway.app/webhook/c0e78331-d79f-4b79-ae6b-4807cb1363e4\" \n     width=\"150\">",
        "formFields": {
          "values": [
            {
              "fieldName": "tipo_estudiante",
              "fieldLabel": "¿Para quien son las clases de inglés?",
              "fieldType": "dropdown",
              "defaultValue": "=",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Para mí"
                  },
                  {
                    "option": "Para mi hijo/hija"
                  },
                  {
                    "option": "Para un familiar o amig@"
                  }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "options": {
          "appendAttribution": false,
          "buttonLabel": "Siguiente"
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.4,
      "position": [
        64,
        -112
      ],
      "id": "08f9137d-f800-4f9d-8951-a415bea9b881",
      "name": "On form submission",
      "webhookId": "1a514538-6c3d-46ce-a241-2cc1f4440166"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e3b6bb55-fdba-456d-8db7-c482e436be0c",
              "leftValue": "={{ $('On form submission').item.json.tipo_estudiante }}",
              "rightValue": "Para mí",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        272,
        -112
      ],
      "id": "1901249b-48f9-4ee8-8d59-bf8eda6cb773",
      "name": "es para el mismo estudiante?"
    },
    {
      "parameters": {
        "formFields": {
          "values": [
            {
              "fieldName": "nombre_apoderado",
              "fieldLabel": "Nombre completo del apoderado",
              "requiredField": true
            },
            {
              "fieldName": "dni_apoderado",
              "fieldLabel": "DNI del apoderado",
              "requiredField": true
            },
            {
              "fieldName": "correo_apoderado",
              "fieldLabel": "Correo electrónico del apoderado",
              "requiredField": true
            },
            {
              "fieldName": "celular_apoderado",
              "fieldLabel": "Celular de apoderado - colocar sin codigo de pais",
              "requiredField": true
            },
            {
              "fieldName": "nivel_ingles_apoderado",
              "fieldLabel": "Nivel de inglés del apoderado",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Básico"
                  },
                  {
                    "option": "Intermedio"
                  },
                  {
                    "option": "Avanzado"
                  },
                  {
                    "option": "Nunca he estudiado inglés"
                  },
                  {
                    "option": "No se mi nivel de inglés"
                  }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "options": {
          "formTitle": "Datos del apoderado"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.4,
      "position": [
        1056,
        -544
      ],
      "id": "628286e9-5331-4382-ae79-7647d3d13d62",
      "name": "info apoderado",
      "webhookId": "c4d2aac6-01be-495b-a27e-3c03ed4cb389"
    },
    {
      "parameters": {
        "defineForm": "json",
        "jsonOutput": "=[\n  {\n    \"fieldLabel\": \"Nombre completo del estudiante\",\n    \"requiredField\": true\n  },\n  {\n    \"fieldLabel\": \"Correo electrónico del estudiante\",\n    \"fieldType\": \"email\",\n    \"requiredField\": true\n  },\n  {\n    \"fieldLabel\": \"Pais\",\n    \"fieldType\": \"dropdown\",\n    \"fieldOptions\": { \"values\":\n{{ $('Call Paises - form de inscripcion1').item.json.values }}\n                    },\n    \"defaultValue\": [\"Perú\"],\n    \"requiredField\": true\n},\n  {\n    \"fieldLabel\": \"Celular del estudiante - colocar sin codigo de pais\",\n    \"requiredField\": true\n  },\n  {\n    \"fieldLabel\": \"Grupo y horario al que desea inscribirse\",\n    \"fieldType\": \"dropdown\",\n    \"fieldOptions\": { \"values\":\n{{ JSON.stringify($('Aggregate').item.json.values) }}\n},\n    \"requiredField\": true \n},\n{\n    \"fieldLabel\": \"Comprobante de pago\",\n    \"fieldType\": \"file\",\n    \"multipleFiles\": true,\n    \"acceptFileTypes\": \".jpg, .png\" ,\n    \"requiredField\": true\n  }\n]\n",
        "options": {
          "formTitle": "Datos del estudiante"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.4,
      "position": [
        1968,
        -128
      ],
      "id": "3423b85a-b689-449f-9312-bc6988a59db3",
      "name": "info estudiante",
      "webhookId": "c4d2aac6-01be-495b-a27e-3c03ed4cb389"
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appBCL3CWLhCwIjnP",
          "mode": "list",
          "cachedResultName": "BioEnglish",
          "cachedResultUrl": "https://airtable.com/appBCL3CWLhCwIjnP"
        },
        "table": {
          "__rl": true,
          "value": "tbllfzjbgoKjO87HI",
          "mode": "list",
          "cachedResultName": "Grupos",
          "cachedResultUrl": "https://airtable.com/appBCL3CWLhCwIjnP/tbllfzjbgoKjO87HI"
        },
        "filterByFormula": "AND({GRUPOS ACTIVOS}=\"activo\",{Year2024}=\"2026\")",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1072,
        -128
      ],
      "id": "71fdc19b-a74d-4114-854b-84fa93718b5a",
      "name": "Search records",
      "credentials": {
        "airtableOAuth2Api": {
          "id": "mylJqD7auLJ9sN2T",
          "name": "Bioenglish_1"
        }
      }
    },
    {
      "parameters": {
        "formFields": {
          "values": [
            {
              "fieldType": "radio",
              "fieldOptions": {
                "values": [
                  {}
                ]
              }
            }
          ]
        },
        "options": {
          "formTitle": "Datos del apoderado"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.4,
      "position": [
        1264,
        -528
      ],
      "id": "2addfaf2-b95b-4f01-9228-397bec6d5e01",
      "name": "info estudiante1",
      "webhookId": "c4d2aac6-01be-495b-a27e-3c03ed4cb389"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "da93796e-44e3-4f22-8a01-409d43abf458",
              "name": "option",
              "value": "={{ $('Search records').item.json['Nombre de grupo - form inscripcion'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1280,
        -128
      ],
      "id": "b2dc214b-41ea-4e98-8492-20fa5e8f1e4c",
      "name": "formato"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "values",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1488,
        -128
      ],
      "id": "0d91e0f9-5b94-4b2a-9ce6-e117d8133138",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "Bienvenid@ a Bioenglish!",
        "completionMessage": "=Tu inscripción se ha completado con éxito, revisa las indicaciones de como entrar a tus clases en tu correo {{ $('variables_1').item.json['Correo electrónico del estudiante'] }}\n y numero de celular {{ $('variables_1').item.json['Celular del estudiante - colocar sin codigo de pais'] }}.",
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.4,
      "position": [
        2384,
        -128
      ],
      "id": "c7f67cbf-e8b0-417b-a177-22f96b460bc6",
      "name": "Form1",
      "webhookId": "321ce14a-d2e6-4df2-9952-590f798ee2bf"
    },
    {
      "parameters": {
        "errorMessage": "Error en subescenario"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        3888,
        48
      ],
      "id": "bd6e34ea-1f1f-434e-b478-5aade2964fbb",
      "name": "Stop and Error"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "NDODlDQBUvrwqCwc",
          "mode": "list",
          "cachedResultUrl": "/workflow/NDODlDQBUvrwqCwc",
          "cachedResultName": "Guardar informacion de inscripcion"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2640,
        -128
      ],
      "id": "26ae9d6a-e166-4d16-bd2e-89baf660a695",
      "name": "Guardar informacion de inscripcion",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "defineForm": "json",
        "jsonOutput": "=[\n  {\n    \"fieldLabel\": \"Nombre completo del apoderado\",\n    \"requiredField\": true\n  },\n  {\n    \"fieldLabel\": \"DNI del apoderado\",\n    \"fieldType\": \"number\",\n    \"requiredField\": true\n  },\n  {\n    \"fieldLabel\": \"Correo electrónico del apoderado\",\n    \"fieldType\": \"email\",\n    \"requiredField\": true\n  },\n  {\n    \"fieldLabel\": \"Pais\",\n    \"fieldType\": \"dropdown\",\n    \"fieldOptions\": { \"values\":\n{{ $('Call Paises - form de inscripcion').item.json.values }}\n                    },\n    \"defaultValue\": [\"Perú\"],\n    \"requiredField\": true\n},\n  {\n    \"fieldLabel\": \"Celular de apoderado - colocar sin codigo de pais\",\n    \"fieldType\": \"number\",\n    \"requiredField\": true\n  },\n  {\n    \"fieldLabel\": \"Nivel de inglés del apoderado\",\n    \"fieldType\": \"dropdown\",\n    \"fieldOptions\": {\n      \"values\": [\n        {\n          \"option\": \"Básico\"\n        },\n        {\n          \"option\": \"Intermedio\"\n        },\n        {\n          \"option\": \"Avanzado\"\n        },\n        {\n          \"option\": \"Nunca he estudiado inglés\"\n        },\n        {\n          \"option\": \"No se mi nivel de inglés\"\n        }\n      ]\n    },\n    \"requiredField\": true\n  }\n]\n",
        "options": {
          "formTitle": "Datos del apoderado"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.4,
      "position": [
        800,
        64
      ],
      "id": "172ae1dc-7838-4e2e-8520-7e04f377b7ca",
      "name": "info apoderado1",
      "webhookId": "c4d2aac6-01be-495b-a27e-3c03ed4cb389"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "VKL8pPTOJRCGOy5R",
          "mode": "list",
          "cachedResultUrl": "/workflow/VKL8pPTOJRCGOy5R",
          "cachedResultName": "Paises - form de inscripcion"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        592,
        64
      ],
      "name": "Call Paises - form de inscripcion",
      "id": "00a01d2c-3319-48fd-9d0b-c984de85c551"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "VKL8pPTOJRCGOy5R",
          "mode": "list",
          "cachedResultUrl": "/workflow/VKL8pPTOJRCGOy5R",
          "cachedResultName": "Paises - form de inscripcion"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1728,
        -128
      ],
      "name": "Call Paises - form de inscripcion1",
      "id": "a02f2467-76a2-4454-86ab-dc8fee513e5a"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "34d45ad4-00de-400b-836a-76759a1bbe4a",
              "name": "tipo_estudiante",
              "value": "={{ $('On form submission').item.json.tipo_estudiante }}",
              "type": "string"
            },
            {
              "id": "fa9a5dfb-47b3-4b1c-b6d7-31446ad238d4",
              "name": "nombre_apoderado",
              "value": "={{ $('info apoderado1').item.json['Nombre completo del apoderado'] }}",
              "type": "string"
            },
            {
              "id": "01729028-f555-4464-944f-773c0bcb8d35",
              "name": "dni_apoderado",
              "value": "={{ $('info apoderado1').item.json['DNI del apoderado'] }}",
              "type": "number"
            },
            {
              "id": "b6524707-3d13-443f-b091-ccbe4df8975d",
              "name": "correo_apoderado",
              "value": "={{ $('info apoderado1').item.json['Correo electrónico del apoderado'] }}",
              "type": "string"
            },
            {
              "id": "554aeef9-0128-48cd-8551-7c1809e0a924",
              "name": "pais_apoderado",
              "value": "={{ $('info apoderado1').item.json.Pais }}",
              "type": "string"
            },
            {
              "id": "4b325450-71fc-4958-bce6-fe6712321933",
              "name": "celular_apoderado_sin_codigo",
              "value": "={{ $('info apoderado1').item.json['Celular de apoderado - colocar sin codigo de pais'] }}",
              "type": "number"
            },
            {
              "id": "8837a6f6-6805-40d8-bf10-ceb7aaf361e2",
              "name": "nivel_inglés_apoderado",
              "value": "={{ $('info apoderado1').item.json['Nivel de inglés del apoderado'] }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2176,
        -128
      ],
      "id": "5c40ccea-43af-4cd9-9849-7b2e1068623e",
      "name": "variables_1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "xKuzM69hfs7W22TM",
          "mode": "list",
          "cachedResultUrl": "/workflow/xKuzM69hfs7W22TM",
          "cachedResultName": "Enviar accesos a nuevo usuario"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        3168,
        -272
      ],
      "id": "6f1dc726-9a84-477d-ab9a-74ff9ca7debc",
      "name": "Call 'Enviar accesos a nuevo usuario'",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "create",
        "projectId": "prkc7a6zgmy2biw",
        "table": "mhwre6k16cwus69",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "id_escenario_n8n",
              "fieldValue": "={{ $workflow.id }}"
            },
            {
              "fieldName": "id_ejecucion_n8n",
              "fieldValue": "={{ $execution.id }}"
            },
            {
              "fieldName": "sin errores",
              "fieldValue": "={{ false }}"
            },
            {
              "fieldName": "celular_apoderado_sin_codigo",
              "fieldValue": "={{ $('variables_1').item.json.celular_apoderado_sin_codigo }}"
            },
            {
              "fieldName": "celular_estudiante_sin_codigo",
              "fieldValue": "={{ $('variables_1').item.json['Celular del estudiante - colocar sin codigo de pais'] }}"
            },
            {
              "fieldName": "pais_estudiante",
              "fieldValue": "={{ $('variables_1').item.json.Pais }}"
            },
            {
              "fieldName": "pais_apoderado",
              "fieldValue": "={{ $('variables_1').item.json.pais_apoderado }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        3680,
        48
      ],
      "id": "138fe642-fddd-4c29-bd33-1a0f13691026",
      "name": "Create a row",
      "credentials": {
        "nocoDbApiToken": {
          "id": "Sybr1jbACFyMMWFf",
          "name": "bio_1"
        }
      }
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "create",
        "projectId": "prkc7a6zgmy2biw",
        "table": "mhwre6k16cwus69",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "id_escenario_n8n",
              "fieldValue": "={{ $workflow.id }}"
            },
            {
              "fieldName": "id_ejecucion_n8n",
              "fieldValue": "={{ $execution.id }}"
            },
            {
              "fieldName": "sin errores",
              "fieldValue": "={{ true }}"
            },
            {
              "fieldName": "celular_apoderado_sin_codigo",
              "fieldValue": "={{ $('variables_1').item.json.celular_apoderado_sin_codigo }}"
            },
            {
              "fieldName": "celular_estudiante_sin_codigo",
              "fieldValue": "={{ $('variables_1').item.json['Celular del estudiante - colocar sin codigo de pais'] }}"
            },
            {
              "fieldName": "pais_estudiante",
              "fieldValue": "={{ $('variables_1').item.json.Pais }}"
            },
            {
              "fieldName": "pais_apoderado",
              "fieldValue": "={{ $('variables_1').item.json.pais_apoderado }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        3584,
        -368
      ],
      "id": "ef51b04d-8529-4717-82db-a1b93988ab4f",
      "name": "Create a row1",
      "credentials": {
        "nocoDbApiToken": {
          "id": "Sybr1jbACFyMMWFf",
          "name": "bio_1"
        }
      }
    }
  ],
  "pinData": {
    "On form submission": [
      {
        "json": {
          "tipo_estudiante": "Para mi hijo/hija",
          "submittedAt": "2026-01-03T22:51:15.438-05:00",
          "formMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "repo_name": "n8n_backups",
  "repo_owner": "mirkoflores",
  "repo_path": "n8n",
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "3eeV0S5bC6x3HCMd"
  },
  "shared": [
    {
      "updatedAt": "2025-12-31T05:18:18.673Z",
      "createdAt": "2025-12-31T05:18:18.673Z",
      "role": "workflow:owner",
      "workflowId": "efFbgE1bYCOEbonn",
      "projectId": "axO88AWqOW8lB7Vc"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-01-04T04:00:26.381Z",
  "versionId": "254befd5-01e0-49e3-94cc-d76d2b7e4d63"
}