n8n/efFbgE1bYCOEbonn.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2025-12-31T18:26:27.337Z",
    "createdAt": "2025-12-31T18:26:22.293Z",
    "versionId": "e1a3a0c8-ec8a-4cf0-bdc3-bb6499f2f0b8",
    "workflowId": "efFbgE1bYCOEbonn",
    "nodes": [
      {
        "parameters": {
          "formTitle": "Bio English",
          "formDescription": "=<img src=\"https://primary-production-55a73.up.railway.app/webhook/c0e78331-d79f-4b79-ae6b-4807cb1363e4\" \n     width=\"150\">",
          "formFields": {
            "values": [
              {
                "fieldName": "tipo_estudiante",
                "fieldLabel": "¿Para quien son las clases de inglés?",
                "fieldType": "dropdown",
                "defaultValue": "=",
                "fieldOptions": {
                  "values": [
                    {
                      "option": "Para mí"
                    },
                    {
                      "option": "Para mi hijo/hija"
                    },
                    {
                      "option": "Para un familiar o amig@"
                    }
                  ]
                },
                "requiredField": true
              }
            ]
          },
          "options": {
            "appendAttribution": false,
            "buttonLabel": "Siguiente"
          }
        },
        "type": "n8n-nodes-base.formTrigger",
        "typeVersion": 2.4,
        "position": [
          0,
          0
        ],
        "id": "08f9137d-f800-4f9d-8951-a415bea9b881",
        "name": "On form submission",
        "webhookId": "1a514538-6c3d-46ce-a241-2cc1f4440166"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "e3b6bb55-fdba-456d-8db7-c482e436be0c",
                "leftValue": "={{ $('On form submission').item.json.tipo_estudiante }}",
                "rightValue": "Para mí",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          208,
          0
        ],
        "id": "1901249b-48f9-4ee8-8d59-bf8eda6cb773",
        "name": "es para el mismo estudiante?"
      },
      {
        "parameters": {
          "formFields": {
            "values": [
              {
                "fieldName": "nombre_apoderado",
                "fieldLabel": "Nombre completo del apoderado",
                "requiredField": true
              },
              {
                "fieldName": "dni_apoderado",
                "fieldLabel": "DNI del apoderado",
                "requiredField": true
              },
              {
                "fieldName": "correo_apoderado",
                "fieldLabel": "Correo electrónico del apoderado",
                "requiredField": true
              },
              {
                "fieldName": "celular_apoderado",
                "fieldLabel": "Celular de apoderado",
                "requiredField": true
              },
              {
                "fieldName": "nivel_ingles_apoderado",
                "fieldLabel": "Nivel de inglés del apoderado",
                "fieldType": "dropdown",
                "fieldOptions": {
                  "values": [
                    {
                      "option": "Básico"
                    },
                    {
                      "option": "Intermedio"
                    },
                    {
                      "option": "Avanzado"
                    },
                    {
                      "option": "Nunca he estudiado inglés"
                    },
                    {
                      "option": "No se mi nivel de inglés"
                    }
                  ]
                },
                "requiredField": true
              }
            ]
          },
          "options": {
            "formTitle": "Datos del apoderado"
          }
        },
        "type": "n8n-nodes-base.form",
        "typeVersion": 2.4,
        "position": [
          544,
          160
        ],
        "id": "628286e9-5331-4382-ae79-7647d3d13d62",
        "name": "info apoderado",
        "webhookId": "c4d2aac6-01be-495b-a27e-3c03ed4cb389"
      },
      {
        "parameters": {
          "defineForm": "json",
          "jsonOutput": "=[\n  {\n    \"fieldLabel\": \"Nombre completo del estudiante\",\n    \"requiredField\": true\n  },\n  {\n    \"fieldLabel\": \"Correo electrónico del estudiante\",\n    \"fieldType\": \"email\",\n    \"requiredField\": true\n  },\n  {\n    \"fieldLabel\": \"Pais\",\n    \"fieldType\": \"dropdown\",\n    \"fieldOptions\": { \"values\":\n{{ JSON.stringify($('Aggregate1').item.json.values) }}\n                    },\n    \"defaultValue\": [\"Perú\"],\n    \"requiredField\": true\n},\n  {\n    \"fieldLabel\": \"Celular del estudiante - colocar sin codigo de pais\",\n    \"requiredField\": true\n  },\n  {\n    \"fieldLabel\": \"Grupo y horario al que desea inscribirse\",\n    \"fieldType\": \"dropdown\",\n    \"fieldOptions\": { \"values\":\n{{ JSON.stringify($('Aggregate').item.json.values) }}\n},\n    \"requiredField\": true \n},\n{\n    \"fieldLabel\": \"Comprobante de pago\",\n    \"fieldType\": \"file\",\n    \"multipleFiles\": true,\n    \"acceptFileTypes\": \".jpg, .png\" ,\n    \"requiredField\": true\n  }\n]\n",
          "options": {
            "formTitle": "Datos del estudiante"
          }
        },
        "type": "n8n-nodes-base.form",
        "typeVersion": 2.4,
        "position": [
          2576,
          -128
        ],
        "id": "3423b85a-b689-449f-9312-bc6988a59db3",
        "name": "info estudiante",
        "webhookId": "c4d2aac6-01be-495b-a27e-3c03ed4cb389"
      },
      {
        "parameters": {
          "authentication": "airtableOAuth2Api",
          "operation": "search",
          "base": {
            "__rl": true,
            "value": "appBCL3CWLhCwIjnP",
            "mode": "list",
            "cachedResultName": "BioEnglish",
            "cachedResultUrl": "https://airtable.com/appBCL3CWLhCwIjnP"
          },
          "table": {
            "__rl": true,
            "value": "tbllfzjbgoKjO87HI",
            "mode": "list",
            "cachedResultName": "Grupos",
            "cachedResultUrl": "https://airtable.com/appBCL3CWLhCwIjnP/tbllfzjbgoKjO87HI"
          },
          "filterByFormula": "AND({GRUPOS ACTIVOS}=\"activo\",{Year2024}=\"2026\")",
          "options": {}
        },
        "type": "n8n-nodes-base.airtable",
        "typeVersion": 2.1,
        "position": [
          1072,
          -128
        ],
        "id": "71fdc19b-a74d-4114-854b-84fa93718b5a",
        "name": "Search records",
        "credentials": {
          "airtableOAuth2Api": {
            "id": "mylJqD7auLJ9sN2T",
            "name": "Bioenglish_1"
          }
        }
      },
      {
        "parameters": {
          "formFields": {
            "values": [
              {
                "fieldType": "radio",
                "fieldOptions": {
                  "values": [
                    {}
                  ]
                }
              }
            ]
          },
          "options": {
            "formTitle": "Datos del apoderado"
          }
        },
        "type": "n8n-nodes-base.form",
        "typeVersion": 2.4,
        "position": [
          1264,
          -368
        ],
        "id": "2addfaf2-b95b-4f01-9228-397bec6d5e01",
        "name": "info estudiante1",
        "webhookId": "c4d2aac6-01be-495b-a27e-3c03ed4cb389"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "da93796e-44e3-4f22-8a01-409d43abf458",
                "name": "option",
                "value": "={{ $('Search records').item.json['Nombre de grupo - form inscripcion'] }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1280,
          -128
        ],
        "id": "b2dc214b-41ea-4e98-8492-20fa5e8f1e4c",
        "name": "formato"
      },
      {
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "destinationFieldName": "values",
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          1488,
          -128
        ],
        "id": "0d91e0f9-5b94-4b2a-9ce6-e117d8133138",
        "name": "Aggregate"
      },
      {
        "parameters": {
          "operation": "completion",
          "completionTitle": "Bienvenid@ a Bioenglish!",
          "completionMessage": "=Tu inscripción se ha completado con éxito, revisa las indicaciones de como entrar a tus clases en tu correo {{ $('variables_1').item.json.correo_estudiante }} y numero de celular {{ $('variables_1').item.json.celular_estudiante_sin_codigo_pais }}.",
          "options": {}
        },
        "type": "n8n-nodes-base.form",
        "typeVersion": 2.4,
        "position": [
          3536,
          -368
        ],
        "id": "7b08d9f8-3825-4b32-b84a-eb0cf700c031",
        "name": "Form",
        "webhookId": "321ce14a-d2e6-4df2-9952-590f798ee2bf"
      },
      {
        "parameters": {
          "mode": "raw",
          "jsonOutput": "{\n  \"paises\":[\n  {\n    \"nameES\": \"Afganistán\",\n    \"nameEN\": \"Afghanistan\",\n    \"iso2\": \"AF\",\n    \"iso3\": \"AFG\",\n    \"phoneCode\": \"93\"\n  },\n  {\n    \"nameES\": \"Albania\",\n    \"nameEN\": \"Albania\",\n    \"iso2\": \"AL\",\n    \"iso3\": \"ALB\",\n    \"phoneCode\": \"355\"\n  },\n  {\n    \"nameES\": \"Alemania\",\n    \"nameEN\": \"Germany\",\n    \"iso2\": \"DE\",\n    \"iso3\": \"DEU\",\n    \"phoneCode\": \"49\"\n  },\n  {\n    \"nameES\": \"Andorra\",\n    \"nameEN\": \"Andorra\",\n    \"iso2\": \"AD\",\n    \"iso3\": \"AND\",\n    \"phoneCode\": \"376\"\n  },\n  {\n    \"nameES\": \"Angola\",\n    \"nameEN\": \"Angola\",\n    \"iso2\": \"AO\",\n    \"iso3\": \"AGO\",\n    \"phoneCode\": \"244\"\n  },\n  {\n    \"nameES\": \"Anguila\",\n    \"nameEN\": \"Anguilla\",\n    \"iso2\": \"AI\",\n    \"iso3\": \"AIA\",\n    \"phoneCode\": \"1 264\"\n  },\n  {\n    \"nameES\": \"Antártida\",\n    \"nameEN\": \"Antarctica\",\n    \"iso2\": \"AQ\",\n    \"iso3\": \"ATA\",\n    \"phoneCode\": \"672\"\n  },\n  {\n    \"nameES\": \"Antigua y Barbuda\",\n    \"nameEN\": \"Antigua and Barbuda\",\n    \"iso2\": \"AG\",\n    \"iso3\": \"ATG\",\n    \"phoneCode\": \"1 268\"\n  },\n  {\n    \"nameES\": \"Arabia Saudita\",\n    \"nameEN\": \"Saudi Arabia\",\n    \"iso2\": \"SA\",\n    \"iso3\": \"SAU\",\n    \"phoneCode\": \"966\"\n  },\n  {\n    \"nameES\": \"Argelia\",\n    \"nameEN\": \"Algeria\",\n    \"iso2\": \"DZ\",\n    \"iso3\": \"DZA\",\n    \"phoneCode\": \"213\"\n  },\n  {\n    \"nameES\": \"Argentina\",\n    \"nameEN\": \"Argentina\",\n    \"iso2\": \"AR\",\n    \"iso3\": \"ARG\",\n    \"phoneCode\": \"54\"\n  },\n  {\n    \"nameES\": \"Armenia\",\n    \"nameEN\": \"Armenia\",\n    \"iso2\": \"AM\",\n    \"iso3\": \"ARM\",\n    \"phoneCode\": \"374\"\n  },\n  {\n    \"nameES\": \"Aruba\",\n    \"nameEN\": \"Aruba\",\n    \"iso2\": \"AW\",\n    \"iso3\": \"ABW\",\n    \"phoneCode\": \"297\"\n  },\n  {\n    \"nameES\": \"Australia\",\n    \"nameEN\": \"Australia\",\n    \"iso2\": \"AU\",\n    \"iso3\": \"AUS\",\n    \"phoneCode\": \"61\"\n  },\n  {\n    \"nameES\": \"Austria\",\n    \"nameEN\": \"Austria\",\n    \"iso2\": \"AT\",\n    \"iso3\": \"AUT\",\n    \"phoneCode\": \"43\"\n  },\n  {\n    \"nameES\": \"Azerbaiyán\",\n    \"nameEN\": \"Azerbaijan\",\n    \"iso2\": \"AZ\",\n    \"iso3\": \"AZE\",\n    \"phoneCode\": \"994\"\n  },\n  {\n    \"nameES\": \"Bélgica\",\n    \"nameEN\": \"Belgium\",\n    \"iso2\": \"BE\",\n    \"iso3\": \"BEL\",\n    \"phoneCode\": \"32\"\n  },\n  {\n    \"nameES\": \"Bahamas\",\n    \"nameEN\": \"Bahamas\",\n    \"iso2\": \"BS\",\n    \"iso3\": \"BHS\",\n    \"phoneCode\": \"1 242\"\n  },\n  {\n    \"nameES\": \"Bahrein\",\n    \"nameEN\": \"Bahrain\",\n    \"iso2\": \"BH\",\n    \"iso3\": \"BHR\",\n    \"phoneCode\": \"973\"\n  },\n  {\n    \"nameES\": \"Bangladesh\",\n    \"nameEN\": \"Bangladesh\",\n    \"iso2\": \"BD\",\n    \"iso3\": \"BGD\",\n    \"phoneCode\": \"880\"\n  },\n  {\n    \"nameES\": \"Barbados\",\n    \"nameEN\": \"Barbados\",\n    \"iso2\": \"BB\",\n    \"iso3\": \"BRB\",\n    \"phoneCode\": \"1 246\"\n  },\n  {\n    \"nameES\": \"Belice\",\n    \"nameEN\": \"Belize\",\n    \"iso2\": \"BZ\",\n    \"iso3\": \"BLZ\",\n    \"phoneCode\": \"501\"\n  },\n  {\n    \"nameES\": \"Benín\",\n    \"nameEN\": \"Benin\",\n    \"iso2\": \"BJ\",\n    \"iso3\": \"BEN\",\n    \"phoneCode\": \"229\"\n  },\n  {\n    \"nameES\": \"Bhután\",\n    \"nameEN\": \"Bhutan\",\n    \"iso2\": \"BT\",\n    \"iso3\": \"BTN\",\n    \"phoneCode\": \"975\"\n  },\n  {\n    \"nameES\": \"Bielorrusia\",\n    \"nameEN\": \"Belarus\",\n    \"iso2\": \"BY\",\n    \"iso3\": \"BLR\",\n    \"phoneCode\": \"375\"\n  },\n  {\n    \"nameES\": \"Birmania\",\n    \"nameEN\": \"Myanmar\",\n    \"iso2\": \"MM\",\n    \"iso3\": \"MMR\",\n    \"phoneCode\": \"95\"\n  },\n  {\n    \"nameES\": \"Bolivia\",\n    \"nameEN\": \"Bolivia\",\n    \"iso2\": \"BO\",\n    \"iso3\": \"BOL\",\n    \"phoneCode\": \"591\"\n  },\n  {\n    \"nameES\": \"Bosnia y Herzegovina\",\n    \"nameEN\": \"Bosnia and Herzegovina\",\n    \"iso2\": \"BA\",\n    \"iso3\": \"BIH\",\n    \"phoneCode\": \"387\"\n  },\n  {\n    \"nameES\": \"Botsuana\",\n    \"nameEN\": \"Botswana\",\n    \"iso2\": \"BW\",\n    \"iso3\": \"BWA\",\n    \"phoneCode\": \"267\"\n  },\n  {\n    \"nameES\": \"Brasil\",\n    \"nameEN\": \"Brazil\",\n    \"iso2\": \"BR\",\n    \"iso3\": \"BRA\",\n    \"phoneCode\": \"55\"\n  },\n  {\n    \"nameES\": \"Brunéi\",\n    \"nameEN\": \"Brunei\",\n    \"iso2\": \"BN\",\n    \"iso3\": \"BRN\",\n    \"phoneCode\": \"673\"\n  },\n  {\n    \"nameES\": \"Bulgaria\",\n    \"nameEN\": \"Bulgaria\",\n    \"iso2\": \"BG\",\n    \"iso3\": \"BGR\",\n    \"phoneCode\": \"359\"\n  },\n  {\n    \"nameES\": \"Burkina Faso\",\n    \"nameEN\": \"Burkina Faso\",\n    \"iso2\": \"BF\",\n    \"iso3\": \"BFA\",\n    \"phoneCode\": \"226\"\n  },\n  {\n    \"nameES\": \"Burundi\",\n    \"nameEN\": \"Burundi\",\n    \"iso2\": \"BI\",\n    \"iso3\": \"BDI\",\n    \"phoneCode\": \"257\"\n  },\n  {\n    \"nameES\": \"Cabo Verde\",\n    \"nameEN\": \"Cape Verde\",\n    \"iso2\": \"CV\",\n    \"iso3\": \"CPV\",\n    \"phoneCode\": \"238\"\n  },\n  {\n    \"nameES\": \"Camboya\",\n    \"nameEN\": \"Cambodia\",\n    \"iso2\": \"KH\",\n    \"iso3\": \"KHM\",\n    \"phoneCode\": \"855\"\n  },\n  {\n    \"nameES\": \"Camerún\",\n    \"nameEN\": \"Cameroon\",\n    \"iso2\": \"CM\",\n    \"iso3\": \"CMR\",\n    \"phoneCode\": \"237\"\n  },\n  {\n    \"nameES\": \"Canadá\",\n    \"nameEN\": \"Canada\",\n    \"iso2\": \"CA\",\n    \"iso3\": \"CAN\",\n    \"phoneCode\": \"1\"\n  },\n  {\n    \"nameES\": \"Chad\",\n    \"nameEN\": \"Chad\",\n    \"iso2\": \"TD\",\n    \"iso3\": \"TCD\",\n    \"phoneCode\": \"235\"\n  },\n  {\n    \"nameES\": \"Chile\",\n    \"nameEN\": \"Chile\",\n    \"iso2\": \"CL\",\n    \"iso3\": \"CHL\",\n    \"phoneCode\": \"56\"\n  },\n  {\n    \"nameES\": \"China\",\n    \"nameEN\": \"China\",\n    \"iso2\": \"CN\",\n    \"iso3\": \"CHN\",\n    \"phoneCode\": \"86\"\n  },\n  {\n    \"nameES\": \"Chipre\",\n    \"nameEN\": \"Cyprus\",\n    \"iso2\": \"CY\",\n    \"iso3\": \"CYP\",\n    \"phoneCode\": \"357\"\n  },\n  {\n    \"nameES\": \"Ciudad del Vaticano\",\n    \"nameEN\": \"Vatican City State\",\n    \"iso2\": \"VA\",\n    \"iso3\": \"VAT\",\n    \"phoneCode\": \"39\"\n  },\n  {\n    \"nameES\": \"Colombia\",\n    \"nameEN\": \"Colombia\",\n    \"iso2\": \"CO\",\n    \"iso3\": \"COL\",\n    \"phoneCode\": \"57\"\n  },\n  {\n    \"nameES\": \"Comoras\",\n    \"nameEN\": \"Comoros\",\n    \"iso2\": \"KM\",\n    \"iso3\": \"COM\",\n    \"phoneCode\": \"269\"\n  },\n  {\n    \"nameES\": \"República del Congo\",\n    \"nameEN\": \"Republic of the Congo\",\n    \"iso2\": \"CG\",\n    \"iso3\": \"COG\",\n    \"phoneCode\": \"242\"\n  },\n  {\n    \"nameES\": \"República Democrática del Congo\",\n    \"nameEN\": \"Democratic Republic of the Congo\",\n    \"iso2\": \"CD\",\n    \"iso3\": \"COD\",\n    \"phoneCode\": \"243\"\n  },\n  {\n    \"nameES\": \"Corea del Norte\",\n    \"nameEN\": \"North Korea\",\n    \"iso2\": \"KP\",\n    \"iso3\": \"PRK\",\n    \"phoneCode\": \"850\"\n  },\n  {\n    \"nameES\": \"Corea del Sur\",\n    \"nameEN\": \"South Korea\",\n    \"iso2\": \"KR\",\n    \"iso3\": \"KOR\",\n    \"phoneCode\": \"82\"\n  },\n  {\n    \"nameES\": \"Costa de Marfil\",\n    \"nameEN\": \"Ivory Coast\",\n    \"iso2\": \"CI\",\n    \"iso3\": \"CIV\",\n    \"phoneCode\": \"225\"\n  },\n  {\n    \"nameES\": \"Costa Rica\",\n    \"nameEN\": \"Costa Rica\",\n    \"iso2\": \"CR\",\n    \"iso3\": \"CRI\",\n    \"phoneCode\": \"506\"\n  },\n  {\n    \"nameES\": \"Croacia\",\n    \"nameEN\": \"Croatia\",\n    \"iso2\": \"HR\",\n    \"iso3\": \"HRV\",\n    \"phoneCode\": \"385\"\n  },\n  {\n    \"nameES\": \"Cuba\",\n    \"nameEN\": \"Cuba\",\n    \"iso2\": \"CU\",\n    \"iso3\": \"CUB\",\n    \"phoneCode\": \"53\"\n  },\n  {\n    \"nameES\": \"Curazao\",\n    \"nameEN\": \"Curaçao\",\n    \"iso2\": \"CW\",\n    \"iso3\": \"CWU\",\n    \"phoneCode\": \"5999\"\n  },\n  {\n    \"nameES\": \"Dinamarca\",\n    \"nameEN\": \"Denmark\",\n    \"iso2\": \"DK\",\n    \"iso3\": \"DNK\",\n    \"phoneCode\": \"45\"\n  },\n  {\n    \"nameES\": \"Dominica\",\n    \"nameEN\": \"Dominica\",\n    \"iso2\": \"DM\",\n    \"iso3\": \"DMA\",\n    \"phoneCode\": \"1 767\"\n  },\n  {\n    \"nameES\": \"Ecuador\",\n    \"nameEN\": \"Ecuador\",\n    \"iso2\": \"EC\",\n    \"iso3\": \"ECU\",\n    \"phoneCode\": \"593\"\n  },\n  {\n    \"nameES\": \"Egipto\",\n    \"nameEN\": \"Egypt\",\n    \"iso2\": \"EG\",\n    \"iso3\": \"EGY\",\n    \"phoneCode\": \"20\"\n  },\n  {\n    \"nameES\": \"El Salvador\",\n    \"nameEN\": \"El Salvador\",\n    \"iso2\": \"SV\",\n    \"iso3\": \"SLV\",\n    \"phoneCode\": \"503\"\n  },\n  {\n    \"nameES\": \"Emiratos Árabes Unidos\",\n    \"nameEN\": \"United Arab Emirates\",\n    \"iso2\": \"AE\",\n    \"iso3\": \"ARE\",\n    \"phoneCode\": \"971\"\n  },\n  {\n    \"nameES\": \"Eritrea\",\n    \"nameEN\": \"Eritrea\",\n    \"iso2\": \"ER\",\n    \"iso3\": \"ERI\",\n    \"phoneCode\": \"291\"\n  },\n  {\n    \"nameES\": \"Eslovaquia\",\n    \"nameEN\": \"Slovakia\",\n    \"iso2\": \"SK\",\n    \"iso3\": \"SVK\",\n    \"phoneCode\": \"421\"\n  },\n  {\n    \"nameES\": \"Eslovenia\",\n    \"nameEN\": \"Slovenia\",\n    \"iso2\": \"SI\",\n    \"iso3\": \"SVN\",\n    \"phoneCode\": \"386\"\n  },\n  {\n    \"nameES\": \"España\",\n    \"nameEN\": \"Spain\",\n    \"iso2\": \"ES\",\n    \"iso3\": \"ESP\",\n    \"phoneCode\": \"34\"\n  },\n  {\n    \"nameES\": \"Estados Unidos de América\",\n    \"nameEN\": \"United States of America\",\n    \"iso2\": \"US\",\n    \"iso3\": \"USA\",\n    \"phoneCode\": \"1\"\n  },\n  {\n    \"nameES\": \"Estonia\",\n    \"nameEN\": \"Estonia\",\n    \"iso2\": \"EE\",\n    \"iso3\": \"EST\",\n    \"phoneCode\": \"372\"\n  },\n  {\n    \"nameES\": \"Etiopía\",\n    \"nameEN\": \"Ethiopia\",\n    \"iso2\": \"ET\",\n    \"iso3\": \"ETH\",\n    \"phoneCode\": \"251\"\n  },\n  {\n    \"nameES\": \"Filipinas\",\n    \"nameEN\": \"Philippines\",\n    \"iso2\": \"PH\",\n    \"iso3\": \"PHL\",\n    \"phoneCode\": \"63\"\n  },\n  {\n    \"nameES\": \"Finlandia\",\n    \"nameEN\": \"Finland\",\n    \"iso2\": \"FI\",\n    \"iso3\": \"FIN\",\n    \"phoneCode\": \"358\"\n  },\n  {\n    \"nameES\": \"Fiyi\",\n    \"nameEN\": \"Fiji\",\n    \"iso2\": \"FJ\",\n    \"iso3\": \"FJI\",\n    \"phoneCode\": \"679\"\n  },\n  {\n    \"nameES\": \"Francia\",\n    \"nameEN\": \"France\",\n    \"iso2\": \"FR\",\n    \"iso3\": \"FRA\",\n    \"phoneCode\": \"33\"\n  },\n  {\n    \"nameES\": \"Gabón\",\n    \"nameEN\": \"Gabon\",\n    \"iso2\": \"GA\",\n    \"iso3\": \"GAB\",\n    \"phoneCode\": \"241\"\n  },\n  {\n    \"nameES\": \"Gambia\",\n    \"nameEN\": \"Gambia\",\n    \"iso2\": \"GM\",\n    \"iso3\": \"GMB\",\n    \"phoneCode\": \"220\"\n  },\n  {\n    \"nameES\": \"Georgia\",\n    \"nameEN\": \"Georgia\",\n    \"iso2\": \"GE\",\n    \"iso3\": \"GEO\",\n    \"phoneCode\": \"995\"\n  },\n  {\n    \"nameES\": \"Ghana\",\n    \"nameEN\": \"Ghana\",\n    \"iso2\": \"GH\",\n    \"iso3\": \"GHA\",\n    \"phoneCode\": \"233\"\n  },\n  {\n    \"nameES\": \"Gibraltar\",\n    \"nameEN\": \"Gibraltar\",\n    \"iso2\": \"GI\",\n    \"iso3\": \"GIB\",\n    \"phoneCode\": \"350\"\n  },\n  {\n    \"nameES\": \"Granada\",\n    \"nameEN\": \"Grenada\",\n    \"iso2\": \"GD\",\n    \"iso3\": \"GRD\",\n    \"phoneCode\": \"1 473\"\n  },\n  {\n    \"nameES\": \"Grecia\",\n    \"nameEN\": \"Greece\",\n    \"iso2\": \"GR\",\n    \"iso3\": \"GRC\",\n    \"phoneCode\": \"30\"\n  },\n  {\n    \"nameES\": \"Groenlandia\",\n    \"nameEN\": \"Greenland\",\n    \"iso2\": \"GL\",\n    \"iso3\": \"GRL\",\n    \"phoneCode\": \"299\"\n  },\n  {\n    \"nameES\": \"Guadalupe\",\n    \"nameEN\": \"Guadeloupe\",\n    \"iso2\": \"GP\",\n    \"iso3\": \"GLP\",\n    \"phoneCode\": \"590\"\n  },\n  {\n    \"nameES\": \"Guam\",\n    \"nameEN\": \"Guam\",\n    \"iso2\": \"GU\",\n    \"iso3\": \"GUM\",\n    \"phoneCode\": \"1 671\"\n  },\n  {\n    \"nameES\": \"Guatemala\",\n    \"nameEN\": \"Guatemala\",\n    \"iso2\": \"GT\",\n    \"iso3\": \"GTM\",\n    \"phoneCode\": \"502\"\n  },\n  {\n    \"nameES\": \"Guayana Francesa\",\n    \"nameEN\": \"French Guiana\",\n    \"iso2\": \"GF\",\n    \"iso3\": \"GUF\",\n    \"phoneCode\": \"594\"\n  },\n  {\n    \"nameES\": \"Guernsey\",\n    \"nameEN\": \"Guernsey\",\n    \"iso2\": \"GG\",\n    \"iso3\": \"GGY\",\n    \"phoneCode\": \"44\"\n  },\n  {\n    \"nameES\": \"Guinea\",\n    \"nameEN\": \"Guinea\",\n    \"iso2\": \"GN\",\n    \"iso3\": \"GIN\",\n    \"phoneCode\": \"224\"\n  },\n  {\n    \"nameES\": \"Guinea Ecuatorial\",\n    \"nameEN\": \"Equatorial Guinea\",\n    \"iso2\": \"GQ\",\n    \"iso3\": \"GNQ\",\n    \"phoneCode\": \"240\"\n  },\n  {\n    \"nameES\": \"Guinea-Bissau\",\n    \"nameEN\": \"Guinea-Bissau\",\n    \"iso2\": \"GW\",\n    \"iso3\": \"GNB\",\n    \"phoneCode\": \"245\"\n  },\n  {\n    \"nameES\": \"Guyana\",\n    \"nameEN\": \"Guyana\",\n    \"iso2\": \"GY\",\n    \"iso3\": \"GUY\",\n    \"phoneCode\": \"592\"\n  },\n  {\n    \"nameES\": \"Haití\",\n    \"nameEN\": \"Haiti\",\n    \"iso2\": \"HT\",\n    \"iso3\": \"HTI\",\n    \"phoneCode\": \"509\"\n  },\n  {\n    \"nameES\": \"Honduras\",\n    \"nameEN\": \"Honduras\",\n    \"iso2\": \"HN\",\n    \"iso3\": \"HND\",\n    \"phoneCode\": \"504\"\n  },\n  {\n    \"nameES\": \"Hong kong\",\n    \"nameEN\": \"Hong Kong\",\n    \"iso2\": \"HK\",\n    \"iso3\": \"HKG\",\n    \"phoneCode\": \"852\"\n  },\n  {\n    \"nameES\": \"Hungría\",\n    \"nameEN\": \"Hungary\",\n    \"iso2\": \"HU\",\n    \"iso3\": \"HUN\",\n    \"phoneCode\": \"36\"\n  },\n  {\n    \"nameES\": \"India\",\n    \"nameEN\": \"India\",\n    \"iso2\": \"IN\",\n    \"iso3\": \"IND\",\n    \"phoneCode\": \"91\"\n  },\n  {\n    \"nameES\": \"Indonesia\",\n    \"nameEN\": \"Indonesia\",\n    \"iso2\": \"ID\",\n    \"iso3\": \"IDN\",\n    \"phoneCode\": \"62\"\n  },\n  {\n    \"nameES\": \"Irán\",\n    \"nameEN\": \"Iran\",\n    \"iso2\": \"IR\",\n    \"iso3\": \"IRN\",\n    \"phoneCode\": \"98\"\n  },\n  {\n    \"nameES\": \"Irak\",\n    \"nameEN\": \"Iraq\",\n    \"iso2\": \"IQ\",\n    \"iso3\": \"IRQ\",\n    \"phoneCode\": \"964\"\n  },\n  {\n    \"nameES\": \"Irlanda\",\n    \"nameEN\": \"Ireland\",\n    \"iso2\": \"IE\",\n    \"iso3\": \"IRL\",\n    \"phoneCode\": \"353\"\n  },\n  {\n    \"nameES\": \"Isla Bouvet\",\n    \"nameEN\": \"Bouvet Island\",\n    \"iso2\": \"BV\",\n    \"iso3\": \"BVT\",\n    \"phoneCode\": \"\"\n  },\n  {\n    \"nameES\": \"Isla de Man\",\n    \"nameEN\": \"Isle of Man\",\n    \"iso2\": \"IM\",\n    \"iso3\": \"IMN\",\n    \"phoneCode\": \"44\"\n  },\n  {\n    \"nameES\": \"Isla de Navidad\",\n    \"nameEN\": \"Christmas Island\",\n    \"iso2\": \"CX\",\n    \"iso3\": \"CXR\",\n    \"phoneCode\": \"61\"\n  },\n  {\n    \"nameES\": \"Isla Norfolk\",\n    \"nameEN\": \"Norfolk Island\",\n    \"iso2\": \"NF\",\n    \"iso3\": \"NFK\",\n    \"phoneCode\": \"672\"\n  },\n  {\n    \"nameES\": \"Islandia\",\n    \"nameEN\": \"Iceland\",\n    \"iso2\": \"IS\",\n    \"iso3\": \"ISL\",\n    \"phoneCode\": \"354\"\n  },\n  {\n    \"nameES\": \"Islas Bermudas\",\n    \"nameEN\": \"Bermuda Islands\",\n    \"iso2\": \"BM\",\n    \"iso3\": \"BMU\",\n    \"phoneCode\": \"1 441\"\n  },\n  {\n    \"nameES\": \"Islas Caimán\",\n    \"nameEN\": \"Cayman Islands\",\n    \"iso2\": \"KY\",\n    \"iso3\": \"CYM\",\n    \"phoneCode\": \"1 345\"\n  },\n  {\n    \"nameES\": \"Islas Cocos (Keeling)\",\n    \"nameEN\": \"Cocos (Keeling) Islands\",\n    \"iso2\": \"CC\",\n    \"iso3\": \"CCK\",\n    \"phoneCode\": \"61\"\n  },\n  {\n    \"nameES\": \"Islas Cook\",\n    \"nameEN\": \"Cook Islands\",\n    \"iso2\": \"CK\",\n    \"iso3\": \"COK\",\n    \"phoneCode\": \"682\"\n  },\n  {\n    \"nameES\": \"Islas de Åland\",\n    \"nameEN\": \"Åland Islands\",\n    \"iso2\": \"AX\",\n    \"iso3\": \"ALA\",\n    \"phoneCode\": \"358\"\n  },\n  {\n    \"nameES\": \"Islas Feroe\",\n    \"nameEN\": \"Faroe Islands\",\n    \"iso2\": \"FO\",\n    \"iso3\": \"FRO\",\n    \"phoneCode\": \"298\"\n  },\n  {\n    \"nameES\": \"Islas Georgias del Sur y Sandwich del Sur\",\n    \"nameEN\": \"South Georgia and the South Sandwich Islands\",\n    \"iso2\": \"GS\",\n    \"iso3\": \"SGS\",\n    \"phoneCode\": \"500\"\n  },\n  {\n    \"nameES\": \"Islas Heard y McDonald\",\n    \"nameEN\": \"Heard Island and McDonald Islands\",\n    \"iso2\": \"HM\",\n    \"iso3\": \"HMD\",\n    \"phoneCode\": \"\"\n  },\n  {\n    \"nameES\": \"Islas Maldivas\",\n    \"nameEN\": \"Maldives\",\n    \"iso2\": \"MV\",\n    \"iso3\": \"MDV\",\n    \"phoneCode\": \"960\"\n  },\n  {\n    \"nameES\": \"Islas Malvinas\",\n    \"nameEN\": \"Falkland Islands (Malvinas)\",\n    \"iso2\": \"FK\",\n    \"iso3\": \"FLK\",\n    \"phoneCode\": \"500\"\n  },\n  {\n    \"nameES\": \"Islas Marianas del Norte\",\n    \"nameEN\": \"Northern Mariana Islands\",\n    \"iso2\": \"MP\",\n    \"iso3\": \"MNP\",\n    \"phoneCode\": \"1 670\"\n  },\n  {\n    \"nameES\": \"Islas Marshall\",\n    \"nameEN\": \"Marshall Islands\",\n    \"iso2\": \"MH\",\n    \"iso3\": \"MHL\",\n    \"phoneCode\": \"692\"\n  },\n  {\n    \"nameES\": \"Islas Pitcairn\",\n    \"nameEN\": \"Pitcairn Islands\",\n    \"iso2\": \"PN\",\n    \"iso3\": \"PCN\",\n    \"phoneCode\": \"870\"\n  },\n  {\n    \"nameES\": \"Islas Salomón\",\n    \"nameEN\": \"Solomon Islands\",\n    \"iso2\": \"SB\",\n    \"iso3\": \"SLB\",\n    \"phoneCode\": \"677\"\n  },\n  {\n    \"nameES\": \"Islas Turcas y Caicos\",\n    \"nameEN\": \"Turks and Caicos Islands\",\n    \"iso2\": \"TC\",\n    \"iso3\": \"TCA\",\n    \"phoneCode\": \"1 649\"\n  },\n  {\n    \"nameES\": \"Islas Ultramarinas Menores de Estados Unidos\",\n    \"nameEN\": \"United States Minor Outlying Islands\",\n    \"iso2\": \"UM\",\n    \"iso3\": \"UMI\",\n    \"phoneCode\": \"246\"\n  },\n  {\n    \"nameES\": \"Islas Vírgenes Británicas\",\n    \"nameEN\": \"Virgin Islands\",\n    \"iso2\": \"VG\",\n    \"iso3\": \"VGB\",\n    \"phoneCode\": \"1 284\"\n  },\n  {\n    \"nameES\": \"Islas Vírgenes de los Estados Unidos\",\n    \"nameEN\": \"United States Virgin Islands\",\n    \"iso2\": \"VI\",\n    \"iso3\": \"VIR\",\n    \"phoneCode\": \"1 340\"\n  },\n  {\n    \"nameES\": \"Israel\",\n    \"nameEN\": \"Israel\",\n    \"iso2\": \"IL\",\n    \"iso3\": \"ISR\",\n    \"phoneCode\": \"972\"\n  },\n  {\n    \"nameES\": \"Italia\",\n    \"nameEN\": \"Italy\",\n    \"iso2\": \"IT\",\n    \"iso3\": \"ITA\",\n    \"phoneCode\": \"39\"\n  },\n  {\n    \"nameES\": \"Jamaica\",\n    \"nameEN\": \"Jamaica\",\n    \"iso2\": \"JM\",\n    \"iso3\": \"JAM\",\n    \"phoneCode\": \"1 876\"\n  },\n  {\n    \"nameES\": \"Japón\",\n    \"nameEN\": \"Japan\",\n    \"iso2\": \"JP\",\n    \"iso3\": \"JPN\",\n    \"phoneCode\": \"81\"\n  },\n  {\n    \"nameES\": \"Jersey\",\n    \"nameEN\": \"Jersey\",\n    \"iso2\": \"JE\",\n    \"iso3\": \"JEY\",\n    \"phoneCode\": \"44\"\n  },\n  {\n    \"nameES\": \"Jordania\",\n    \"nameEN\": \"Jordan\",\n    \"iso2\": \"JO\",\n    \"iso3\": \"JOR\",\n    \"phoneCode\": \"962\"\n  },\n  {\n    \"nameES\": \"Kazajistán\",\n    \"nameEN\": \"Kazakhstan\",\n    \"iso2\": \"KZ\",\n    \"iso3\": \"KAZ\",\n    \"phoneCode\": \"7\"\n  },\n  {\n    \"nameES\": \"Kenia\",\n    \"nameEN\": \"Kenya\",\n    \"iso2\": \"KE\",\n    \"iso3\": \"KEN\",\n    \"phoneCode\": \"254\"\n  },\n  {\n    \"nameES\": \"Kirguistán\",\n    \"nameEN\": \"Kyrgyzstan\",\n    \"iso2\": \"KG\",\n    \"iso3\": \"KGZ\",\n    \"phoneCode\": \"996\"\n  },\n  {\n    \"nameES\": \"Kiribati\",\n    \"nameEN\": \"Kiribati\",\n    \"iso2\": \"KI\",\n    \"iso3\": \"KIR\",\n    \"phoneCode\": \"686\"\n  },\n  {\n    \"nameES\": \"Kuwait\",\n    \"nameEN\": \"Kuwait\",\n    \"iso2\": \"KW\",\n    \"iso3\": \"KWT\",\n    \"phoneCode\": \"965\"\n  },\n  {\n    \"nameES\": \"Líbano\",\n    \"nameEN\": \"Lebanon\",\n    \"iso2\": \"LB\",\n    \"iso3\": \"LBN\",\n    \"phoneCode\": \"961\"\n  },\n  {\n    \"nameES\": \"Laos\",\n    \"nameEN\": \"Laos\",\n    \"iso2\": \"LA\",\n    \"iso3\": \"LAO\",\n    \"phoneCode\": \"856\"\n  },\n  {\n    \"nameES\": \"Lesoto\",\n    \"nameEN\": \"Lesotho\",\n    \"iso2\": \"LS\",\n    \"iso3\": \"LSO\",\n    \"phoneCode\": \"266\"\n  },\n  {\n    \"nameES\": \"Letonia\",\n    \"nameEN\": \"Latvia\",\n    \"iso2\": \"LV\",\n    \"iso3\": \"LVA\",\n    \"phoneCode\": \"371\"\n  },\n  {\n    \"nameES\": \"Liberia\",\n    \"nameEN\": \"Liberia\",\n    \"iso2\": \"LR\",\n    \"iso3\": \"LBR\",\n    \"phoneCode\": \"231\"\n  },\n  {\n    \"nameES\": \"Libia\",\n    \"nameEN\": \"Libya\",\n    \"iso2\": \"LY\",\n    \"iso3\": \"LBY\",\n    \"phoneCode\": \"218\"\n  },\n  {\n    \"nameES\": \"Liechtenstein\",\n    \"nameEN\": \"Liechtenstein\",\n    \"iso2\": \"LI\",\n    \"iso3\": \"LIE\",\n    \"phoneCode\": \"423\"\n  },\n  {\n    \"nameES\": \"Lituania\",\n    \"nameEN\": \"Lithuania\",\n    \"iso2\": \"LT\",\n    \"iso3\": \"LTU\",\n    \"phoneCode\": \"370\"\n  },\n  {\n    \"nameES\": \"Luxemburgo\",\n    \"nameEN\": \"Luxembourg\",\n    \"iso2\": \"LU\",\n    \"iso3\": \"LUX\",\n    \"phoneCode\": \"352\"\n  },\n  {\n    \"nameES\": \"México\",\n    \"nameEN\": \"Mexico\",\n    \"iso2\": \"MX\",\n    \"iso3\": \"MEX\",\n    \"phoneCode\": \"52\"\n  },\n  {\n    \"nameES\": \"Mónaco\",\n    \"nameEN\": \"Monaco\",\n    \"iso2\": \"MC\",\n    \"iso3\": \"MCO\",\n    \"phoneCode\": \"377\"\n  },\n  {\n    \"nameES\": \"Macao\",\n    \"nameEN\": \"Macao\",\n    \"iso2\": \"MO\",\n    \"iso3\": \"MAC\",\n    \"phoneCode\": \"853\"\n  },\n  {\n    \"nameES\": \"Macedônia\",\n    \"nameEN\": \"Macedonia\",\n    \"iso2\": \"MK\",\n    \"iso3\": \"MKD\",\n    \"phoneCode\": \"389\"\n  },\n  {\n    \"nameES\": \"Madagascar\",\n    \"nameEN\": \"Madagascar\",\n    \"iso2\": \"MG\",\n    \"iso3\": \"MDG\",\n    \"phoneCode\": \"261\"\n  },\n  {\n    \"nameES\": \"Malasia\",\n    \"nameEN\": \"Malaysia\",\n    \"iso2\": \"MY\",\n    \"iso3\": \"MYS\",\n    \"phoneCode\": \"60\"\n  },\n  {\n    \"nameES\": \"Malawi\",\n    \"nameEN\": \"Malawi\",\n    \"iso2\": \"MW\",\n    \"iso3\": \"MWI\",\n    \"phoneCode\": \"265\"\n  },\n  {\n    \"nameES\": \"Mali\",\n    \"nameEN\": \"Mali\",\n    \"iso2\": \"ML\",\n    \"iso3\": \"MLI\",\n    \"phoneCode\": \"223\"\n  },\n  {\n    \"nameES\": \"Malta\",\n    \"nameEN\": \"Malta\",\n    \"iso2\": \"MT\",\n    \"iso3\": \"MLT\",\n    \"phoneCode\": \"356\"\n  },\n  {\n    \"nameES\": \"Marruecos\",\n    \"nameEN\": \"Morocco\",\n    \"iso2\": \"MA\",\n    \"iso3\": \"MAR\",\n    \"phoneCode\": \"212\"\n  },\n  {\n    \"nameES\": \"Martinica\",\n    \"nameEN\": \"Martinique\",\n    \"iso2\": \"MQ\",\n    \"iso3\": \"MTQ\",\n    \"phoneCode\": \"596\"\n  },\n  {\n    \"nameES\": \"Mauricio\",\n    \"nameEN\": \"Mauritius\",\n    \"iso2\": \"MU\",\n    \"iso3\": \"MUS\",\n    \"phoneCode\": \"230\"\n  },\n  {\n    \"nameES\": \"Mauritania\",\n    \"nameEN\": \"Mauritania\",\n    \"iso2\": \"MR\",\n    \"iso3\": \"MRT\",\n    \"phoneCode\": \"222\"\n  },\n  {\n    \"nameES\": \"Mayotte\",\n    \"nameEN\": \"Mayotte\",\n    \"iso2\": \"YT\",\n    \"iso3\": \"MYT\",\n    \"phoneCode\": \"262\"\n  },\n  {\n    \"nameES\": \"Micronesia\",\n    \"nameEN\": \"Estados Federados de\",\n    \"iso2\": \"FM\",\n    \"iso3\": \"FSM\",\n    \"phoneCode\": \"691\"\n  },\n  {\n    \"nameES\": \"Moldavia\",\n    \"nameEN\": \"Moldova\",\n    \"iso2\": \"MD\",\n    \"iso3\": \"MDA\",\n    \"phoneCode\": \"373\"\n  },\n  {\n    \"nameES\": \"Mongolia\",\n    \"nameEN\": \"Mongolia\",\n    \"iso2\": \"MN\",\n    \"iso3\": \"MNG\",\n    \"phoneCode\": \"976\"\n  },\n  {\n    \"nameES\": \"Montenegro\",\n    \"nameEN\": \"Montenegro\",\n    \"iso2\": \"ME\",\n    \"iso3\": \"MNE\",\n    \"phoneCode\": \"382\"\n  },\n  {\n    \"nameES\": \"Montserrat\",\n    \"nameEN\": \"Montserrat\",\n    \"iso2\": \"MS\",\n    \"iso3\": \"MSR\",\n    \"phoneCode\": \"1 664\"\n  },\n  {\n    \"nameES\": \"Mozambique\",\n    \"nameEN\": \"Mozambique\",\n    \"iso2\": \"MZ\",\n    \"iso3\": \"MOZ\",\n    \"phoneCode\": \"258\"\n  },\n  {\n    \"nameES\": \"Namibia\",\n    \"nameEN\": \"Namibia\",\n    \"iso2\": \"NA\",\n    \"iso3\": \"NAM\",\n    \"phoneCode\": \"264\"\n  },\n  {\n    \"nameES\": \"Nauru\",\n    \"nameEN\": \"Nauru\",\n    \"iso2\": \"NR\",\n    \"iso3\": \"NRU\",\n    \"phoneCode\": \"674\"\n  },\n  {\n    \"nameES\": \"Nepal\",\n    \"nameEN\": \"Nepal\",\n    \"iso2\": \"NP\",\n    \"iso3\": \"NPL\",\n    \"phoneCode\": \"977\"\n  },\n  {\n    \"nameES\": \"Nicaragua\",\n    \"nameEN\": \"Nicaragua\",\n    \"iso2\": \"NI\",\n    \"iso3\": \"NIC\",\n    \"phoneCode\": \"505\"\n  },\n  {\n    \"nameES\": \"Niger\",\n    \"nameEN\": \"Niger\",\n    \"iso2\": \"NE\",\n    \"iso3\": \"NER\",\n    \"phoneCode\": \"227\"\n  },\n  {\n    \"nameES\": \"Nigeria\",\n    \"nameEN\": \"Nigeria\",\n    \"iso2\": \"NG\",\n    \"iso3\": \"NGA\",\n    \"phoneCode\": \"234\"\n  },\n  {\n    \"nameES\": \"Niue\",\n    \"nameEN\": \"Niue\",\n    \"iso2\": \"NU\",\n    \"iso3\": \"NIU\",\n    \"phoneCode\": \"683\"\n  },\n  {\n    \"nameES\": \"Noruega\",\n    \"nameEN\": \"Norway\",\n    \"iso2\": \"NO\",\n    \"iso3\": \"NOR\",\n    \"phoneCode\": \"47\"\n  },\n  {\n    \"nameES\": \"Nueva Caledonia\",\n    \"nameEN\": \"New Caledonia\",\n    \"iso2\": \"NC\",\n    \"iso3\": \"NCL\",\n    \"phoneCode\": \"687\"\n  },\n  {\n    \"nameES\": \"Nueva Zelanda\",\n    \"nameEN\": \"New Zealand\",\n    \"iso2\": \"NZ\",\n    \"iso3\": \"NZL\",\n    \"phoneCode\": \"64\"\n  },\n  {\n    \"nameES\": \"Omán\",\n    \"nameEN\": \"Oman\",\n    \"iso2\": \"OM\",\n    \"iso3\": \"OMN\",\n    \"phoneCode\": \"968\"\n  },\n  {\n    \"nameES\": \"Países Bajos\",\n    \"nameEN\": \"Netherlands\",\n    \"iso2\": \"NL\",\n    \"iso3\": \"NLD\",\n    \"phoneCode\": \"31\"\n  },\n  {\n    \"nameES\": \"Pakistán\",\n    \"nameEN\": \"Pakistan\",\n    \"iso2\": \"PK\",\n    \"iso3\": \"PAK\",\n    \"phoneCode\": \"92\"\n  },\n  {\n    \"nameES\": \"Palau\",\n    \"nameEN\": \"Palau\",\n    \"iso2\": \"PW\",\n    \"iso3\": \"PLW\",\n    \"phoneCode\": \"680\"\n  },\n  {\n    \"nameES\": \"Palestina\",\n    \"nameEN\": \"Palestine\",\n    \"iso2\": \"PS\",\n    \"iso3\": \"PSE\",\n    \"phoneCode\": \"970\"\n  },\n  {\n    \"nameES\": \"Panamá\",\n    \"nameEN\": \"Panama\",\n    \"iso2\": \"PA\",\n    \"iso3\": \"PAN\",\n    \"phoneCode\": \"507\"\n  },\n  {\n    \"nameES\": \"Papúa Nueva Guinea\",\n    \"nameEN\": \"Papua New Guinea\",\n    \"iso2\": \"PG\",\n    \"iso3\": \"PNG\",\n    \"phoneCode\": \"675\"\n  },\n  {\n    \"nameES\": \"Paraguay\",\n    \"nameEN\": \"Paraguay\",\n    \"iso2\": \"PY\",\n    \"iso3\": \"PRY\",\n    \"phoneCode\": \"595\"\n  },\n  {\n    \"nameES\": \"Perú\",\n    \"nameEN\": \"Peru\",\n    \"iso2\": \"PE\",\n    \"iso3\": \"PER\",\n    \"phoneCode\": \"51\"\n  },\n  {\n    \"nameES\": \"Polinesia Francesa\",\n    \"nameEN\": \"French Polynesia\",\n    \"iso2\": \"PF\",\n    \"iso3\": \"PYF\",\n    \"phoneCode\": \"689\"\n  },\n  {\n    \"nameES\": \"Polonia\",\n    \"nameEN\": \"Poland\",\n    \"iso2\": \"PL\",\n    \"iso3\": \"POL\",\n    \"phoneCode\": \"48\"\n  },\n  {\n    \"nameES\": \"Portugal\",\n    \"nameEN\": \"Portugal\",\n    \"iso2\": \"PT\",\n    \"iso3\": \"PRT\",\n    \"phoneCode\": \"351\"\n  },\n  {\n    \"nameES\": \"Puerto Rico\",\n    \"nameEN\": \"Puerto Rico\",\n    \"iso2\": \"PR\",\n    \"iso3\": \"PRI\",\n    \"phoneCode\": \"1\"\n  },\n  {\n    \"nameES\": \"Qatar\",\n    \"nameEN\": \"Qatar\",\n    \"iso2\": \"QA\",\n    \"iso3\": \"QAT\",\n    \"phoneCode\": \"974\"\n  },\n  {\n    \"nameES\": \"Reino Unido\",\n    \"nameEN\": \"United Kingdom\",\n    \"iso2\": \"GB\",\n    \"iso3\": \"GBR\",\n    \"phoneCode\": \"44\"\n  },\n  {\n    \"nameES\": \"República Centroafricana\",\n    \"nameEN\": \"Central African Republic\",\n    \"iso2\": \"CF\",\n    \"iso3\": \"CAF\",\n    \"phoneCode\": \"236\"\n  },\n  {\n    \"nameES\": \"República Checa\",\n    \"nameEN\": \"Czech Republic\",\n    \"iso2\": \"CZ\",\n    \"iso3\": \"CZE\",\n    \"phoneCode\": \"420\"\n  },\n  {\n    \"nameES\": \"República Dominicana\",\n    \"nameEN\": \"Dominican Republic\",\n    \"iso2\": \"DO\",\n    \"iso3\": \"DOM\",\n    \"phoneCode\": \"1 809\"\n  },\n  {\n    \"nameES\": \"República de Sudán del Sur\",\n    \"nameEN\": \"South Sudan\",\n    \"iso2\": \"SS\",\n    \"iso3\": \"SSD\",\n    \"phoneCode\": \"211\"\n  },\n  {\n    \"nameES\": \"Reunión\",\n    \"nameEN\": \"Réunion\",\n    \"iso2\": \"RE\",\n    \"iso3\": \"REU\",\n    \"phoneCode\": \"262\"\n  },\n  {\n    \"nameES\": \"Ruanda\",\n    \"nameEN\": \"Rwanda\",\n    \"iso2\": \"RW\",\n    \"iso3\": \"RWA\",\n    \"phoneCode\": \"250\"\n  },\n  {\n    \"nameES\": \"Rumanía\",\n    \"nameEN\": \"Romania\",\n    \"iso2\": \"RO\",\n    \"iso3\": \"ROU\",\n    \"phoneCode\": \"40\"\n  },\n  {\n    \"nameES\": \"Rusia\",\n    \"nameEN\": \"Russia\",\n    \"iso2\": \"RU\",\n    \"iso3\": \"RUS\",\n    \"phoneCode\": \"7\"\n  },\n  {\n    \"nameES\": \"Sahara Occidental\",\n    \"nameEN\": \"Western Sahara\",\n    \"iso2\": \"EH\",\n    \"iso3\": \"ESH\",\n    \"phoneCode\": \"212\"\n  },\n  {\n    \"nameES\": \"Samoa\",\n    \"nameEN\": \"Samoa\",\n    \"iso2\": \"WS\",\n    \"iso3\": \"WSM\",\n    \"phoneCode\": \"685\"\n  },\n  {\n    \"nameES\": \"Samoa Americana\",\n    \"nameEN\": \"American Samoa\",\n    \"iso2\": \"AS\",\n    \"iso3\": \"ASM\",\n    \"phoneCode\": \"1 684\"\n  },\n  {\n    \"nameES\": \"San Bartolomé\",\n    \"nameEN\": \"Saint Barthélemy\",\n    \"iso2\": \"BL\",\n    \"iso3\": \"BLM\",\n    \"phoneCode\": \"590\"\n  },\n  {\n    \"nameES\": \"San Cristóbal y Nieves\",\n    \"nameEN\": \"Saint Kitts and Nevis\",\n    \"iso2\": \"KN\",\n    \"iso3\": \"KNA\",\n    \"phoneCode\": \"1 869\"\n  },\n  {\n    \"nameES\": \"San Marino\",\n    \"nameEN\": \"San Marino\",\n    \"iso2\": \"SM\",\n    \"iso3\": \"SMR\",\n    \"phoneCode\": \"378\"\n  },\n  {\n    \"nameES\": \"San Martín (Francia)\",\n    \"nameEN\": \"Saint Martin (French part)\",\n    \"iso2\": \"MF\",\n    \"iso3\": \"MAF\",\n    \"phoneCode\": \"1 599\"\n  },\n  {\n    \"nameES\": \"San Pedro y Miquelón\",\n    \"nameEN\": \"Saint Pierre and Miquelon\",\n    \"iso2\": \"PM\",\n    \"iso3\": \"SPM\",\n    \"phoneCode\": \"508\"\n  },\n  {\n    \"nameES\": \"San Vicente y las Granadinas\",\n    \"nameEN\": \"Saint Vincent and the Grenadines\",\n    \"iso2\": \"VC\",\n    \"iso3\": \"VCT\",\n    \"phoneCode\": \"1 784\"\n  },\n  {\n    \"nameES\": \"Santa Elena\",\n    \"nameEN\": \"Ascensión y Tristán de Acuña\",\n    \"iso2\": \"SH\",\n    \"iso3\": \"SHN\",\n    \"phoneCode\": \"290\"\n  },\n  {\n    \"nameES\": \"Santa Lucía\",\n    \"nameEN\": \"Saint Lucia\",\n    \"iso2\": \"LC\",\n    \"iso3\": \"LCA\",\n    \"phoneCode\": \"1 758\"\n  },\n  {\n    \"nameES\": \"Santo Tomé y Príncipe\",\n    \"nameEN\": \"Sao Tome and Principe\",\n    \"iso2\": \"ST\",\n    \"iso3\": \"STP\",\n    \"phoneCode\": \"239\"\n  },\n  {\n    \"nameES\": \"Senegal\",\n    \"nameEN\": \"Senegal\",\n    \"iso2\": \"SN\",\n    \"iso3\": \"SEN\",\n    \"phoneCode\": \"221\"\n  },\n  {\n    \"nameES\": \"Serbia\",\n    \"nameEN\": \"Serbia\",\n    \"iso2\": \"RS\",\n    \"iso3\": \"SRB\",\n    \"phoneCode\": \"381\"\n  },\n  {\n    \"nameES\": \"Seychelles\",\n    \"nameEN\": \"Seychelles\",\n    \"iso2\": \"SC\",\n    \"iso3\": \"SYC\",\n    \"phoneCode\": \"248\"\n  },\n  {\n    \"nameES\": \"Sierra Leona\",\n    \"nameEN\": \"Sierra Leone\",\n    \"iso2\": \"SL\",\n    \"iso3\": \"SLE\",\n    \"phoneCode\": \"232\"\n  },\n  {\n    \"nameES\": \"Singapur\",\n    \"nameEN\": \"Singapore\",\n    \"iso2\": \"SG\",\n    \"iso3\": \"SGP\",\n    \"phoneCode\": \"65\"\n  },\n  {\n    \"nameES\": \"Sint Maarten\",\n    \"nameEN\": \"Sint Maarten\",\n    \"iso2\": \"SX\",\n    \"iso3\": \"SMX\",\n    \"phoneCode\": \"1 721\"\n  },\n  {\n    \"nameES\": \"Siria\",\n    \"nameEN\": \"Syria\",\n    \"iso2\": \"SY\",\n    \"iso3\": \"SYR\",\n    \"phoneCode\": \"963\"\n  },\n  {\n    \"nameES\": \"Somalia\",\n    \"nameEN\": \"Somalia\",\n    \"iso2\": \"SO\",\n    \"iso3\": \"SOM\",\n    \"phoneCode\": \"252\"\n  },\n  {\n    \"nameES\": \"Sri lanka\",\n    \"nameEN\": \"Sri Lanka\",\n    \"iso2\": \"LK\",\n    \"iso3\": \"LKA\",\n    \"phoneCode\": \"94\"\n  },\n  {\n    \"nameES\": \"Sudáfrica\",\n    \"nameEN\": \"South Africa\",\n    \"iso2\": \"ZA\",\n    \"iso3\": \"ZAF\",\n    \"phoneCode\": \"27\"\n  },\n  {\n    \"nameES\": \"Sudán\",\n    \"nameEN\": \"Sudan\",\n    \"iso2\": \"SD\",\n    \"iso3\": \"SDN\",\n    \"phoneCode\": \"249\"\n  },\n  {\n    \"nameES\": \"Suecia\",\n    \"nameEN\": \"Sweden\",\n    \"iso2\": \"SE\",\n    \"iso3\": \"SWE\",\n    \"phoneCode\": \"46\"\n  },\n  {\n    \"nameES\": \"Suiza\",\n    \"nameEN\": \"Switzerland\",\n    \"iso2\": \"CH\",\n    \"iso3\": \"CHE\",\n    \"phoneCode\": \"41\"\n  },\n  {\n    \"nameES\": \"Surinám\",\n    \"nameEN\": \"Suriname\",\n    \"iso2\": \"SR\",\n    \"iso3\": \"SUR\",\n    \"phoneCode\": \"597\"\n  },\n  {\n    \"nameES\": \"Svalbard y Jan Mayen\",\n    \"nameEN\": \"Svalbard and Jan Mayen\",\n    \"iso2\": \"SJ\",\n    \"iso3\": \"SJM\",\n    \"phoneCode\": \"47\"\n  },\n  {\n    \"nameES\": \"Swazilandia\",\n    \"nameEN\": \"Swaziland\",\n    \"iso2\": \"SZ\",\n    \"iso3\": \"SWZ\",\n    \"phoneCode\": \"268\"\n  },\n  {\n    \"nameES\": \"Tayikistán\",\n    \"nameEN\": \"Tajikistan\",\n    \"iso2\": \"TJ\",\n    \"iso3\": \"TJK\",\n    \"phoneCode\": \"992\"\n  },\n  {\n    \"nameES\": \"Tailandia\",\n    \"nameEN\": \"Thailand\",\n    \"iso2\": \"TH\",\n    \"iso3\": \"THA\",\n    \"phoneCode\": \"66\"\n  },\n  {\n    \"nameES\": \"Taiwán\",\n    \"nameEN\": \"Taiwan\",\n    \"iso2\": \"TW\",\n    \"iso3\": \"TWN\",\n    \"phoneCode\": \"886\"\n  },\n  {\n    \"nameES\": \"Tanzania\",\n    \"nameEN\": \"Tanzania\",\n    \"iso2\": \"TZ\",\n    \"iso3\": \"TZA\",\n    \"phoneCode\": \"255\"\n  },\n  {\n    \"nameES\": \"Territorio Británico del Océano Índico\",\n    \"nameEN\": \"British Indian Ocean Territory\",\n    \"iso2\": \"IO\",\n    \"iso3\": \"IOT\",\n    \"phoneCode\": \"246\"\n  },\n  {\n    \"nameES\": \"Territorios Australes y Antárticas Franceses\",\n    \"nameEN\": \"French Southern Territories\",\n    \"iso2\": \"TF\",\n    \"iso3\": \"ATF\",\n    \"phoneCode\": \"\"\n  },\n  {\n    \"nameES\": \"Timor Oriental\",\n    \"nameEN\": \"East Timor\",\n    \"iso2\": \"TL\",\n    \"iso3\": \"TLS\",\n    \"phoneCode\": \"670\"\n  },\n  {\n    \"nameES\": \"Togo\",\n    \"nameEN\": \"Togo\",\n    \"iso2\": \"TG\",\n    \"iso3\": \"TGO\",\n    \"phoneCode\": \"228\"\n  },\n  {\n    \"nameES\": \"Tokelau\",\n    \"nameEN\": \"Tokelau\",\n    \"iso2\": \"TK\",\n    \"iso3\": \"TKL\",\n    \"phoneCode\": \"690\"\n  },\n  {\n    \"nameES\": \"Tonga\",\n    \"nameEN\": \"Tonga\",\n    \"iso2\": \"TO\",\n    \"iso3\": \"TON\",\n    \"phoneCode\": \"676\"\n  },\n  {\n    \"nameES\": \"Trinidad y Tobago\",\n    \"nameEN\": \"Trinidad and Tobago\",\n    \"iso2\": \"TT\",\n    \"iso3\": \"TTO\",\n    \"phoneCode\": \"1 868\"\n  },\n  {\n    \"nameES\": \"Tunez\",\n    \"nameEN\": \"Tunisia\",\n    \"iso2\": \"TN\",\n    \"iso3\": \"TUN\",\n    \"phoneCode\": \"216\"\n  },\n  {\n    \"nameES\": \"Turkmenistán\",\n    \"nameEN\": \"Turkmenistan\",\n    \"iso2\": \"TM\",\n    \"iso3\": \"TKM\",\n    \"phoneCode\": \"993\"\n  },\n  {\n    \"nameES\": \"Turquía\",\n    \"nameEN\": \"Turkey\",\n    \"iso2\": \"TR\",\n    \"iso3\": \"TUR\",\n    \"phoneCode\": \"90\"\n  },\n  {\n    \"nameES\": \"Tuvalu\",\n    \"nameEN\": \"Tuvalu\",\n    \"iso2\": \"TV\",\n    \"iso3\": \"TUV\",\n    \"phoneCode\": \"688\"\n  },\n  {\n    \"nameES\": \"Ucrania\",\n    \"nameEN\": \"Ukraine\",\n    \"iso2\": \"UA\",\n    \"iso3\": \"UKR\",\n    \"phoneCode\": \"380\"\n  },\n  {\n    \"nameES\": \"Uganda\",\n    \"nameEN\": \"Uganda\",\n    \"iso2\": \"UG\",\n    \"iso3\": \"UGA\",\n    \"phoneCode\": \"256\"\n  },\n  {\n    \"nameES\": \"Uruguay\",\n    \"nameEN\": \"Uruguay\",\n    \"iso2\": \"UY\",\n    \"iso3\": \"URY\",\n    \"phoneCode\": \"598\"\n  },\n  {\n    \"nameES\": \"Uzbekistán\",\n    \"nameEN\": \"Uzbekistan\",\n    \"iso2\": \"UZ\",\n    \"iso3\": \"UZB\",\n    \"phoneCode\": \"998\"\n  },\n  {\n    \"nameES\": \"Vanuatu\",\n    \"nameEN\": \"Vanuatu\",\n    \"iso2\": \"VU\",\n    \"iso3\": \"VUT\",\n    \"phoneCode\": \"678\"\n  },\n  {\n    \"nameES\": \"Venezuela\",\n    \"nameEN\": \"Venezuela\",\n    \"iso2\": \"VE\",\n    \"iso3\": \"VEN\",\n    \"phoneCode\": \"58\"\n  },\n  {\n    \"nameES\": \"Vietnam\",\n    \"nameEN\": \"Vietnam\",\n    \"iso2\": \"VN\",\n    \"iso3\": \"VNM\",\n    \"phoneCode\": \"84\"\n  },\n  {\n    \"nameES\": \"Wallis y Futuna\",\n    \"nameEN\": \"Wallis and Futuna\",\n    \"iso2\": \"WF\",\n    \"iso3\": \"WLF\",\n    \"phoneCode\": \"681\"\n  },\n  {\n    \"nameES\": \"Yemen\",\n    \"nameEN\": \"Yemen\",\n    \"iso2\": \"YE\",\n    \"iso3\": \"YEM\",\n    \"phoneCode\": \"967\"\n  },\n  {\n    \"nameES\": \"Yibuti\",\n    \"nameEN\": \"Djibouti\",\n    \"iso2\": \"DJ\",\n    \"iso3\": \"DJI\",\n    \"phoneCode\": \"253\"\n  },\n  {\n    \"nameES\": \"Zambia\",\n    \"nameEN\": \"Zambia\",\n    \"iso2\": \"ZM\",\n    \"iso3\": \"ZMB\",\n    \"phoneCode\": \"260\"\n  },\n  {\n    \"nameES\": \"Zimbabue\",\n    \"nameEN\": \"Zimbabwe\",\n    \"iso2\": \"ZW\",\n    \"iso3\": \"ZWE\",\n    \"phoneCode\": \"263\"\n  }\n]\n}\n",
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1696,
          -128
        ],
        "id": "03ea7ef4-0868-443c-ba99-fe79f8152f6c",
        "name": "paises"
      },
      {
        "parameters": {
          "fieldToSplitOut": "paises",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          1904,
          -128
        ],
        "id": "abedfb3e-7c95-42bc-be99-61d2c16f0759",
        "name": "Split Out"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "b1c7783e-6fcf-4d37-a94e-14a4fb2f157d",
                "name": "option",
                "value": "={{ $json.nameES }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2112,
          -128
        ],
        "id": "53f7a467-9302-4532-94c7-2ff9e8a374fb",
        "name": "formato1"
      },
      {
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "destinationFieldName": "values",
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          2352,
          -128
        ],
        "id": "de16d70f-0574-4012-a42d-a5296630b239",
        "name": "Aggregate1"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "3010fb0b-0f13-4146-bbac-2e97ee551347",
                "name": "correo_estudiante",
                "value": "={{ $('info estudiante').item.json['Correo electrónico del estudiante'] }}",
                "type": "string"
              },
              {
                "id": "f56ef4e9-c065-4e52-8692-4082c94fbf5b",
                "name": "celular_estudiante_sin_codigo_pais",
                "value": "={{ $('info estudiante').item.json['Celular del estudiante - colocar sin codigo de pais'] }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2784,
          -128
        ],
        "id": "48a389bf-e424-4e24-afbf-939891167a04",
        "name": "variables_1"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "NDODlDQBUvrwqCwc",
            "mode": "list",
            "cachedResultUrl": "/workflow/NDODlDQBUvrwqCwc",
            "cachedResultName": "Guardar informacion de inscripcion"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {
            "waitForSubWorkflow": true
          }
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          2992,
          -128
        ],
        "id": "26ae9d6a-e166-4d16-bd2e-89baf660a695",
        "name": "Call 'Guardar informacion de inscripcion'",
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "operation": "completion",
          "completionTitle": "Bienvenid@ a Bioenglish!",
          "completionMessage": "=Tu inscripción se ha completado con éxito, revisa las indicaciones de como entrar a tus clases en tu correo {{ $('variables_1').item.json.correo_estudiante }} y numero de celular {{ $('variables_1').item.json.celular_estudiante_sin_codigo_pais }}.",
          "options": {}
        },
        "type": "n8n-nodes-base.form",
        "typeVersion": 2.4,
        "position": [
          3280,
          16
        ],
        "id": "c7f67cbf-e8b0-417b-a177-22f96b460bc6",
        "name": "Form1",
        "webhookId": "321ce14a-d2e6-4df2-9952-590f798ee2bf"
      },
      {
        "parameters": {
          "errorMessage": "Error en escenario \"Guardar informacion de inscripcion\""
        },
        "type": "n8n-nodes-base.stopAndError",
        "typeVersion": 1,
        "position": [
          3488,
          16
        ],
        "id": "bd6e34ea-1f1f-434e-b478-5aade2964fbb",
        "name": "Stop and Error"
      }
    ],
    "connections": {
      "On form submission": {
        "main": [
          [
            {
              "node": "es para el mismo estudiante?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "es para el mismo estudiante?": {
        "main": [
          [
            {
              "node": "Search records",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "info apoderado",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Search records": {
        "main": [
          [
            {
              "node": "formato",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "formato": {
        "main": [
          [
            {
              "node": "Aggregate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate": {
        "main": [
          [
            {
              "node": "paises",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "info estudiante": {
        "main": [
          [
            {
              "node": "variables_1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "info apoderado": {
        "main": [
          [
            {
              "node": "Search records",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "paises": {
        "main": [
          [
            {
              "node": "Split Out",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Out": {
        "main": [
          [
            {
              "node": "formato1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "formato1": {
        "main": [
          [
            {
              "node": "Aggregate1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate1": {
        "main": [
          [
            {
              "node": "info estudiante",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "variables_1": {
        "main": [
          [
            {
              "node": "Call 'Guardar informacion de inscripcion'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'Guardar informacion de inscripcion'": {
        "main": [
          [
            {
              "node": "Form",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Form1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Form1": {
        "main": [
          [
            {
              "node": "Stop and Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Bioenglish Lat",
    "name": "Version e1a3a0c8",
    "description": "",
    "autosaved": false
  },
  "activeVersionId": "e1a3a0c8-ec8a-4cf0-bdc3-bb6499f2f0b8",
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "es para el mismo estudiante?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "es para el mismo estudiante?": {
      "main": [
        [
          {
            "node": "Search records",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "info apoderado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records": {
      "main": [
        [
          {
            "node": "formato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formato": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "paises",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "info estudiante": {
      "main": [
        [
          {
            "node": "variables_1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "info apoderado": {
      "main": [
        [
          {
            "node": "Search records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "paises": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "formato1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formato1": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "info estudiante",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "variables_1": {
      "main": [
        [
          {
            "node": "Guardar informacion de inscripcion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Form1": {
      "main": [
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar informacion de inscripcion": {
      "main": [
        [
          {
            "node": "Form",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Form1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-31T05:18:18.673Z",
  "id": "efFbgE1bYCOEbonn",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Formulario de inscripcion",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Bio English",
        "formDescription": "=<img src=\"https://primary-production-55a73.up.railway.app/webhook/c0e78331-d79f-4b79-ae6b-4807cb1363e4\" \n     width=\"150\">",
        "formFields": {
          "values": [
            {
              "fieldName": "tipo_estudiante",
              "fieldLabel": "¿Para quien son las clases de inglés?",
              "fieldType": "dropdown",
              "defaultValue": "=",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Para mí"
                  },
                  {
                    "option": "Para mi hijo/hija"
                  },
                  {
                    "option": "Para un familiar o amig@"
                  }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "options": {
          "appendAttribution": false,
          "buttonLabel": "Siguiente"
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.4,
      "position": [
        0,
        0
      ],
      "id": "08f9137d-f800-4f9d-8951-a415bea9b881",
      "name": "On form submission",
      "webhookId": "1a514538-6c3d-46ce-a241-2cc1f4440166"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e3b6bb55-fdba-456d-8db7-c482e436be0c",
              "leftValue": "={{ $('On form submission').item.json.tipo_estudiante }}",
              "rightValue": "Para mí",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        208,
        0
      ],
      "id": "1901249b-48f9-4ee8-8d59-bf8eda6cb773",
      "name": "es para el mismo estudiante?"
    },
    {
      "parameters": {
        "formFields": {
          "values": [
            {
              "fieldName": "nombre_apoderado",
              "fieldLabel": "Nombre completo del apoderado",
              "requiredField": true
            },
            {
              "fieldName": "dni_apoderado",
              "fieldLabel": "DNI del apoderado",
              "requiredField": true
            },
            {
              "fieldName": "correo_apoderado",
              "fieldLabel": "Correo electrónico del apoderado",
              "requiredField": true
            },
            {
              "fieldName": "celular_apoderado",
              "fieldLabel": "Celular de apoderado",
              "requiredField": true
            },
            {
              "fieldName": "nivel_ingles_apoderado",
              "fieldLabel": "Nivel de inglés del apoderado",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Básico"
                  },
                  {
                    "option": "Intermedio"
                  },
                  {
                    "option": "Avanzado"
                  },
                  {
                    "option": "Nunca he estudiado inglés"
                  },
                  {
                    "option": "No se mi nivel de inglés"
                  }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "options": {
          "formTitle": "Datos del apoderado"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.4,
      "position": [
        544,
        160
      ],
      "id": "628286e9-5331-4382-ae79-7647d3d13d62",
      "name": "info apoderado",
      "webhookId": "c4d2aac6-01be-495b-a27e-3c03ed4cb389"
    },
    {
      "parameters": {
        "defineForm": "json",
        "jsonOutput": "=[\n  {\n    \"fieldLabel\": \"Nombre completo del estudiante\",\n    \"requiredField\": true\n  },\n  {\n    \"fieldLabel\": \"Correo electrónico del estudiante\",\n    \"fieldType\": \"email\",\n    \"requiredField\": true\n  },\n  {\n    \"fieldLabel\": \"Pais\",\n    \"fieldType\": \"dropdown\",\n    \"fieldOptions\": { \"values\":\n{{ JSON.stringify($('Aggregate1').item.json.values) }}\n                    },\n    \"defaultValue\": [\"Perú\"],\n    \"requiredField\": true\n},\n  {\n    \"fieldLabel\": \"Celular del estudiante - colocar sin codigo de pais\",\n    \"requiredField\": true\n  },\n  {\n    \"fieldLabel\": \"Grupo y horario al que desea inscribirse\",\n    \"fieldType\": \"dropdown\",\n    \"fieldOptions\": { \"values\":\n{{ JSON.stringify($('Aggregate').item.json.values) }}\n},\n    \"requiredField\": true \n},\n{\n    \"fieldLabel\": \"Comprobante de pago\",\n    \"fieldType\": \"file\",\n    \"multipleFiles\": true,\n    \"acceptFileTypes\": \".jpg, .png\" ,\n    \"requiredField\": true\n  }\n]\n",
        "options": {
          "formTitle": "Datos del estudiante"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.4,
      "position": [
        2576,
        -128
      ],
      "id": "3423b85a-b689-449f-9312-bc6988a59db3",
      "name": "info estudiante",
      "webhookId": "c4d2aac6-01be-495b-a27e-3c03ed4cb389"
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appBCL3CWLhCwIjnP",
          "mode": "list",
          "cachedResultName": "BioEnglish",
          "cachedResultUrl": "https://airtable.com/appBCL3CWLhCwIjnP"
        },
        "table": {
          "__rl": true,
          "value": "tbllfzjbgoKjO87HI",
          "mode": "list",
          "cachedResultName": "Grupos",
          "cachedResultUrl": "https://airtable.com/appBCL3CWLhCwIjnP/tbllfzjbgoKjO87HI"
        },
        "filterByFormula": "AND({GRUPOS ACTIVOS}=\"activo\",{Year2024}=\"2026\")",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1072,
        -128
      ],
      "id": "71fdc19b-a74d-4114-854b-84fa93718b5a",
      "name": "Search records",
      "credentials": {
        "airtableOAuth2Api": {
          "id": "mylJqD7auLJ9sN2T",
          "name": "Bioenglish_1"
        }
      }
    },
    {
      "parameters": {
        "formFields": {
          "values": [
            {
              "fieldType": "radio",
              "fieldOptions": {
                "values": [
                  {}
                ]
              }
            }
          ]
        },
        "options": {
          "formTitle": "Datos del apoderado"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.4,
      "position": [
        1264,
        -368
      ],
      "id": "2addfaf2-b95b-4f01-9228-397bec6d5e01",
      "name": "info estudiante1",
      "webhookId": "c4d2aac6-01be-495b-a27e-3c03ed4cb389"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "da93796e-44e3-4f22-8a01-409d43abf458",
              "name": "option",
              "value": "={{ $('Search records').item.json['Nombre de grupo - form inscripcion'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1280,
        -128
      ],
      "id": "b2dc214b-41ea-4e98-8492-20fa5e8f1e4c",
      "name": "formato"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "values",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1488,
        -128
      ],
      "id": "0d91e0f9-5b94-4b2a-9ce6-e117d8133138",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "Bienvenid@ a Bioenglish!",
        "completionMessage": "=Tu inscripción se ha completado con éxito, revisa las indicaciones de como entrar a tus clases en tu correo {{ $('variables_1').item.json.correo_estudiante }} y numero de celular {{ $('variables_1').item.json.celular_estudiante_sin_codigo_pais }}.",
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.4,
      "position": [
        3536,
        -368
      ],
      "id": "7b08d9f8-3825-4b32-b84a-eb0cf700c031",
      "name": "Form",
      "webhookId": "321ce14a-d2e6-4df2-9952-590f798ee2bf"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"paises\":[\n  {\n    \"nameES\": \"Afganistán\",\n    \"nameEN\": \"Afghanistan\",\n    \"iso2\": \"AF\",\n    \"iso3\": \"AFG\",\n    \"phoneCode\": \"93\"\n  },\n  {\n    \"nameES\": \"Albania\",\n    \"nameEN\": \"Albania\",\n    \"iso2\": \"AL\",\n    \"iso3\": \"ALB\",\n    \"phoneCode\": \"355\"\n  },\n  {\n    \"nameES\": \"Alemania\",\n    \"nameEN\": \"Germany\",\n    \"iso2\": \"DE\",\n    \"iso3\": \"DEU\",\n    \"phoneCode\": \"49\"\n  },\n  {\n    \"nameES\": \"Andorra\",\n    \"nameEN\": \"Andorra\",\n    \"iso2\": \"AD\",\n    \"iso3\": \"AND\",\n    \"phoneCode\": \"376\"\n  },\n  {\n    \"nameES\": \"Angola\",\n    \"nameEN\": \"Angola\",\n    \"iso2\": \"AO\",\n    \"iso3\": \"AGO\",\n    \"phoneCode\": \"244\"\n  },\n  {\n    \"nameES\": \"Anguila\",\n    \"nameEN\": \"Anguilla\",\n    \"iso2\": \"AI\",\n    \"iso3\": \"AIA\",\n    \"phoneCode\": \"1 264\"\n  },\n  {\n    \"nameES\": \"Antártida\",\n    \"nameEN\": \"Antarctica\",\n    \"iso2\": \"AQ\",\n    \"iso3\": \"ATA\",\n    \"phoneCode\": \"672\"\n  },\n  {\n    \"nameES\": \"Antigua y Barbuda\",\n    \"nameEN\": \"Antigua and Barbuda\",\n    \"iso2\": \"AG\",\n    \"iso3\": \"ATG\",\n    \"phoneCode\": \"1 268\"\n  },\n  {\n    \"nameES\": \"Arabia Saudita\",\n    \"nameEN\": \"Saudi Arabia\",\n    \"iso2\": \"SA\",\n    \"iso3\": \"SAU\",\n    \"phoneCode\": \"966\"\n  },\n  {\n    \"nameES\": \"Argelia\",\n    \"nameEN\": \"Algeria\",\n    \"iso2\": \"DZ\",\n    \"iso3\": \"DZA\",\n    \"phoneCode\": \"213\"\n  },\n  {\n    \"nameES\": \"Argentina\",\n    \"nameEN\": \"Argentina\",\n    \"iso2\": \"AR\",\n    \"iso3\": \"ARG\",\n    \"phoneCode\": \"54\"\n  },\n  {\n    \"nameES\": \"Armenia\",\n    \"nameEN\": \"Armenia\",\n    \"iso2\": \"AM\",\n    \"iso3\": \"ARM\",\n    \"phoneCode\": \"374\"\n  },\n  {\n    \"nameES\": \"Aruba\",\n    \"nameEN\": \"Aruba\",\n    \"iso2\": \"AW\",\n    \"iso3\": \"ABW\",\n    \"phoneCode\": \"297\"\n  },\n  {\n    \"nameES\": \"Australia\",\n    \"nameEN\": \"Australia\",\n    \"iso2\": \"AU\",\n    \"iso3\": \"AUS\",\n    \"phoneCode\": \"61\"\n  },\n  {\n    \"nameES\": \"Austria\",\n    \"nameEN\": \"Austria\",\n    \"iso2\": \"AT\",\n    \"iso3\": \"AUT\",\n    \"phoneCode\": \"43\"\n  },\n  {\n    \"nameES\": \"Azerbaiyán\",\n    \"nameEN\": \"Azerbaijan\",\n    \"iso2\": \"AZ\",\n    \"iso3\": \"AZE\",\n    \"phoneCode\": \"994\"\n  },\n  {\n    \"nameES\": \"Bélgica\",\n    \"nameEN\": \"Belgium\",\n    \"iso2\": \"BE\",\n    \"iso3\": \"BEL\",\n    \"phoneCode\": \"32\"\n  },\n  {\n    \"nameES\": \"Bahamas\",\n    \"nameEN\": \"Bahamas\",\n    \"iso2\": \"BS\",\n    \"iso3\": \"BHS\",\n    \"phoneCode\": \"1 242\"\n  },\n  {\n    \"nameES\": \"Bahrein\",\n    \"nameEN\": \"Bahrain\",\n    \"iso2\": \"BH\",\n    \"iso3\": \"BHR\",\n    \"phoneCode\": \"973\"\n  },\n  {\n    \"nameES\": \"Bangladesh\",\n    \"nameEN\": \"Bangladesh\",\n    \"iso2\": \"BD\",\n    \"iso3\": \"BGD\",\n    \"phoneCode\": \"880\"\n  },\n  {\n    \"nameES\": \"Barbados\",\n    \"nameEN\": \"Barbados\",\n    \"iso2\": \"BB\",\n    \"iso3\": \"BRB\",\n    \"phoneCode\": \"1 246\"\n  },\n  {\n    \"nameES\": \"Belice\",\n    \"nameEN\": \"Belize\",\n    \"iso2\": \"BZ\",\n    \"iso3\": \"BLZ\",\n    \"phoneCode\": \"501\"\n  },\n  {\n    \"nameES\": \"Benín\",\n    \"nameEN\": \"Benin\",\n    \"iso2\": \"BJ\",\n    \"iso3\": \"BEN\",\n    \"phoneCode\": \"229\"\n  },\n  {\n    \"nameES\": \"Bhután\",\n    \"nameEN\": \"Bhutan\",\n    \"iso2\": \"BT\",\n    \"iso3\": \"BTN\",\n    \"phoneCode\": \"975\"\n  },\n  {\n    \"nameES\": \"Bielorrusia\",\n    \"nameEN\": \"Belarus\",\n    \"iso2\": \"BY\",\n    \"iso3\": \"BLR\",\n    \"phoneCode\": \"375\"\n  },\n  {\n    \"nameES\": \"Birmania\",\n    \"nameEN\": \"Myanmar\",\n    \"iso2\": \"MM\",\n    \"iso3\": \"MMR\",\n    \"phoneCode\": \"95\"\n  },\n  {\n    \"nameES\": \"Bolivia\",\n    \"nameEN\": \"Bolivia\",\n    \"iso2\": \"BO\",\n    \"iso3\": \"BOL\",\n    \"phoneCode\": \"591\"\n  },\n  {\n    \"nameES\": \"Bosnia y Herzegovina\",\n    \"nameEN\": \"Bosnia and Herzegovina\",\n    \"iso2\": \"BA\",\n    \"iso3\": \"BIH\",\n    \"phoneCode\": \"387\"\n  },\n  {\n    \"nameES\": \"Botsuana\",\n    \"nameEN\": \"Botswana\",\n    \"iso2\": \"BW\",\n    \"iso3\": \"BWA\",\n    \"phoneCode\": \"267\"\n  },\n  {\n    \"nameES\": \"Brasil\",\n    \"nameEN\": \"Brazil\",\n    \"iso2\": \"BR\",\n    \"iso3\": \"BRA\",\n    \"phoneCode\": \"55\"\n  },\n  {\n    \"nameES\": \"Brunéi\",\n    \"nameEN\": \"Brunei\",\n    \"iso2\": \"BN\",\n    \"iso3\": \"BRN\",\n    \"phoneCode\": \"673\"\n  },\n  {\n    \"nameES\": \"Bulgaria\",\n    \"nameEN\": \"Bulgaria\",\n    \"iso2\": \"BG\",\n    \"iso3\": \"BGR\",\n    \"phoneCode\": \"359\"\n  },\n  {\n    \"nameES\": \"Burkina Faso\",\n    \"nameEN\": \"Burkina Faso\",\n    \"iso2\": \"BF\",\n    \"iso3\": \"BFA\",\n    \"phoneCode\": \"226\"\n  },\n  {\n    \"nameES\": \"Burundi\",\n    \"nameEN\": \"Burundi\",\n    \"iso2\": \"BI\",\n    \"iso3\": \"BDI\",\n    \"phoneCode\": \"257\"\n  },\n  {\n    \"nameES\": \"Cabo Verde\",\n    \"nameEN\": \"Cape Verde\",\n    \"iso2\": \"CV\",\n    \"iso3\": \"CPV\",\n    \"phoneCode\": \"238\"\n  },\n  {\n    \"nameES\": \"Camboya\",\n    \"nameEN\": \"Cambodia\",\n    \"iso2\": \"KH\",\n    \"iso3\": \"KHM\",\n    \"phoneCode\": \"855\"\n  },\n  {\n    \"nameES\": \"Camerún\",\n    \"nameEN\": \"Cameroon\",\n    \"iso2\": \"CM\",\n    \"iso3\": \"CMR\",\n    \"phoneCode\": \"237\"\n  },\n  {\n    \"nameES\": \"Canadá\",\n    \"nameEN\": \"Canada\",\n    \"iso2\": \"CA\",\n    \"iso3\": \"CAN\",\n    \"phoneCode\": \"1\"\n  },\n  {\n    \"nameES\": \"Chad\",\n    \"nameEN\": \"Chad\",\n    \"iso2\": \"TD\",\n    \"iso3\": \"TCD\",\n    \"phoneCode\": \"235\"\n  },\n  {\n    \"nameES\": \"Chile\",\n    \"nameEN\": \"Chile\",\n    \"iso2\": \"CL\",\n    \"iso3\": \"CHL\",\n    \"phoneCode\": \"56\"\n  },\n  {\n    \"nameES\": \"China\",\n    \"nameEN\": \"China\",\n    \"iso2\": \"CN\",\n    \"iso3\": \"CHN\",\n    \"phoneCode\": \"86\"\n  },\n  {\n    \"nameES\": \"Chipre\",\n    \"nameEN\": \"Cyprus\",\n    \"iso2\": \"CY\",\n    \"iso3\": \"CYP\",\n    \"phoneCode\": \"357\"\n  },\n  {\n    \"nameES\": \"Ciudad del Vaticano\",\n    \"nameEN\": \"Vatican City State\",\n    \"iso2\": \"VA\",\n    \"iso3\": \"VAT\",\n    \"phoneCode\": \"39\"\n  },\n  {\n    \"nameES\": \"Colombia\",\n    \"nameEN\": \"Colombia\",\n    \"iso2\": \"CO\",\n    \"iso3\": \"COL\",\n    \"phoneCode\": \"57\"\n  },\n  {\n    \"nameES\": \"Comoras\",\n    \"nameEN\": \"Comoros\",\n    \"iso2\": \"KM\",\n    \"iso3\": \"COM\",\n    \"phoneCode\": \"269\"\n  },\n  {\n    \"nameES\": \"República del Congo\",\n    \"nameEN\": \"Republic of the Congo\",\n    \"iso2\": \"CG\",\n    \"iso3\": \"COG\",\n    \"phoneCode\": \"242\"\n  },\n  {\n    \"nameES\": \"República Democrática del Congo\",\n    \"nameEN\": \"Democratic Republic of the Congo\",\n    \"iso2\": \"CD\",\n    \"iso3\": \"COD\",\n    \"phoneCode\": \"243\"\n  },\n  {\n    \"nameES\": \"Corea del Norte\",\n    \"nameEN\": \"North Korea\",\n    \"iso2\": \"KP\",\n    \"iso3\": \"PRK\",\n    \"phoneCode\": \"850\"\n  },\n  {\n    \"nameES\": \"Corea del Sur\",\n    \"nameEN\": \"South Korea\",\n    \"iso2\": \"KR\",\n    \"iso3\": \"KOR\",\n    \"phoneCode\": \"82\"\n  },\n  {\n    \"nameES\": \"Costa de Marfil\",\n    \"nameEN\": \"Ivory Coast\",\n    \"iso2\": \"CI\",\n    \"iso3\": \"CIV\",\n    \"phoneCode\": \"225\"\n  },\n  {\n    \"nameES\": \"Costa Rica\",\n    \"nameEN\": \"Costa Rica\",\n    \"iso2\": \"CR\",\n    \"iso3\": \"CRI\",\n    \"phoneCode\": \"506\"\n  },\n  {\n    \"nameES\": \"Croacia\",\n    \"nameEN\": \"Croatia\",\n    \"iso2\": \"HR\",\n    \"iso3\": \"HRV\",\n    \"phoneCode\": \"385\"\n  },\n  {\n    \"nameES\": \"Cuba\",\n    \"nameEN\": \"Cuba\",\n    \"iso2\": \"CU\",\n    \"iso3\": \"CUB\",\n    \"phoneCode\": \"53\"\n  },\n  {\n    \"nameES\": \"Curazao\",\n    \"nameEN\": \"Curaçao\",\n    \"iso2\": \"CW\",\n    \"iso3\": \"CWU\",\n    \"phoneCode\": \"5999\"\n  },\n  {\n    \"nameES\": \"Dinamarca\",\n    \"nameEN\": \"Denmark\",\n    \"iso2\": \"DK\",\n    \"iso3\": \"DNK\",\n    \"phoneCode\": \"45\"\n  },\n  {\n    \"nameES\": \"Dominica\",\n    \"nameEN\": \"Dominica\",\n    \"iso2\": \"DM\",\n    \"iso3\": \"DMA\",\n    \"phoneCode\": \"1 767\"\n  },\n  {\n    \"nameES\": \"Ecuador\",\n    \"nameEN\": \"Ecuador\",\n    \"iso2\": \"EC\",\n    \"iso3\": \"ECU\",\n    \"phoneCode\": \"593\"\n  },\n  {\n    \"nameES\": \"Egipto\",\n    \"nameEN\": \"Egypt\",\n    \"iso2\": \"EG\",\n    \"iso3\": \"EGY\",\n    \"phoneCode\": \"20\"\n  },\n  {\n    \"nameES\": \"El Salvador\",\n    \"nameEN\": \"El Salvador\",\n    \"iso2\": \"SV\",\n    \"iso3\": \"SLV\",\n    \"phoneCode\": \"503\"\n  },\n  {\n    \"nameES\": \"Emiratos Árabes Unidos\",\n    \"nameEN\": \"United Arab Emirates\",\n    \"iso2\": \"AE\",\n    \"iso3\": \"ARE\",\n    \"phoneCode\": \"971\"\n  },\n  {\n    \"nameES\": \"Eritrea\",\n    \"nameEN\": \"Eritrea\",\n    \"iso2\": \"ER\",\n    \"iso3\": \"ERI\",\n    \"phoneCode\": \"291\"\n  },\n  {\n    \"nameES\": \"Eslovaquia\",\n    \"nameEN\": \"Slovakia\",\n    \"iso2\": \"SK\",\n    \"iso3\": \"SVK\",\n    \"phoneCode\": \"421\"\n  },\n  {\n    \"nameES\": \"Eslovenia\",\n    \"nameEN\": \"Slovenia\",\n    \"iso2\": \"SI\",\n    \"iso3\": \"SVN\",\n    \"phoneCode\": \"386\"\n  },\n  {\n    \"nameES\": \"España\",\n    \"nameEN\": \"Spain\",\n    \"iso2\": \"ES\",\n    \"iso3\": \"ESP\",\n    \"phoneCode\": \"34\"\n  },\n  {\n    \"nameES\": \"Estados Unidos de América\",\n    \"nameEN\": \"United States of America\",\n    \"iso2\": \"US\",\n    \"iso3\": \"USA\",\n    \"phoneCode\": \"1\"\n  },\n  {\n    \"nameES\": \"Estonia\",\n    \"nameEN\": \"Estonia\",\n    \"iso2\": \"EE\",\n    \"iso3\": \"EST\",\n    \"phoneCode\": \"372\"\n  },\n  {\n    \"nameES\": \"Etiopía\",\n    \"nameEN\": \"Ethiopia\",\n    \"iso2\": \"ET\",\n    \"iso3\": \"ETH\",\n    \"phoneCode\": \"251\"\n  },\n  {\n    \"nameES\": \"Filipinas\",\n    \"nameEN\": \"Philippines\",\n    \"iso2\": \"PH\",\n    \"iso3\": \"PHL\",\n    \"phoneCode\": \"63\"\n  },\n  {\n    \"nameES\": \"Finlandia\",\n    \"nameEN\": \"Finland\",\n    \"iso2\": \"FI\",\n    \"iso3\": \"FIN\",\n    \"phoneCode\": \"358\"\n  },\n  {\n    \"nameES\": \"Fiyi\",\n    \"nameEN\": \"Fiji\",\n    \"iso2\": \"FJ\",\n    \"iso3\": \"FJI\",\n    \"phoneCode\": \"679\"\n  },\n  {\n    \"nameES\": \"Francia\",\n    \"nameEN\": \"France\",\n    \"iso2\": \"FR\",\n    \"iso3\": \"FRA\",\n    \"phoneCode\": \"33\"\n  },\n  {\n    \"nameES\": \"Gabón\",\n    \"nameEN\": \"Gabon\",\n    \"iso2\": \"GA\",\n    \"iso3\": \"GAB\",\n    \"phoneCode\": \"241\"\n  },\n  {\n    \"nameES\": \"Gambia\",\n    \"nameEN\": \"Gambia\",\n    \"iso2\": \"GM\",\n    \"iso3\": \"GMB\",\n    \"phoneCode\": \"220\"\n  },\n  {\n    \"nameES\": \"Georgia\",\n    \"nameEN\": \"Georgia\",\n    \"iso2\": \"GE\",\n    \"iso3\": \"GEO\",\n    \"phoneCode\": \"995\"\n  },\n  {\n    \"nameES\": \"Ghana\",\n    \"nameEN\": \"Ghana\",\n    \"iso2\": \"GH\",\n    \"iso3\": \"GHA\",\n    \"phoneCode\": \"233\"\n  },\n  {\n    \"nameES\": \"Gibraltar\",\n    \"nameEN\": \"Gibraltar\",\n    \"iso2\": \"GI\",\n    \"iso3\": \"GIB\",\n    \"phoneCode\": \"350\"\n  },\n  {\n    \"nameES\": \"Granada\",\n    \"nameEN\": \"Grenada\",\n    \"iso2\": \"GD\",\n    \"iso3\": \"GRD\",\n    \"phoneCode\": \"1 473\"\n  },\n  {\n    \"nameES\": \"Grecia\",\n    \"nameEN\": \"Greece\",\n    \"iso2\": \"GR\",\n    \"iso3\": \"GRC\",\n    \"phoneCode\": \"30\"\n  },\n  {\n    \"nameES\": \"Groenlandia\",\n    \"nameEN\": \"Greenland\",\n    \"iso2\": \"GL\",\n    \"iso3\": \"GRL\",\n    \"phoneCode\": \"299\"\n  },\n  {\n    \"nameES\": \"Guadalupe\",\n    \"nameEN\": \"Guadeloupe\",\n    \"iso2\": \"GP\",\n    \"iso3\": \"GLP\",\n    \"phoneCode\": \"590\"\n  },\n  {\n    \"nameES\": \"Guam\",\n    \"nameEN\": \"Guam\",\n    \"iso2\": \"GU\",\n    \"iso3\": \"GUM\",\n    \"phoneCode\": \"1 671\"\n  },\n  {\n    \"nameES\": \"Guatemala\",\n    \"nameEN\": \"Guatemala\",\n    \"iso2\": \"GT\",\n    \"iso3\": \"GTM\",\n    \"phoneCode\": \"502\"\n  },\n  {\n    \"nameES\": \"Guayana Francesa\",\n    \"nameEN\": \"French Guiana\",\n    \"iso2\": \"GF\",\n    \"iso3\": \"GUF\",\n    \"phoneCode\": \"594\"\n  },\n  {\n    \"nameES\": \"Guernsey\",\n    \"nameEN\": \"Guernsey\",\n    \"iso2\": \"GG\",\n    \"iso3\": \"GGY\",\n    \"phoneCode\": \"44\"\n  },\n  {\n    \"nameES\": \"Guinea\",\n    \"nameEN\": \"Guinea\",\n    \"iso2\": \"GN\",\n    \"iso3\": \"GIN\",\n    \"phoneCode\": \"224\"\n  },\n  {\n    \"nameES\": \"Guinea Ecuatorial\",\n    \"nameEN\": \"Equatorial Guinea\",\n    \"iso2\": \"GQ\",\n    \"iso3\": \"GNQ\",\n    \"phoneCode\": \"240\"\n  },\n  {\n    \"nameES\": \"Guinea-Bissau\",\n    \"nameEN\": \"Guinea-Bissau\",\n    \"iso2\": \"GW\",\n    \"iso3\": \"GNB\",\n    \"phoneCode\": \"245\"\n  },\n  {\n    \"nameES\": \"Guyana\",\n    \"nameEN\": \"Guyana\",\n    \"iso2\": \"GY\",\n    \"iso3\": \"GUY\",\n    \"phoneCode\": \"592\"\n  },\n  {\n    \"nameES\": \"Haití\",\n    \"nameEN\": \"Haiti\",\n    \"iso2\": \"HT\",\n    \"iso3\": \"HTI\",\n    \"phoneCode\": \"509\"\n  },\n  {\n    \"nameES\": \"Honduras\",\n    \"nameEN\": \"Honduras\",\n    \"iso2\": \"HN\",\n    \"iso3\": \"HND\",\n    \"phoneCode\": \"504\"\n  },\n  {\n    \"nameES\": \"Hong kong\",\n    \"nameEN\": \"Hong Kong\",\n    \"iso2\": \"HK\",\n    \"iso3\": \"HKG\",\n    \"phoneCode\": \"852\"\n  },\n  {\n    \"nameES\": \"Hungría\",\n    \"nameEN\": \"Hungary\",\n    \"iso2\": \"HU\",\n    \"iso3\": \"HUN\",\n    \"phoneCode\": \"36\"\n  },\n  {\n    \"nameES\": \"India\",\n    \"nameEN\": \"India\",\n    \"iso2\": \"IN\",\n    \"iso3\": \"IND\",\n    \"phoneCode\": \"91\"\n  },\n  {\n    \"nameES\": \"Indonesia\",\n    \"nameEN\": \"Indonesia\",\n    \"iso2\": \"ID\",\n    \"iso3\": \"IDN\",\n    \"phoneCode\": \"62\"\n  },\n  {\n    \"nameES\": \"Irán\",\n    \"nameEN\": \"Iran\",\n    \"iso2\": \"IR\",\n    \"iso3\": \"IRN\",\n    \"phoneCode\": \"98\"\n  },\n  {\n    \"nameES\": \"Irak\",\n    \"nameEN\": \"Iraq\",\n    \"iso2\": \"IQ\",\n    \"iso3\": \"IRQ\",\n    \"phoneCode\": \"964\"\n  },\n  {\n    \"nameES\": \"Irlanda\",\n    \"nameEN\": \"Ireland\",\n    \"iso2\": \"IE\",\n    \"iso3\": \"IRL\",\n    \"phoneCode\": \"353\"\n  },\n  {\n    \"nameES\": \"Isla Bouvet\",\n    \"nameEN\": \"Bouvet Island\",\n    \"iso2\": \"BV\",\n    \"iso3\": \"BVT\",\n    \"phoneCode\": \"\"\n  },\n  {\n    \"nameES\": \"Isla de Man\",\n    \"nameEN\": \"Isle of Man\",\n    \"iso2\": \"IM\",\n    \"iso3\": \"IMN\",\n    \"phoneCode\": \"44\"\n  },\n  {\n    \"nameES\": \"Isla de Navidad\",\n    \"nameEN\": \"Christmas Island\",\n    \"iso2\": \"CX\",\n    \"iso3\": \"CXR\",\n    \"phoneCode\": \"61\"\n  },\n  {\n    \"nameES\": \"Isla Norfolk\",\n    \"nameEN\": \"Norfolk Island\",\n    \"iso2\": \"NF\",\n    \"iso3\": \"NFK\",\n    \"phoneCode\": \"672\"\n  },\n  {\n    \"nameES\": \"Islandia\",\n    \"nameEN\": \"Iceland\",\n    \"iso2\": \"IS\",\n    \"iso3\": \"ISL\",\n    \"phoneCode\": \"354\"\n  },\n  {\n    \"nameES\": \"Islas Bermudas\",\n    \"nameEN\": \"Bermuda Islands\",\n    \"iso2\": \"BM\",\n    \"iso3\": \"BMU\",\n    \"phoneCode\": \"1 441\"\n  },\n  {\n    \"nameES\": \"Islas Caimán\",\n    \"nameEN\": \"Cayman Islands\",\n    \"iso2\": \"KY\",\n    \"iso3\": \"CYM\",\n    \"phoneCode\": \"1 345\"\n  },\n  {\n    \"nameES\": \"Islas Cocos (Keeling)\",\n    \"nameEN\": \"Cocos (Keeling) Islands\",\n    \"iso2\": \"CC\",\n    \"iso3\": \"CCK\",\n    \"phoneCode\": \"61\"\n  },\n  {\n    \"nameES\": \"Islas Cook\",\n    \"nameEN\": \"Cook Islands\",\n    \"iso2\": \"CK\",\n    \"iso3\": \"COK\",\n    \"phoneCode\": \"682\"\n  },\n  {\n    \"nameES\": \"Islas de Åland\",\n    \"nameEN\": \"Åland Islands\",\n    \"iso2\": \"AX\",\n    \"iso3\": \"ALA\",\n    \"phoneCode\": \"358\"\n  },\n  {\n    \"nameES\": \"Islas Feroe\",\n    \"nameEN\": \"Faroe Islands\",\n    \"iso2\": \"FO\",\n    \"iso3\": \"FRO\",\n    \"phoneCode\": \"298\"\n  },\n  {\n    \"nameES\": \"Islas Georgias del Sur y Sandwich del Sur\",\n    \"nameEN\": \"South Georgia and the South Sandwich Islands\",\n    \"iso2\": \"GS\",\n    \"iso3\": \"SGS\",\n    \"phoneCode\": \"500\"\n  },\n  {\n    \"nameES\": \"Islas Heard y McDonald\",\n    \"nameEN\": \"Heard Island and McDonald Islands\",\n    \"iso2\": \"HM\",\n    \"iso3\": \"HMD\",\n    \"phoneCode\": \"\"\n  },\n  {\n    \"nameES\": \"Islas Maldivas\",\n    \"nameEN\": \"Maldives\",\n    \"iso2\": \"MV\",\n    \"iso3\": \"MDV\",\n    \"phoneCode\": \"960\"\n  },\n  {\n    \"nameES\": \"Islas Malvinas\",\n    \"nameEN\": \"Falkland Islands (Malvinas)\",\n    \"iso2\": \"FK\",\n    \"iso3\": \"FLK\",\n    \"phoneCode\": \"500\"\n  },\n  {\n    \"nameES\": \"Islas Marianas del Norte\",\n    \"nameEN\": \"Northern Mariana Islands\",\n    \"iso2\": \"MP\",\n    \"iso3\": \"MNP\",\n    \"phoneCode\": \"1 670\"\n  },\n  {\n    \"nameES\": \"Islas Marshall\",\n    \"nameEN\": \"Marshall Islands\",\n    \"iso2\": \"MH\",\n    \"iso3\": \"MHL\",\n    \"phoneCode\": \"692\"\n  },\n  {\n    \"nameES\": \"Islas Pitcairn\",\n    \"nameEN\": \"Pitcairn Islands\",\n    \"iso2\": \"PN\",\n    \"iso3\": \"PCN\",\n    \"phoneCode\": \"870\"\n  },\n  {\n    \"nameES\": \"Islas Salomón\",\n    \"nameEN\": \"Solomon Islands\",\n    \"iso2\": \"SB\",\n    \"iso3\": \"SLB\",\n    \"phoneCode\": \"677\"\n  },\n  {\n    \"nameES\": \"Islas Turcas y Caicos\",\n    \"nameEN\": \"Turks and Caicos Islands\",\n    \"iso2\": \"TC\",\n    \"iso3\": \"TCA\",\n    \"phoneCode\": \"1 649\"\n  },\n  {\n    \"nameES\": \"Islas Ultramarinas Menores de Estados Unidos\",\n    \"nameEN\": \"United States Minor Outlying Islands\",\n    \"iso2\": \"UM\",\n    \"iso3\": \"UMI\",\n    \"phoneCode\": \"246\"\n  },\n  {\n    \"nameES\": \"Islas Vírgenes Británicas\",\n    \"nameEN\": \"Virgin Islands\",\n    \"iso2\": \"VG\",\n    \"iso3\": \"VGB\",\n    \"phoneCode\": \"1 284\"\n  },\n  {\n    \"nameES\": \"Islas Vírgenes de los Estados Unidos\",\n    \"nameEN\": \"United States Virgin Islands\",\n    \"iso2\": \"VI\",\n    \"iso3\": \"VIR\",\n    \"phoneCode\": \"1 340\"\n  },\n  {\n    \"nameES\": \"Israel\",\n    \"nameEN\": \"Israel\",\n    \"iso2\": \"IL\",\n    \"iso3\": \"ISR\",\n    \"phoneCode\": \"972\"\n  },\n  {\n    \"nameES\": \"Italia\",\n    \"nameEN\": \"Italy\",\n    \"iso2\": \"IT\",\n    \"iso3\": \"ITA\",\n    \"phoneCode\": \"39\"\n  },\n  {\n    \"nameES\": \"Jamaica\",\n    \"nameEN\": \"Jamaica\",\n    \"iso2\": \"JM\",\n    \"iso3\": \"JAM\",\n    \"phoneCode\": \"1 876\"\n  },\n  {\n    \"nameES\": \"Japón\",\n    \"nameEN\": \"Japan\",\n    \"iso2\": \"JP\",\n    \"iso3\": \"JPN\",\n    \"phoneCode\": \"81\"\n  },\n  {\n    \"nameES\": \"Jersey\",\n    \"nameEN\": \"Jersey\",\n    \"iso2\": \"JE\",\n    \"iso3\": \"JEY\",\n    \"phoneCode\": \"44\"\n  },\n  {\n    \"nameES\": \"Jordania\",\n    \"nameEN\": \"Jordan\",\n    \"iso2\": \"JO\",\n    \"iso3\": \"JOR\",\n    \"phoneCode\": \"962\"\n  },\n  {\n    \"nameES\": \"Kazajistán\",\n    \"nameEN\": \"Kazakhstan\",\n    \"iso2\": \"KZ\",\n    \"iso3\": \"KAZ\",\n    \"phoneCode\": \"7\"\n  },\n  {\n    \"nameES\": \"Kenia\",\n    \"nameEN\": \"Kenya\",\n    \"iso2\": \"KE\",\n    \"iso3\": \"KEN\",\n    \"phoneCode\": \"254\"\n  },\n  {\n    \"nameES\": \"Kirguistán\",\n    \"nameEN\": \"Kyrgyzstan\",\n    \"iso2\": \"KG\",\n    \"iso3\": \"KGZ\",\n    \"phoneCode\": \"996\"\n  },\n  {\n    \"nameES\": \"Kiribati\",\n    \"nameEN\": \"Kiribati\",\n    \"iso2\": \"KI\",\n    \"iso3\": \"KIR\",\n    \"phoneCode\": \"686\"\n  },\n  {\n    \"nameES\": \"Kuwait\",\n    \"nameEN\": \"Kuwait\",\n    \"iso2\": \"KW\",\n    \"iso3\": \"KWT\",\n    \"phoneCode\": \"965\"\n  },\n  {\n    \"nameES\": \"Líbano\",\n    \"nameEN\": \"Lebanon\",\n    \"iso2\": \"LB\",\n    \"iso3\": \"LBN\",\n    \"phoneCode\": \"961\"\n  },\n  {\n    \"nameES\": \"Laos\",\n    \"nameEN\": \"Laos\",\n    \"iso2\": \"LA\",\n    \"iso3\": \"LAO\",\n    \"phoneCode\": \"856\"\n  },\n  {\n    \"nameES\": \"Lesoto\",\n    \"nameEN\": \"Lesotho\",\n    \"iso2\": \"LS\",\n    \"iso3\": \"LSO\",\n    \"phoneCode\": \"266\"\n  },\n  {\n    \"nameES\": \"Letonia\",\n    \"nameEN\": \"Latvia\",\n    \"iso2\": \"LV\",\n    \"iso3\": \"LVA\",\n    \"phoneCode\": \"371\"\n  },\n  {\n    \"nameES\": \"Liberia\",\n    \"nameEN\": \"Liberia\",\n    \"iso2\": \"LR\",\n    \"iso3\": \"LBR\",\n    \"phoneCode\": \"231\"\n  },\n  {\n    \"nameES\": \"Libia\",\n    \"nameEN\": \"Libya\",\n    \"iso2\": \"LY\",\n    \"iso3\": \"LBY\",\n    \"phoneCode\": \"218\"\n  },\n  {\n    \"nameES\": \"Liechtenstein\",\n    \"nameEN\": \"Liechtenstein\",\n    \"iso2\": \"LI\",\n    \"iso3\": \"LIE\",\n    \"phoneCode\": \"423\"\n  },\n  {\n    \"nameES\": \"Lituania\",\n    \"nameEN\": \"Lithuania\",\n    \"iso2\": \"LT\",\n    \"iso3\": \"LTU\",\n    \"phoneCode\": \"370\"\n  },\n  {\n    \"nameES\": \"Luxemburgo\",\n    \"nameEN\": \"Luxembourg\",\n    \"iso2\": \"LU\",\n    \"iso3\": \"LUX\",\n    \"phoneCode\": \"352\"\n  },\n  {\n    \"nameES\": \"México\",\n    \"nameEN\": \"Mexico\",\n    \"iso2\": \"MX\",\n    \"iso3\": \"MEX\",\n    \"phoneCode\": \"52\"\n  },\n  {\n    \"nameES\": \"Mónaco\",\n    \"nameEN\": \"Monaco\",\n    \"iso2\": \"MC\",\n    \"iso3\": \"MCO\",\n    \"phoneCode\": \"377\"\n  },\n  {\n    \"nameES\": \"Macao\",\n    \"nameEN\": \"Macao\",\n    \"iso2\": \"MO\",\n    \"iso3\": \"MAC\",\n    \"phoneCode\": \"853\"\n  },\n  {\n    \"nameES\": \"Macedônia\",\n    \"nameEN\": \"Macedonia\",\n    \"iso2\": \"MK\",\n    \"iso3\": \"MKD\",\n    \"phoneCode\": \"389\"\n  },\n  {\n    \"nameES\": \"Madagascar\",\n    \"nameEN\": \"Madagascar\",\n    \"iso2\": \"MG\",\n    \"iso3\": \"MDG\",\n    \"phoneCode\": \"261\"\n  },\n  {\n    \"nameES\": \"Malasia\",\n    \"nameEN\": \"Malaysia\",\n    \"iso2\": \"MY\",\n    \"iso3\": \"MYS\",\n    \"phoneCode\": \"60\"\n  },\n  {\n    \"nameES\": \"Malawi\",\n    \"nameEN\": \"Malawi\",\n    \"iso2\": \"MW\",\n    \"iso3\": \"MWI\",\n    \"phoneCode\": \"265\"\n  },\n  {\n    \"nameES\": \"Mali\",\n    \"nameEN\": \"Mali\",\n    \"iso2\": \"ML\",\n    \"iso3\": \"MLI\",\n    \"phoneCode\": \"223\"\n  },\n  {\n    \"nameES\": \"Malta\",\n    \"nameEN\": \"Malta\",\n    \"iso2\": \"MT\",\n    \"iso3\": \"MLT\",\n    \"phoneCode\": \"356\"\n  },\n  {\n    \"nameES\": \"Marruecos\",\n    \"nameEN\": \"Morocco\",\n    \"iso2\": \"MA\",\n    \"iso3\": \"MAR\",\n    \"phoneCode\": \"212\"\n  },\n  {\n    \"nameES\": \"Martinica\",\n    \"nameEN\": \"Martinique\",\n    \"iso2\": \"MQ\",\n    \"iso3\": \"MTQ\",\n    \"phoneCode\": \"596\"\n  },\n  {\n    \"nameES\": \"Mauricio\",\n    \"nameEN\": \"Mauritius\",\n    \"iso2\": \"MU\",\n    \"iso3\": \"MUS\",\n    \"phoneCode\": \"230\"\n  },\n  {\n    \"nameES\": \"Mauritania\",\n    \"nameEN\": \"Mauritania\",\n    \"iso2\": \"MR\",\n    \"iso3\": \"MRT\",\n    \"phoneCode\": \"222\"\n  },\n  {\n    \"nameES\": \"Mayotte\",\n    \"nameEN\": \"Mayotte\",\n    \"iso2\": \"YT\",\n    \"iso3\": \"MYT\",\n    \"phoneCode\": \"262\"\n  },\n  {\n    \"nameES\": \"Micronesia\",\n    \"nameEN\": \"Estados Federados de\",\n    \"iso2\": \"FM\",\n    \"iso3\": \"FSM\",\n    \"phoneCode\": \"691\"\n  },\n  {\n    \"nameES\": \"Moldavia\",\n    \"nameEN\": \"Moldova\",\n    \"iso2\": \"MD\",\n    \"iso3\": \"MDA\",\n    \"phoneCode\": \"373\"\n  },\n  {\n    \"nameES\": \"Mongolia\",\n    \"nameEN\": \"Mongolia\",\n    \"iso2\": \"MN\",\n    \"iso3\": \"MNG\",\n    \"phoneCode\": \"976\"\n  },\n  {\n    \"nameES\": \"Montenegro\",\n    \"nameEN\": \"Montenegro\",\n    \"iso2\": \"ME\",\n    \"iso3\": \"MNE\",\n    \"phoneCode\": \"382\"\n  },\n  {\n    \"nameES\": \"Montserrat\",\n    \"nameEN\": \"Montserrat\",\n    \"iso2\": \"MS\",\n    \"iso3\": \"MSR\",\n    \"phoneCode\": \"1 664\"\n  },\n  {\n    \"nameES\": \"Mozambique\",\n    \"nameEN\": \"Mozambique\",\n    \"iso2\": \"MZ\",\n    \"iso3\": \"MOZ\",\n    \"phoneCode\": \"258\"\n  },\n  {\n    \"nameES\": \"Namibia\",\n    \"nameEN\": \"Namibia\",\n    \"iso2\": \"NA\",\n    \"iso3\": \"NAM\",\n    \"phoneCode\": \"264\"\n  },\n  {\n    \"nameES\": \"Nauru\",\n    \"nameEN\": \"Nauru\",\n    \"iso2\": \"NR\",\n    \"iso3\": \"NRU\",\n    \"phoneCode\": \"674\"\n  },\n  {\n    \"nameES\": \"Nepal\",\n    \"nameEN\": \"Nepal\",\n    \"iso2\": \"NP\",\n    \"iso3\": \"NPL\",\n    \"phoneCode\": \"977\"\n  },\n  {\n    \"nameES\": \"Nicaragua\",\n    \"nameEN\": \"Nicaragua\",\n    \"iso2\": \"NI\",\n    \"iso3\": \"NIC\",\n    \"phoneCode\": \"505\"\n  },\n  {\n    \"nameES\": \"Niger\",\n    \"nameEN\": \"Niger\",\n    \"iso2\": \"NE\",\n    \"iso3\": \"NER\",\n    \"phoneCode\": \"227\"\n  },\n  {\n    \"nameES\": \"Nigeria\",\n    \"nameEN\": \"Nigeria\",\n    \"iso2\": \"NG\",\n    \"iso3\": \"NGA\",\n    \"phoneCode\": \"234\"\n  },\n  {\n    \"nameES\": \"Niue\",\n    \"nameEN\": \"Niue\",\n    \"iso2\": \"NU\",\n    \"iso3\": \"NIU\",\n    \"phoneCode\": \"683\"\n  },\n  {\n    \"nameES\": \"Noruega\",\n    \"nameEN\": \"Norway\",\n    \"iso2\": \"NO\",\n    \"iso3\": \"NOR\",\n    \"phoneCode\": \"47\"\n  },\n  {\n    \"nameES\": \"Nueva Caledonia\",\n    \"nameEN\": \"New Caledonia\",\n    \"iso2\": \"NC\",\n    \"iso3\": \"NCL\",\n    \"phoneCode\": \"687\"\n  },\n  {\n    \"nameES\": \"Nueva Zelanda\",\n    \"nameEN\": \"New Zealand\",\n    \"iso2\": \"NZ\",\n    \"iso3\": \"NZL\",\n    \"phoneCode\": \"64\"\n  },\n  {\n    \"nameES\": \"Omán\",\n    \"nameEN\": \"Oman\",\n    \"iso2\": \"OM\",\n    \"iso3\": \"OMN\",\n    \"phoneCode\": \"968\"\n  },\n  {\n    \"nameES\": \"Países Bajos\",\n    \"nameEN\": \"Netherlands\",\n    \"iso2\": \"NL\",\n    \"iso3\": \"NLD\",\n    \"phoneCode\": \"31\"\n  },\n  {\n    \"nameES\": \"Pakistán\",\n    \"nameEN\": \"Pakistan\",\n    \"iso2\": \"PK\",\n    \"iso3\": \"PAK\",\n    \"phoneCode\": \"92\"\n  },\n  {\n    \"nameES\": \"Palau\",\n    \"nameEN\": \"Palau\",\n    \"iso2\": \"PW\",\n    \"iso3\": \"PLW\",\n    \"phoneCode\": \"680\"\n  },\n  {\n    \"nameES\": \"Palestina\",\n    \"nameEN\": \"Palestine\",\n    \"iso2\": \"PS\",\n    \"iso3\": \"PSE\",\n    \"phoneCode\": \"970\"\n  },\n  {\n    \"nameES\": \"Panamá\",\n    \"nameEN\": \"Panama\",\n    \"iso2\": \"PA\",\n    \"iso3\": \"PAN\",\n    \"phoneCode\": \"507\"\n  },\n  {\n    \"nameES\": \"Papúa Nueva Guinea\",\n    \"nameEN\": \"Papua New Guinea\",\n    \"iso2\": \"PG\",\n    \"iso3\": \"PNG\",\n    \"phoneCode\": \"675\"\n  },\n  {\n    \"nameES\": \"Paraguay\",\n    \"nameEN\": \"Paraguay\",\n    \"iso2\": \"PY\",\n    \"iso3\": \"PRY\",\n    \"phoneCode\": \"595\"\n  },\n  {\n    \"nameES\": \"Perú\",\n    \"nameEN\": \"Peru\",\n    \"iso2\": \"PE\",\n    \"iso3\": \"PER\",\n    \"phoneCode\": \"51\"\n  },\n  {\n    \"nameES\": \"Polinesia Francesa\",\n    \"nameEN\": \"French Polynesia\",\n    \"iso2\": \"PF\",\n    \"iso3\": \"PYF\",\n    \"phoneCode\": \"689\"\n  },\n  {\n    \"nameES\": \"Polonia\",\n    \"nameEN\": \"Poland\",\n    \"iso2\": \"PL\",\n    \"iso3\": \"POL\",\n    \"phoneCode\": \"48\"\n  },\n  {\n    \"nameES\": \"Portugal\",\n    \"nameEN\": \"Portugal\",\n    \"iso2\": \"PT\",\n    \"iso3\": \"PRT\",\n    \"phoneCode\": \"351\"\n  },\n  {\n    \"nameES\": \"Puerto Rico\",\n    \"nameEN\": \"Puerto Rico\",\n    \"iso2\": \"PR\",\n    \"iso3\": \"PRI\",\n    \"phoneCode\": \"1\"\n  },\n  {\n    \"nameES\": \"Qatar\",\n    \"nameEN\": \"Qatar\",\n    \"iso2\": \"QA\",\n    \"iso3\": \"QAT\",\n    \"phoneCode\": \"974\"\n  },\n  {\n    \"nameES\": \"Reino Unido\",\n    \"nameEN\": \"United Kingdom\",\n    \"iso2\": \"GB\",\n    \"iso3\": \"GBR\",\n    \"phoneCode\": \"44\"\n  },\n  {\n    \"nameES\": \"República Centroafricana\",\n    \"nameEN\": \"Central African Republic\",\n    \"iso2\": \"CF\",\n    \"iso3\": \"CAF\",\n    \"phoneCode\": \"236\"\n  },\n  {\n    \"nameES\": \"República Checa\",\n    \"nameEN\": \"Czech Republic\",\n    \"iso2\": \"CZ\",\n    \"iso3\": \"CZE\",\n    \"phoneCode\": \"420\"\n  },\n  {\n    \"nameES\": \"República Dominicana\",\n    \"nameEN\": \"Dominican Republic\",\n    \"iso2\": \"DO\",\n    \"iso3\": \"DOM\",\n    \"phoneCode\": \"1 809\"\n  },\n  {\n    \"nameES\": \"República de Sudán del Sur\",\n    \"nameEN\": \"South Sudan\",\n    \"iso2\": \"SS\",\n    \"iso3\": \"SSD\",\n    \"phoneCode\": \"211\"\n  },\n  {\n    \"nameES\": \"Reunión\",\n    \"nameEN\": \"Réunion\",\n    \"iso2\": \"RE\",\n    \"iso3\": \"REU\",\n    \"phoneCode\": \"262\"\n  },\n  {\n    \"nameES\": \"Ruanda\",\n    \"nameEN\": \"Rwanda\",\n    \"iso2\": \"RW\",\n    \"iso3\": \"RWA\",\n    \"phoneCode\": \"250\"\n  },\n  {\n    \"nameES\": \"Rumanía\",\n    \"nameEN\": \"Romania\",\n    \"iso2\": \"RO\",\n    \"iso3\": \"ROU\",\n    \"phoneCode\": \"40\"\n  },\n  {\n    \"nameES\": \"Rusia\",\n    \"nameEN\": \"Russia\",\n    \"iso2\": \"RU\",\n    \"iso3\": \"RUS\",\n    \"phoneCode\": \"7\"\n  },\n  {\n    \"nameES\": \"Sahara Occidental\",\n    \"nameEN\": \"Western Sahara\",\n    \"iso2\": \"EH\",\n    \"iso3\": \"ESH\",\n    \"phoneCode\": \"212\"\n  },\n  {\n    \"nameES\": \"Samoa\",\n    \"nameEN\": \"Samoa\",\n    \"iso2\": \"WS\",\n    \"iso3\": \"WSM\",\n    \"phoneCode\": \"685\"\n  },\n  {\n    \"nameES\": \"Samoa Americana\",\n    \"nameEN\": \"American Samoa\",\n    \"iso2\": \"AS\",\n    \"iso3\": \"ASM\",\n    \"phoneCode\": \"1 684\"\n  },\n  {\n    \"nameES\": \"San Bartolomé\",\n    \"nameEN\": \"Saint Barthélemy\",\n    \"iso2\": \"BL\",\n    \"iso3\": \"BLM\",\n    \"phoneCode\": \"590\"\n  },\n  {\n    \"nameES\": \"San Cristóbal y Nieves\",\n    \"nameEN\": \"Saint Kitts and Nevis\",\n    \"iso2\": \"KN\",\n    \"iso3\": \"KNA\",\n    \"phoneCode\": \"1 869\"\n  },\n  {\n    \"nameES\": \"San Marino\",\n    \"nameEN\": \"San Marino\",\n    \"iso2\": \"SM\",\n    \"iso3\": \"SMR\",\n    \"phoneCode\": \"378\"\n  },\n  {\n    \"nameES\": \"San Martín (Francia)\",\n    \"nameEN\": \"Saint Martin (French part)\",\n    \"iso2\": \"MF\",\n    \"iso3\": \"MAF\",\n    \"phoneCode\": \"1 599\"\n  },\n  {\n    \"nameES\": \"San Pedro y Miquelón\",\n    \"nameEN\": \"Saint Pierre and Miquelon\",\n    \"iso2\": \"PM\",\n    \"iso3\": \"SPM\",\n    \"phoneCode\": \"508\"\n  },\n  {\n    \"nameES\": \"San Vicente y las Granadinas\",\n    \"nameEN\": \"Saint Vincent and the Grenadines\",\n    \"iso2\": \"VC\",\n    \"iso3\": \"VCT\",\n    \"phoneCode\": \"1 784\"\n  },\n  {\n    \"nameES\": \"Santa Elena\",\n    \"nameEN\": \"Ascensión y Tristán de Acuña\",\n    \"iso2\": \"SH\",\n    \"iso3\": \"SHN\",\n    \"phoneCode\": \"290\"\n  },\n  {\n    \"nameES\": \"Santa Lucía\",\n    \"nameEN\": \"Saint Lucia\",\n    \"iso2\": \"LC\",\n    \"iso3\": \"LCA\",\n    \"phoneCode\": \"1 758\"\n  },\n  {\n    \"nameES\": \"Santo Tomé y Príncipe\",\n    \"nameEN\": \"Sao Tome and Principe\",\n    \"iso2\": \"ST\",\n    \"iso3\": \"STP\",\n    \"phoneCode\": \"239\"\n  },\n  {\n    \"nameES\": \"Senegal\",\n    \"nameEN\": \"Senegal\",\n    \"iso2\": \"SN\",\n    \"iso3\": \"SEN\",\n    \"phoneCode\": \"221\"\n  },\n  {\n    \"nameES\": \"Serbia\",\n    \"nameEN\": \"Serbia\",\n    \"iso2\": \"RS\",\n    \"iso3\": \"SRB\",\n    \"phoneCode\": \"381\"\n  },\n  {\n    \"nameES\": \"Seychelles\",\n    \"nameEN\": \"Seychelles\",\n    \"iso2\": \"SC\",\n    \"iso3\": \"SYC\",\n    \"phoneCode\": \"248\"\n  },\n  {\n    \"nameES\": \"Sierra Leona\",\n    \"nameEN\": \"Sierra Leone\",\n    \"iso2\": \"SL\",\n    \"iso3\": \"SLE\",\n    \"phoneCode\": \"232\"\n  },\n  {\n    \"nameES\": \"Singapur\",\n    \"nameEN\": \"Singapore\",\n    \"iso2\": \"SG\",\n    \"iso3\": \"SGP\",\n    \"phoneCode\": \"65\"\n  },\n  {\n    \"nameES\": \"Sint Maarten\",\n    \"nameEN\": \"Sint Maarten\",\n    \"iso2\": \"SX\",\n    \"iso3\": \"SMX\",\n    \"phoneCode\": \"1 721\"\n  },\n  {\n    \"nameES\": \"Siria\",\n    \"nameEN\": \"Syria\",\n    \"iso2\": \"SY\",\n    \"iso3\": \"SYR\",\n    \"phoneCode\": \"963\"\n  },\n  {\n    \"nameES\": \"Somalia\",\n    \"nameEN\": \"Somalia\",\n    \"iso2\": \"SO\",\n    \"iso3\": \"SOM\",\n    \"phoneCode\": \"252\"\n  },\n  {\n    \"nameES\": \"Sri lanka\",\n    \"nameEN\": \"Sri Lanka\",\n    \"iso2\": \"LK\",\n    \"iso3\": \"LKA\",\n    \"phoneCode\": \"94\"\n  },\n  {\n    \"nameES\": \"Sudáfrica\",\n    \"nameEN\": \"South Africa\",\n    \"iso2\": \"ZA\",\n    \"iso3\": \"ZAF\",\n    \"phoneCode\": \"27\"\n  },\n  {\n    \"nameES\": \"Sudán\",\n    \"nameEN\": \"Sudan\",\n    \"iso2\": \"SD\",\n    \"iso3\": \"SDN\",\n    \"phoneCode\": \"249\"\n  },\n  {\n    \"nameES\": \"Suecia\",\n    \"nameEN\": \"Sweden\",\n    \"iso2\": \"SE\",\n    \"iso3\": \"SWE\",\n    \"phoneCode\": \"46\"\n  },\n  {\n    \"nameES\": \"Suiza\",\n    \"nameEN\": \"Switzerland\",\n    \"iso2\": \"CH\",\n    \"iso3\": \"CHE\",\n    \"phoneCode\": \"41\"\n  },\n  {\n    \"nameES\": \"Surinám\",\n    \"nameEN\": \"Suriname\",\n    \"iso2\": \"SR\",\n    \"iso3\": \"SUR\",\n    \"phoneCode\": \"597\"\n  },\n  {\n    \"nameES\": \"Svalbard y Jan Mayen\",\n    \"nameEN\": \"Svalbard and Jan Mayen\",\n    \"iso2\": \"SJ\",\n    \"iso3\": \"SJM\",\n    \"phoneCode\": \"47\"\n  },\n  {\n    \"nameES\": \"Swazilandia\",\n    \"nameEN\": \"Swaziland\",\n    \"iso2\": \"SZ\",\n    \"iso3\": \"SWZ\",\n    \"phoneCode\": \"268\"\n  },\n  {\n    \"nameES\": \"Tayikistán\",\n    \"nameEN\": \"Tajikistan\",\n    \"iso2\": \"TJ\",\n    \"iso3\": \"TJK\",\n    \"phoneCode\": \"992\"\n  },\n  {\n    \"nameES\": \"Tailandia\",\n    \"nameEN\": \"Thailand\",\n    \"iso2\": \"TH\",\n    \"iso3\": \"THA\",\n    \"phoneCode\": \"66\"\n  },\n  {\n    \"nameES\": \"Taiwán\",\n    \"nameEN\": \"Taiwan\",\n    \"iso2\": \"TW\",\n    \"iso3\": \"TWN\",\n    \"phoneCode\": \"886\"\n  },\n  {\n    \"nameES\": \"Tanzania\",\n    \"nameEN\": \"Tanzania\",\n    \"iso2\": \"TZ\",\n    \"iso3\": \"TZA\",\n    \"phoneCode\": \"255\"\n  },\n  {\n    \"nameES\": \"Territorio Británico del Océano Índico\",\n    \"nameEN\": \"British Indian Ocean Territory\",\n    \"iso2\": \"IO\",\n    \"iso3\": \"IOT\",\n    \"phoneCode\": \"246\"\n  },\n  {\n    \"nameES\": \"Territorios Australes y Antárticas Franceses\",\n    \"nameEN\": \"French Southern Territories\",\n    \"iso2\": \"TF\",\n    \"iso3\": \"ATF\",\n    \"phoneCode\": \"\"\n  },\n  {\n    \"nameES\": \"Timor Oriental\",\n    \"nameEN\": \"East Timor\",\n    \"iso2\": \"TL\",\n    \"iso3\": \"TLS\",\n    \"phoneCode\": \"670\"\n  },\n  {\n    \"nameES\": \"Togo\",\n    \"nameEN\": \"Togo\",\n    \"iso2\": \"TG\",\n    \"iso3\": \"TGO\",\n    \"phoneCode\": \"228\"\n  },\n  {\n    \"nameES\": \"Tokelau\",\n    \"nameEN\": \"Tokelau\",\n    \"iso2\": \"TK\",\n    \"iso3\": \"TKL\",\n    \"phoneCode\": \"690\"\n  },\n  {\n    \"nameES\": \"Tonga\",\n    \"nameEN\": \"Tonga\",\n    \"iso2\": \"TO\",\n    \"iso3\": \"TON\",\n    \"phoneCode\": \"676\"\n  },\n  {\n    \"nameES\": \"Trinidad y Tobago\",\n    \"nameEN\": \"Trinidad and Tobago\",\n    \"iso2\": \"TT\",\n    \"iso3\": \"TTO\",\n    \"phoneCode\": \"1 868\"\n  },\n  {\n    \"nameES\": \"Tunez\",\n    \"nameEN\": \"Tunisia\",\n    \"iso2\": \"TN\",\n    \"iso3\": \"TUN\",\n    \"phoneCode\": \"216\"\n  },\n  {\n    \"nameES\": \"Turkmenistán\",\n    \"nameEN\": \"Turkmenistan\",\n    \"iso2\": \"TM\",\n    \"iso3\": \"TKM\",\n    \"phoneCode\": \"993\"\n  },\n  {\n    \"nameES\": \"Turquía\",\n    \"nameEN\": \"Turkey\",\n    \"iso2\": \"TR\",\n    \"iso3\": \"TUR\",\n    \"phoneCode\": \"90\"\n  },\n  {\n    \"nameES\": \"Tuvalu\",\n    \"nameEN\": \"Tuvalu\",\n    \"iso2\": \"TV\",\n    \"iso3\": \"TUV\",\n    \"phoneCode\": \"688\"\n  },\n  {\n    \"nameES\": \"Ucrania\",\n    \"nameEN\": \"Ukraine\",\n    \"iso2\": \"UA\",\n    \"iso3\": \"UKR\",\n    \"phoneCode\": \"380\"\n  },\n  {\n    \"nameES\": \"Uganda\",\n    \"nameEN\": \"Uganda\",\n    \"iso2\": \"UG\",\n    \"iso3\": \"UGA\",\n    \"phoneCode\": \"256\"\n  },\n  {\n    \"nameES\": \"Uruguay\",\n    \"nameEN\": \"Uruguay\",\n    \"iso2\": \"UY\",\n    \"iso3\": \"URY\",\n    \"phoneCode\": \"598\"\n  },\n  {\n    \"nameES\": \"Uzbekistán\",\n    \"nameEN\": \"Uzbekistan\",\n    \"iso2\": \"UZ\",\n    \"iso3\": \"UZB\",\n    \"phoneCode\": \"998\"\n  },\n  {\n    \"nameES\": \"Vanuatu\",\n    \"nameEN\": \"Vanuatu\",\n    \"iso2\": \"VU\",\n    \"iso3\": \"VUT\",\n    \"phoneCode\": \"678\"\n  },\n  {\n    \"nameES\": \"Venezuela\",\n    \"nameEN\": \"Venezuela\",\n    \"iso2\": \"VE\",\n    \"iso3\": \"VEN\",\n    \"phoneCode\": \"58\"\n  },\n  {\n    \"nameES\": \"Vietnam\",\n    \"nameEN\": \"Vietnam\",\n    \"iso2\": \"VN\",\n    \"iso3\": \"VNM\",\n    \"phoneCode\": \"84\"\n  },\n  {\n    \"nameES\": \"Wallis y Futuna\",\n    \"nameEN\": \"Wallis and Futuna\",\n    \"iso2\": \"WF\",\n    \"iso3\": \"WLF\",\n    \"phoneCode\": \"681\"\n  },\n  {\n    \"nameES\": \"Yemen\",\n    \"nameEN\": \"Yemen\",\n    \"iso2\": \"YE\",\n    \"iso3\": \"YEM\",\n    \"phoneCode\": \"967\"\n  },\n  {\n    \"nameES\": \"Yibuti\",\n    \"nameEN\": \"Djibouti\",\n    \"iso2\": \"DJ\",\n    \"iso3\": \"DJI\",\n    \"phoneCode\": \"253\"\n  },\n  {\n    \"nameES\": \"Zambia\",\n    \"nameEN\": \"Zambia\",\n    \"iso2\": \"ZM\",\n    \"iso3\": \"ZMB\",\n    \"phoneCode\": \"260\"\n  },\n  {\n    \"nameES\": \"Zimbabue\",\n    \"nameEN\": \"Zimbabwe\",\n    \"iso2\": \"ZW\",\n    \"iso3\": \"ZWE\",\n    \"phoneCode\": \"263\"\n  }\n]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1696,
        -128
      ],
      "id": "03ea7ef4-0868-443c-ba99-fe79f8152f6c",
      "name": "paises"
    },
    {
      "parameters": {
        "fieldToSplitOut": "paises",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1904,
        -128
      ],
      "id": "abedfb3e-7c95-42bc-be99-61d2c16f0759",
      "name": "Split Out"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b1c7783e-6fcf-4d37-a94e-14a4fb2f157d",
              "name": "option",
              "value": "={{ $json.nameES }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2112,
        -128
      ],
      "id": "53f7a467-9302-4532-94c7-2ff9e8a374fb",
      "name": "formato1"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "values",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2352,
        -128
      ],
      "id": "de16d70f-0574-4012-a42d-a5296630b239",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3010fb0b-0f13-4146-bbac-2e97ee551347",
              "name": "correo_estudiante",
              "value": "={{ $('info estudiante').item.json['Correo electrónico del estudiante'] }}",
              "type": "string"
            },
            {
              "id": "f56ef4e9-c065-4e52-8692-4082c94fbf5b",
              "name": "celular_estudiante_sin_codigo_pais",
              "value": "={{ $('info estudiante').item.json['Celular del estudiante - colocar sin codigo de pais'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2784,
        -128
      ],
      "id": "48a389bf-e424-4e24-afbf-939891167a04",
      "name": "variables_1"
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "Bienvenid@ a Bioenglish!",
        "completionMessage": "=Tu inscripción se ha completado con éxito, revisa las indicaciones de como entrar a tus clases en tu correo {{ $('variables_1').item.json.correo_estudiante }} y numero de celular {{ $('variables_1').item.json.celular_estudiante_sin_codigo_pais }}.",
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.4,
      "position": [
        3328,
        192
      ],
      "id": "c7f67cbf-e8b0-417b-a177-22f96b460bc6",
      "name": "Form1",
      "webhookId": "321ce14a-d2e6-4df2-9952-590f798ee2bf"
    },
    {
      "parameters": {
        "errorMessage": "Error en escenario \"Guardar informacion de inscripcion\""
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        3600,
        192
      ],
      "id": "bd6e34ea-1f1f-434e-b478-5aade2964fbb",
      "name": "Stop and Error"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "NDODlDQBUvrwqCwc",
          "mode": "list",
          "cachedResultUrl": "/workflow/NDODlDQBUvrwqCwc",
          "cachedResultName": "Guardar informacion de inscripcion"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2992,
        -128
      ],
      "id": "26ae9d6a-e166-4d16-bd2e-89baf660a695",
      "name": "Guardar informacion de inscripcion",
      "onError": "continueErrorOutput"
    }
  ],
  "pinData": {
    "On form submission": [
      {
        "json": {
          "tipo_estudiante": "Para mí",
          "submittedAt": "2025-12-31T12:00:50.191-05:00",
          "formMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "repo_name": "n8n_backups",
  "repo_owner": "mirkoflores",
  "repo_path": "n8n",
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "3eeV0S5bC6x3HCMd"
  },
  "shared": [
    {
      "updatedAt": "2025-12-31T05:18:18.673Z",
      "createdAt": "2025-12-31T05:18:18.673Z",
      "role": "workflow:owner",
      "workflowId": "efFbgE1bYCOEbonn",
      "projectId": "axO88AWqOW8lB7Vc"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-12-31T18:27:15.282Z",
  "versionId": "699c8d4d-a679-43b4-8106-8fd207fb6894"
}