n8n/JvCG2KO7rHITJv4a.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2025-12-26T18:08:14.181Z",
    "createdAt": "2025-12-25T22:52:06.432Z",
    "versionId": "bf25b07f-91fe-4c8e-a3d4-d57ab82ed624",
    "workflowId": "JvCG2KO7rHITJv4a",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "fbbd7e9d-0813-40e4-bd86-559b18cea74d",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          0,
          0
        ],
        "id": "4e7c60c2-5d96-4635-8859-ab99615de676",
        "name": "Webhook",
        "webhookId": "fbbd7e9d-0813-40e4-bd86-559b18cea74d"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "7e88e8bc-6efd-415c-bf3f-0e019517a044",
                "name": "id_detalles_venta_airtable",
                "value": "={{ $('Webhook').item.json.body.recordId }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          208,
          0
        ],
        "id": "88baef14-acb9-46c9-80a6-59742a30ae46",
        "name": "variables_1"
      },
      {
        "parameters": {
          "authentication": "airtableOAuth2Api",
          "base": {
            "__rl": true,
            "value": "appBCL3CWLhCwIjnP",
            "mode": "list",
            "cachedResultName": "BioEnglish",
            "cachedResultUrl": "https://airtable.com/appBCL3CWLhCwIjnP"
          },
          "table": {
            "__rl": true,
            "value": "tblr6JOWFdK3kOAfo",
            "mode": "list",
            "cachedResultName": "DetalleVentas",
            "cachedResultUrl": "https://airtable.com/appBCL3CWLhCwIjnP/tblr6JOWFdK3kOAfo"
          },
          "id": "={{ $('variables_1').item.json.id_detalles_venta_airtable }}",
          "options": {}
        },
        "type": "n8n-nodes-base.airtable",
        "typeVersion": 2.1,
        "position": [
          432,
          0
        ],
        "id": "a718475d-a80c-4254-b3d0-7ec53c46d151",
        "name": "Detalles venta",
        "credentials": {
          "airtableOAuth2Api": {
            "id": "mylJqD7auLJ9sN2T",
            "name": "Bioenglish_1"
          }
        }
      },
      {
        "parameters": {
          "authentication": "airtableOAuth2Api",
          "operation": "search",
          "base": {
            "__rl": true,
            "value": "appBCL3CWLhCwIjnP",
            "mode": "list",
            "cachedResultName": "BioEnglish",
            "cachedResultUrl": "https://airtable.com/appBCL3CWLhCwIjnP"
          },
          "table": {
            "__rl": true,
            "value": "tblDjNe8g5pL5RTE2",
            "mode": "list",
            "cachedResultName": "Usuarios",
            "cachedResultUrl": "https://airtable.com/appBCL3CWLhCwIjnP/tblDjNe8g5pL5RTE2"
          },
          "filterByFormula": "=OR(\nFIND(\n\n\"{{ $('variables_2').item.json.id_clientes_airtable }}\",{id_clientes}\n)>0,\nFIND(\n\"{{ $('variables_2').item.json.id_clientes_airtable }}\",{id_clientes_2}\n)>0\n)",
          "returnAll": false,
          "limit": 1,
          "options": {}
        },
        "type": "n8n-nodes-base.airtable",
        "typeVersion": 2.1,
        "position": [
          880,
          0
        ],
        "id": "59039ea7-5b97-4534-83f9-0347dcd77e26",
        "name": "buscar registro - usuario",
        "alwaysOutputData": true,
        "credentials": {
          "airtableOAuth2Api": {
            "id": "mylJqD7auLJ9sN2T",
            "name": "Bioenglish_1"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "c557b9c8-ffba-4fd2-92da-bda8d2c36b75",
                "name": "id_clientes_airtable",
                "value": "={{ $('Detalles venta').item.json.Clientes[0] }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          640,
          0
        ],
        "id": "41c98a6f-7396-40a7-8e39-b75762969743",
        "name": "variables_2"
      },
      {
        "parameters": {
          "authentication": "airtableOAuth2Api",
          "operation": "update",
          "base": {
            "__rl": true,
            "value": "appBCL3CWLhCwIjnP",
            "mode": "list",
            "cachedResultName": "BioEnglish",
            "cachedResultUrl": "https://airtable.com/appBCL3CWLhCwIjnP"
          },
          "table": {
            "__rl": true,
            "value": "tblDjNe8g5pL5RTE2",
            "mode": "list",
            "cachedResultName": "Usuarios",
            "cachedResultUrl": "https://airtable.com/appBCL3CWLhCwIjnP/tblDjNe8g5pL5RTE2"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "No pago": true,
              "id": "={{ $json.id_usuario_airtable }}"
            },
            "matchingColumns": [
              "id"
            ],
            "schema": [
              {
                "id": "id",
                "displayName": "id",
                "required": false,
                "defaultMatch": true,
                "display": true,
                "type": "string",
                "readOnly": true,
                "removed": false
              },
              {
                "id": "ID",
                "displayName": "ID",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": true,
                "removed": true
              },
              {
                "id": "Nombre completo",
                "displayName": "Nombre completo",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Magic link",
                "displayName": "Magic link",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Email otros",
                "displayName": "Email otros",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Grupo actual (from Clientes)",
                "displayName": "Grupo actual (from Clientes)",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": true,
                "removed": true
              },
              {
                "id": "Email estudiante",
                "displayName": "Email estudiante",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": true,
                "removed": true
              },
              {
                "id": "Nombre del estudiante (from Clientes)",
                "displayName": "Nombre del estudiante (from Clientes)",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": true,
                "removed": true
              },
              {
                "id": "Clientes",
                "displayName": "Clientes",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "array",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Tipo",
                "displayName": "Tipo",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "options",
                "options": [
                  {
                    "name": "Teacher",
                    "value": "Teacher"
                  }
                ],
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Portal",
                "displayName": "Portal",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "array",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Grupo mes (from Portal)",
                "displayName": "Grupo mes (from Portal)",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": true,
                "removed": true
              },
              {
                "id": "Docente",
                "displayName": "Docente",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Portal Docente",
                "displayName": "Portal Docente",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "array",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Tarea Enunciado",
                "displayName": "Tarea Enunciado",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Tarea Respuesta",
                "displayName": "Tarea Respuesta",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "array",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Asistencia",
                "displayName": "Asistencia",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "array",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Asistencia LM",
                "displayName": "Asistencia LM",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": true,
                "removed": true
              },
              {
                "id": "Fecha (from Asistencia)",
                "displayName": "Fecha (from Asistencia)",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": true,
                "removed": true
              },
              {
                "id": "DetalleVentas",
                "displayName": "DetalleVentas",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "array",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Created",
                "displayName": "Created",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": true,
                "removed": true
              },
              {
                "id": "Asistencia 2",
                "displayName": "Asistencia 2",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "array",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Feedback",
                "displayName": "Feedback",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "array",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "DetalleVentas 2",
                "displayName": "DetalleVentas 2",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Clientes 2",
                "displayName": "Clientes 2",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "array",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "id_clientes",
                "displayName": "id_clientes",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": true,
                "removed": true
              },
              {
                "id": "id_clientes_2",
                "displayName": "id_clientes_2",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": true,
                "removed": true
              },
              {
                "id": "TEST",
                "displayName": "TEST",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": true,
                "removed": true
              },
              {
                "id": "No pago",
                "displayName": "No pago",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "boolean",
                "readOnly": false,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.airtable",
        "typeVersion": 2.1,
        "position": [
          1616,
          -112
        ],
        "id": "a7080e7c-4a20-4438-abf8-d23445871d3a",
        "name": "Update record",
        "credentials": {
          "airtableOAuth2Api": {
            "id": "mylJqD7auLJ9sN2T",
            "name": "Bioenglish_1"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "c557b9c8-ffba-4fd2-92da-bda8d2c36b75",
                "name": "id_usuario_airtable",
                "value": "={{ $('buscar registro - usuario').item.json.id }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1376,
          -112
        ],
        "id": "e24cc88d-5861-4c59-a877-397294ef6576",
        "name": "variables_3"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "a50c3f7d-5a2c-42e2-96f7-82d6f3696531",
                "leftValue": "={{ $('buscar registro - usuario').item.json.id }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1088,
          0
        ],
        "id": "8beba215-4726-4e80-86e3-41a1948f8534",
        "name": "existe?"
      },
      {
        "parameters": {
          "authentication": "nocoDbApiToken",
          "operation": "create",
          "projectId": "prkc7a6zgmy2biw",
          "table": "met6sgiz546ghb7",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldName": "id_escenario_n8n",
                "fieldValue": "={{ $execution.id }}"
              },
              {
                "fieldName": "id_automatizacion_n8n",
                "fieldValue": "={{ $workflow.id }}"
              },
              {
                "fieldName": "id_detalles_venta_airtable",
                "fieldValue": "={{ $('variables_1').item.json.id_detalles_venta_airtable }}"
              },
              {
                "fieldName": "id_clientes_airtable",
                "fieldValue": "={{ $('variables_2').item.json.id_clientes_airtable }}"
              },
              {
                "fieldName": "id_usuario_airtable"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.nocoDb",
        "typeVersion": 3,
        "position": [
          1376,
          128
        ],
        "id": "94032390-af70-47ad-ba56-ebe7d7150a05",
        "name": "Create a row",
        "credentials": {
          "nocoDbApiToken": {
            "id": "Sybr1jbACFyMMWFf",
            "name": "bio_1"
          }
        }
      },
      {
        "parameters": {
          "authentication": "nocoDbApiToken",
          "operation": "create",
          "projectId": "prkc7a6zgmy2biw",
          "table": "met6sgiz546ghb7",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldName": "id_escenario_n8n",
                "fieldValue": "={{ $execution.id }}"
              },
              {
                "fieldName": "id_automatizacion_n8n",
                "fieldValue": "={{ $workflow.id }}"
              },
              {
                "fieldName": "id_detalles_venta_airtable",
                "fieldValue": "={{ $('variables_1').item.json.id_detalles_venta_airtable }}"
              },
              {
                "fieldName": "id_clientes_airtable",
                "fieldValue": "={{ $('variables_2').item.json.id_clientes_airtable }}"
              },
              {
                "fieldName": "id_usuario_airtable",
                "fieldValue": "={{ $('variables_3').item.json.id_usuario_airtable }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.nocoDb",
        "typeVersion": 3,
        "position": [
          1856,
          -112
        ],
        "id": "1f7d8065-6171-4d34-9a8f-d9b3cb66f68d",
        "name": "Create a row1",
        "credentials": {
          "nocoDbApiToken": {
            "id": "Sybr1jbACFyMMWFf",
            "name": "bio_1"
          }
        }
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "variables_1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Detalles venta": {
        "main": [
          [
            {
              "node": "variables_2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "variables_1": {
        "main": [
          [
            {
              "node": "Detalles venta",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "variables_2": {
        "main": [
          [
            {
              "node": "buscar registro - usuario",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "buscar registro - usuario": {
        "main": [
          [
            {
              "node": "existe?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "variables_3": {
        "main": [
          [
            {
              "node": "Update record",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "existe?": {
        "main": [
          [
            {
              "node": "variables_3",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Create a row",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update record": {
        "main": [
          [
            {
              "node": "Create a row1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Bioenglish Lat",
    "name": "Version bf25b07f",
    "description": "",
    "autosaved": false
  },
  "activeVersionId": "bf25b07f-91fe-4c8e-a3d4-d57ab82ed624",
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "variables_1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detalles venta": {
      "main": [
        [
          {
            "node": "variables_2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "variables_1": {
      "main": [
        [
          {
            "node": "Detalles venta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "variables_2": {
      "main": [
        [
          {
            "node": "buscar registro - usuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "buscar registro - usuario": {
      "main": [
        [
          {
            "node": "existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "variables_3": {
      "main": [
        [
          {
            "node": "Update record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "existe?": {
      "main": [
        [
          {
            "node": "variables_3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update record": {
      "main": [
        [
          {
            "node": "Create a row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-25T18:45:27.388Z",
  "id": "JvCG2KO7rHITJv4a",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Quitar acceso si no paga",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fbbd7e9d-0813-40e4-bd86-559b18cea74d",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "4e7c60c2-5d96-4635-8859-ab99615de676",
      "name": "Webhook",
      "webhookId": "fbbd7e9d-0813-40e4-bd86-559b18cea74d"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7e88e8bc-6efd-415c-bf3f-0e019517a044",
              "name": "id_detalles_venta_airtable",
              "value": "={{ $('Webhook').item.json.body.recordId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "88baef14-acb9-46c9-80a6-59742a30ae46",
      "name": "variables_1"
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "base": {
          "__rl": true,
          "value": "appBCL3CWLhCwIjnP",
          "mode": "list",
          "cachedResultName": "BioEnglish",
          "cachedResultUrl": "https://airtable.com/appBCL3CWLhCwIjnP"
        },
        "table": {
          "__rl": true,
          "value": "tblr6JOWFdK3kOAfo",
          "mode": "list",
          "cachedResultName": "DetalleVentas",
          "cachedResultUrl": "https://airtable.com/appBCL3CWLhCwIjnP/tblr6JOWFdK3kOAfo"
        },
        "id": "={{ $('variables_1').item.json.id_detalles_venta_airtable }}",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        432,
        0
      ],
      "id": "a718475d-a80c-4254-b3d0-7ec53c46d151",
      "name": "Detalles venta",
      "credentials": {
        "airtableOAuth2Api": {
          "id": "mylJqD7auLJ9sN2T",
          "name": "Bioenglish_1"
        }
      }
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appBCL3CWLhCwIjnP",
          "mode": "list",
          "cachedResultName": "BioEnglish",
          "cachedResultUrl": "https://airtable.com/appBCL3CWLhCwIjnP"
        },
        "table": {
          "__rl": true,
          "value": "tblDjNe8g5pL5RTE2",
          "mode": "list",
          "cachedResultName": "Usuarios",
          "cachedResultUrl": "https://airtable.com/appBCL3CWLhCwIjnP/tblDjNe8g5pL5RTE2"
        },
        "filterByFormula": "=OR(\nFIND(\n\n\"{{ $('variables_2').item.json.id_clientes_airtable }}\",{id_clientes}\n)>0,\nFIND(\n\"{{ $('variables_2').item.json.id_clientes_airtable }}\",{id_clientes_2}\n)>0\n)",
        "returnAll": false,
        "limit": 1,
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        880,
        0
      ],
      "id": "59039ea7-5b97-4534-83f9-0347dcd77e26",
      "name": "buscar registro - usuario",
      "alwaysOutputData": true,
      "credentials": {
        "airtableOAuth2Api": {
          "id": "mylJqD7auLJ9sN2T",
          "name": "Bioenglish_1"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c557b9c8-ffba-4fd2-92da-bda8d2c36b75",
              "name": "id_clientes_airtable",
              "value": "={{ $('Detalles venta').item.json.Clientes[0] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        640,
        0
      ],
      "id": "41c98a6f-7396-40a7-8e39-b75762969743",
      "name": "variables_2"
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appBCL3CWLhCwIjnP",
          "mode": "list",
          "cachedResultName": "BioEnglish",
          "cachedResultUrl": "https://airtable.com/appBCL3CWLhCwIjnP"
        },
        "table": {
          "__rl": true,
          "value": "tblDjNe8g5pL5RTE2",
          "mode": "list",
          "cachedResultName": "Usuarios",
          "cachedResultUrl": "https://airtable.com/appBCL3CWLhCwIjnP/tblDjNe8g5pL5RTE2"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "No pago": true,
            "id": "={{ $json.id_usuario_airtable }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Nombre completo",
              "displayName": "Nombre completo",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Magic link",
              "displayName": "Magic link",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email otros",
              "displayName": "Email otros",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Grupo actual (from Clientes)",
              "displayName": "Grupo actual (from Clientes)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Email estudiante",
              "displayName": "Email estudiante",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Nombre del estudiante (from Clientes)",
              "displayName": "Nombre del estudiante (from Clientes)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Clientes",
              "displayName": "Clientes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Tipo",
              "displayName": "Tipo",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Teacher",
                  "value": "Teacher"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Portal",
              "displayName": "Portal",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Grupo mes (from Portal)",
              "displayName": "Grupo mes (from Portal)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Docente",
              "displayName": "Docente",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Portal Docente",
              "displayName": "Portal Docente",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Tarea Enunciado",
              "displayName": "Tarea Enunciado",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Tarea Respuesta",
              "displayName": "Tarea Respuesta",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Asistencia",
              "displayName": "Asistencia",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Asistencia LM",
              "displayName": "Asistencia LM",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Fecha (from Asistencia)",
              "displayName": "Fecha (from Asistencia)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "DetalleVentas",
              "displayName": "DetalleVentas",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Created",
              "displayName": "Created",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Asistencia 2",
              "displayName": "Asistencia 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Feedback",
              "displayName": "Feedback",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "DetalleVentas 2",
              "displayName": "DetalleVentas 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Clientes 2",
              "displayName": "Clientes 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "id_clientes",
              "displayName": "id_clientes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "id_clientes_2",
              "displayName": "id_clientes_2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "TEST",
              "displayName": "TEST",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "No pago",
              "displayName": "No pago",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1616,
        -112
      ],
      "id": "a7080e7c-4a20-4438-abf8-d23445871d3a",
      "name": "Update record",
      "credentials": {
        "airtableOAuth2Api": {
          "id": "mylJqD7auLJ9sN2T",
          "name": "Bioenglish_1"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c557b9c8-ffba-4fd2-92da-bda8d2c36b75",
              "name": "id_usuario_airtable",
              "value": "={{ $('buscar registro - usuario').item.json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1376,
        -112
      ],
      "id": "e24cc88d-5861-4c59-a877-397294ef6576",
      "name": "variables_3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a50c3f7d-5a2c-42e2-96f7-82d6f3696531",
              "leftValue": "={{ $('buscar registro - usuario').item.json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1088,
        0
      ],
      "id": "8beba215-4726-4e80-86e3-41a1948f8534",
      "name": "existe?"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "create",
        "projectId": "prkc7a6zgmy2biw",
        "table": "met6sgiz546ghb7",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "id_escenario_n8n",
              "fieldValue": "={{ $execution.id }}"
            },
            {
              "fieldName": "id_automatizacion_n8n",
              "fieldValue": "={{ $workflow.id }}"
            },
            {
              "fieldName": "id_detalles_venta_airtable",
              "fieldValue": "={{ $('variables_1').item.json.id_detalles_venta_airtable }}"
            },
            {
              "fieldName": "id_clientes_airtable",
              "fieldValue": "={{ $('variables_2').item.json.id_clientes_airtable }}"
            },
            {
              "fieldName": "id_usuario_airtable"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        1376,
        128
      ],
      "id": "94032390-af70-47ad-ba56-ebe7d7150a05",
      "name": "Create a row",
      "credentials": {
        "nocoDbApiToken": {
          "id": "Sybr1jbACFyMMWFf",
          "name": "bio_1"
        }
      }
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "create",
        "projectId": "prkc7a6zgmy2biw",
        "table": "met6sgiz546ghb7",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "id_escenario_n8n",
              "fieldValue": "={{ $execution.id }}"
            },
            {
              "fieldName": "id_automatizacion_n8n",
              "fieldValue": "={{ $workflow.id }}"
            },
            {
              "fieldName": "id_detalles_venta_airtable",
              "fieldValue": "={{ $('variables_1').item.json.id_detalles_venta_airtable }}"
            },
            {
              "fieldName": "id_clientes_airtable",
              "fieldValue": "={{ $('variables_2').item.json.id_clientes_airtable }}"
            },
            {
              "fieldName": "id_usuario_airtable",
              "fieldValue": "={{ $('variables_3').item.json.id_usuario_airtable }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        1856,
        -112
      ],
      "id": "1f7d8065-6171-4d34-9a8f-d9b3cb66f68d",
      "name": "Create a row1",
      "credentials": {
        "nocoDbApiToken": {
          "id": "Sybr1jbACFyMMWFf",
          "name": "bio_1"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "primary-production-55a73.up.railway.app",
            "user-agent": "Mozilla/5.0 (compatible; AirtableScripting; +https://airtable.com/developers/scripting;)",
            "content-length": "32",
            "accept": "*/*",
            "accept-encoding": "gzip,deflate",
            "content-type": "application/json",
            "x-airtable-source": "appBCL3CWLhCwIjnP/wflPceQWVpvNbelUW",
            "x-forwarded-for": "18.209.168.158",
            "x-forwarded-host": "primary-production-55a73.up.railway.app",
            "x-forwarded-proto": "https",
            "x-railway-edge": "railway/us-east4-eqdc4a",
            "x-railway-request-id": "sWT3nGUIRUqCHAG9Cx5-qw",
            "x-real-ip": "18.209.168.158",
            "x-request-start": "1766701149065"
          },
          "params": {},
          "query": {},
          "body": {
            "recordId": "reciXhL5RxzDcpw2v"
          },
          "webhookUrl": "https://primary-production-55a73.up.railway.app/webhook/fbbd7e9d-0813-40e4-bd86-559b18cea74d",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "repo_name": "n8n_backups",
  "repo_owner": "mirkoflores",
  "repo_path": "n8n",
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "3eeV0S5bC6x3HCMd"
  },
  "shared": [
    {
      "updatedAt": "2025-12-25T18:45:27.388Z",
      "createdAt": "2025-12-25T18:45:27.388Z",
      "role": "workflow:owner",
      "workflowId": "JvCG2KO7rHITJv4a",
      "projectId": "axO88AWqOW8lB7Vc"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-12-25T22:52:06.429Z",
  "versionId": "bf25b07f-91fe-4c8e-a3d4-d57ab82ed624"
}