n8n/VKL8pPTOJRCGOy5R.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-01-01T17:56:04.669Z",
    "createdAt": "2026-01-01T17:56:03.102Z",
    "versionId": "11e44bd2-e6c4-416f-8b67-f3572ac60cbc",
    "workflowId": "VKL8pPTOJRCGOy5R",
    "nodes": [
      {
        "parameters": {
          "mode": "raw",
          "jsonOutput": "{\n  \"paises\":[\n  {\n    \"nameES\": \"Afganistán\",\n    \"nameEN\": \"Afghanistan\",\n    \"iso2\": \"AF\",\n    \"iso3\": \"AFG\",\n    \"phoneCode\": \"93\"\n  },\n  {\n    \"nameES\": \"Albania\",\n    \"nameEN\": \"Albania\",\n    \"iso2\": \"AL\",\n    \"iso3\": \"ALB\",\n    \"phoneCode\": \"355\"\n  },\n  {\n    \"nameES\": \"Alemania\",\n    \"nameEN\": \"Germany\",\n    \"iso2\": \"DE\",\n    \"iso3\": \"DEU\",\n    \"phoneCode\": \"49\"\n  },\n  {\n    \"nameES\": \"Andorra\",\n    \"nameEN\": \"Andorra\",\n    \"iso2\": \"AD\",\n    \"iso3\": \"AND\",\n    \"phoneCode\": \"376\"\n  },\n  {\n    \"nameES\": \"Angola\",\n    \"nameEN\": \"Angola\",\n    \"iso2\": \"AO\",\n    \"iso3\": \"AGO\",\n    \"phoneCode\": \"244\"\n  },\n  {\n    \"nameES\": \"Anguila\",\n    \"nameEN\": \"Anguilla\",\n    \"iso2\": \"AI\",\n    \"iso3\": \"AIA\",\n    \"phoneCode\": \"1 264\"\n  },\n  {\n    \"nameES\": \"Antártida\",\n    \"nameEN\": \"Antarctica\",\n    \"iso2\": \"AQ\",\n    \"iso3\": \"ATA\",\n    \"phoneCode\": \"672\"\n  },\n  {\n    \"nameES\": \"Antigua y Barbuda\",\n    \"nameEN\": \"Antigua and Barbuda\",\n    \"iso2\": \"AG\",\n    \"iso3\": \"ATG\",\n    \"phoneCode\": \"1 268\"\n  },\n  {\n    \"nameES\": \"Arabia Saudita\",\n    \"nameEN\": \"Saudi Arabia\",\n    \"iso2\": \"SA\",\n    \"iso3\": \"SAU\",\n    \"phoneCode\": \"966\"\n  },\n  {\n    \"nameES\": \"Argelia\",\n    \"nameEN\": \"Algeria\",\n    \"iso2\": \"DZ\",\n    \"iso3\": \"DZA\",\n    \"phoneCode\": \"213\"\n  },\n  {\n    \"nameES\": \"Argentina\",\n    \"nameEN\": \"Argentina\",\n    \"iso2\": \"AR\",\n    \"iso3\": \"ARG\",\n    \"phoneCode\": \"54\"\n  },\n  {\n    \"nameES\": \"Armenia\",\n    \"nameEN\": \"Armenia\",\n    \"iso2\": \"AM\",\n    \"iso3\": \"ARM\",\n    \"phoneCode\": \"374\"\n  },\n  {\n    \"nameES\": \"Aruba\",\n    \"nameEN\": \"Aruba\",\n    \"iso2\": \"AW\",\n    \"iso3\": \"ABW\",\n    \"phoneCode\": \"297\"\n  },\n  {\n    \"nameES\": \"Australia\",\n    \"nameEN\": \"Australia\",\n    \"iso2\": \"AU\",\n    \"iso3\": \"AUS\",\n    \"phoneCode\": \"61\"\n  },\n  {\n    \"nameES\": \"Austria\",\n    \"nameEN\": \"Austria\",\n    \"iso2\": \"AT\",\n    \"iso3\": \"AUT\",\n    \"phoneCode\": \"43\"\n  },\n  {\n    \"nameES\": \"Azerbaiyán\",\n    \"nameEN\": \"Azerbaijan\",\n    \"iso2\": \"AZ\",\n    \"iso3\": \"AZE\",\n    \"phoneCode\": \"994\"\n  },\n  {\n    \"nameES\": \"Bélgica\",\n    \"nameEN\": \"Belgium\",\n    \"iso2\": \"BE\",\n    \"iso3\": \"BEL\",\n    \"phoneCode\": \"32\"\n  },\n  {\n    \"nameES\": \"Bahamas\",\n    \"nameEN\": \"Bahamas\",\n    \"iso2\": \"BS\",\n    \"iso3\": \"BHS\",\n    \"phoneCode\": \"1 242\"\n  },\n  {\n    \"nameES\": \"Bahrein\",\n    \"nameEN\": \"Bahrain\",\n    \"iso2\": \"BH\",\n    \"iso3\": \"BHR\",\n    \"phoneCode\": \"973\"\n  },\n  {\n    \"nameES\": \"Bangladesh\",\n    \"nameEN\": \"Bangladesh\",\n    \"iso2\": \"BD\",\n    \"iso3\": \"BGD\",\n    \"phoneCode\": \"880\"\n  },\n  {\n    \"nameES\": \"Barbados\",\n    \"nameEN\": \"Barbados\",\n    \"iso2\": \"BB\",\n    \"iso3\": \"BRB\",\n    \"phoneCode\": \"1 246\"\n  },\n  {\n    \"nameES\": \"Belice\",\n    \"nameEN\": \"Belize\",\n    \"iso2\": \"BZ\",\n    \"iso3\": \"BLZ\",\n    \"phoneCode\": \"501\"\n  },\n  {\n    \"nameES\": \"Benín\",\n    \"nameEN\": \"Benin\",\n    \"iso2\": \"BJ\",\n    \"iso3\": \"BEN\",\n    \"phoneCode\": \"229\"\n  },\n  {\n    \"nameES\": \"Bhután\",\n    \"nameEN\": \"Bhutan\",\n    \"iso2\": \"BT\",\n    \"iso3\": \"BTN\",\n    \"phoneCode\": \"975\"\n  },\n  {\n    \"nameES\": \"Bielorrusia\",\n    \"nameEN\": \"Belarus\",\n    \"iso2\": \"BY\",\n    \"iso3\": \"BLR\",\n    \"phoneCode\": \"375\"\n  },\n  {\n    \"nameES\": \"Birmania\",\n    \"nameEN\": \"Myanmar\",\n    \"iso2\": \"MM\",\n    \"iso3\": \"MMR\",\n    \"phoneCode\": \"95\"\n  },\n  {\n    \"nameES\": \"Bolivia\",\n    \"nameEN\": \"Bolivia\",\n    \"iso2\": \"BO\",\n    \"iso3\": \"BOL\",\n    \"phoneCode\": \"591\"\n  },\n  {\n    \"nameES\": \"Bosnia y Herzegovina\",\n    \"nameEN\": \"Bosnia and Herzegovina\",\n    \"iso2\": \"BA\",\n    \"iso3\": \"BIH\",\n    \"phoneCode\": \"387\"\n  },\n  {\n    \"nameES\": \"Botsuana\",\n    \"nameEN\": \"Botswana\",\n    \"iso2\": \"BW\",\n    \"iso3\": \"BWA\",\n    \"phoneCode\": \"267\"\n  },\n  {\n    \"nameES\": \"Brasil\",\n    \"nameEN\": \"Brazil\",\n    \"iso2\": \"BR\",\n    \"iso3\": \"BRA\",\n    \"phoneCode\": \"55\"\n  },\n  {\n    \"nameES\": \"Brunéi\",\n    \"nameEN\": \"Brunei\",\n    \"iso2\": \"BN\",\n    \"iso3\": \"BRN\",\n    \"phoneCode\": \"673\"\n  },\n  {\n    \"nameES\": \"Bulgaria\",\n    \"nameEN\": \"Bulgaria\",\n    \"iso2\": \"BG\",\n    \"iso3\": \"BGR\",\n    \"phoneCode\": \"359\"\n  },\n  {\n    \"nameES\": \"Burkina Faso\",\n    \"nameEN\": \"Burkina Faso\",\n    \"iso2\": \"BF\",\n    \"iso3\": \"BFA\",\n    \"phoneCode\": \"226\"\n  },\n  {\n    \"nameES\": \"Burundi\",\n    \"nameEN\": \"Burundi\",\n    \"iso2\": \"BI\",\n    \"iso3\": \"BDI\",\n    \"phoneCode\": \"257\"\n  },\n  {\n    \"nameES\": \"Cabo Verde\",\n    \"nameEN\": \"Cape Verde\",\n    \"iso2\": \"CV\",\n    \"iso3\": \"CPV\",\n    \"phoneCode\": \"238\"\n  },\n  {\n    \"nameES\": \"Camboya\",\n    \"nameEN\": \"Cambodia\",\n    \"iso2\": \"KH\",\n    \"iso3\": \"KHM\",\n    \"phoneCode\": \"855\"\n  },\n  {\n    \"nameES\": \"Camerún\",\n    \"nameEN\": \"Cameroon\",\n    \"iso2\": \"CM\",\n    \"iso3\": \"CMR\",\n    \"phoneCode\": \"237\"\n  },\n  {\n    \"nameES\": \"Canadá\",\n    \"nameEN\": \"Canada\",\n    \"iso2\": \"CA\",\n    \"iso3\": \"CAN\",\n    \"phoneCode\": \"1\"\n  },\n  {\n    \"nameES\": \"Chad\",\n    \"nameEN\": \"Chad\",\n    \"iso2\": \"TD\",\n    \"iso3\": \"TCD\",\n    \"phoneCode\": \"235\"\n  },\n  {\n    \"nameES\": \"Chile\",\n    \"nameEN\": \"Chile\",\n    \"iso2\": \"CL\",\n    \"iso3\": \"CHL\",\n    \"phoneCode\": \"56\"\n  },\n  {\n    \"nameES\": \"China\",\n    \"nameEN\": \"China\",\n    \"iso2\": \"CN\",\n    \"iso3\": \"CHN\",\n    \"phoneCode\": \"86\"\n  },\n  {\n    \"nameES\": \"Chipre\",\n    \"nameEN\": \"Cyprus\",\n    \"iso2\": \"CY\",\n    \"iso3\": \"CYP\",\n    \"phoneCode\": \"357\"\n  },\n  {\n    \"nameES\": \"Ciudad del Vaticano\",\n    \"nameEN\": \"Vatican City State\",\n    \"iso2\": \"VA\",\n    \"iso3\": \"VAT\",\n    \"phoneCode\": \"39\"\n  },\n  {\n    \"nameES\": \"Colombia\",\n    \"nameEN\": \"Colombia\",\n    \"iso2\": \"CO\",\n    \"iso3\": \"COL\",\n    \"phoneCode\": \"57\"\n  },\n  {\n    \"nameES\": \"Comoras\",\n    \"nameEN\": \"Comoros\",\n    \"iso2\": \"KM\",\n    \"iso3\": \"COM\",\n    \"phoneCode\": \"269\"\n  },\n  {\n    \"nameES\": \"República del Congo\",\n    \"nameEN\": \"Republic of the Congo\",\n    \"iso2\": \"CG\",\n    \"iso3\": \"COG\",\n    \"phoneCode\": \"242\"\n  },\n  {\n    \"nameES\": \"República Democrática del Congo\",\n    \"nameEN\": \"Democratic Republic of the Congo\",\n    \"iso2\": \"CD\",\n    \"iso3\": \"COD\",\n    \"phoneCode\": \"243\"\n  },\n  {\n    \"nameES\": \"Corea del Norte\",\n    \"nameEN\": \"North Korea\",\n    \"iso2\": \"KP\",\n    \"iso3\": \"PRK\",\n    \"phoneCode\": \"850\"\n  },\n  {\n    \"nameES\": \"Corea del Sur\",\n    \"nameEN\": \"South Korea\",\n    \"iso2\": \"KR\",\n    \"iso3\": \"KOR\",\n    \"phoneCode\": \"82\"\n  },\n  {\n    \"nameES\": \"Costa de Marfil\",\n    \"nameEN\": \"Ivory Coast\",\n    \"iso2\": \"CI\",\n    \"iso3\": \"CIV\",\n    \"phoneCode\": \"225\"\n  },\n  {\n    \"nameES\": \"Costa Rica\",\n    \"nameEN\": \"Costa Rica\",\n    \"iso2\": \"CR\",\n    \"iso3\": \"CRI\",\n    \"phoneCode\": \"506\"\n  },\n  {\n    \"nameES\": \"Croacia\",\n    \"nameEN\": \"Croatia\",\n    \"iso2\": \"HR\",\n    \"iso3\": \"HRV\",\n    \"phoneCode\": \"385\"\n  },\n  {\n    \"nameES\": \"Cuba\",\n    \"nameEN\": \"Cuba\",\n    \"iso2\": \"CU\",\n    \"iso3\": \"CUB\",\n    \"phoneCode\": \"53\"\n  },\n  {\n    \"nameES\": \"Curazao\",\n    \"nameEN\": \"Curaçao\",\n    \"iso2\": \"CW\",\n    \"iso3\": \"CWU\",\n    \"phoneCode\": \"5999\"\n  },\n  {\n    \"nameES\": \"Dinamarca\",\n    \"nameEN\": \"Denmark\",\n    \"iso2\": \"DK\",\n    \"iso3\": \"DNK\",\n    \"phoneCode\": \"45\"\n  },\n  {\n    \"nameES\": \"Dominica\",\n    \"nameEN\": \"Dominica\",\n    \"iso2\": \"DM\",\n    \"iso3\": \"DMA\",\n    \"phoneCode\": \"1 767\"\n  },\n  {\n    \"nameES\": \"Ecuador\",\n    \"nameEN\": \"Ecuador\",\n    \"iso2\": \"EC\",\n    \"iso3\": \"ECU\",\n    \"phoneCode\": \"593\"\n  },\n  {\n    \"nameES\": \"Egipto\",\n    \"nameEN\": \"Egypt\",\n    \"iso2\": \"EG\",\n    \"iso3\": \"EGY\",\n    \"phoneCode\": \"20\"\n  },\n  {\n    \"nameES\": \"El Salvador\",\n    \"nameEN\": \"El Salvador\",\n    \"iso2\": \"SV\",\n    \"iso3\": \"SLV\",\n    \"phoneCode\": \"503\"\n  },\n  {\n    \"nameES\": \"Emiratos Árabes Unidos\",\n    \"nameEN\": \"United Arab Emirates\",\n    \"iso2\": \"AE\",\n    \"iso3\": \"ARE\",\n    \"phoneCode\": \"971\"\n  },\n  {\n    \"nameES\": \"Eritrea\",\n    \"nameEN\": \"Eritrea\",\n    \"iso2\": \"ER\",\n    \"iso3\": \"ERI\",\n    \"phoneCode\": \"291\"\n  },\n  {\n    \"nameES\": \"Eslovaquia\",\n    \"nameEN\": \"Slovakia\",\n    \"iso2\": \"SK\",\n    \"iso3\": \"SVK\",\n    \"phoneCode\": \"421\"\n  },\n  {\n    \"nameES\": \"Eslovenia\",\n    \"nameEN\": \"Slovenia\",\n    \"iso2\": \"SI\",\n    \"iso3\": \"SVN\",\n    \"phoneCode\": \"386\"\n  },\n  {\n    \"nameES\": \"España\",\n    \"nameEN\": \"Spain\",\n    \"iso2\": \"ES\",\n    \"iso3\": \"ESP\",\n    \"phoneCode\": \"34\"\n  },\n  {\n    \"nameES\": \"Estados Unidos de América\",\n    \"nameEN\": \"United States of America\",\n    \"iso2\": \"US\",\n    \"iso3\": \"USA\",\n    \"phoneCode\": \"1\"\n  },\n  {\n    \"nameES\": \"Estonia\",\n    \"nameEN\": \"Estonia\",\n    \"iso2\": \"EE\",\n    \"iso3\": \"EST\",\n    \"phoneCode\": \"372\"\n  },\n  {\n    \"nameES\": \"Etiopía\",\n    \"nameEN\": \"Ethiopia\",\n    \"iso2\": \"ET\",\n    \"iso3\": \"ETH\",\n    \"phoneCode\": \"251\"\n  },\n  {\n    \"nameES\": \"Filipinas\",\n    \"nameEN\": \"Philippines\",\n    \"iso2\": \"PH\",\n    \"iso3\": \"PHL\",\n    \"phoneCode\": \"63\"\n  },\n  {\n    \"nameES\": \"Finlandia\",\n    \"nameEN\": \"Finland\",\n    \"iso2\": \"FI\",\n    \"iso3\": \"FIN\",\n    \"phoneCode\": \"358\"\n  },\n  {\n    \"nameES\": \"Fiyi\",\n    \"nameEN\": \"Fiji\",\n    \"iso2\": \"FJ\",\n    \"iso3\": \"FJI\",\n    \"phoneCode\": \"679\"\n  },\n  {\n    \"nameES\": \"Francia\",\n    \"nameEN\": \"France\",\n    \"iso2\": \"FR\",\n    \"iso3\": \"FRA\",\n    \"phoneCode\": \"33\"\n  },\n  {\n    \"nameES\": \"Gabón\",\n    \"nameEN\": \"Gabon\",\n    \"iso2\": \"GA\",\n    \"iso3\": \"GAB\",\n    \"phoneCode\": \"241\"\n  },\n  {\n    \"nameES\": \"Gambia\",\n    \"nameEN\": \"Gambia\",\n    \"iso2\": \"GM\",\n    \"iso3\": \"GMB\",\n    \"phoneCode\": \"220\"\n  },\n  {\n    \"nameES\": \"Georgia\",\n    \"nameEN\": \"Georgia\",\n    \"iso2\": \"GE\",\n    \"iso3\": \"GEO\",\n    \"phoneCode\": \"995\"\n  },\n  {\n    \"nameES\": \"Ghana\",\n    \"nameEN\": \"Ghana\",\n    \"iso2\": \"GH\",\n    \"iso3\": \"GHA\",\n    \"phoneCode\": \"233\"\n  },\n  {\n    \"nameES\": \"Gibraltar\",\n    \"nameEN\": \"Gibraltar\",\n    \"iso2\": \"GI\",\n    \"iso3\": \"GIB\",\n    \"phoneCode\": \"350\"\n  },\n  {\n    \"nameES\": \"Granada\",\n    \"nameEN\": \"Grenada\",\n    \"iso2\": \"GD\",\n    \"iso3\": \"GRD\",\n    \"phoneCode\": \"1 473\"\n  },\n  {\n    \"nameES\": \"Grecia\",\n    \"nameEN\": \"Greece\",\n    \"iso2\": \"GR\",\n    \"iso3\": \"GRC\",\n    \"phoneCode\": \"30\"\n  },\n  {\n    \"nameES\": \"Groenlandia\",\n    \"nameEN\": \"Greenland\",\n    \"iso2\": \"GL\",\n    \"iso3\": \"GRL\",\n    \"phoneCode\": \"299\"\n  },\n  {\n    \"nameES\": \"Guadalupe\",\n    \"nameEN\": \"Guadeloupe\",\n    \"iso2\": \"GP\",\n    \"iso3\": \"GLP\",\n    \"phoneCode\": \"590\"\n  },\n  {\n    \"nameES\": \"Guam\",\n    \"nameEN\": \"Guam\",\n    \"iso2\": \"GU\",\n    \"iso3\": \"GUM\",\n    \"phoneCode\": \"1 671\"\n  },\n  {\n    \"nameES\": \"Guatemala\",\n    \"nameEN\": \"Guatemala\",\n    \"iso2\": \"GT\",\n    \"iso3\": \"GTM\",\n    \"phoneCode\": \"502\"\n  },\n  {\n    \"nameES\": \"Guayana Francesa\",\n    \"nameEN\": \"French Guiana\",\n    \"iso2\": \"GF\",\n    \"iso3\": \"GUF\",\n    \"phoneCode\": \"594\"\n  },\n  {\n    \"nameES\": \"Guernsey\",\n    \"nameEN\": \"Guernsey\",\n    \"iso2\": \"GG\",\n    \"iso3\": \"GGY\",\n    \"phoneCode\": \"44\"\n  },\n  {\n    \"nameES\": \"Guinea\",\n    \"nameEN\": \"Guinea\",\n    \"iso2\": \"GN\",\n    \"iso3\": \"GIN\",\n    \"phoneCode\": \"224\"\n  },\n  {\n    \"nameES\": \"Guinea Ecuatorial\",\n    \"nameEN\": \"Equatorial Guinea\",\n    \"iso2\": \"GQ\",\n    \"iso3\": \"GNQ\",\n    \"phoneCode\": \"240\"\n  },\n  {\n    \"nameES\": \"Guinea-Bissau\",\n    \"nameEN\": \"Guinea-Bissau\",\n    \"iso2\": \"GW\",\n    \"iso3\": \"GNB\",\n    \"phoneCode\": \"245\"\n  },\n  {\n    \"nameES\": \"Guyana\",\n    \"nameEN\": \"Guyana\",\n    \"iso2\": \"GY\",\n    \"iso3\": \"GUY\",\n    \"phoneCode\": \"592\"\n  },\n  {\n    \"nameES\": \"Haití\",\n    \"nameEN\": \"Haiti\",\n    \"iso2\": \"HT\",\n    \"iso3\": \"HTI\",\n    \"phoneCode\": \"509\"\n  },\n  {\n    \"nameES\": \"Honduras\",\n    \"nameEN\": \"Honduras\",\n    \"iso2\": \"HN\",\n    \"iso3\": \"HND\",\n    \"phoneCode\": \"504\"\n  },\n  {\n    \"nameES\": \"Hong kong\",\n    \"nameEN\": \"Hong Kong\",\n    \"iso2\": \"HK\",\n    \"iso3\": \"HKG\",\n    \"phoneCode\": \"852\"\n  },\n  {\n    \"nameES\": \"Hungría\",\n    \"nameEN\": \"Hungary\",\n    \"iso2\": \"HU\",\n    \"iso3\": \"HUN\",\n    \"phoneCode\": \"36\"\n  },\n  {\n    \"nameES\": \"India\",\n    \"nameEN\": \"India\",\n    \"iso2\": \"IN\",\n    \"iso3\": \"IND\",\n    \"phoneCode\": \"91\"\n  },\n  {\n    \"nameES\": \"Indonesia\",\n    \"nameEN\": \"Indonesia\",\n    \"iso2\": \"ID\",\n    \"iso3\": \"IDN\",\n    \"phoneCode\": \"62\"\n  },\n  {\n    \"nameES\": \"Irán\",\n    \"nameEN\": \"Iran\",\n    \"iso2\": \"IR\",\n    \"iso3\": \"IRN\",\n    \"phoneCode\": \"98\"\n  },\n  {\n    \"nameES\": \"Irak\",\n    \"nameEN\": \"Iraq\",\n    \"iso2\": \"IQ\",\n    \"iso3\": \"IRQ\",\n    \"phoneCode\": \"964\"\n  },\n  {\n    \"nameES\": \"Irlanda\",\n    \"nameEN\": \"Ireland\",\n    \"iso2\": \"IE\",\n    \"iso3\": \"IRL\",\n    \"phoneCode\": \"353\"\n  },\n  {\n    \"nameES\": \"Isla Bouvet\",\n    \"nameEN\": \"Bouvet Island\",\n    \"iso2\": \"BV\",\n    \"iso3\": \"BVT\",\n    \"phoneCode\": \"\"\n  },\n  {\n    \"nameES\": \"Isla de Man\",\n    \"nameEN\": \"Isle of Man\",\n    \"iso2\": \"IM\",\n    \"iso3\": \"IMN\",\n    \"phoneCode\": \"44\"\n  },\n  {\n    \"nameES\": \"Isla de Navidad\",\n    \"nameEN\": \"Christmas Island\",\n    \"iso2\": \"CX\",\n    \"iso3\": \"CXR\",\n    \"phoneCode\": \"61\"\n  },\n  {\n    \"nameES\": \"Isla Norfolk\",\n    \"nameEN\": \"Norfolk Island\",\n    \"iso2\": \"NF\",\n    \"iso3\": \"NFK\",\n    \"phoneCode\": \"672\"\n  },\n  {\n    \"nameES\": \"Islandia\",\n    \"nameEN\": \"Iceland\",\n    \"iso2\": \"IS\",\n    \"iso3\": \"ISL\",\n    \"phoneCode\": \"354\"\n  },\n  {\n    \"nameES\": \"Islas Bermudas\",\n    \"nameEN\": \"Bermuda Islands\",\n    \"iso2\": \"BM\",\n    \"iso3\": \"BMU\",\n    \"phoneCode\": \"1 441\"\n  },\n  {\n    \"nameES\": \"Islas Caimán\",\n    \"nameEN\": \"Cayman Islands\",\n    \"iso2\": \"KY\",\n    \"iso3\": \"CYM\",\n    \"phoneCode\": \"1 345\"\n  },\n  {\n    \"nameES\": \"Islas Cocos (Keeling)\",\n    \"nameEN\": \"Cocos (Keeling) Islands\",\n    \"iso2\": \"CC\",\n    \"iso3\": \"CCK\",\n    \"phoneCode\": \"61\"\n  },\n  {\n    \"nameES\": \"Islas Cook\",\n    \"nameEN\": \"Cook Islands\",\n    \"iso2\": \"CK\",\n    \"iso3\": \"COK\",\n    \"phoneCode\": \"682\"\n  },\n  {\n    \"nameES\": \"Islas de Åland\",\n    \"nameEN\": \"Åland Islands\",\n    \"iso2\": \"AX\",\n    \"iso3\": \"ALA\",\n    \"phoneCode\": \"358\"\n  },\n  {\n    \"nameES\": \"Islas Feroe\",\n    \"nameEN\": \"Faroe Islands\",\n    \"iso2\": \"FO\",\n    \"iso3\": \"FRO\",\n    \"phoneCode\": \"298\"\n  },\n  {\n    \"nameES\": \"Islas Georgias del Sur y Sandwich del Sur\",\n    \"nameEN\": \"South Georgia and the South Sandwich Islands\",\n    \"iso2\": \"GS\",\n    \"iso3\": \"SGS\",\n    \"phoneCode\": \"500\"\n  },\n  {\n    \"nameES\": \"Islas Heard y McDonald\",\n    \"nameEN\": \"Heard Island and McDonald Islands\",\n    \"iso2\": \"HM\",\n    \"iso3\": \"HMD\",\n    \"phoneCode\": \"\"\n  },\n  {\n    \"nameES\": \"Islas Maldivas\",\n    \"nameEN\": \"Maldives\",\n    \"iso2\": \"MV\",\n    \"iso3\": \"MDV\",\n    \"phoneCode\": \"960\"\n  },\n  {\n    \"nameES\": \"Islas Malvinas\",\n    \"nameEN\": \"Falkland Islands (Malvinas)\",\n    \"iso2\": \"FK\",\n    \"iso3\": \"FLK\",\n    \"phoneCode\": \"500\"\n  },\n  {\n    \"nameES\": \"Islas Marianas del Norte\",\n    \"nameEN\": \"Northern Mariana Islands\",\n    \"iso2\": \"MP\",\n    \"iso3\": \"MNP\",\n    \"phoneCode\": \"1 670\"\n  },\n  {\n    \"nameES\": \"Islas Marshall\",\n    \"nameEN\": \"Marshall Islands\",\n    \"iso2\": \"MH\",\n    \"iso3\": \"MHL\",\n    \"phoneCode\": \"692\"\n  },\n  {\n    \"nameES\": \"Islas Pitcairn\",\n    \"nameEN\": \"Pitcairn Islands\",\n    \"iso2\": \"PN\",\n    \"iso3\": \"PCN\",\n    \"phoneCode\": \"870\"\n  },\n  {\n    \"nameES\": \"Islas Salomón\",\n    \"nameEN\": \"Solomon Islands\",\n    \"iso2\": \"SB\",\n    \"iso3\": \"SLB\",\n    \"phoneCode\": \"677\"\n  },\n  {\n    \"nameES\": \"Islas Turcas y Caicos\",\n    \"nameEN\": \"Turks and Caicos Islands\",\n    \"iso2\": \"TC\",\n    \"iso3\": \"TCA\",\n    \"phoneCode\": \"1 649\"\n  },\n  {\n    \"nameES\": \"Islas Ultramarinas Menores de Estados Unidos\",\n    \"nameEN\": \"United States Minor Outlying Islands\",\n    \"iso2\": \"UM\",\n    \"iso3\": \"UMI\",\n    \"phoneCode\": \"246\"\n  },\n  {\n    \"nameES\": \"Islas Vírgenes Británicas\",\n    \"nameEN\": \"Virgin Islands\",\n    \"iso2\": \"VG\",\n    \"iso3\": \"VGB\",\n    \"phoneCode\": \"1 284\"\n  },\n  {\n    \"nameES\": \"Islas Vírgenes de los Estados Unidos\",\n    \"nameEN\": \"United States Virgin Islands\",\n    \"iso2\": \"VI\",\n    \"iso3\": \"VIR\",\n    \"phoneCode\": \"1 340\"\n  },\n  {\n    \"nameES\": \"Israel\",\n    \"nameEN\": \"Israel\",\n    \"iso2\": \"IL\",\n    \"iso3\": \"ISR\",\n    \"phoneCode\": \"972\"\n  },\n  {\n    \"nameES\": \"Italia\",\n    \"nameEN\": \"Italy\",\n    \"iso2\": \"IT\",\n    \"iso3\": \"ITA\",\n    \"phoneCode\": \"39\"\n  },\n  {\n    \"nameES\": \"Jamaica\",\n    \"nameEN\": \"Jamaica\",\n    \"iso2\": \"JM\",\n    \"iso3\": \"JAM\",\n    \"phoneCode\": \"1 876\"\n  },\n  {\n    \"nameES\": \"Japón\",\n    \"nameEN\": \"Japan\",\n    \"iso2\": \"JP\",\n    \"iso3\": \"JPN\",\n    \"phoneCode\": \"81\"\n  },\n  {\n    \"nameES\": \"Jersey\",\n    \"nameEN\": \"Jersey\",\n    \"iso2\": \"JE\",\n    \"iso3\": \"JEY\",\n    \"phoneCode\": \"44\"\n  },\n  {\n    \"nameES\": \"Jordania\",\n    \"nameEN\": \"Jordan\",\n    \"iso2\": \"JO\",\n    \"iso3\": \"JOR\",\n    \"phoneCode\": \"962\"\n  },\n  {\n    \"nameES\": \"Kazajistán\",\n    \"nameEN\": \"Kazakhstan\",\n    \"iso2\": \"KZ\",\n    \"iso3\": \"KAZ\",\n    \"phoneCode\": \"7\"\n  },\n  {\n    \"nameES\": \"Kenia\",\n    \"nameEN\": \"Kenya\",\n    \"iso2\": \"KE\",\n    \"iso3\": \"KEN\",\n    \"phoneCode\": \"254\"\n  },\n  {\n    \"nameES\": \"Kirguistán\",\n    \"nameEN\": \"Kyrgyzstan\",\n    \"iso2\": \"KG\",\n    \"iso3\": \"KGZ\",\n    \"phoneCode\": \"996\"\n  },\n  {\n    \"nameES\": \"Kiribati\",\n    \"nameEN\": \"Kiribati\",\n    \"iso2\": \"KI\",\n    \"iso3\": \"KIR\",\n    \"phoneCode\": \"686\"\n  },\n  {\n    \"nameES\": \"Kuwait\",\n    \"nameEN\": \"Kuwait\",\n    \"iso2\": \"KW\",\n    \"iso3\": \"KWT\",\n    \"phoneCode\": \"965\"\n  },\n  {\n    \"nameES\": \"Líbano\",\n    \"nameEN\": \"Lebanon\",\n    \"iso2\": \"LB\",\n    \"iso3\": \"LBN\",\n    \"phoneCode\": \"961\"\n  },\n  {\n    \"nameES\": \"Laos\",\n    \"nameEN\": \"Laos\",\n    \"iso2\": \"LA\",\n    \"iso3\": \"LAO\",\n    \"phoneCode\": \"856\"\n  },\n  {\n    \"nameES\": \"Lesoto\",\n    \"nameEN\": \"Lesotho\",\n    \"iso2\": \"LS\",\n    \"iso3\": \"LSO\",\n    \"phoneCode\": \"266\"\n  },\n  {\n    \"nameES\": \"Letonia\",\n    \"nameEN\": \"Latvia\",\n    \"iso2\": \"LV\",\n    \"iso3\": \"LVA\",\n    \"phoneCode\": \"371\"\n  },\n  {\n    \"nameES\": \"Liberia\",\n    \"nameEN\": \"Liberia\",\n    \"iso2\": \"LR\",\n    \"iso3\": \"LBR\",\n    \"phoneCode\": \"231\"\n  },\n  {\n    \"nameES\": \"Libia\",\n    \"nameEN\": \"Libya\",\n    \"iso2\": \"LY\",\n    \"iso3\": \"LBY\",\n    \"phoneCode\": \"218\"\n  },\n  {\n    \"nameES\": \"Liechtenstein\",\n    \"nameEN\": \"Liechtenstein\",\n    \"iso2\": \"LI\",\n    \"iso3\": \"LIE\",\n    \"phoneCode\": \"423\"\n  },\n  {\n    \"nameES\": \"Lituania\",\n    \"nameEN\": \"Lithuania\",\n    \"iso2\": \"LT\",\n    \"iso3\": \"LTU\",\n    \"phoneCode\": \"370\"\n  },\n  {\n    \"nameES\": \"Luxemburgo\",\n    \"nameEN\": \"Luxembourg\",\n    \"iso2\": \"LU\",\n    \"iso3\": \"LUX\",\n    \"phoneCode\": \"352\"\n  },\n  {\n    \"nameES\": \"México\",\n    \"nameEN\": \"Mexico\",\n    \"iso2\": \"MX\",\n    \"iso3\": \"MEX\",\n    \"phoneCode\": \"52\"\n  },\n  {\n    \"nameES\": \"Mónaco\",\n    \"nameEN\": \"Monaco\",\n    \"iso2\": \"MC\",\n    \"iso3\": \"MCO\",\n    \"phoneCode\": \"377\"\n  },\n  {\n    \"nameES\": \"Macao\",\n    \"nameEN\": \"Macao\",\n    \"iso2\": \"MO\",\n    \"iso3\": \"MAC\",\n    \"phoneCode\": \"853\"\n  },\n  {\n    \"nameES\": \"Macedônia\",\n    \"nameEN\": \"Macedonia\",\n    \"iso2\": \"MK\",\n    \"iso3\": \"MKD\",\n    \"phoneCode\": \"389\"\n  },\n  {\n    \"nameES\": \"Madagascar\",\n    \"nameEN\": \"Madagascar\",\n    \"iso2\": \"MG\",\n    \"iso3\": \"MDG\",\n    \"phoneCode\": \"261\"\n  },\n  {\n    \"nameES\": \"Malasia\",\n    \"nameEN\": \"Malaysia\",\n    \"iso2\": \"MY\",\n    \"iso3\": \"MYS\",\n    \"phoneCode\": \"60\"\n  },\n  {\n    \"nameES\": \"Malawi\",\n    \"nameEN\": \"Malawi\",\n    \"iso2\": \"MW\",\n    \"iso3\": \"MWI\",\n    \"phoneCode\": \"265\"\n  },\n  {\n    \"nameES\": \"Mali\",\n    \"nameEN\": \"Mali\",\n    \"iso2\": \"ML\",\n    \"iso3\": \"MLI\",\n    \"phoneCode\": \"223\"\n  },\n  {\n    \"nameES\": \"Malta\",\n    \"nameEN\": \"Malta\",\n    \"iso2\": \"MT\",\n    \"iso3\": \"MLT\",\n    \"phoneCode\": \"356\"\n  },\n  {\n    \"nameES\": \"Marruecos\",\n    \"nameEN\": \"Morocco\",\n    \"iso2\": \"MA\",\n    \"iso3\": \"MAR\",\n    \"phoneCode\": \"212\"\n  },\n  {\n    \"nameES\": \"Martinica\",\n    \"nameEN\": \"Martinique\",\n    \"iso2\": \"MQ\",\n    \"iso3\": \"MTQ\",\n    \"phoneCode\": \"596\"\n  },\n  {\n    \"nameES\": \"Mauricio\",\n    \"nameEN\": \"Mauritius\",\n    \"iso2\": \"MU\",\n    \"iso3\": \"MUS\",\n    \"phoneCode\": \"230\"\n  },\n  {\n    \"nameES\": \"Mauritania\",\n    \"nameEN\": \"Mauritania\",\n    \"iso2\": \"MR\",\n    \"iso3\": \"MRT\",\n    \"phoneCode\": \"222\"\n  },\n  {\n    \"nameES\": \"Mayotte\",\n    \"nameEN\": \"Mayotte\",\n    \"iso2\": \"YT\",\n    \"iso3\": \"MYT\",\n    \"phoneCode\": \"262\"\n  },\n  {\n    \"nameES\": \"Micronesia\",\n    \"nameEN\": \"Estados Federados de\",\n    \"iso2\": \"FM\",\n    \"iso3\": \"FSM\",\n    \"phoneCode\": \"691\"\n  },\n  {\n    \"nameES\": \"Moldavia\",\n    \"nameEN\": \"Moldova\",\n    \"iso2\": \"MD\",\n    \"iso3\": \"MDA\",\n    \"phoneCode\": \"373\"\n  },\n  {\n    \"nameES\": \"Mongolia\",\n    \"nameEN\": \"Mongolia\",\n    \"iso2\": \"MN\",\n    \"iso3\": \"MNG\",\n    \"phoneCode\": \"976\"\n  },\n  {\n    \"nameES\": \"Montenegro\",\n    \"nameEN\": \"Montenegro\",\n    \"iso2\": \"ME\",\n    \"iso3\": \"MNE\",\n    \"phoneCode\": \"382\"\n  },\n  {\n    \"nameES\": \"Montserrat\",\n    \"nameEN\": \"Montserrat\",\n    \"iso2\": \"MS\",\n    \"iso3\": \"MSR\",\n    \"phoneCode\": \"1 664\"\n  },\n  {\n    \"nameES\": \"Mozambique\",\n    \"nameEN\": \"Mozambique\",\n    \"iso2\": \"MZ\",\n    \"iso3\": \"MOZ\",\n    \"phoneCode\": \"258\"\n  },\n  {\n    \"nameES\": \"Namibia\",\n    \"nameEN\": \"Namibia\",\n    \"iso2\": \"NA\",\n    \"iso3\": \"NAM\",\n    \"phoneCode\": \"264\"\n  },\n  {\n    \"nameES\": \"Nauru\",\n    \"nameEN\": \"Nauru\",\n    \"iso2\": \"NR\",\n    \"iso3\": \"NRU\",\n    \"phoneCode\": \"674\"\n  },\n  {\n    \"nameES\": \"Nepal\",\n    \"nameEN\": \"Nepal\",\n    \"iso2\": \"NP\",\n    \"iso3\": \"NPL\",\n    \"phoneCode\": \"977\"\n  },\n  {\n    \"nameES\": \"Nicaragua\",\n    \"nameEN\": \"Nicaragua\",\n    \"iso2\": \"NI\",\n    \"iso3\": \"NIC\",\n    \"phoneCode\": \"505\"\n  },\n  {\n    \"nameES\": \"Niger\",\n    \"nameEN\": \"Niger\",\n    \"iso2\": \"NE\",\n    \"iso3\": \"NER\",\n    \"phoneCode\": \"227\"\n  },\n  {\n    \"nameES\": \"Nigeria\",\n    \"nameEN\": \"Nigeria\",\n    \"iso2\": \"NG\",\n    \"iso3\": \"NGA\",\n    \"phoneCode\": \"234\"\n  },\n  {\n    \"nameES\": \"Niue\",\n    \"nameEN\": \"Niue\",\n    \"iso2\": \"NU\",\n    \"iso3\": \"NIU\",\n    \"phoneCode\": \"683\"\n  },\n  {\n    \"nameES\": \"Noruega\",\n    \"nameEN\": \"Norway\",\n    \"iso2\": \"NO\",\n    \"iso3\": \"NOR\",\n    \"phoneCode\": \"47\"\n  },\n  {\n    \"nameES\": \"Nueva Caledonia\",\n    \"nameEN\": \"New Caledonia\",\n    \"iso2\": \"NC\",\n    \"iso3\": \"NCL\",\n    \"phoneCode\": \"687\"\n  },\n  {\n    \"nameES\": \"Nueva Zelanda\",\n    \"nameEN\": \"New Zealand\",\n    \"iso2\": \"NZ\",\n    \"iso3\": \"NZL\",\n    \"phoneCode\": \"64\"\n  },\n  {\n    \"nameES\": \"Omán\",\n    \"nameEN\": \"Oman\",\n    \"iso2\": \"OM\",\n    \"iso3\": \"OMN\",\n    \"phoneCode\": \"968\"\n  },\n  {\n    \"nameES\": \"Países Bajos\",\n    \"nameEN\": \"Netherlands\",\n    \"iso2\": \"NL\",\n    \"iso3\": \"NLD\",\n    \"phoneCode\": \"31\"\n  },\n  {\n    \"nameES\": \"Pakistán\",\n    \"nameEN\": \"Pakistan\",\n    \"iso2\": \"PK\",\n    \"iso3\": \"PAK\",\n    \"phoneCode\": \"92\"\n  },\n  {\n    \"nameES\": \"Palau\",\n    \"nameEN\": \"Palau\",\n    \"iso2\": \"PW\",\n    \"iso3\": \"PLW\",\n    \"phoneCode\": \"680\"\n  },\n  {\n    \"nameES\": \"Palestina\",\n    \"nameEN\": \"Palestine\",\n    \"iso2\": \"PS\",\n    \"iso3\": \"PSE\",\n    \"phoneCode\": \"970\"\n  },\n  {\n    \"nameES\": \"Panamá\",\n    \"nameEN\": \"Panama\",\n    \"iso2\": \"PA\",\n    \"iso3\": \"PAN\",\n    \"phoneCode\": \"507\"\n  },\n  {\n    \"nameES\": \"Papúa Nueva Guinea\",\n    \"nameEN\": \"Papua New Guinea\",\n    \"iso2\": \"PG\",\n    \"iso3\": \"PNG\",\n    \"phoneCode\": \"675\"\n  },\n  {\n    \"nameES\": \"Paraguay\",\n    \"nameEN\": \"Paraguay\",\n    \"iso2\": \"PY\",\n    \"iso3\": \"PRY\",\n    \"phoneCode\": \"595\"\n  },\n  {\n    \"nameES\": \"Perú\",\n    \"nameEN\": \"Peru\",\n    \"iso2\": \"PE\",\n    \"iso3\": \"PER\",\n    \"phoneCode\": \"51\"\n  },\n  {\n    \"nameES\": \"Polinesia Francesa\",\n    \"nameEN\": \"French Polynesia\",\n    \"iso2\": \"PF\",\n    \"iso3\": \"PYF\",\n    \"phoneCode\": \"689\"\n  },\n  {\n    \"nameES\": \"Polonia\",\n    \"nameEN\": \"Poland\",\n    \"iso2\": \"PL\",\n    \"iso3\": \"POL\",\n    \"phoneCode\": \"48\"\n  },\n  {\n    \"nameES\": \"Portugal\",\n    \"nameEN\": \"Portugal\",\n    \"iso2\": \"PT\",\n    \"iso3\": \"PRT\",\n    \"phoneCode\": \"351\"\n  },\n  {\n    \"nameES\": \"Puerto Rico\",\n    \"nameEN\": \"Puerto Rico\",\n    \"iso2\": \"PR\",\n    \"iso3\": \"PRI\",\n    \"phoneCode\": \"1\"\n  },\n  {\n    \"nameES\": \"Qatar\",\n    \"nameEN\": \"Qatar\",\n    \"iso2\": \"QA\",\n    \"iso3\": \"QAT\",\n    \"phoneCode\": \"974\"\n  },\n  {\n    \"nameES\": \"Reino Unido\",\n    \"nameEN\": \"United Kingdom\",\n    \"iso2\": \"GB\",\n    \"iso3\": \"GBR\",\n    \"phoneCode\": \"44\"\n  },\n  {\n    \"nameES\": \"República Centroafricana\",\n    \"nameEN\": \"Central African Republic\",\n    \"iso2\": \"CF\",\n    \"iso3\": \"CAF\",\n    \"phoneCode\": \"236\"\n  },\n  {\n    \"nameES\": \"República Checa\",\n    \"nameEN\": \"Czech Republic\",\n    \"iso2\": \"CZ\",\n    \"iso3\": \"CZE\",\n    \"phoneCode\": \"420\"\n  },\n  {\n    \"nameES\": \"República Dominicana\",\n    \"nameEN\": \"Dominican Republic\",\n    \"iso2\": \"DO\",\n    \"iso3\": \"DOM\",\n    \"phoneCode\": \"1 809\"\n  },\n  {\n    \"nameES\": \"República de Sudán del Sur\",\n    \"nameEN\": \"South Sudan\",\n    \"iso2\": \"SS\",\n    \"iso3\": \"SSD\",\n    \"phoneCode\": \"211\"\n  },\n  {\n    \"nameES\": \"Reunión\",\n    \"nameEN\": \"Réunion\",\n    \"iso2\": \"RE\",\n    \"iso3\": \"REU\",\n    \"phoneCode\": \"262\"\n  },\n  {\n    \"nameES\": \"Ruanda\",\n    \"nameEN\": \"Rwanda\",\n    \"iso2\": \"RW\",\n    \"iso3\": \"RWA\",\n    \"phoneCode\": \"250\"\n  },\n  {\n    \"nameES\": \"Rumanía\",\n    \"nameEN\": \"Romania\",\n    \"iso2\": \"RO\",\n    \"iso3\": \"ROU\",\n    \"phoneCode\": \"40\"\n  },\n  {\n    \"nameES\": \"Rusia\",\n    \"nameEN\": \"Russia\",\n    \"iso2\": \"RU\",\n    \"iso3\": \"RUS\",\n    \"phoneCode\": \"7\"\n  },\n  {\n    \"nameES\": \"Sahara Occidental\",\n    \"nameEN\": \"Western Sahara\",\n    \"iso2\": \"EH\",\n    \"iso3\": \"ESH\",\n    \"phoneCode\": \"212\"\n  },\n  {\n    \"nameES\": \"Samoa\",\n    \"nameEN\": \"Samoa\",\n    \"iso2\": \"WS\",\n    \"iso3\": \"WSM\",\n    \"phoneCode\": \"685\"\n  },\n  {\n    \"nameES\": \"Samoa Americana\",\n    \"nameEN\": \"American Samoa\",\n    \"iso2\": \"AS\",\n    \"iso3\": \"ASM\",\n    \"phoneCode\": \"1 684\"\n  },\n  {\n    \"nameES\": \"San Bartolomé\",\n    \"nameEN\": \"Saint Barthélemy\",\n    \"iso2\": \"BL\",\n    \"iso3\": \"BLM\",\n    \"phoneCode\": \"590\"\n  },\n  {\n    \"nameES\": \"San Cristóbal y Nieves\",\n    \"nameEN\": \"Saint Kitts and Nevis\",\n    \"iso2\": \"KN\",\n    \"iso3\": \"KNA\",\n    \"phoneCode\": \"1 869\"\n  },\n  {\n    \"nameES\": \"San Marino\",\n    \"nameEN\": \"San Marino\",\n    \"iso2\": \"SM\",\n    \"iso3\": \"SMR\",\n    \"phoneCode\": \"378\"\n  },\n  {\n    \"nameES\": \"San Martín (Francia)\",\n    \"nameEN\": \"Saint Martin (French part)\",\n    \"iso2\": \"MF\",\n    \"iso3\": \"MAF\",\n    \"phoneCode\": \"1 599\"\n  },\n  {\n    \"nameES\": \"San Pedro y Miquelón\",\n    \"nameEN\": \"Saint Pierre and Miquelon\",\n    \"iso2\": \"PM\",\n    \"iso3\": \"SPM\",\n    \"phoneCode\": \"508\"\n  },\n  {\n    \"nameES\": \"San Vicente y las Granadinas\",\n    \"nameEN\": \"Saint Vincent and the Grenadines\",\n    \"iso2\": \"VC\",\n    \"iso3\": \"VCT\",\n    \"phoneCode\": \"1 784\"\n  },\n  {\n    \"nameES\": \"Santa Elena\",\n    \"nameEN\": \"Ascensión y Tristán de Acuña\",\n    \"iso2\": \"SH\",\n    \"iso3\": \"SHN\",\n    \"phoneCode\": \"290\"\n  },\n  {\n    \"nameES\": \"Santa Lucía\",\n    \"nameEN\": \"Saint Lucia\",\n    \"iso2\": \"LC\",\n    \"iso3\": \"LCA\",\n    \"phoneCode\": \"1 758\"\n  },\n  {\n    \"nameES\": \"Santo Tomé y Príncipe\",\n    \"nameEN\": \"Sao Tome and Principe\",\n    \"iso2\": \"ST\",\n    \"iso3\": \"STP\",\n    \"phoneCode\": \"239\"\n  },\n  {\n    \"nameES\": \"Senegal\",\n    \"nameEN\": \"Senegal\",\n    \"iso2\": \"SN\",\n    \"iso3\": \"SEN\",\n    \"phoneCode\": \"221\"\n  },\n  {\n    \"nameES\": \"Serbia\",\n    \"nameEN\": \"Serbia\",\n    \"iso2\": \"RS\",\n    \"iso3\": \"SRB\",\n    \"phoneCode\": \"381\"\n  },\n  {\n    \"nameES\": \"Seychelles\",\n    \"nameEN\": \"Seychelles\",\n    \"iso2\": \"SC\",\n    \"iso3\": \"SYC\",\n    \"phoneCode\": \"248\"\n  },\n  {\n    \"nameES\": \"Sierra Leona\",\n    \"nameEN\": \"Sierra Leone\",\n    \"iso2\": \"SL\",\n    \"iso3\": \"SLE\",\n    \"phoneCode\": \"232\"\n  },\n  {\n    \"nameES\": \"Singapur\",\n    \"nameEN\": \"Singapore\",\n    \"iso2\": \"SG\",\n    \"iso3\": \"SGP\",\n    \"phoneCode\": \"65\"\n  },\n  {\n    \"nameES\": \"Sint Maarten\",\n    \"nameEN\": \"Sint Maarten\",\n    \"iso2\": \"SX\",\n    \"iso3\": \"SMX\",\n    \"phoneCode\": \"1 721\"\n  },\n  {\n    \"nameES\": \"Siria\",\n    \"nameEN\": \"Syria\",\n    \"iso2\": \"SY\",\n    \"iso3\": \"SYR\",\n    \"phoneCode\": \"963\"\n  },\n  {\n    \"nameES\": \"Somalia\",\n    \"nameEN\": \"Somalia\",\n    \"iso2\": \"SO\",\n    \"iso3\": \"SOM\",\n    \"phoneCode\": \"252\"\n  },\n  {\n    \"nameES\": \"Sri lanka\",\n    \"nameEN\": \"Sri Lanka\",\n    \"iso2\": \"LK\",\n    \"iso3\": \"LKA\",\n    \"phoneCode\": \"94\"\n  },\n  {\n    \"nameES\": \"Sudáfrica\",\n    \"nameEN\": \"South Africa\",\n    \"iso2\": \"ZA\",\n    \"iso3\": \"ZAF\",\n    \"phoneCode\": \"27\"\n  },\n  {\n    \"nameES\": \"Sudán\",\n    \"nameEN\": \"Sudan\",\n    \"iso2\": \"SD\",\n    \"iso3\": \"SDN\",\n    \"phoneCode\": \"249\"\n  },\n  {\n    \"nameES\": \"Suecia\",\n    \"nameEN\": \"Sweden\",\n    \"iso2\": \"SE\",\n    \"iso3\": \"SWE\",\n    \"phoneCode\": \"46\"\n  },\n  {\n    \"nameES\": \"Suiza\",\n    \"nameEN\": \"Switzerland\",\n    \"iso2\": \"CH\",\n    \"iso3\": \"CHE\",\n    \"phoneCode\": \"41\"\n  },\n  {\n    \"nameES\": \"Surinám\",\n    \"nameEN\": \"Suriname\",\n    \"iso2\": \"SR\",\n    \"iso3\": \"SUR\",\n    \"phoneCode\": \"597\"\n  },\n  {\n    \"nameES\": \"Svalbard y Jan Mayen\",\n    \"nameEN\": \"Svalbard and Jan Mayen\",\n    \"iso2\": \"SJ\",\n    \"iso3\": \"SJM\",\n    \"phoneCode\": \"47\"\n  },\n  {\n    \"nameES\": \"Swazilandia\",\n    \"nameEN\": \"Swaziland\",\n    \"iso2\": \"SZ\",\n    \"iso3\": \"SWZ\",\n    \"phoneCode\": \"268\"\n  },\n  {\n    \"nameES\": \"Tayikistán\",\n    \"nameEN\": \"Tajikistan\",\n    \"iso2\": \"TJ\",\n    \"iso3\": \"TJK\",\n    \"phoneCode\": \"992\"\n  },\n  {\n    \"nameES\": \"Tailandia\",\n    \"nameEN\": \"Thailand\",\n    \"iso2\": \"TH\",\n    \"iso3\": \"THA\",\n    \"phoneCode\": \"66\"\n  },\n  {\n    \"nameES\": \"Taiwán\",\n    \"nameEN\": \"Taiwan\",\n    \"iso2\": \"TW\",\n    \"iso3\": \"TWN\",\n    \"phoneCode\": \"886\"\n  },\n  {\n    \"nameES\": \"Tanzania\",\n    \"nameEN\": \"Tanzania\",\n    \"iso2\": \"TZ\",\n    \"iso3\": \"TZA\",\n    \"phoneCode\": \"255\"\n  },\n  {\n    \"nameES\": \"Territorio Británico del Océano Índico\",\n    \"nameEN\": \"British Indian Ocean Territory\",\n    \"iso2\": \"IO\",\n    \"iso3\": \"IOT\",\n    \"phoneCode\": \"246\"\n  },\n  {\n    \"nameES\": \"Territorios Australes y Antárticas Franceses\",\n    \"nameEN\": \"French Southern Territories\",\n    \"iso2\": \"TF\",\n    \"iso3\": \"ATF\",\n    \"phoneCode\": \"\"\n  },\n  {\n    \"nameES\": \"Timor Oriental\",\n    \"nameEN\": \"East Timor\",\n    \"iso2\": \"TL\",\n    \"iso3\": \"TLS\",\n    \"phoneCode\": \"670\"\n  },\n  {\n    \"nameES\": \"Togo\",\n    \"nameEN\": \"Togo\",\n    \"iso2\": \"TG\",\n    \"iso3\": \"TGO\",\n    \"phoneCode\": \"228\"\n  },\n  {\n    \"nameES\": \"Tokelau\",\n    \"nameEN\": \"Tokelau\",\n    \"iso2\": \"TK\",\n    \"iso3\": \"TKL\",\n    \"phoneCode\": \"690\"\n  },\n  {\n    \"nameES\": \"Tonga\",\n    \"nameEN\": \"Tonga\",\n    \"iso2\": \"TO\",\n    \"iso3\": \"TON\",\n    \"phoneCode\": \"676\"\n  },\n  {\n    \"nameES\": \"Trinidad y Tobago\",\n    \"nameEN\": \"Trinidad and Tobago\",\n    \"iso2\": \"TT\",\n    \"iso3\": \"TTO\",\n    \"phoneCode\": \"1 868\"\n  },\n  {\n    \"nameES\": \"Tunez\",\n    \"nameEN\": \"Tunisia\",\n    \"iso2\": \"TN\",\n    \"iso3\": \"TUN\",\n    \"phoneCode\": \"216\"\n  },\n  {\n    \"nameES\": \"Turkmenistán\",\n    \"nameEN\": \"Turkmenistan\",\n    \"iso2\": \"TM\",\n    \"iso3\": \"TKM\",\n    \"phoneCode\": \"993\"\n  },\n  {\n    \"nameES\": \"Turquía\",\n    \"nameEN\": \"Turkey\",\n    \"iso2\": \"TR\",\n    \"iso3\": \"TUR\",\n    \"phoneCode\": \"90\"\n  },\n  {\n    \"nameES\": \"Tuvalu\",\n    \"nameEN\": \"Tuvalu\",\n    \"iso2\": \"TV\",\n    \"iso3\": \"TUV\",\n    \"phoneCode\": \"688\"\n  },\n  {\n    \"nameES\": \"Ucrania\",\n    \"nameEN\": \"Ukraine\",\n    \"iso2\": \"UA\",\n    \"iso3\": \"UKR\",\n    \"phoneCode\": \"380\"\n  },\n  {\n    \"nameES\": \"Uganda\",\n    \"nameEN\": \"Uganda\",\n    \"iso2\": \"UG\",\n    \"iso3\": \"UGA\",\n    \"phoneCode\": \"256\"\n  },\n  {\n    \"nameES\": \"Uruguay\",\n    \"nameEN\": \"Uruguay\",\n    \"iso2\": \"UY\",\n    \"iso3\": \"URY\",\n    \"phoneCode\": \"598\"\n  },\n  {\n    \"nameES\": \"Uzbekistán\",\n    \"nameEN\": \"Uzbekistan\",\n    \"iso2\": \"UZ\",\n    \"iso3\": \"UZB\",\n    \"phoneCode\": \"998\"\n  },\n  {\n    \"nameES\": \"Vanuatu\",\n    \"nameEN\": \"Vanuatu\",\n    \"iso2\": \"VU\",\n    \"iso3\": \"VUT\",\n    \"phoneCode\": \"678\"\n  },\n  {\n    \"nameES\": \"Venezuela\",\n    \"nameEN\": \"Venezuela\",\n    \"iso2\": \"VE\",\n    \"iso3\": \"VEN\",\n    \"phoneCode\": \"58\"\n  },\n  {\n    \"nameES\": \"Vietnam\",\n    \"nameEN\": \"Vietnam\",\n    \"iso2\": \"VN\",\n    \"iso3\": \"VNM\",\n    \"phoneCode\": \"84\"\n  },\n  {\n    \"nameES\": \"Wallis y Futuna\",\n    \"nameEN\": \"Wallis and Futuna\",\n    \"iso2\": \"WF\",\n    \"iso3\": \"WLF\",\n    \"phoneCode\": \"681\"\n  },\n  {\n    \"nameES\": \"Yemen\",\n    \"nameEN\": \"Yemen\",\n    \"iso2\": \"YE\",\n    \"iso3\": \"YEM\",\n    \"phoneCode\": \"967\"\n  },\n  {\n    \"nameES\": \"Yibuti\",\n    \"nameEN\": \"Djibouti\",\n    \"iso2\": \"DJ\",\n    \"iso3\": \"DJI\",\n    \"phoneCode\": \"253\"\n  },\n  {\n    \"nameES\": \"Zambia\",\n    \"nameEN\": \"Zambia\",\n    \"iso2\": \"ZM\",\n    \"iso3\": \"ZMB\",\n    \"phoneCode\": \"260\"\n  },\n  {\n    \"nameES\": \"Zimbabue\",\n    \"nameEN\": \"Zimbabwe\",\n    \"iso2\": \"ZW\",\n    \"iso3\": \"ZWE\",\n    \"phoneCode\": \"263\"\n  }\n]\n}\n",
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -80,
          64
        ],
        "id": "ee5da202-7937-49f2-8da3-f923adc85e2f",
        "name": "paises1"
      },
      {
        "parameters": {
          "fieldToSplitOut": "paises",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          128,
          64
        ],
        "id": "a4805c7d-e019-4ab3-9324-e3d13064ec01",
        "name": "Split Out1"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "b1c7783e-6fcf-4d37-a94e-14a4fb2f157d",
                "name": "option",
                "value": "={{ $json.nameES }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          336,
          64
        ],
        "id": "dfb89e8b-3ba0-4059-8084-4707e2c5df80",
        "name": "formato2"
      },
      {
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "destinationFieldName": "values",
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          576,
          64
        ],
        "id": "34bfafc2-a038-4645-b9f8-5c18fc8bcadd",
        "name": "Aggregate2"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "095b2775-26e7-4201-bb76-eaa76151af89",
                "name": "values",
                "value": "={{ $('Aggregate2').item.json.values }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          784,
          64
        ],
        "id": "426d6ae3-5270-4ae0-8b94-f6e46e30310a",
        "name": "Return"
      },
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "id": "0a5458af-823d-4571-866d-75f6ff07aaaf",
        "typeVersion": 1.1,
        "name": "Start",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "position": [
          -288,
          64
        ]
      }
    ],
    "connections": {
      "paises1": {
        "main": [
          [
            {
              "node": "Split Out1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Out1": {
        "main": [
          [
            {
              "node": "formato2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "formato2": {
        "main": [
          [
            {
              "node": "Aggregate2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Start": {
        "main": [
          [
            {
              "node": "paises1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate2": {
        "main": [
          [
            {
              "node": "Return",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Bioenglish Lat",
    "name": "Version 11e44bd2",
    "description": "",
    "autosaved": false
  },
  "activeVersionId": "11e44bd2-e6c4-416f-8b67-f3572ac60cbc",
  "connections": {
    "paises1": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "formato2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formato2": {
      "main": [
        [
          {
            "node": "Aggregate2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "paises1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate2": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-01T17:51:01.065Z",
  "id": "VKL8pPTOJRCGOy5R",
  "isArchived": false,
  "meta": null,
  "name": "Paises - form de inscripcion",
  "nodes": [
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"paises\":[\n  {\n    \"nameES\": \"Afganistán\",\n    \"nameEN\": \"Afghanistan\",\n    \"iso2\": \"AF\",\n    \"iso3\": \"AFG\",\n    \"phoneCode\": \"93\"\n  },\n  {\n    \"nameES\": \"Albania\",\n    \"nameEN\": \"Albania\",\n    \"iso2\": \"AL\",\n    \"iso3\": \"ALB\",\n    \"phoneCode\": \"355\"\n  },\n  {\n    \"nameES\": \"Alemania\",\n    \"nameEN\": \"Germany\",\n    \"iso2\": \"DE\",\n    \"iso3\": \"DEU\",\n    \"phoneCode\": \"49\"\n  },\n  {\n    \"nameES\": \"Andorra\",\n    \"nameEN\": \"Andorra\",\n    \"iso2\": \"AD\",\n    \"iso3\": \"AND\",\n    \"phoneCode\": \"376\"\n  },\n  {\n    \"nameES\": \"Angola\",\n    \"nameEN\": \"Angola\",\n    \"iso2\": \"AO\",\n    \"iso3\": \"AGO\",\n    \"phoneCode\": \"244\"\n  },\n  {\n    \"nameES\": \"Anguila\",\n    \"nameEN\": \"Anguilla\",\n    \"iso2\": \"AI\",\n    \"iso3\": \"AIA\",\n    \"phoneCode\": \"1 264\"\n  },\n  {\n    \"nameES\": \"Antártida\",\n    \"nameEN\": \"Antarctica\",\n    \"iso2\": \"AQ\",\n    \"iso3\": \"ATA\",\n    \"phoneCode\": \"672\"\n  },\n  {\n    \"nameES\": \"Antigua y Barbuda\",\n    \"nameEN\": \"Antigua and Barbuda\",\n    \"iso2\": \"AG\",\n    \"iso3\": \"ATG\",\n    \"phoneCode\": \"1 268\"\n  },\n  {\n    \"nameES\": \"Arabia Saudita\",\n    \"nameEN\": \"Saudi Arabia\",\n    \"iso2\": \"SA\",\n    \"iso3\": \"SAU\",\n    \"phoneCode\": \"966\"\n  },\n  {\n    \"nameES\": \"Argelia\",\n    \"nameEN\": \"Algeria\",\n    \"iso2\": \"DZ\",\n    \"iso3\": \"DZA\",\n    \"phoneCode\": \"213\"\n  },\n  {\n    \"nameES\": \"Argentina\",\n    \"nameEN\": \"Argentina\",\n    \"iso2\": \"AR\",\n    \"iso3\": \"ARG\",\n    \"phoneCode\": \"54\"\n  },\n  {\n    \"nameES\": \"Armenia\",\n    \"nameEN\": \"Armenia\",\n    \"iso2\": \"AM\",\n    \"iso3\": \"ARM\",\n    \"phoneCode\": \"374\"\n  },\n  {\n    \"nameES\": \"Aruba\",\n    \"nameEN\": \"Aruba\",\n    \"iso2\": \"AW\",\n    \"iso3\": \"ABW\",\n    \"phoneCode\": \"297\"\n  },\n  {\n    \"nameES\": \"Australia\",\n    \"nameEN\": \"Australia\",\n    \"iso2\": \"AU\",\n    \"iso3\": \"AUS\",\n    \"phoneCode\": \"61\"\n  },\n  {\n    \"nameES\": \"Austria\",\n    \"nameEN\": \"Austria\",\n    \"iso2\": \"AT\",\n    \"iso3\": \"AUT\",\n    \"phoneCode\": \"43\"\n  },\n  {\n    \"nameES\": \"Azerbaiyán\",\n    \"nameEN\": \"Azerbaijan\",\n    \"iso2\": \"AZ\",\n    \"iso3\": \"AZE\",\n    \"phoneCode\": \"994\"\n  },\n  {\n    \"nameES\": \"Bélgica\",\n    \"nameEN\": \"Belgium\",\n    \"iso2\": \"BE\",\n    \"iso3\": \"BEL\",\n    \"phoneCode\": \"32\"\n  },\n  {\n    \"nameES\": \"Bahamas\",\n    \"nameEN\": \"Bahamas\",\n    \"iso2\": \"BS\",\n    \"iso3\": \"BHS\",\n    \"phoneCode\": \"1 242\"\n  },\n  {\n    \"nameES\": \"Bahrein\",\n    \"nameEN\": \"Bahrain\",\n    \"iso2\": \"BH\",\n    \"iso3\": \"BHR\",\n    \"phoneCode\": \"973\"\n  },\n  {\n    \"nameES\": \"Bangladesh\",\n    \"nameEN\": \"Bangladesh\",\n    \"iso2\": \"BD\",\n    \"iso3\": \"BGD\",\n    \"phoneCode\": \"880\"\n  },\n  {\n    \"nameES\": \"Barbados\",\n    \"nameEN\": \"Barbados\",\n    \"iso2\": \"BB\",\n    \"iso3\": \"BRB\",\n    \"phoneCode\": \"1 246\"\n  },\n  {\n    \"nameES\": \"Belice\",\n    \"nameEN\": \"Belize\",\n    \"iso2\": \"BZ\",\n    \"iso3\": \"BLZ\",\n    \"phoneCode\": \"501\"\n  },\n  {\n    \"nameES\": \"Benín\",\n    \"nameEN\": \"Benin\",\n    \"iso2\": \"BJ\",\n    \"iso3\": \"BEN\",\n    \"phoneCode\": \"229\"\n  },\n  {\n    \"nameES\": \"Bhután\",\n    \"nameEN\": \"Bhutan\",\n    \"iso2\": \"BT\",\n    \"iso3\": \"BTN\",\n    \"phoneCode\": \"975\"\n  },\n  {\n    \"nameES\": \"Bielorrusia\",\n    \"nameEN\": \"Belarus\",\n    \"iso2\": \"BY\",\n    \"iso3\": \"BLR\",\n    \"phoneCode\": \"375\"\n  },\n  {\n    \"nameES\": \"Birmania\",\n    \"nameEN\": \"Myanmar\",\n    \"iso2\": \"MM\",\n    \"iso3\": \"MMR\",\n    \"phoneCode\": \"95\"\n  },\n  {\n    \"nameES\": \"Bolivia\",\n    \"nameEN\": \"Bolivia\",\n    \"iso2\": \"BO\",\n    \"iso3\": \"BOL\",\n    \"phoneCode\": \"591\"\n  },\n  {\n    \"nameES\": \"Bosnia y Herzegovina\",\n    \"nameEN\": \"Bosnia and Herzegovina\",\n    \"iso2\": \"BA\",\n    \"iso3\": \"BIH\",\n    \"phoneCode\": \"387\"\n  },\n  {\n    \"nameES\": \"Botsuana\",\n    \"nameEN\": \"Botswana\",\n    \"iso2\": \"BW\",\n    \"iso3\": \"BWA\",\n    \"phoneCode\": \"267\"\n  },\n  {\n    \"nameES\": \"Brasil\",\n    \"nameEN\": \"Brazil\",\n    \"iso2\": \"BR\",\n    \"iso3\": \"BRA\",\n    \"phoneCode\": \"55\"\n  },\n  {\n    \"nameES\": \"Brunéi\",\n    \"nameEN\": \"Brunei\",\n    \"iso2\": \"BN\",\n    \"iso3\": \"BRN\",\n    \"phoneCode\": \"673\"\n  },\n  {\n    \"nameES\": \"Bulgaria\",\n    \"nameEN\": \"Bulgaria\",\n    \"iso2\": \"BG\",\n    \"iso3\": \"BGR\",\n    \"phoneCode\": \"359\"\n  },\n  {\n    \"nameES\": \"Burkina Faso\",\n    \"nameEN\": \"Burkina Faso\",\n    \"iso2\": \"BF\",\n    \"iso3\": \"BFA\",\n    \"phoneCode\": \"226\"\n  },\n  {\n    \"nameES\": \"Burundi\",\n    \"nameEN\": \"Burundi\",\n    \"iso2\": \"BI\",\n    \"iso3\": \"BDI\",\n    \"phoneCode\": \"257\"\n  },\n  {\n    \"nameES\": \"Cabo Verde\",\n    \"nameEN\": \"Cape Verde\",\n    \"iso2\": \"CV\",\n    \"iso3\": \"CPV\",\n    \"phoneCode\": \"238\"\n  },\n  {\n    \"nameES\": \"Camboya\",\n    \"nameEN\": \"Cambodia\",\n    \"iso2\": \"KH\",\n    \"iso3\": \"KHM\",\n    \"phoneCode\": \"855\"\n  },\n  {\n    \"nameES\": \"Camerún\",\n    \"nameEN\": \"Cameroon\",\n    \"iso2\": \"CM\",\n    \"iso3\": \"CMR\",\n    \"phoneCode\": \"237\"\n  },\n  {\n    \"nameES\": \"Canadá\",\n    \"nameEN\": \"Canada\",\n    \"iso2\": \"CA\",\n    \"iso3\": \"CAN\",\n    \"phoneCode\": \"1\"\n  },\n  {\n    \"nameES\": \"Chad\",\n    \"nameEN\": \"Chad\",\n    \"iso2\": \"TD\",\n    \"iso3\": \"TCD\",\n    \"phoneCode\": \"235\"\n  },\n  {\n    \"nameES\": \"Chile\",\n    \"nameEN\": \"Chile\",\n    \"iso2\": \"CL\",\n    \"iso3\": \"CHL\",\n    \"phoneCode\": \"56\"\n  },\n  {\n    \"nameES\": \"China\",\n    \"nameEN\": \"China\",\n    \"iso2\": \"CN\",\n    \"iso3\": \"CHN\",\n    \"phoneCode\": \"86\"\n  },\n  {\n    \"nameES\": \"Chipre\",\n    \"nameEN\": \"Cyprus\",\n    \"iso2\": \"CY\",\n    \"iso3\": \"CYP\",\n    \"phoneCode\": \"357\"\n  },\n  {\n    \"nameES\": \"Ciudad del Vaticano\",\n    \"nameEN\": \"Vatican City State\",\n    \"iso2\": \"VA\",\n    \"iso3\": \"VAT\",\n    \"phoneCode\": \"39\"\n  },\n  {\n    \"nameES\": \"Colombia\",\n    \"nameEN\": \"Colombia\",\n    \"iso2\": \"CO\",\n    \"iso3\": \"COL\",\n    \"phoneCode\": \"57\"\n  },\n  {\n    \"nameES\": \"Comoras\",\n    \"nameEN\": \"Comoros\",\n    \"iso2\": \"KM\",\n    \"iso3\": \"COM\",\n    \"phoneCode\": \"269\"\n  },\n  {\n    \"nameES\": \"República del Congo\",\n    \"nameEN\": \"Republic of the Congo\",\n    \"iso2\": \"CG\",\n    \"iso3\": \"COG\",\n    \"phoneCode\": \"242\"\n  },\n  {\n    \"nameES\": \"República Democrática del Congo\",\n    \"nameEN\": \"Democratic Republic of the Congo\",\n    \"iso2\": \"CD\",\n    \"iso3\": \"COD\",\n    \"phoneCode\": \"243\"\n  },\n  {\n    \"nameES\": \"Corea del Norte\",\n    \"nameEN\": \"North Korea\",\n    \"iso2\": \"KP\",\n    \"iso3\": \"PRK\",\n    \"phoneCode\": \"850\"\n  },\n  {\n    \"nameES\": \"Corea del Sur\",\n    \"nameEN\": \"South Korea\",\n    \"iso2\": \"KR\",\n    \"iso3\": \"KOR\",\n    \"phoneCode\": \"82\"\n  },\n  {\n    \"nameES\": \"Costa de Marfil\",\n    \"nameEN\": \"Ivory Coast\",\n    \"iso2\": \"CI\",\n    \"iso3\": \"CIV\",\n    \"phoneCode\": \"225\"\n  },\n  {\n    \"nameES\": \"Costa Rica\",\n    \"nameEN\": \"Costa Rica\",\n    \"iso2\": \"CR\",\n    \"iso3\": \"CRI\",\n    \"phoneCode\": \"506\"\n  },\n  {\n    \"nameES\": \"Croacia\",\n    \"nameEN\": \"Croatia\",\n    \"iso2\": \"HR\",\n    \"iso3\": \"HRV\",\n    \"phoneCode\": \"385\"\n  },\n  {\n    \"nameES\": \"Cuba\",\n    \"nameEN\": \"Cuba\",\n    \"iso2\": \"CU\",\n    \"iso3\": \"CUB\",\n    \"phoneCode\": \"53\"\n  },\n  {\n    \"nameES\": \"Curazao\",\n    \"nameEN\": \"Curaçao\",\n    \"iso2\": \"CW\",\n    \"iso3\": \"CWU\",\n    \"phoneCode\": \"5999\"\n  },\n  {\n    \"nameES\": \"Dinamarca\",\n    \"nameEN\": \"Denmark\",\n    \"iso2\": \"DK\",\n    \"iso3\": \"DNK\",\n    \"phoneCode\": \"45\"\n  },\n  {\n    \"nameES\": \"Dominica\",\n    \"nameEN\": \"Dominica\",\n    \"iso2\": \"DM\",\n    \"iso3\": \"DMA\",\n    \"phoneCode\": \"1 767\"\n  },\n  {\n    \"nameES\": \"Ecuador\",\n    \"nameEN\": \"Ecuador\",\n    \"iso2\": \"EC\",\n    \"iso3\": \"ECU\",\n    \"phoneCode\": \"593\"\n  },\n  {\n    \"nameES\": \"Egipto\",\n    \"nameEN\": \"Egypt\",\n    \"iso2\": \"EG\",\n    \"iso3\": \"EGY\",\n    \"phoneCode\": \"20\"\n  },\n  {\n    \"nameES\": \"El Salvador\",\n    \"nameEN\": \"El Salvador\",\n    \"iso2\": \"SV\",\n    \"iso3\": \"SLV\",\n    \"phoneCode\": \"503\"\n  },\n  {\n    \"nameES\": \"Emiratos Árabes Unidos\",\n    \"nameEN\": \"United Arab Emirates\",\n    \"iso2\": \"AE\",\n    \"iso3\": \"ARE\",\n    \"phoneCode\": \"971\"\n  },\n  {\n    \"nameES\": \"Eritrea\",\n    \"nameEN\": \"Eritrea\",\n    \"iso2\": \"ER\",\n    \"iso3\": \"ERI\",\n    \"phoneCode\": \"291\"\n  },\n  {\n    \"nameES\": \"Eslovaquia\",\n    \"nameEN\": \"Slovakia\",\n    \"iso2\": \"SK\",\n    \"iso3\": \"SVK\",\n    \"phoneCode\": \"421\"\n  },\n  {\n    \"nameES\": \"Eslovenia\",\n    \"nameEN\": \"Slovenia\",\n    \"iso2\": \"SI\",\n    \"iso3\": \"SVN\",\n    \"phoneCode\": \"386\"\n  },\n  {\n    \"nameES\": \"España\",\n    \"nameEN\": \"Spain\",\n    \"iso2\": \"ES\",\n    \"iso3\": \"ESP\",\n    \"phoneCode\": \"34\"\n  },\n  {\n    \"nameES\": \"Estados Unidos de América\",\n    \"nameEN\": \"United States of America\",\n    \"iso2\": \"US\",\n    \"iso3\": \"USA\",\n    \"phoneCode\": \"1\"\n  },\n  {\n    \"nameES\": \"Estonia\",\n    \"nameEN\": \"Estonia\",\n    \"iso2\": \"EE\",\n    \"iso3\": \"EST\",\n    \"phoneCode\": \"372\"\n  },\n  {\n    \"nameES\": \"Etiopía\",\n    \"nameEN\": \"Ethiopia\",\n    \"iso2\": \"ET\",\n    \"iso3\": \"ETH\",\n    \"phoneCode\": \"251\"\n  },\n  {\n    \"nameES\": \"Filipinas\",\n    \"nameEN\": \"Philippines\",\n    \"iso2\": \"PH\",\n    \"iso3\": \"PHL\",\n    \"phoneCode\": \"63\"\n  },\n  {\n    \"nameES\": \"Finlandia\",\n    \"nameEN\": \"Finland\",\n    \"iso2\": \"FI\",\n    \"iso3\": \"FIN\",\n    \"phoneCode\": \"358\"\n  },\n  {\n    \"nameES\": \"Fiyi\",\n    \"nameEN\": \"Fiji\",\n    \"iso2\": \"FJ\",\n    \"iso3\": \"FJI\",\n    \"phoneCode\": \"679\"\n  },\n  {\n    \"nameES\": \"Francia\",\n    \"nameEN\": \"France\",\n    \"iso2\": \"FR\",\n    \"iso3\": \"FRA\",\n    \"phoneCode\": \"33\"\n  },\n  {\n    \"nameES\": \"Gabón\",\n    \"nameEN\": \"Gabon\",\n    \"iso2\": \"GA\",\n    \"iso3\": \"GAB\",\n    \"phoneCode\": \"241\"\n  },\n  {\n    \"nameES\": \"Gambia\",\n    \"nameEN\": \"Gambia\",\n    \"iso2\": \"GM\",\n    \"iso3\": \"GMB\",\n    \"phoneCode\": \"220\"\n  },\n  {\n    \"nameES\": \"Georgia\",\n    \"nameEN\": \"Georgia\",\n    \"iso2\": \"GE\",\n    \"iso3\": \"GEO\",\n    \"phoneCode\": \"995\"\n  },\n  {\n    \"nameES\": \"Ghana\",\n    \"nameEN\": \"Ghana\",\n    \"iso2\": \"GH\",\n    \"iso3\": \"GHA\",\n    \"phoneCode\": \"233\"\n  },\n  {\n    \"nameES\": \"Gibraltar\",\n    \"nameEN\": \"Gibraltar\",\n    \"iso2\": \"GI\",\n    \"iso3\": \"GIB\",\n    \"phoneCode\": \"350\"\n  },\n  {\n    \"nameES\": \"Granada\",\n    \"nameEN\": \"Grenada\",\n    \"iso2\": \"GD\",\n    \"iso3\": \"GRD\",\n    \"phoneCode\": \"1 473\"\n  },\n  {\n    \"nameES\": \"Grecia\",\n    \"nameEN\": \"Greece\",\n    \"iso2\": \"GR\",\n    \"iso3\": \"GRC\",\n    \"phoneCode\": \"30\"\n  },\n  {\n    \"nameES\": \"Groenlandia\",\n    \"nameEN\": \"Greenland\",\n    \"iso2\": \"GL\",\n    \"iso3\": \"GRL\",\n    \"phoneCode\": \"299\"\n  },\n  {\n    \"nameES\": \"Guadalupe\",\n    \"nameEN\": \"Guadeloupe\",\n    \"iso2\": \"GP\",\n    \"iso3\": \"GLP\",\n    \"phoneCode\": \"590\"\n  },\n  {\n    \"nameES\": \"Guam\",\n    \"nameEN\": \"Guam\",\n    \"iso2\": \"GU\",\n    \"iso3\": \"GUM\",\n    \"phoneCode\": \"1 671\"\n  },\n  {\n    \"nameES\": \"Guatemala\",\n    \"nameEN\": \"Guatemala\",\n    \"iso2\": \"GT\",\n    \"iso3\": \"GTM\",\n    \"phoneCode\": \"502\"\n  },\n  {\n    \"nameES\": \"Guayana Francesa\",\n    \"nameEN\": \"French Guiana\",\n    \"iso2\": \"GF\",\n    \"iso3\": \"GUF\",\n    \"phoneCode\": \"594\"\n  },\n  {\n    \"nameES\": \"Guernsey\",\n    \"nameEN\": \"Guernsey\",\n    \"iso2\": \"GG\",\n    \"iso3\": \"GGY\",\n    \"phoneCode\": \"44\"\n  },\n  {\n    \"nameES\": \"Guinea\",\n    \"nameEN\": \"Guinea\",\n    \"iso2\": \"GN\",\n    \"iso3\": \"GIN\",\n    \"phoneCode\": \"224\"\n  },\n  {\n    \"nameES\": \"Guinea Ecuatorial\",\n    \"nameEN\": \"Equatorial Guinea\",\n    \"iso2\": \"GQ\",\n    \"iso3\": \"GNQ\",\n    \"phoneCode\": \"240\"\n  },\n  {\n    \"nameES\": \"Guinea-Bissau\",\n    \"nameEN\": \"Guinea-Bissau\",\n    \"iso2\": \"GW\",\n    \"iso3\": \"GNB\",\n    \"phoneCode\": \"245\"\n  },\n  {\n    \"nameES\": \"Guyana\",\n    \"nameEN\": \"Guyana\",\n    \"iso2\": \"GY\",\n    \"iso3\": \"GUY\",\n    \"phoneCode\": \"592\"\n  },\n  {\n    \"nameES\": \"Haití\",\n    \"nameEN\": \"Haiti\",\n    \"iso2\": \"HT\",\n    \"iso3\": \"HTI\",\n    \"phoneCode\": \"509\"\n  },\n  {\n    \"nameES\": \"Honduras\",\n    \"nameEN\": \"Honduras\",\n    \"iso2\": \"HN\",\n    \"iso3\": \"HND\",\n    \"phoneCode\": \"504\"\n  },\n  {\n    \"nameES\": \"Hong kong\",\n    \"nameEN\": \"Hong Kong\",\n    \"iso2\": \"HK\",\n    \"iso3\": \"HKG\",\n    \"phoneCode\": \"852\"\n  },\n  {\n    \"nameES\": \"Hungría\",\n    \"nameEN\": \"Hungary\",\n    \"iso2\": \"HU\",\n    \"iso3\": \"HUN\",\n    \"phoneCode\": \"36\"\n  },\n  {\n    \"nameES\": \"India\",\n    \"nameEN\": \"India\",\n    \"iso2\": \"IN\",\n    \"iso3\": \"IND\",\n    \"phoneCode\": \"91\"\n  },\n  {\n    \"nameES\": \"Indonesia\",\n    \"nameEN\": \"Indonesia\",\n    \"iso2\": \"ID\",\n    \"iso3\": \"IDN\",\n    \"phoneCode\": \"62\"\n  },\n  {\n    \"nameES\": \"Irán\",\n    \"nameEN\": \"Iran\",\n    \"iso2\": \"IR\",\n    \"iso3\": \"IRN\",\n    \"phoneCode\": \"98\"\n  },\n  {\n    \"nameES\": \"Irak\",\n    \"nameEN\": \"Iraq\",\n    \"iso2\": \"IQ\",\n    \"iso3\": \"IRQ\",\n    \"phoneCode\": \"964\"\n  },\n  {\n    \"nameES\": \"Irlanda\",\n    \"nameEN\": \"Ireland\",\n    \"iso2\": \"IE\",\n    \"iso3\": \"IRL\",\n    \"phoneCode\": \"353\"\n  },\n  {\n    \"nameES\": \"Isla Bouvet\",\n    \"nameEN\": \"Bouvet Island\",\n    \"iso2\": \"BV\",\n    \"iso3\": \"BVT\",\n    \"phoneCode\": \"\"\n  },\n  {\n    \"nameES\": \"Isla de Man\",\n    \"nameEN\": \"Isle of Man\",\n    \"iso2\": \"IM\",\n    \"iso3\": \"IMN\",\n    \"phoneCode\": \"44\"\n  },\n  {\n    \"nameES\": \"Isla de Navidad\",\n    \"nameEN\": \"Christmas Island\",\n    \"iso2\": \"CX\",\n    \"iso3\": \"CXR\",\n    \"phoneCode\": \"61\"\n  },\n  {\n    \"nameES\": \"Isla Norfolk\",\n    \"nameEN\": \"Norfolk Island\",\n    \"iso2\": \"NF\",\n    \"iso3\": \"NFK\",\n    \"phoneCode\": \"672\"\n  },\n  {\n    \"nameES\": \"Islandia\",\n    \"nameEN\": \"Iceland\",\n    \"iso2\": \"IS\",\n    \"iso3\": \"ISL\",\n    \"phoneCode\": \"354\"\n  },\n  {\n    \"nameES\": \"Islas Bermudas\",\n    \"nameEN\": \"Bermuda Islands\",\n    \"iso2\": \"BM\",\n    \"iso3\": \"BMU\",\n    \"phoneCode\": \"1 441\"\n  },\n  {\n    \"nameES\": \"Islas Caimán\",\n    \"nameEN\": \"Cayman Islands\",\n    \"iso2\": \"KY\",\n    \"iso3\": \"CYM\",\n    \"phoneCode\": \"1 345\"\n  },\n  {\n    \"nameES\": \"Islas Cocos (Keeling)\",\n    \"nameEN\": \"Cocos (Keeling) Islands\",\n    \"iso2\": \"CC\",\n    \"iso3\": \"CCK\",\n    \"phoneCode\": \"61\"\n  },\n  {\n    \"nameES\": \"Islas Cook\",\n    \"nameEN\": \"Cook Islands\",\n    \"iso2\": \"CK\",\n    \"iso3\": \"COK\",\n    \"phoneCode\": \"682\"\n  },\n  {\n    \"nameES\": \"Islas de Åland\",\n    \"nameEN\": \"Åland Islands\",\n    \"iso2\": \"AX\",\n    \"iso3\": \"ALA\",\n    \"phoneCode\": \"358\"\n  },\n  {\n    \"nameES\": \"Islas Feroe\",\n    \"nameEN\": \"Faroe Islands\",\n    \"iso2\": \"FO\",\n    \"iso3\": \"FRO\",\n    \"phoneCode\": \"298\"\n  },\n  {\n    \"nameES\": \"Islas Georgias del Sur y Sandwich del Sur\",\n    \"nameEN\": \"South Georgia and the South Sandwich Islands\",\n    \"iso2\": \"GS\",\n    \"iso3\": \"SGS\",\n    \"phoneCode\": \"500\"\n  },\n  {\n    \"nameES\": \"Islas Heard y McDonald\",\n    \"nameEN\": \"Heard Island and McDonald Islands\",\n    \"iso2\": \"HM\",\n    \"iso3\": \"HMD\",\n    \"phoneCode\": \"\"\n  },\n  {\n    \"nameES\": \"Islas Maldivas\",\n    \"nameEN\": \"Maldives\",\n    \"iso2\": \"MV\",\n    \"iso3\": \"MDV\",\n    \"phoneCode\": \"960\"\n  },\n  {\n    \"nameES\": \"Islas Malvinas\",\n    \"nameEN\": \"Falkland Islands (Malvinas)\",\n    \"iso2\": \"FK\",\n    \"iso3\": \"FLK\",\n    \"phoneCode\": \"500\"\n  },\n  {\n    \"nameES\": \"Islas Marianas del Norte\",\n    \"nameEN\": \"Northern Mariana Islands\",\n    \"iso2\": \"MP\",\n    \"iso3\": \"MNP\",\n    \"phoneCode\": \"1 670\"\n  },\n  {\n    \"nameES\": \"Islas Marshall\",\n    \"nameEN\": \"Marshall Islands\",\n    \"iso2\": \"MH\",\n    \"iso3\": \"MHL\",\n    \"phoneCode\": \"692\"\n  },\n  {\n    \"nameES\": \"Islas Pitcairn\",\n    \"nameEN\": \"Pitcairn Islands\",\n    \"iso2\": \"PN\",\n    \"iso3\": \"PCN\",\n    \"phoneCode\": \"870\"\n  },\n  {\n    \"nameES\": \"Islas Salomón\",\n    \"nameEN\": \"Solomon Islands\",\n    \"iso2\": \"SB\",\n    \"iso3\": \"SLB\",\n    \"phoneCode\": \"677\"\n  },\n  {\n    \"nameES\": \"Islas Turcas y Caicos\",\n    \"nameEN\": \"Turks and Caicos Islands\",\n    \"iso2\": \"TC\",\n    \"iso3\": \"TCA\",\n    \"phoneCode\": \"1 649\"\n  },\n  {\n    \"nameES\": \"Islas Ultramarinas Menores de Estados Unidos\",\n    \"nameEN\": \"United States Minor Outlying Islands\",\n    \"iso2\": \"UM\",\n    \"iso3\": \"UMI\",\n    \"phoneCode\": \"246\"\n  },\n  {\n    \"nameES\": \"Islas Vírgenes Británicas\",\n    \"nameEN\": \"Virgin Islands\",\n    \"iso2\": \"VG\",\n    \"iso3\": \"VGB\",\n    \"phoneCode\": \"1 284\"\n  },\n  {\n    \"nameES\": \"Islas Vírgenes de los Estados Unidos\",\n    \"nameEN\": \"United States Virgin Islands\",\n    \"iso2\": \"VI\",\n    \"iso3\": \"VIR\",\n    \"phoneCode\": \"1 340\"\n  },\n  {\n    \"nameES\": \"Israel\",\n    \"nameEN\": \"Israel\",\n    \"iso2\": \"IL\",\n    \"iso3\": \"ISR\",\n    \"phoneCode\": \"972\"\n  },\n  {\n    \"nameES\": \"Italia\",\n    \"nameEN\": \"Italy\",\n    \"iso2\": \"IT\",\n    \"iso3\": \"ITA\",\n    \"phoneCode\": \"39\"\n  },\n  {\n    \"nameES\": \"Jamaica\",\n    \"nameEN\": \"Jamaica\",\n    \"iso2\": \"JM\",\n    \"iso3\": \"JAM\",\n    \"phoneCode\": \"1 876\"\n  },\n  {\n    \"nameES\": \"Japón\",\n    \"nameEN\": \"Japan\",\n    \"iso2\": \"JP\",\n    \"iso3\": \"JPN\",\n    \"phoneCode\": \"81\"\n  },\n  {\n    \"nameES\": \"Jersey\",\n    \"nameEN\": \"Jersey\",\n    \"iso2\": \"JE\",\n    \"iso3\": \"JEY\",\n    \"phoneCode\": \"44\"\n  },\n  {\n    \"nameES\": \"Jordania\",\n    \"nameEN\": \"Jordan\",\n    \"iso2\": \"JO\",\n    \"iso3\": \"JOR\",\n    \"phoneCode\": \"962\"\n  },\n  {\n    \"nameES\": \"Kazajistán\",\n    \"nameEN\": \"Kazakhstan\",\n    \"iso2\": \"KZ\",\n    \"iso3\": \"KAZ\",\n    \"phoneCode\": \"7\"\n  },\n  {\n    \"nameES\": \"Kenia\",\n    \"nameEN\": \"Kenya\",\n    \"iso2\": \"KE\",\n    \"iso3\": \"KEN\",\n    \"phoneCode\": \"254\"\n  },\n  {\n    \"nameES\": \"Kirguistán\",\n    \"nameEN\": \"Kyrgyzstan\",\n    \"iso2\": \"KG\",\n    \"iso3\": \"KGZ\",\n    \"phoneCode\": \"996\"\n  },\n  {\n    \"nameES\": \"Kiribati\",\n    \"nameEN\": \"Kiribati\",\n    \"iso2\": \"KI\",\n    \"iso3\": \"KIR\",\n    \"phoneCode\": \"686\"\n  },\n  {\n    \"nameES\": \"Kuwait\",\n    \"nameEN\": \"Kuwait\",\n    \"iso2\": \"KW\",\n    \"iso3\": \"KWT\",\n    \"phoneCode\": \"965\"\n  },\n  {\n    \"nameES\": \"Líbano\",\n    \"nameEN\": \"Lebanon\",\n    \"iso2\": \"LB\",\n    \"iso3\": \"LBN\",\n    \"phoneCode\": \"961\"\n  },\n  {\n    \"nameES\": \"Laos\",\n    \"nameEN\": \"Laos\",\n    \"iso2\": \"LA\",\n    \"iso3\": \"LAO\",\n    \"phoneCode\": \"856\"\n  },\n  {\n    \"nameES\": \"Lesoto\",\n    \"nameEN\": \"Lesotho\",\n    \"iso2\": \"LS\",\n    \"iso3\": \"LSO\",\n    \"phoneCode\": \"266\"\n  },\n  {\n    \"nameES\": \"Letonia\",\n    \"nameEN\": \"Latvia\",\n    \"iso2\": \"LV\",\n    \"iso3\": \"LVA\",\n    \"phoneCode\": \"371\"\n  },\n  {\n    \"nameES\": \"Liberia\",\n    \"nameEN\": \"Liberia\",\n    \"iso2\": \"LR\",\n    \"iso3\": \"LBR\",\n    \"phoneCode\": \"231\"\n  },\n  {\n    \"nameES\": \"Libia\",\n    \"nameEN\": \"Libya\",\n    \"iso2\": \"LY\",\n    \"iso3\": \"LBY\",\n    \"phoneCode\": \"218\"\n  },\n  {\n    \"nameES\": \"Liechtenstein\",\n    \"nameEN\": \"Liechtenstein\",\n    \"iso2\": \"LI\",\n    \"iso3\": \"LIE\",\n    \"phoneCode\": \"423\"\n  },\n  {\n    \"nameES\": \"Lituania\",\n    \"nameEN\": \"Lithuania\",\n    \"iso2\": \"LT\",\n    \"iso3\": \"LTU\",\n    \"phoneCode\": \"370\"\n  },\n  {\n    \"nameES\": \"Luxemburgo\",\n    \"nameEN\": \"Luxembourg\",\n    \"iso2\": \"LU\",\n    \"iso3\": \"LUX\",\n    \"phoneCode\": \"352\"\n  },\n  {\n    \"nameES\": \"México\",\n    \"nameEN\": \"Mexico\",\n    \"iso2\": \"MX\",\n    \"iso3\": \"MEX\",\n    \"phoneCode\": \"52\"\n  },\n  {\n    \"nameES\": \"Mónaco\",\n    \"nameEN\": \"Monaco\",\n    \"iso2\": \"MC\",\n    \"iso3\": \"MCO\",\n    \"phoneCode\": \"377\"\n  },\n  {\n    \"nameES\": \"Macao\",\n    \"nameEN\": \"Macao\",\n    \"iso2\": \"MO\",\n    \"iso3\": \"MAC\",\n    \"phoneCode\": \"853\"\n  },\n  {\n    \"nameES\": \"Macedônia\",\n    \"nameEN\": \"Macedonia\",\n    \"iso2\": \"MK\",\n    \"iso3\": \"MKD\",\n    \"phoneCode\": \"389\"\n  },\n  {\n    \"nameES\": \"Madagascar\",\n    \"nameEN\": \"Madagascar\",\n    \"iso2\": \"MG\",\n    \"iso3\": \"MDG\",\n    \"phoneCode\": \"261\"\n  },\n  {\n    \"nameES\": \"Malasia\",\n    \"nameEN\": \"Malaysia\",\n    \"iso2\": \"MY\",\n    \"iso3\": \"MYS\",\n    \"phoneCode\": \"60\"\n  },\n  {\n    \"nameES\": \"Malawi\",\n    \"nameEN\": \"Malawi\",\n    \"iso2\": \"MW\",\n    \"iso3\": \"MWI\",\n    \"phoneCode\": \"265\"\n  },\n  {\n    \"nameES\": \"Mali\",\n    \"nameEN\": \"Mali\",\n    \"iso2\": \"ML\",\n    \"iso3\": \"MLI\",\n    \"phoneCode\": \"223\"\n  },\n  {\n    \"nameES\": \"Malta\",\n    \"nameEN\": \"Malta\",\n    \"iso2\": \"MT\",\n    \"iso3\": \"MLT\",\n    \"phoneCode\": \"356\"\n  },\n  {\n    \"nameES\": \"Marruecos\",\n    \"nameEN\": \"Morocco\",\n    \"iso2\": \"MA\",\n    \"iso3\": \"MAR\",\n    \"phoneCode\": \"212\"\n  },\n  {\n    \"nameES\": \"Martinica\",\n    \"nameEN\": \"Martinique\",\n    \"iso2\": \"MQ\",\n    \"iso3\": \"MTQ\",\n    \"phoneCode\": \"596\"\n  },\n  {\n    \"nameES\": \"Mauricio\",\n    \"nameEN\": \"Mauritius\",\n    \"iso2\": \"MU\",\n    \"iso3\": \"MUS\",\n    \"phoneCode\": \"230\"\n  },\n  {\n    \"nameES\": \"Mauritania\",\n    \"nameEN\": \"Mauritania\",\n    \"iso2\": \"MR\",\n    \"iso3\": \"MRT\",\n    \"phoneCode\": \"222\"\n  },\n  {\n    \"nameES\": \"Mayotte\",\n    \"nameEN\": \"Mayotte\",\n    \"iso2\": \"YT\",\n    \"iso3\": \"MYT\",\n    \"phoneCode\": \"262\"\n  },\n  {\n    \"nameES\": \"Micronesia\",\n    \"nameEN\": \"Estados Federados de\",\n    \"iso2\": \"FM\",\n    \"iso3\": \"FSM\",\n    \"phoneCode\": \"691\"\n  },\n  {\n    \"nameES\": \"Moldavia\",\n    \"nameEN\": \"Moldova\",\n    \"iso2\": \"MD\",\n    \"iso3\": \"MDA\",\n    \"phoneCode\": \"373\"\n  },\n  {\n    \"nameES\": \"Mongolia\",\n    \"nameEN\": \"Mongolia\",\n    \"iso2\": \"MN\",\n    \"iso3\": \"MNG\",\n    \"phoneCode\": \"976\"\n  },\n  {\n    \"nameES\": \"Montenegro\",\n    \"nameEN\": \"Montenegro\",\n    \"iso2\": \"ME\",\n    \"iso3\": \"MNE\",\n    \"phoneCode\": \"382\"\n  },\n  {\n    \"nameES\": \"Montserrat\",\n    \"nameEN\": \"Montserrat\",\n    \"iso2\": \"MS\",\n    \"iso3\": \"MSR\",\n    \"phoneCode\": \"1 664\"\n  },\n  {\n    \"nameES\": \"Mozambique\",\n    \"nameEN\": \"Mozambique\",\n    \"iso2\": \"MZ\",\n    \"iso3\": \"MOZ\",\n    \"phoneCode\": \"258\"\n  },\n  {\n    \"nameES\": \"Namibia\",\n    \"nameEN\": \"Namibia\",\n    \"iso2\": \"NA\",\n    \"iso3\": \"NAM\",\n    \"phoneCode\": \"264\"\n  },\n  {\n    \"nameES\": \"Nauru\",\n    \"nameEN\": \"Nauru\",\n    \"iso2\": \"NR\",\n    \"iso3\": \"NRU\",\n    \"phoneCode\": \"674\"\n  },\n  {\n    \"nameES\": \"Nepal\",\n    \"nameEN\": \"Nepal\",\n    \"iso2\": \"NP\",\n    \"iso3\": \"NPL\",\n    \"phoneCode\": \"977\"\n  },\n  {\n    \"nameES\": \"Nicaragua\",\n    \"nameEN\": \"Nicaragua\",\n    \"iso2\": \"NI\",\n    \"iso3\": \"NIC\",\n    \"phoneCode\": \"505\"\n  },\n  {\n    \"nameES\": \"Niger\",\n    \"nameEN\": \"Niger\",\n    \"iso2\": \"NE\",\n    \"iso3\": \"NER\",\n    \"phoneCode\": \"227\"\n  },\n  {\n    \"nameES\": \"Nigeria\",\n    \"nameEN\": \"Nigeria\",\n    \"iso2\": \"NG\",\n    \"iso3\": \"NGA\",\n    \"phoneCode\": \"234\"\n  },\n  {\n    \"nameES\": \"Niue\",\n    \"nameEN\": \"Niue\",\n    \"iso2\": \"NU\",\n    \"iso3\": \"NIU\",\n    \"phoneCode\": \"683\"\n  },\n  {\n    \"nameES\": \"Noruega\",\n    \"nameEN\": \"Norway\",\n    \"iso2\": \"NO\",\n    \"iso3\": \"NOR\",\n    \"phoneCode\": \"47\"\n  },\n  {\n    \"nameES\": \"Nueva Caledonia\",\n    \"nameEN\": \"New Caledonia\",\n    \"iso2\": \"NC\",\n    \"iso3\": \"NCL\",\n    \"phoneCode\": \"687\"\n  },\n  {\n    \"nameES\": \"Nueva Zelanda\",\n    \"nameEN\": \"New Zealand\",\n    \"iso2\": \"NZ\",\n    \"iso3\": \"NZL\",\n    \"phoneCode\": \"64\"\n  },\n  {\n    \"nameES\": \"Omán\",\n    \"nameEN\": \"Oman\",\n    \"iso2\": \"OM\",\n    \"iso3\": \"OMN\",\n    \"phoneCode\": \"968\"\n  },\n  {\n    \"nameES\": \"Países Bajos\",\n    \"nameEN\": \"Netherlands\",\n    \"iso2\": \"NL\",\n    \"iso3\": \"NLD\",\n    \"phoneCode\": \"31\"\n  },\n  {\n    \"nameES\": \"Pakistán\",\n    \"nameEN\": \"Pakistan\",\n    \"iso2\": \"PK\",\n    \"iso3\": \"PAK\",\n    \"phoneCode\": \"92\"\n  },\n  {\n    \"nameES\": \"Palau\",\n    \"nameEN\": \"Palau\",\n    \"iso2\": \"PW\",\n    \"iso3\": \"PLW\",\n    \"phoneCode\": \"680\"\n  },\n  {\n    \"nameES\": \"Palestina\",\n    \"nameEN\": \"Palestine\",\n    \"iso2\": \"PS\",\n    \"iso3\": \"PSE\",\n    \"phoneCode\": \"970\"\n  },\n  {\n    \"nameES\": \"Panamá\",\n    \"nameEN\": \"Panama\",\n    \"iso2\": \"PA\",\n    \"iso3\": \"PAN\",\n    \"phoneCode\": \"507\"\n  },\n  {\n    \"nameES\": \"Papúa Nueva Guinea\",\n    \"nameEN\": \"Papua New Guinea\",\n    \"iso2\": \"PG\",\n    \"iso3\": \"PNG\",\n    \"phoneCode\": \"675\"\n  },\n  {\n    \"nameES\": \"Paraguay\",\n    \"nameEN\": \"Paraguay\",\n    \"iso2\": \"PY\",\n    \"iso3\": \"PRY\",\n    \"phoneCode\": \"595\"\n  },\n  {\n    \"nameES\": \"Perú\",\n    \"nameEN\": \"Peru\",\n    \"iso2\": \"PE\",\n    \"iso3\": \"PER\",\n    \"phoneCode\": \"51\"\n  },\n  {\n    \"nameES\": \"Polinesia Francesa\",\n    \"nameEN\": \"French Polynesia\",\n    \"iso2\": \"PF\",\n    \"iso3\": \"PYF\",\n    \"phoneCode\": \"689\"\n  },\n  {\n    \"nameES\": \"Polonia\",\n    \"nameEN\": \"Poland\",\n    \"iso2\": \"PL\",\n    \"iso3\": \"POL\",\n    \"phoneCode\": \"48\"\n  },\n  {\n    \"nameES\": \"Portugal\",\n    \"nameEN\": \"Portugal\",\n    \"iso2\": \"PT\",\n    \"iso3\": \"PRT\",\n    \"phoneCode\": \"351\"\n  },\n  {\n    \"nameES\": \"Puerto Rico\",\n    \"nameEN\": \"Puerto Rico\",\n    \"iso2\": \"PR\",\n    \"iso3\": \"PRI\",\n    \"phoneCode\": \"1\"\n  },\n  {\n    \"nameES\": \"Qatar\",\n    \"nameEN\": \"Qatar\",\n    \"iso2\": \"QA\",\n    \"iso3\": \"QAT\",\n    \"phoneCode\": \"974\"\n  },\n  {\n    \"nameES\": \"Reino Unido\",\n    \"nameEN\": \"United Kingdom\",\n    \"iso2\": \"GB\",\n    \"iso3\": \"GBR\",\n    \"phoneCode\": \"44\"\n  },\n  {\n    \"nameES\": \"República Centroafricana\",\n    \"nameEN\": \"Central African Republic\",\n    \"iso2\": \"CF\",\n    \"iso3\": \"CAF\",\n    \"phoneCode\": \"236\"\n  },\n  {\n    \"nameES\": \"República Checa\",\n    \"nameEN\": \"Czech Republic\",\n    \"iso2\": \"CZ\",\n    \"iso3\": \"CZE\",\n    \"phoneCode\": \"420\"\n  },\n  {\n    \"nameES\": \"República Dominicana\",\n    \"nameEN\": \"Dominican Republic\",\n    \"iso2\": \"DO\",\n    \"iso3\": \"DOM\",\n    \"phoneCode\": \"1 809\"\n  },\n  {\n    \"nameES\": \"República de Sudán del Sur\",\n    \"nameEN\": \"South Sudan\",\n    \"iso2\": \"SS\",\n    \"iso3\": \"SSD\",\n    \"phoneCode\": \"211\"\n  },\n  {\n    \"nameES\": \"Reunión\",\n    \"nameEN\": \"Réunion\",\n    \"iso2\": \"RE\",\n    \"iso3\": \"REU\",\n    \"phoneCode\": \"262\"\n  },\n  {\n    \"nameES\": \"Ruanda\",\n    \"nameEN\": \"Rwanda\",\n    \"iso2\": \"RW\",\n    \"iso3\": \"RWA\",\n    \"phoneCode\": \"250\"\n  },\n  {\n    \"nameES\": \"Rumanía\",\n    \"nameEN\": \"Romania\",\n    \"iso2\": \"RO\",\n    \"iso3\": \"ROU\",\n    \"phoneCode\": \"40\"\n  },\n  {\n    \"nameES\": \"Rusia\",\n    \"nameEN\": \"Russia\",\n    \"iso2\": \"RU\",\n    \"iso3\": \"RUS\",\n    \"phoneCode\": \"7\"\n  },\n  {\n    \"nameES\": \"Sahara Occidental\",\n    \"nameEN\": \"Western Sahara\",\n    \"iso2\": \"EH\",\n    \"iso3\": \"ESH\",\n    \"phoneCode\": \"212\"\n  },\n  {\n    \"nameES\": \"Samoa\",\n    \"nameEN\": \"Samoa\",\n    \"iso2\": \"WS\",\n    \"iso3\": \"WSM\",\n    \"phoneCode\": \"685\"\n  },\n  {\n    \"nameES\": \"Samoa Americana\",\n    \"nameEN\": \"American Samoa\",\n    \"iso2\": \"AS\",\n    \"iso3\": \"ASM\",\n    \"phoneCode\": \"1 684\"\n  },\n  {\n    \"nameES\": \"San Bartolomé\",\n    \"nameEN\": \"Saint Barthélemy\",\n    \"iso2\": \"BL\",\n    \"iso3\": \"BLM\",\n    \"phoneCode\": \"590\"\n  },\n  {\n    \"nameES\": \"San Cristóbal y Nieves\",\n    \"nameEN\": \"Saint Kitts and Nevis\",\n    \"iso2\": \"KN\",\n    \"iso3\": \"KNA\",\n    \"phoneCode\": \"1 869\"\n  },\n  {\n    \"nameES\": \"San Marino\",\n    \"nameEN\": \"San Marino\",\n    \"iso2\": \"SM\",\n    \"iso3\": \"SMR\",\n    \"phoneCode\": \"378\"\n  },\n  {\n    \"nameES\": \"San Martín (Francia)\",\n    \"nameEN\": \"Saint Martin (French part)\",\n    \"iso2\": \"MF\",\n    \"iso3\": \"MAF\",\n    \"phoneCode\": \"1 599\"\n  },\n  {\n    \"nameES\": \"San Pedro y Miquelón\",\n    \"nameEN\": \"Saint Pierre and Miquelon\",\n    \"iso2\": \"PM\",\n    \"iso3\": \"SPM\",\n    \"phoneCode\": \"508\"\n  },\n  {\n    \"nameES\": \"San Vicente y las Granadinas\",\n    \"nameEN\": \"Saint Vincent and the Grenadines\",\n    \"iso2\": \"VC\",\n    \"iso3\": \"VCT\",\n    \"phoneCode\": \"1 784\"\n  },\n  {\n    \"nameES\": \"Santa Elena\",\n    \"nameEN\": \"Ascensión y Tristán de Acuña\",\n    \"iso2\": \"SH\",\n    \"iso3\": \"SHN\",\n    \"phoneCode\": \"290\"\n  },\n  {\n    \"nameES\": \"Santa Lucía\",\n    \"nameEN\": \"Saint Lucia\",\n    \"iso2\": \"LC\",\n    \"iso3\": \"LCA\",\n    \"phoneCode\": \"1 758\"\n  },\n  {\n    \"nameES\": \"Santo Tomé y Príncipe\",\n    \"nameEN\": \"Sao Tome and Principe\",\n    \"iso2\": \"ST\",\n    \"iso3\": \"STP\",\n    \"phoneCode\": \"239\"\n  },\n  {\n    \"nameES\": \"Senegal\",\n    \"nameEN\": \"Senegal\",\n    \"iso2\": \"SN\",\n    \"iso3\": \"SEN\",\n    \"phoneCode\": \"221\"\n  },\n  {\n    \"nameES\": \"Serbia\",\n    \"nameEN\": \"Serbia\",\n    \"iso2\": \"RS\",\n    \"iso3\": \"SRB\",\n    \"phoneCode\": \"381\"\n  },\n  {\n    \"nameES\": \"Seychelles\",\n    \"nameEN\": \"Seychelles\",\n    \"iso2\": \"SC\",\n    \"iso3\": \"SYC\",\n    \"phoneCode\": \"248\"\n  },\n  {\n    \"nameES\": \"Sierra Leona\",\n    \"nameEN\": \"Sierra Leone\",\n    \"iso2\": \"SL\",\n    \"iso3\": \"SLE\",\n    \"phoneCode\": \"232\"\n  },\n  {\n    \"nameES\": \"Singapur\",\n    \"nameEN\": \"Singapore\",\n    \"iso2\": \"SG\",\n    \"iso3\": \"SGP\",\n    \"phoneCode\": \"65\"\n  },\n  {\n    \"nameES\": \"Sint Maarten\",\n    \"nameEN\": \"Sint Maarten\",\n    \"iso2\": \"SX\",\n    \"iso3\": \"SMX\",\n    \"phoneCode\": \"1 721\"\n  },\n  {\n    \"nameES\": \"Siria\",\n    \"nameEN\": \"Syria\",\n    \"iso2\": \"SY\",\n    \"iso3\": \"SYR\",\n    \"phoneCode\": \"963\"\n  },\n  {\n    \"nameES\": \"Somalia\",\n    \"nameEN\": \"Somalia\",\n    \"iso2\": \"SO\",\n    \"iso3\": \"SOM\",\n    \"phoneCode\": \"252\"\n  },\n  {\n    \"nameES\": \"Sri lanka\",\n    \"nameEN\": \"Sri Lanka\",\n    \"iso2\": \"LK\",\n    \"iso3\": \"LKA\",\n    \"phoneCode\": \"94\"\n  },\n  {\n    \"nameES\": \"Sudáfrica\",\n    \"nameEN\": \"South Africa\",\n    \"iso2\": \"ZA\",\n    \"iso3\": \"ZAF\",\n    \"phoneCode\": \"27\"\n  },\n  {\n    \"nameES\": \"Sudán\",\n    \"nameEN\": \"Sudan\",\n    \"iso2\": \"SD\",\n    \"iso3\": \"SDN\",\n    \"phoneCode\": \"249\"\n  },\n  {\n    \"nameES\": \"Suecia\",\n    \"nameEN\": \"Sweden\",\n    \"iso2\": \"SE\",\n    \"iso3\": \"SWE\",\n    \"phoneCode\": \"46\"\n  },\n  {\n    \"nameES\": \"Suiza\",\n    \"nameEN\": \"Switzerland\",\n    \"iso2\": \"CH\",\n    \"iso3\": \"CHE\",\n    \"phoneCode\": \"41\"\n  },\n  {\n    \"nameES\": \"Surinám\",\n    \"nameEN\": \"Suriname\",\n    \"iso2\": \"SR\",\n    \"iso3\": \"SUR\",\n    \"phoneCode\": \"597\"\n  },\n  {\n    \"nameES\": \"Svalbard y Jan Mayen\",\n    \"nameEN\": \"Svalbard and Jan Mayen\",\n    \"iso2\": \"SJ\",\n    \"iso3\": \"SJM\",\n    \"phoneCode\": \"47\"\n  },\n  {\n    \"nameES\": \"Swazilandia\",\n    \"nameEN\": \"Swaziland\",\n    \"iso2\": \"SZ\",\n    \"iso3\": \"SWZ\",\n    \"phoneCode\": \"268\"\n  },\n  {\n    \"nameES\": \"Tayikistán\",\n    \"nameEN\": \"Tajikistan\",\n    \"iso2\": \"TJ\",\n    \"iso3\": \"TJK\",\n    \"phoneCode\": \"992\"\n  },\n  {\n    \"nameES\": \"Tailandia\",\n    \"nameEN\": \"Thailand\",\n    \"iso2\": \"TH\",\n    \"iso3\": \"THA\",\n    \"phoneCode\": \"66\"\n  },\n  {\n    \"nameES\": \"Taiwán\",\n    \"nameEN\": \"Taiwan\",\n    \"iso2\": \"TW\",\n    \"iso3\": \"TWN\",\n    \"phoneCode\": \"886\"\n  },\n  {\n    \"nameES\": \"Tanzania\",\n    \"nameEN\": \"Tanzania\",\n    \"iso2\": \"TZ\",\n    \"iso3\": \"TZA\",\n    \"phoneCode\": \"255\"\n  },\n  {\n    \"nameES\": \"Territorio Británico del Océano Índico\",\n    \"nameEN\": \"British Indian Ocean Territory\",\n    \"iso2\": \"IO\",\n    \"iso3\": \"IOT\",\n    \"phoneCode\": \"246\"\n  },\n  {\n    \"nameES\": \"Territorios Australes y Antárticas Franceses\",\n    \"nameEN\": \"French Southern Territories\",\n    \"iso2\": \"TF\",\n    \"iso3\": \"ATF\",\n    \"phoneCode\": \"\"\n  },\n  {\n    \"nameES\": \"Timor Oriental\",\n    \"nameEN\": \"East Timor\",\n    \"iso2\": \"TL\",\n    \"iso3\": \"TLS\",\n    \"phoneCode\": \"670\"\n  },\n  {\n    \"nameES\": \"Togo\",\n    \"nameEN\": \"Togo\",\n    \"iso2\": \"TG\",\n    \"iso3\": \"TGO\",\n    \"phoneCode\": \"228\"\n  },\n  {\n    \"nameES\": \"Tokelau\",\n    \"nameEN\": \"Tokelau\",\n    \"iso2\": \"TK\",\n    \"iso3\": \"TKL\",\n    \"phoneCode\": \"690\"\n  },\n  {\n    \"nameES\": \"Tonga\",\n    \"nameEN\": \"Tonga\",\n    \"iso2\": \"TO\",\n    \"iso3\": \"TON\",\n    \"phoneCode\": \"676\"\n  },\n  {\n    \"nameES\": \"Trinidad y Tobago\",\n    \"nameEN\": \"Trinidad and Tobago\",\n    \"iso2\": \"TT\",\n    \"iso3\": \"TTO\",\n    \"phoneCode\": \"1 868\"\n  },\n  {\n    \"nameES\": \"Tunez\",\n    \"nameEN\": \"Tunisia\",\n    \"iso2\": \"TN\",\n    \"iso3\": \"TUN\",\n    \"phoneCode\": \"216\"\n  },\n  {\n    \"nameES\": \"Turkmenistán\",\n    \"nameEN\": \"Turkmenistan\",\n    \"iso2\": \"TM\",\n    \"iso3\": \"TKM\",\n    \"phoneCode\": \"993\"\n  },\n  {\n    \"nameES\": \"Turquía\",\n    \"nameEN\": \"Turkey\",\n    \"iso2\": \"TR\",\n    \"iso3\": \"TUR\",\n    \"phoneCode\": \"90\"\n  },\n  {\n    \"nameES\": \"Tuvalu\",\n    \"nameEN\": \"Tuvalu\",\n    \"iso2\": \"TV\",\n    \"iso3\": \"TUV\",\n    \"phoneCode\": \"688\"\n  },\n  {\n    \"nameES\": \"Ucrania\",\n    \"nameEN\": \"Ukraine\",\n    \"iso2\": \"UA\",\n    \"iso3\": \"UKR\",\n    \"phoneCode\": \"380\"\n  },\n  {\n    \"nameES\": \"Uganda\",\n    \"nameEN\": \"Uganda\",\n    \"iso2\": \"UG\",\n    \"iso3\": \"UGA\",\n    \"phoneCode\": \"256\"\n  },\n  {\n    \"nameES\": \"Uruguay\",\n    \"nameEN\": \"Uruguay\",\n    \"iso2\": \"UY\",\n    \"iso3\": \"URY\",\n    \"phoneCode\": \"598\"\n  },\n  {\n    \"nameES\": \"Uzbekistán\",\n    \"nameEN\": \"Uzbekistan\",\n    \"iso2\": \"UZ\",\n    \"iso3\": \"UZB\",\n    \"phoneCode\": \"998\"\n  },\n  {\n    \"nameES\": \"Vanuatu\",\n    \"nameEN\": \"Vanuatu\",\n    \"iso2\": \"VU\",\n    \"iso3\": \"VUT\",\n    \"phoneCode\": \"678\"\n  },\n  {\n    \"nameES\": \"Venezuela\",\n    \"nameEN\": \"Venezuela\",\n    \"iso2\": \"VE\",\n    \"iso3\": \"VEN\",\n    \"phoneCode\": \"58\"\n  },\n  {\n    \"nameES\": \"Vietnam\",\n    \"nameEN\": \"Vietnam\",\n    \"iso2\": \"VN\",\n    \"iso3\": \"VNM\",\n    \"phoneCode\": \"84\"\n  },\n  {\n    \"nameES\": \"Wallis y Futuna\",\n    \"nameEN\": \"Wallis and Futuna\",\n    \"iso2\": \"WF\",\n    \"iso3\": \"WLF\",\n    \"phoneCode\": \"681\"\n  },\n  {\n    \"nameES\": \"Yemen\",\n    \"nameEN\": \"Yemen\",\n    \"iso2\": \"YE\",\n    \"iso3\": \"YEM\",\n    \"phoneCode\": \"967\"\n  },\n  {\n    \"nameES\": \"Yibuti\",\n    \"nameEN\": \"Djibouti\",\n    \"iso2\": \"DJ\",\n    \"iso3\": \"DJI\",\n    \"phoneCode\": \"253\"\n  },\n  {\n    \"nameES\": \"Zambia\",\n    \"nameEN\": \"Zambia\",\n    \"iso2\": \"ZM\",\n    \"iso3\": \"ZMB\",\n    \"phoneCode\": \"260\"\n  },\n  {\n    \"nameES\": \"Zimbabue\",\n    \"nameEN\": \"Zimbabwe\",\n    \"iso2\": \"ZW\",\n    \"iso3\": \"ZWE\",\n    \"phoneCode\": \"263\"\n  }\n]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -80,
        64
      ],
      "id": "ee5da202-7937-49f2-8da3-f923adc85e2f",
      "name": "paises1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "paises",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        128,
        64
      ],
      "id": "a4805c7d-e019-4ab3-9324-e3d13064ec01",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b1c7783e-6fcf-4d37-a94e-14a4fb2f157d",
              "name": "option",
              "value": "={{ $json.nameES }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        336,
        64
      ],
      "id": "dfb89e8b-3ba0-4059-8084-4707e2c5df80",
      "name": "formato2"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "values",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        576,
        64
      ],
      "id": "34bfafc2-a038-4645-b9f8-5c18fc8bcadd",
      "name": "Aggregate2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "095b2775-26e7-4201-bb76-eaa76151af89",
              "name": "values",
              "value": "={{ $('Aggregate2').item.json.values }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        784,
        64
      ],
      "id": "426d6ae3-5270-4ae0-8b94-f6e46e30310a",
      "name": "Return"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "0a5458af-823d-4571-866d-75f6ff07aaaf",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -288,
        64
      ]
    }
  ],
  "pinData": {
    "Start": [
      {
        "json": {
          "tipo_estudiante": "Para mi hijo/hija",
          "submittedAt": "2026-01-01T12:51:33.052-05:00",
          "formMode": "test"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "repo_name": "n8n_backups",
  "repo_owner": "mirkoflores",
  "repo_path": "n8n",
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-01-01T17:51:01.065Z",
      "createdAt": "2026-01-01T17:51:01.065Z",
      "role": "workflow:owner",
      "workflowId": "VKL8pPTOJRCGOy5R",
      "projectId": "axO88AWqOW8lB7Vc"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-01T17:56:03.099Z",
  "versionId": "11e44bd2-e6c4-416f-8b67-f3572ac60cbc"
}