n8n/WigkEeokYfYA5jiO.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2025-12-26T21:00:08.225Z",
    "createdAt": "2025-12-26T21:00:05.894Z",
    "versionId": "d68aeb27-e27e-431e-b7f1-8f745c5f3314",
    "workflowId": "WigkEeokYfYA5jiO",
    "nodes": [
      {
        "parameters": {
          "authentication": "airtableOAuth2Api",
          "base": {
            "__rl": true,
            "value": "appBCL3CWLhCwIjnP",
            "mode": "list",
            "cachedResultName": "BioEnglish",
            "cachedResultUrl": "https://airtable.com/appBCL3CWLhCwIjnP"
          },
          "table": {
            "__rl": true,
            "value": "tblr6JOWFdK3kOAfo",
            "mode": "list",
            "cachedResultName": "DetalleVentas",
            "cachedResultUrl": "https://airtable.com/appBCL3CWLhCwIjnP/tblr6JOWFdK3kOAfo"
          },
          "id": "={{ $('Webhook').item.json.body.recordId }}",
          "options": {}
        },
        "type": "n8n-nodes-base.airtable",
        "typeVersion": 2.1,
        "position": [
          -304,
          0
        ],
        "id": "ded6d2ef-cd36-45dd-ad33-def709b1b9d2",
        "name": "Detalles venta",
        "credentials": {
          "airtableOAuth2Api": {
            "id": "mylJqD7auLJ9sN2T",
            "name": "Bioenglish_1"
          }
        }
      },
      {
        "parameters": {
          "authentication": "airtableOAuth2Api",
          "base": {
            "__rl": true,
            "value": "appBCL3CWLhCwIjnP",
            "mode": "list",
            "cachedResultName": "BioEnglish",
            "cachedResultUrl": "https://airtable.com/appBCL3CWLhCwIjnP"
          },
          "table": {
            "__rl": true,
            "value": "tblkpm3CwBi8WctOZ",
            "mode": "list",
            "cachedResultName": "Clientes",
            "cachedResultUrl": "https://airtable.com/appBCL3CWLhCwIjnP/tblkpm3CwBi8WctOZ"
          },
          "id": "={{ $('Variables_1').item.json.id_registro_clientes }}",
          "options": {}
        },
        "type": "n8n-nodes-base.airtable",
        "typeVersion": 2.1,
        "position": [
          112,
          0
        ],
        "id": "ba23e1af-5c28-4026-a85a-9d6fceb761aa",
        "name": "Clientes",
        "credentials": {
          "airtableOAuth2Api": {
            "id": "mylJqD7auLJ9sN2T",
            "name": "Bioenglish_1"
          }
        }
      },
      {
        "parameters": {
          "authentication": "airtableOAuth2Api",
          "base": {
            "__rl": true,
            "value": "appBCL3CWLhCwIjnP",
            "mode": "list",
            "cachedResultName": "BioEnglish",
            "cachedResultUrl": "https://airtable.com/appBCL3CWLhCwIjnP"
          },
          "table": {
            "__rl": true,
            "value": "tblkpm3CwBi8WctOZ",
            "mode": "list",
            "cachedResultName": "Clientes",
            "cachedResultUrl": "https://airtable.com/appBCL3CWLhCwIjnP/tblkpm3CwBi8WctOZ"
          },
          "id": "={{ $('Variables_1').item.json.id_registro_grupo }}",
          "options": {}
        },
        "type": "n8n-nodes-base.airtable",
        "typeVersion": 2.1,
        "position": [
          320,
          0
        ],
        "id": "84b61286-40bd-447e-80f5-033b7aa493c1",
        "name": "Grupo",
        "credentials": {
          "airtableOAuth2Api": {
            "id": "mylJqD7auLJ9sN2T",
            "name": "Bioenglish_1"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "98b5ba04-6ef6-4bf2-bc1b-ff9750eac831",
                "name": "id_detalles_venta",
                "value": "={{ $('Webhook').item.json.body.recordId }}",
                "type": "string"
              },
              {
                "id": "9a3677ac-ce76-447d-a79d-a4b07b732af4",
                "name": "tipo_recordatorio_pago",
                "value": "={{ $('Webhook').item.json.body.Tipo }}",
                "type": "string"
              },
              {
                "id": "c557b9c8-ffba-4fd2-92da-bda8d2c36b75",
                "name": "id_registro_clientes",
                "value": "={{ $('Detalles venta').item.json.Clientes[0] }}",
                "type": "string"
              },
              {
                "id": "90c98378-7629-4e3b-bdc5-ff242275ea01",
                "name": "id_registro_grupo",
                "value": "={{ $('Detalles venta').item.json.Grupos[0] }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -96,
          0
        ],
        "id": "5c859342-b16e-4e17-9d22-efb60ec47077",
        "name": "Variables_1"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "7bbec97c-79e6-4f7d-bc02-fb1c039f35f0",
                "name": "nombre_estudiante",
                "value": "={{ $('Clientes').item.json['Nombre del estudiante'] }}",
                "type": "string"
              },
              {
                "id": "e3f2e7a4-a563-4b00-97d9-3d48143060ef",
                "name": "nombre_apoderado",
                "value": "={{ $('Clientes').item.json.Apoderado }}",
                "type": "string"
              },
              {
                "id": "a8df778b-f285-41e7-94a3-83911a954723",
                "name": "celular_estudiante",
                "value": "={{ \n$if(\n($('Clientes').item.json['Cel Apoderado']?.[0] ?? \"\") == \"\",\n$('Clientes').item.json['Celular Unico'],\n\"\"\n)\n}}",
                "type": "string"
              },
              {
                "id": "58e10fd3-ccf7-4db2-ad84-69b6f7f9c39a",
                "name": "celular_apoderado",
                "value": "={{  $if( ($('Clientes').item.json['Cel Apoderado']?.[0] ?? \"\") == \"\", \"\", $('Clientes').item.json['Celular Unico'] ) }}",
                "type": "string"
              },
              {
                "id": "53bd2744-ef78-4c10-9cc9-5addf54220fb",
                "name": "tipo",
                "value": "={{ \n$if(\n($('Clientes').item.json['Cel Apoderado']?.[0] ?? \"\") == \"\",\n\"Apoderado\",\n\"Estudiante\"\n)\n}}",
                "type": "string"
              },
              {
                "id": "d6aa80e7-4884-49bb-9899-383d823f0b17",
                "name": "url_tally_pago_recurrente",
                "value": "={{ $('Clientes').item.json['URL renovacion corto'] }}",
                "type": "string"
              },
              {
                "id": "1a77310e-e259-4991-83ea-928a5108b577",
                "name": "Nivel",
                "value": "={{ $('Grupo').item.json.Nivel }}",
                "type": "string"
              },
              {
                "id": "148e0d02-a5a5-4f6c-bbd0-691fd8d16fd5",
                "name": "Precios",
                "value": "=1 mes: S/.{{ $json['1 mes - precio renovación'] }}\n2 meses: S/.{{ $json['2 meses - precio renovación'] }}\n3 meses: S/.{{ $json['3 meses - precio renovación'] }}\n6 meses: S/.{{ $json['6 meses - precio renovación'] }}\n12 meses: S/.{{ $json['12 meses - precio renovación'] }}",
                "type": "string"
              },
              {
                "id": "03bd909e-9ee9-45db-8e5b-ff889dc4082c",
                "name": "Celular_a_enviar",
                "value": "={{ $('Clientes').item.json['Celular Unico'] }}",
                "type": "string"
              },
              {
                "id": "50765deb-917a-4dca-91a4-1395929b7bee",
                "name": "email",
                "value": "={{ $('Clientes').item.json['Email F'] }}",
                "type": "string"
              },
              {
                "id": "a6171914-e08f-4063-894d-8a5687aa3fde",
                "name": "Precio_1_mes",
                "value": "={{ $('Grupo').item?.json['1 mes - precio renovación'] ?? \"No disponible\" }}",
                "type": "string"
              },
              {
                "id": "2e63f9c0-d519-42ee-970f-104b3a7ae2a7",
                "name": "Precio_2_meses",
                "value": "={{ $('Grupo').item?.json['2 meses - precio renovación'] ?? \"No disponible\" }}",
                "type": "string"
              },
              {
                "id": "219528a4-5736-4ae3-8f2d-564ae9c6f24c",
                "name": "Precio_3_meses",
                "value": "={{ $('Grupo').item?.json['3 meses - precio renovación'] ?? \"No disponible\" }}",
                "type": "string"
              },
              {
                "id": "c4ca0544-c8fb-4389-9da0-8cf10fc654b8",
                "name": "Precio_6_meses",
                "value": "={{ $('Grupo').item?.json['6 meses - precio renovación'] ?? \"No disponible\" }}",
                "type": "string"
              },
              {
                "id": "de7058d2-3b1c-45d2-84d6-e293a66e61f1",
                "name": "Precio_12_meses",
                "value": "={{ $('Grupo').item?.json['12 meses - precio renovación'] ?? \"No disponible\" }}",
                "type": "string"
              },
              {
                "id": "bd6cb66a-4a46-472a-92d4-82316e1dab13",
                "name": "id_grupo_airtable",
                "value": "={{ $('Grupo').item.json.id }}",
                "type": "string"
              },
              {
                "id": "939a860f-f974-4a48-a80f-2c8d2ad7ebfd",
                "name": "url_tally_pago_recurrente_largo",
                "value": "={{ $('Clientes').item.json['URL renovacion'] }}",
                "type": "string"
              },
              {
                "id": "cc0b6145-75e2-4533-b520-4f1ba7c36674",
                "name": "id_cliente_airtable",
                "value": "={{ $('Clientes').item.json.id }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          528,
          0
        ],
        "id": "9ec0bb18-6870-408b-84cb-c8aac21ee542",
        "name": "Variables_2"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://hooks.airtable.com/workflows/v1/genericWebhook/appBCL3CWLhCwIjnP/wfl19pYKBlYcfUB8R/wtrooADDjYPSIvTKv",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "precios",
                "value": "={{ $('Variables_2').item.json.Precios }}"
              },
              {
                "name": "nivel",
                "value": "={{ $('Variables_2').item.json.Nivel }}"
              },
              {
                "name": "url_link_tally",
                "value": "={{ $('Variables_2').item.json.url_tally_pago_recurrente }}"
              },
              {
                "name": "email_a_enviar",
                "value": "={{ $('Variables_2').item.json.email}}"
              },
              {
                "name": "nombre_estudiante",
                "value": "={{ $('Variables_2').item.json.nombre_estudiante }}"
              },
              {
                "name": "plantilla",
                "value": "7_dias_renovacion_CON_precios"
              },
              {
                "name": "numero_de_celular",
                "value": "={{ $('Variables_2').item.json.Celular_a_enviar }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          6032,
          -688
        ],
        "id": "d482ab7f-c9ad-4579-8fcc-f2edfe0913e9",
        "name": "Enviar email"
      },
      {
        "parameters": {
          "resource": "contacts",
          "filter": {
            "query": "={{ $('Variables_2').item.json.Celular_a_enviar }}"
          },
          "options": {
            "with": [
              "leads"
            ]
          },
          "limit": 1
        },
        "type": "n8n-nodes-kommo.kommo",
        "typeVersion": 1,
        "position": [
          800,
          0
        ],
        "id": "0c8912d6-5610-43c2-80ab-601cf8fc29ed",
        "name": "Get list of contacts",
        "credentials": {
          "kommoOAuth2Api": {
            "id": "yjgoywi6EgfDZmcO",
            "name": "kommo_1"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "fc632a6e-e3be-4b43-8535-83bfe0fa949c",
                "leftValue": "={{ $('Get list of contacts').item.json._embedded.contacts[0].id }}",
                "rightValue": "",
                "operator": {
                  "type": "number",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1008,
          0
        ],
        "id": "b0e969fd-2ddb-428f-b481-8dc62a65b44e",
        "name": "existe contacto?"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "e76c1e07-8bf3-4d90-b985-7702d222ece7",
                "leftValue": "={{ $('Get list of contacts').item.json._embedded.contacts[0]._embedded.leads }}",
                "rightValue": "",
                "operator": {
                  "type": "array",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1824,
          -80
        ],
        "id": "cf285d04-3261-4645-930d-0c1946f00da9",
        "name": "tiene leads?"
      },
      {
        "parameters": {
          "resource": "contacts",
          "operation": "createContacts",
          "collection": {
            "contact": [
              {
                "name": "={{ $if($('Variables_2').item.json.tipo == \"Estudiante\",\n\n$('Variables_2').item.json.nombre_estudiante, \n\n$if(\n\"$('Variables_2').item.json.nombre_apoderado\"==\"\",\n\"\",\n\"Apoderado de\" $('Variables_2').item.json.nombre_estudiante\n\n)\n\n) }}",
                "custom_fields_values": {
                  "custom_field": [
                    {
                      "data": "{\"id\":1988338,\"type\":\"select\"}",
                      "value": "={{ $if($('Variables_2').item.json.tipo == \"Estudiante\",\"Estudiante\",\"Apoderado\") }}"
                    },
                    {
                      "data": "{\"id\":1303680,\"type\":\"multitext\"}",
                      "value": "={{ $('Variables_2').item.json.Celular_a_enviar }}"
                    }
                  ]
                }
              }
            ]
          }
        },
        "type": "n8n-nodes-kommo.kommo",
        "typeVersion": 1,
        "position": [
          1280,
          208
        ],
        "id": "9506b4c7-6a8b-4254-b280-fbba0d3d8b55",
        "name": "Create new contacts",
        "credentials": {
          "kommoOAuth2Api": {
            "id": "yjgoywi6EgfDZmcO",
            "name": "kommo_1"
          }
        }
      },
      {
        "parameters": {
          "resource": "leads",
          "operation": "createLeads",
          "collection": {
            "lead": [
              {
                "name": "={{ $if($('Variables_2').item.json.tipo == \"Estudiante\",  $('Variables_2').item.json.nombre_estudiante,   $if( \"$('Variables_2').item.json.nombre_apoderado\"==\"\", \"\", \"Apoderado de\" $('Variables_2').item.json.nombre_estudiante  )  ) }}",
                "pipeline_id": 8756191,
                "status_id": 68677523,
                "_embedded": {
                  "contacts": [
                    {
                      "id": {
                        "contact": [
                          {
                            "id": "={{ $json.id_contact }}"
                          }
                        ]
                      }
                    }
                  ]
                }
              }
            ]
          }
        },
        "type": "n8n-nodes-kommo.kommo",
        "typeVersion": 1,
        "position": [
          2640,
          64
        ],
        "id": "37921795-ebf1-49ab-9c75-07fbc3360fd1",
        "name": "Create new leads",
        "credentials": {
          "kommoOAuth2Api": {
            "id": "yjgoywi6EgfDZmcO",
            "name": "kommo_1"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "5c188dbb-99bf-4c11-8562-14088f634cfc",
                "name": "id_contact",
                "value": "={{ $('Get list of contacts').item.json._embedded.contacts[0].id }}",
                "type": "number"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2064,
          16
        ],
        "id": "7c32102d-f747-4780-a52a-89bda90b8aab",
        "name": "id_contact"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "5c188dbb-99bf-4c11-8562-14088f634cfc",
                "name": "id_contact",
                "value": "={{ $json._embedded.contacts[0].id }}",
                "type": "number"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2064,
          208
        ],
        "id": "32355781-7403-4f47-973e-5c81edc5a38b",
        "name": "id_contact1"
      },
      {
        "parameters": {
          "resource": "contacts",
          "operation": "updateContacts",
          "collection": {
            "contact": [
              {
                "id": "={{ $('Get list of contacts').item.json._embedded.contacts[0].id }}",
                "custom_fields_values": {
                  "custom_field": [
                    {
                      "data": "{\"id\":1988338,\"type\":\"select\"}",
                      "value": "={{ $if($('Variables_2').item.json.tipo == \"Estudiante\",\"Estudiante\",\"Apoderado\") }}"
                    }
                  ]
                }
              }
            ]
          }
        },
        "type": "n8n-nodes-kommo.kommo",
        "typeVersion": 1,
        "position": [
          1472,
          -80
        ],
        "id": "a7cbcda0-d49b-4ee3-8a3a-a2b4e58b8340",
        "name": "Update contacts",
        "credentials": {
          "kommoOAuth2Api": {
            "id": "yjgoywi6EgfDZmcO",
            "name": "kommo_1"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "148e0d02-a5a5-4f6c-bbd0-691fd8d16fd5",
                "name": "id_contacto",
                "value": "={{ $('Get list of contacts').item.json._embedded.contacts[0].id }}",
                "type": "number"
              },
              {
                "id": "03bd909e-9ee9-45db-8e5b-ff889dc4082c",
                "name": "id_lead",
                "value": "={{ $('Get list of contacts').item.json._embedded.contacts[0]._embedded.leads[0].id }}",
                "type": "number"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2880,
          -208
        ],
        "id": "522d763d-a7b2-44ba-b84b-aaf4fdc3d05c",
        "name": "contact_lead"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "148e0d02-a5a5-4f6c-bbd0-691fd8d16fd5",
                "name": "id_contacto",
                "value": "={{ $('id_contact2').item.json.id_contact }}",
                "type": "number"
              },
              {
                "id": "03bd909e-9ee9-45db-8e5b-ff889dc4082c",
                "name": "id_lead",
                "value": "={{ $json._embedded.leads[0].id }}",
                "type": "number"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2880,
          64
        ],
        "id": "8b3a5f45-4979-4ef0-8655-9ea76573cd6a",
        "name": "contact_lead1"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "5c188dbb-99bf-4c11-8562-14088f634cfc",
                "name": "id_contact",
                "value": "={{ $json.id_contact }}",
                "type": "number"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2384,
          64
        ],
        "id": "d656bed3-5266-4520-9245-484bd4580f39",
        "name": "id_contact2"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "148e0d02-a5a5-4f6c-bbd0-691fd8d16fd5",
                "name": "id_contacto",
                "value": "={{ $json.id_contacto }}",
                "type": "number"
              },
              {
                "id": "03bd909e-9ee9-45db-8e5b-ff889dc4082c",
                "name": "id_lead",
                "value": "={{ $json.id_lead }}",
                "type": "number"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          3136,
          -80
        ],
        "id": "d8b37bfc-2fad-481d-a567-bfd5fdc0d2cf",
        "name": "Variables_3"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://bioenglish22.kommo.com/api/v2/salesbot/run",
          "authentication": "genericCredentialType",
          "genericAuthType": "oAuth2Api",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "=[\n  {\n    \"bot_id\": 65546,\n    \"entity_id\": {{$('Variables_3').item.json.id_lead}},\n    \"entity_type\": 2\n  }\n] ",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          5792,
          -688
        ],
        "id": "d616c23e-3e8f-4640-8283-77e1b4bbee68",
        "name": "Enviar mensaje",
        "credentials": {
          "oAuth2Api": {
            "id": "q6wwHvaILtzGGbjE",
            "name": "Kommo"
          }
        }
      },
      {
        "parameters": {
          "resource": "leads",
          "operation": "updateLeads",
          "collection": {
            "lead": [
              {
                "id": "={{ $('Variables_3').item.json.id_lead}}",
                "custom_fields_values": {
                  "custom_field": [
                    {
                      "data": "{\"id\":1988340,\"type\":\"text\"}",
                      "value": "={{ $('Variables_2').item.json.Precio_1_mes }}"
                    },
                    {
                      "data": "{\"id\":1988342,\"type\":\"text\"}",
                      "value": "={{ $('Variables_2').item.json.Precio_2_meses }}"
                    },
                    {
                      "data": "{\"id\":1988344,\"type\":\"text\"}",
                      "value": "={{ $('Variables_2').item.json.Precio_3_meses }}"
                    },
                    {
                      "data": "{\"id\":1988346,\"type\":\"text\"}",
                      "value": "={{ $('Variables_2').item.json.Precio_6_meses }}"
                    },
                    {
                      "data": "{\"id\":1988348,\"type\":\"text\"}",
                      "value": "={{ $('Variables_2').item.json.Precio_12_meses }}"
                    },
                    {
                      "data": "{\"id\":1988350,\"type\":\"text\"}",
                      "value": "={{ $('Variables_2').item.json.nombre_estudiante }}"
                    },
                    {
                      "data": "{\"id\":1988352,\"type\":\"url\"}",
                      "value": "={{ $('Variables_4').item.json.url_tally_pago_recurrente }}"
                    },
                    {
                      "data": "{\"id\":1988354,\"type\":\"text\"}",
                      "value": "={{ $('Variables_2').item.json.Nivel }}"
                    }
                  ]
                }
              }
            ]
          }
        },
        "type": "n8n-nodes-kommo.kommo",
        "typeVersion": 1,
        "position": [
          4720,
          -352
        ],
        "id": "5fb87eea-e76f-4987-bf1c-a4e0d7bbe62d",
        "name": "Update leads",
        "credentials": {
          "kommoOAuth2Api": {
            "id": "yjgoywi6EgfDZmcO",
            "name": "kommo_1"
          }
        }
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          4976,
          -352
        ],
        "id": "21cb1f7f-49cb-4bfb-abd3-4a767b1fde99",
        "name": "Wait",
        "webhookId": "5f0dd59d-61e6-4eb8-b60e-c71ac8c60b1f"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $('Variables_1').item.json.tipo_recordatorio_pago }}",
                      "rightValue": "7_dias_antes",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "ae42432c-6241-4088-8bcb-755d1997a481"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "7 dias"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "fcb36b08-ce5b-4747-adb9-4a4bd9e64022",
                      "leftValue": "={{ $('Variables_1').item.json.tipo_recordatorio_pago }}",
                      "rightValue": "3_dias_antes",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "3 dias"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "b9b5875e-6228-4173-9395-cd8e04b1ddf8",
                      "leftValue": "={{ $('Variables_1').item.json.tipo_recordatorio_pago }}",
                      "rightValue": "1_dia_antes",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "1 dia"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          5200,
          -368
        ],
        "id": "fe9a63c7-f37b-404e-998f-0db0e9ec142f",
        "name": "Switch1"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://hooks.airtable.com/workflows/v1/genericWebhook/appBCL3CWLhCwIjnP/wfl19pYKBlYcfUB8R/wtrooADDjYPSIvTKv",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "precios",
                "value": "={{ $('Variables_2').item.json.Precios }}"
              },
              {
                "name": "nivel",
                "value": "={{ $('Variables_2').item.json.Nivel }}"
              },
              {
                "name": "url_link_tally",
                "value": "={{ $('Variables_2').item.json.url_tally_pago_recurrente }}"
              },
              {
                "name": "email_a_enviar",
                "value": "={{ $('Variables_2').item.json.email}}"
              },
              {
                "name": "nombre_estudiante",
                "value": "={{ $('Variables_2').item.json.nombre_estudiante }}"
              },
              {
                "name": "plantilla",
                "value": "7_dias_renovacion_SIN_precios"
              },
              {
                "name": "numero_de_celular",
                "value": "={{ $('Variables_2').item.json.Celular_a_enviar }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          6032,
          -912
        ],
        "id": "1668a15e-2565-4ba7-934d-73b5e3762b34",
        "name": "Enviar email1"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://bioenglish22.kommo.com/api/v2/salesbot/run",
          "authentication": "genericCredentialType",
          "genericAuthType": "oAuth2Api",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "=[\n  {\n    \"bot_id\": 65672,\n    \"entity_id\": {{$('Variables_3').item.json.id_lead}},\n    \"entity_type\": 2\n  }\n] ",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          5792,
          -912
        ],
        "id": "12407c5e-f56d-4f4d-a118-e7768aa2ce24",
        "name": "Enviar mensaje1",
        "credentials": {
          "oAuth2Api": {
            "id": "q6wwHvaILtzGGbjE",
            "name": "Kommo"
          }
        }
      },
      {
        "parameters": {
          "resource": "message",
          "guildId": {
            "__rl": true,
            "value": "1244011715008532602",
            "mode": "list",
            "cachedResultName": "Bioenglish",
            "cachedResultUrl": "https://discord.com/channels/1244011715008532602"
          },
          "channelId": {
            "__rl": true,
            "value": "1357814199446929488",
            "mode": "list",
            "cachedResultName": "errores",
            "cachedResultUrl": "https://discord.com/channels/1244011715008532602/1357814199446929488"
          },
          "content": "=Falta definir los precios de renovacion del grupo con el nivel {{ $('Variables_2').item.json.Nivel }}\n\n\nEntrar a este link para definir los precios de renovacion: https://airtable.com/appBCL3CWLhCwIjnP/tbllfzjbgoKjO87HI/viwHWienEAkK0GiH1/{{ $('Variables_2').item.json.id_grupo_airtable }}?blocks=hide\n\n\nSe hizo recordatorio de pago de renovacion 7 dias antes pero sin precios a este lead:\nhttps://bioenglish22.kommo.com/leads/detail/{{ $('Variables_3').item.json.id_lead }}",
          "options": {}
        },
        "type": "n8n-nodes-base.discord",
        "typeVersion": 2,
        "position": [
          6256,
          -912
        ],
        "id": "0ad98751-7f8b-4ff7-8d09-cb6035ce18c1",
        "name": "Send a message",
        "webhookId": "cf7337c4-50db-4dc5-95b6-bd0922108198",
        "credentials": {
          "discordBotApi": {
            "id": "lrG2Z5VoQXKArDMn",
            "name": "bio_1"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "470e5792-f40b-4cec-a35f-15453f2d0e02",
                "leftValue": "={{ $('Variables_2').item.json.url_tally_pago_recurrente }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "empty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          3344,
          -80
        ],
        "id": "937effc5-d55b-4e41-bb82-647f9266837d",
        "name": "Url de renovacion corto vacio?"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "51961664-61bd-45f1-9ca2-30bc1b5189f3",
                "name": "url_tally_pago_recurrente",
                "value": "={{ $('Variables_2').item.json.url_tally_pago_recurrente }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          4000,
          64
        ],
        "id": "704a5096-abfc-4bac-8121-def6018e5ad0",
        "name": "url_renovacion"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "51961664-61bd-45f1-9ca2-30bc1b5189f3",
                "name": "url_tally_pago_recurrente",
                "value": "={{ $json.url_tally_pago_recurrente }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          4416,
          -96
        ],
        "id": "0a267b2b-9daa-4e48-8664-e9f675a6e6c7",
        "name": "Variables_4"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "UqJsZfAhJHkWNxvT",
            "mode": "list",
            "cachedResultUrl": "/workflow/UqJsZfAhJHkWNxvT",
            "cachedResultName": "Crear/actualizar url short.io"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "url_de_renovacion_largo": "={{ $('Variables_2').item.json.url_tally_pago_recurrente_largo }}",
              "id_registro_cliente": "={{ $('Variables_2').item.json.id_cliente_airtable }}",
              "tipo": "nuevo_url"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "url_de_renovacion_largo",
                "displayName": "url_de_renovacion_largo",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "id_registro_cliente",
                "displayName": "id_registro_cliente",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "tipo",
                "displayName": "tipo",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "id_link_short_io",
                "displayName": "id_link_short_io",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {
            "waitForSubWorkflow": true
          }
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          3648,
          -160
        ],
        "id": "e5ced7fb-3a08-4c5a-bef9-592aa6b0809b",
        "name": "crear url corto de renovacion"
      },
      {
        "parameters": {
          "authentication": "nocoDbApiToken",
          "operation": "create",
          "projectId": "prkc7a6zgmy2biw",
          "table": "mf1zt2lexmn446a",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldName": "id_escenario_n8n",
                "fieldValue": "={{ $execution.id }}"
              },
              {
                "fieldName": "id_automatizacion_n8n",
                "fieldValue": "={{ $workflow.id }}"
              },
              {
                "fieldName": "id_detalles_venta_airtable",
                "fieldValue": "={{ $('Variables_1').item.json.id_detalles_venta }}"
              },
              {
                "fieldName": "id_cliente_airtable",
                "fieldValue": "={{ $('Variables_1').item.json.id_registro_clientes }}"
              },
              {
                "fieldName": "id_grupo_airtable",
                "fieldValue": "={{ $('Variables_1').item.json.id_registro_grupo }}"
              },
              {
                "fieldName": "id_contact_kommo",
                "fieldValue": "={{ $('Variables_3').item.json.id_contacto }}"
              },
              {
                "fieldName": "id_lead_kommo",
                "fieldValue": "={{ $('Variables_3').item.json.id_lead }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.nocoDb",
        "typeVersion": 3,
        "position": [
          4704,
          192
        ],
        "id": "f3580440-92b0-4eab-a83c-50a9ca24c5b4",
        "name": "Create a row",
        "credentials": {
          "nocoDbApiToken": {
            "id": "Sybr1jbACFyMMWFf",
            "name": "bio_1"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "11a8f908-7794-463a-8c47-f5e525865a1e",
                "leftValue": "={{ $('Variables_2').item.json.Precio_1_mes }}",
                "rightValue": "No disponible",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              },
              {
                "id": "2a368ccd-33a7-49ec-8c0f-81db0eb96252",
                "leftValue": "={{ $('Variables_2').item.json.Precio_2_meses }}",
                "rightValue": "No disponible",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              },
              {
                "id": "9ac862ab-2eb2-4d3a-b914-00ca3f037ff5",
                "leftValue": "={{ $('Variables_2').item.json.Precio_3_meses }}",
                "rightValue": "No disponible",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              },
              {
                "id": "756a81de-238d-476c-845c-3bec5e666b89",
                "leftValue": "={{ $('Variables_2').item.json.Precio_6_meses }}",
                "rightValue": "No disponible",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              },
              {
                "id": "0fa911a5-5498-41de-9824-bd45d94ffb74",
                "leftValue": "={{ $('Variables_2').item.json.Precio_12_meses }}",
                "rightValue": "No disponible",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          5552,
          -800
        ],
        "id": "2c710983-a029-4447-872b-b00631d26014",
        "name": "No se tiene info de precio?"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://hooks.airtable.com/workflows/v1/genericWebhook/appBCL3CWLhCwIjnP/wfl19pYKBlYcfUB8R/wtrooADDjYPSIvTKv",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "precios",
                "value": "={{ $('Variables_2').item.json.Precios }}"
              },
              {
                "name": "nivel",
                "value": "={{ $('Variables_2').item.json.Nivel }}"
              },
              {
                "name": "url_link_tally",
                "value": "={{ $('Variables_2').item.json.url_tally_pago_recurrente }}"
              },
              {
                "name": "email_a_enviar",
                "value": "={{ $('Variables_2').item.json.email}}"
              },
              {
                "name": "nombre_estudiante",
                "value": "={{ $('Variables_2').item.json.nombre_estudiante }}"
              },
              {
                "name": "plantilla",
                "value": "3_dias_renovacion_CON_precios"
              },
              {
                "name": "numero_de_celular",
                "value": "={{ $('Variables_2').item.json.Celular_a_enviar }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          6032,
          -240
        ],
        "id": "b6778630-11ff-43cb-b64b-386e98c0adef",
        "name": "Enviar email2"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://bioenglish22.kommo.com/api/v2/salesbot/run",
          "authentication": "genericCredentialType",
          "genericAuthType": "oAuth2Api",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "=[\n  {\n    \"bot_id\": 65674,\n    \"entity_id\": {{$('Variables_3').item.json.id_lead}},\n    \"entity_type\": 2\n  }\n] ",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          5792,
          -240
        ],
        "id": "09be8a55-f785-4c77-8f68-8a6d4b1073b1",
        "name": "Enviar mensaje2",
        "credentials": {
          "oAuth2Api": {
            "id": "q6wwHvaILtzGGbjE",
            "name": "Kommo"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://hooks.airtable.com/workflows/v1/genericWebhook/appBCL3CWLhCwIjnP/wfl19pYKBlYcfUB8R/wtrooADDjYPSIvTKv",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "precios",
                "value": "={{ $('Variables_2').item.json.Precios }}"
              },
              {
                "name": "nivel",
                "value": "={{ $('Variables_2').item.json.Nivel }}"
              },
              {
                "name": "url_link_tally",
                "value": "={{ $('Variables_2').item.json.url_tally_pago_recurrente }}"
              },
              {
                "name": "email_a_enviar",
                "value": "={{ $('Variables_2').item.json.email}}"
              },
              {
                "name": "nombre_estudiante",
                "value": "={{ $('Variables_2').item.json.nombre_estudiante }}"
              },
              {
                "name": "plantilla",
                "value": "3_dias_renovacion_SIN_precios"
              },
              {
                "name": "numero_de_celular",
                "value": "={{ $('Variables_2').item.json.Celular_a_enviar }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          6032,
          -464
        ],
        "id": "6a5fe050-02cf-4e23-8957-da79b5a2a616",
        "name": "Enviar email3"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://bioenglish22.kommo.com/api/v2/salesbot/run",
          "authentication": "genericCredentialType",
          "genericAuthType": "oAuth2Api",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "=[\n  {\n    \"bot_id\": 65676,\n    \"entity_id\": {{$('Variables_3').item.json.id_lead}},\n    \"entity_type\": 2\n  }\n] ",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          5792,
          -464
        ],
        "id": "0db36230-0d0d-49bb-943a-dc011650676e",
        "name": "Enviar mensaje3",
        "credentials": {
          "oAuth2Api": {
            "id": "q6wwHvaILtzGGbjE",
            "name": "Kommo"
          }
        }
      },
      {
        "parameters": {
          "resource": "message",
          "guildId": {
            "__rl": true,
            "value": "1244011715008532602",
            "mode": "list",
            "cachedResultName": "Bioenglish",
            "cachedResultUrl": "https://discord.com/channels/1244011715008532602"
          },
          "channelId": {
            "__rl": true,
            "value": "1357814199446929488",
            "mode": "list",
            "cachedResultName": "errores",
            "cachedResultUrl": "https://discord.com/channels/1244011715008532602/1357814199446929488"
          },
          "content": "=Falta definir los precios de renovacion del grupo con el nivel {{ $('Variables_2').item.json.Nivel }}\n\n\nEntrar a este link para definir los precios de renovacion: https://airtable.com/appBCL3CWLhCwIjnP/tbllfzjbgoKjO87HI/viwHWienEAkK0GiH1/{{ $('Variables_2').item.json.id_grupo_airtable }}?blocks=hide\n\n\nSe hizo recordatorio de pago de renovacion 3 dias antes pero sin precios a este lead:\nhttps://bioenglish22.kommo.com/leads/detail/{{ $('Variables_3').item.json.id_lead }}",
          "options": {}
        },
        "type": "n8n-nodes-base.discord",
        "typeVersion": 2,
        "position": [
          6256,
          -464
        ],
        "id": "9a225705-8b4f-4fa5-8014-7cacc95a4101",
        "name": "Send a message1",
        "webhookId": "cf7337c4-50db-4dc5-95b6-bd0922108198",
        "credentials": {
          "discordBotApi": {
            "id": "lrG2Z5VoQXKArDMn",
            "name": "bio_1"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "11a8f908-7794-463a-8c47-f5e525865a1e",
                "leftValue": "={{ $('Variables_2').item.json.Precio_1_mes }}",
                "rightValue": "No disponible",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              },
              {
                "id": "2a368ccd-33a7-49ec-8c0f-81db0eb96252",
                "leftValue": "={{ $('Variables_2').item.json.Precio_2_meses }}",
                "rightValue": "No disponible",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              },
              {
                "id": "9ac862ab-2eb2-4d3a-b914-00ca3f037ff5",
                "leftValue": "={{ $('Variables_2').item.json.Precio_3_meses }}",
                "rightValue": "No disponible",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              },
              {
                "id": "756a81de-238d-476c-845c-3bec5e666b89",
                "leftValue": "={{ $('Variables_2').item.json.Precio_6_meses }}",
                "rightValue": "No disponible",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              },
              {
                "id": "0fa911a5-5498-41de-9824-bd45d94ffb74",
                "leftValue": "={{ $('Variables_2').item.json.Precio_12_meses }}",
                "rightValue": "No disponible",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          5552,
          -352
        ],
        "id": "14d604f2-54ca-4f34-bc16-1e9076978ed6",
        "name": "No se tiene info de precio?1"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://hooks.airtable.com/workflows/v1/genericWebhook/appBCL3CWLhCwIjnP/wfl19pYKBlYcfUB8R/wtrooADDjYPSIvTKv",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "precios",
                "value": "={{ $('Variables_2').item.json.Precios }}"
              },
              {
                "name": "nivel",
                "value": "={{ $('Variables_2').item.json.Nivel }}"
              },
              {
                "name": "url_link_tally",
                "value": "={{ $('Variables_2').item.json.url_tally_pago_recurrente }}"
              },
              {
                "name": "email_a_enviar",
                "value": "={{ $('Variables_2').item.json.email}}"
              },
              {
                "name": "nombre_estudiante",
                "value": "={{ $('Variables_2').item.json.nombre_estudiante }}"
              },
              {
                "name": "plantilla",
                "value": "1_dia_renovacion_CON_precios"
              },
              {
                "name": "numero_de_celular",
                "value": "={{ $('Variables_2').item.json.Celular_a_enviar }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          6048,
          192
        ],
        "id": "fb04a892-10f5-4269-b116-17194a984389",
        "name": "Enviar email4"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://bioenglish22.kommo.com/api/v2/salesbot/run",
          "authentication": "genericCredentialType",
          "genericAuthType": "oAuth2Api",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "=[\n  {\n    \"bot_id\": 65678,\n    \"entity_id\": {{$('Variables_3').item.json.id_lead}},\n    \"entity_type\": 2\n  }\n] ",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          5808,
          192
        ],
        "id": "82504058-e135-4182-8768-a13266255ada",
        "name": "Enviar mensaje4",
        "credentials": {
          "oAuth2Api": {
            "id": "q6wwHvaILtzGGbjE",
            "name": "Kommo"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://hooks.airtable.com/workflows/v1/genericWebhook/appBCL3CWLhCwIjnP/wfl19pYKBlYcfUB8R/wtrooADDjYPSIvTKv",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "precios",
                "value": "={{ $('Variables_2').item.json.Precios }}"
              },
              {
                "name": "nivel",
                "value": "={{ $('Variables_2').item.json.Nivel }}"
              },
              {
                "name": "url_link_tally",
                "value": "={{ $('Variables_2').item.json.url_tally_pago_recurrente }}"
              },
              {
                "name": "email_a_enviar",
                "value": "={{ $('Variables_2').item.json.email}}"
              },
              {
                "name": "nombre_estudiante",
                "value": "={{ $('Variables_2').item.json.nombre_estudiante }}"
              },
              {
                "name": "plantilla",
                "value": "1_dia_renovacion_SIN_precios"
              },
              {
                "name": "numero_de_celular",
                "value": "={{ $('Variables_2').item.json.Celular_a_enviar }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          6048,
          -32
        ],
        "id": "5d344acf-4be4-4666-ac3d-efc8ab0578ef",
        "name": "Enviar email5"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://bioenglish22.kommo.com/api/v2/salesbot/run",
          "authentication": "genericCredentialType",
          "genericAuthType": "oAuth2Api",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "=[\n  {\n    \"bot_id\": 65680,\n    \"entity_id\": {{$('Variables_3').item.json.id_lead}},\n    \"entity_type\": 2\n  }\n] ",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          5808,
          -32
        ],
        "id": "ab733ad3-96e7-4952-bfba-b28d5201156c",
        "name": "Enviar mensaje5",
        "credentials": {
          "oAuth2Api": {
            "id": "q6wwHvaILtzGGbjE",
            "name": "Kommo"
          }
        }
      },
      {
        "parameters": {
          "resource": "message",
          "guildId": {
            "__rl": true,
            "value": "1244011715008532602",
            "mode": "list",
            "cachedResultName": "Bioenglish",
            "cachedResultUrl": "https://discord.com/channels/1244011715008532602"
          },
          "channelId": {
            "__rl": true,
            "value": "1357814199446929488",
            "mode": "list",
            "cachedResultName": "errores",
            "cachedResultUrl": "https://discord.com/channels/1244011715008532602/1357814199446929488"
          },
          "content": "=Falta definir los precios de renovacion del grupo con el nivel {{ $('Variables_2').item.json.Nivel }}\n\n\nEntrar a este link para definir los precios de renovacion: https://airtable.com/appBCL3CWLhCwIjnP/tbllfzjbgoKjO87HI/viwHWienEAkK0GiH1/{{ $('Variables_2').item.json.id_grupo_airtable }}?blocks=hide\n\n\nSe hizo recordatorio de pago de renovacion 1 dia antes pero sin precios a este lead:\nhttps://bioenglish22.kommo.com/leads/detail/{{ $('Variables_3').item.json.id_lead }}",
          "options": {}
        },
        "type": "n8n-nodes-base.discord",
        "typeVersion": 2,
        "position": [
          6272,
          -32
        ],
        "id": "16b46137-6187-4007-93c8-6e5da6f69aeb",
        "name": "Send a message2",
        "webhookId": "cf7337c4-50db-4dc5-95b6-bd0922108198",
        "credentials": {
          "discordBotApi": {
            "id": "lrG2Z5VoQXKArDMn",
            "name": "bio_1"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "11a8f908-7794-463a-8c47-f5e525865a1e",
                "leftValue": "={{ $('Variables_2').item.json.Precio_1_mes }}",
                "rightValue": "No disponible",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              },
              {
                "id": "2a368ccd-33a7-49ec-8c0f-81db0eb96252",
                "leftValue": "={{ $('Variables_2').item.json.Precio_2_meses }}",
                "rightValue": "No disponible",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              },
              {
                "id": "9ac862ab-2eb2-4d3a-b914-00ca3f037ff5",
                "leftValue": "={{ $('Variables_2').item.json.Precio_3_meses }}",
                "rightValue": "No disponible",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              },
              {
                "id": "756a81de-238d-476c-845c-3bec5e666b89",
                "leftValue": "={{ $('Variables_2').item.json.Precio_6_meses }}",
                "rightValue": "No disponible",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              },
              {
                "id": "0fa911a5-5498-41de-9824-bd45d94ffb74",
                "leftValue": "={{ $('Variables_2').item.json.Precio_12_meses }}",
                "rightValue": "No disponible",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          5568,
          80
        ],
        "id": "5909ea66-a90e-498a-ab8a-7ebf3e1fc9de",
        "name": "No se tiene info de precio?2"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "51961664-61bd-45f1-9ca2-30bc1b5189f3",
                "name": "url_tally_pago_recurrente",
                "value": "={{ $json.url_acortado }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          4000,
          -160
        ],
        "id": "791557b6-5113-41aa-b134-8ae81864350b",
        "name": "url_renovacion1"
      },
      {
        "parameters": {
          "queue": "bioenglish",
          "options": {
            "arguments": {
              "argument": [
                {
                  "key": "x-queue-type",
                  "value": "quorum"
                }
              ]
            },
            "acknowledge": "executionFinishesSuccessfully",
            "jsonParseBody": true,
            "onlyContent": true,
            "parallelMessages": 1
          }
        },
        "type": "n8n-nodes-base.rabbitmqTrigger",
        "typeVersion": 1,
        "position": [
          -496,
          0
        ],
        "id": "8d9574ec-975e-4724-a561-0e4d57603596",
        "name": "Webhook",
        "credentials": {
          "rabbitmq": {
            "id": "0rr5PL45GTNhamch",
            "name": "bio_1"
          }
        }
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "d0f0cd99-4ed0-4de9-a00e-2ea09974eaee",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -480,
          -368
        ],
        "id": "ce17ef5c-fe14-498c-9d8a-b53930c1f5aa",
        "name": "Webhook1",
        "webhookId": "d0f0cd99-4ed0-4de9-a00e-2ea09974eaee"
      }
    ],
    "connections": {
      "Detalles venta": {
        "main": [
          [
            {
              "node": "Variables_1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Clientes": {
        "main": [
          [
            {
              "node": "Grupo",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Variables_1": {
        "main": [
          [
            {
              "node": "Clientes",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Grupo": {
        "main": [
          [
            {
              "node": "Variables_2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Variables_2": {
        "main": [
          [
            {
              "node": "Get list of contacts",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Enviar email": {
        "main": [
          []
        ]
      },
      "Get list of contacts": {
        "main": [
          [
            {
              "node": "existe contacto?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "existe contacto?": {
        "main": [
          [
            {
              "node": "Update contacts",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Create new contacts",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "tiene leads?": {
        "main": [
          [
            {
              "node": "contact_lead",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "id_contact",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "id_contact": {
        "main": [
          [
            {
              "node": "id_contact2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create new contacts": {
        "main": [
          [
            {
              "node": "id_contact1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "id_contact1": {
        "main": [
          [
            {
              "node": "id_contact2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update contacts": {
        "main": [
          [
            {
              "node": "tiene leads?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create new leads": {
        "main": [
          [
            {
              "node": "contact_lead1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "id_contact2": {
        "main": [
          [
            {
              "node": "Create new leads",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "contact_lead": {
        "main": [
          [
            {
              "node": "Variables_3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "contact_lead1": {
        "main": [
          [
            {
              "node": "Variables_3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Variables_3": {
        "main": [
          [
            {
              "node": "Url de renovacion corto vacio?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update leads": {
        "main": [
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "node": "Switch1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch1": {
        "main": [
          [
            {
              "node": "No se tiene info de precio?",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "No se tiene info de precio?1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "No se tiene info de precio?2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Enviar mensaje": {
        "main": [
          [
            {
              "node": "Enviar email",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Enviar mensaje1": {
        "main": [
          [
            {
              "node": "Enviar email1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Enviar email1": {
        "main": [
          [
            {
              "node": "Send a message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Url de renovacion corto vacio?": {
        "main": [
          [
            {
              "node": "crear url corto de renovacion",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "url_renovacion",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "url_renovacion": {
        "main": [
          [
            {
              "node": "Variables_4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "crear url corto de renovacion": {
        "main": [
          [
            {
              "node": "url_renovacion1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Variables_4": {
        "main": [
          [
            {
              "node": "Update leads",
              "type": "main",
              "index": 0
            },
            {
              "node": "Create a row",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "No se tiene info de precio?": {
        "main": [
          [
            {
              "node": "Enviar mensaje1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Enviar mensaje",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Enviar mensaje2": {
        "main": [
          [
            {
              "node": "Enviar email2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Enviar email3": {
        "main": [
          [
            {
              "node": "Send a message1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Enviar mensaje3": {
        "main": [
          [
            {
              "node": "Enviar email3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "No se tiene info de precio?1": {
        "main": [
          [
            {
              "node": "Enviar mensaje3",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Enviar mensaje2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Enviar mensaje4": {
        "main": [
          [
            {
              "node": "Enviar email4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Enviar email5": {
        "main": [
          [
            {
              "node": "Send a message2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Enviar mensaje5": {
        "main": [
          [
            {
              "node": "Enviar email5",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "No se tiene info de precio?2": {
        "main": [
          [
            {
              "node": "Enviar mensaje5",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Enviar mensaje4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "url_renovacion1": {
        "main": [
          [
            {
              "node": "Variables_4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "Detalles venta",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Bioenglish Lat",
    "name": "Version d68aeb27",
    "description": "",
    "autosaved": false
  },
  "activeVersionId": "d68aeb27-e27e-431e-b7f1-8f745c5f3314",
  "connections": {
    "Detalles venta": {
      "main": [
        [
          {
            "node": "Variables_1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clientes": {
      "main": [
        [
          {
            "node": "Grupo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Variables_1": {
      "main": [
        [
          {
            "node": "Clientes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grupo": {
      "main": [
        [
          {
            "node": "Variables_2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Variables_2": {
      "main": [
        [
          {
            "node": "Get list of contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar email": {
      "main": [
        []
      ]
    },
    "Get list of contacts": {
      "main": [
        [
          {
            "node": "existe contacto?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "existe contacto?": {
      "main": [
        [
          {
            "node": "Update contacts",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create new contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tiene leads?": {
      "main": [
        [
          {
            "node": "contact_lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "id_contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "id_contact": {
      "main": [
        [
          {
            "node": "id_contact2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create new contacts": {
      "main": [
        [
          {
            "node": "id_contact1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "id_contact1": {
      "main": [
        [
          {
            "node": "id_contact2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update contacts": {
      "main": [
        [
          {
            "node": "tiene leads?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create new leads": {
      "main": [
        [
          {
            "node": "contact_lead1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "id_contact2": {
      "main": [
        [
          {
            "node": "Create new leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "contact_lead": {
      "main": [
        [
          {
            "node": "Variables_3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "contact_lead1": {
      "main": [
        [
          {
            "node": "Variables_3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Variables_3": {
      "main": [
        [
          {
            "node": "Url de renovacion corto vacio?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update leads": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "No se tiene info de precio?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No se tiene info de precio?1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No se tiene info de precio?2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar mensaje": {
      "main": [
        [
          {
            "node": "Enviar email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar mensaje1": {
      "main": [
        [
          {
            "node": "Enviar email1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar email1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Url de renovacion corto vacio?": {
      "main": [
        [
          {
            "node": "crear url corto de renovacion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "url_renovacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "url_renovacion": {
      "main": [
        [
          {
            "node": "Variables_4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "crear url corto de renovacion": {
      "main": [
        [
          {
            "node": "url_renovacion1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Variables_4": {
      "main": [
        [
          {
            "node": "Update leads",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No se tiene info de precio?": {
      "main": [
        [
          {
            "node": "Enviar mensaje1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar mensaje2": {
      "main": [
        [
          {
            "node": "Enviar email2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar email3": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar mensaje3": {
      "main": [
        [
          {
            "node": "Enviar email3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No se tiene info de precio?1": {
      "main": [
        [
          {
            "node": "Enviar mensaje3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar mensaje2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar mensaje4": {
      "main": [
        [
          {
            "node": "Enviar email4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar email5": {
      "main": [
        [
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar mensaje5": {
      "main": [
        [
          {
            "node": "Enviar email5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No se tiene info de precio?2": {
      "main": [
        [
          {
            "node": "Enviar mensaje5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar mensaje4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "url_renovacion1": {
      "main": [
        [
          {
            "node": "Variables_4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Detalles venta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-20T17:06:23.257Z",
  "id": "WigkEeokYfYA5jiO",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Chatbot de cobranzas",
  "nodes": [
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "base": {
          "__rl": true,
          "value": "appBCL3CWLhCwIjnP",
          "mode": "list",
          "cachedResultName": "BioEnglish",
          "cachedResultUrl": "https://airtable.com/appBCL3CWLhCwIjnP"
        },
        "table": {
          "__rl": true,
          "value": "tblr6JOWFdK3kOAfo",
          "mode": "list",
          "cachedResultName": "DetalleVentas",
          "cachedResultUrl": "https://airtable.com/appBCL3CWLhCwIjnP/tblr6JOWFdK3kOAfo"
        },
        "id": "={{ $('Webhook').item.json.body.recordId }}",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -304,
        0
      ],
      "id": "ded6d2ef-cd36-45dd-ad33-def709b1b9d2",
      "name": "Detalles venta",
      "credentials": {
        "airtableOAuth2Api": {
          "id": "mylJqD7auLJ9sN2T",
          "name": "Bioenglish_1"
        }
      }
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "base": {
          "__rl": true,
          "value": "appBCL3CWLhCwIjnP",
          "mode": "list",
          "cachedResultName": "BioEnglish",
          "cachedResultUrl": "https://airtable.com/appBCL3CWLhCwIjnP"
        },
        "table": {
          "__rl": true,
          "value": "tblkpm3CwBi8WctOZ",
          "mode": "list",
          "cachedResultName": "Clientes",
          "cachedResultUrl": "https://airtable.com/appBCL3CWLhCwIjnP/tblkpm3CwBi8WctOZ"
        },
        "id": "={{ $('Variables_1').item.json.id_registro_clientes }}",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        112,
        0
      ],
      "id": "ba23e1af-5c28-4026-a85a-9d6fceb761aa",
      "name": "Clientes",
      "credentials": {
        "airtableOAuth2Api": {
          "id": "mylJqD7auLJ9sN2T",
          "name": "Bioenglish_1"
        }
      }
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "base": {
          "__rl": true,
          "value": "appBCL3CWLhCwIjnP",
          "mode": "list",
          "cachedResultName": "BioEnglish",
          "cachedResultUrl": "https://airtable.com/appBCL3CWLhCwIjnP"
        },
        "table": {
          "__rl": true,
          "value": "tblkpm3CwBi8WctOZ",
          "mode": "list",
          "cachedResultName": "Clientes",
          "cachedResultUrl": "https://airtable.com/appBCL3CWLhCwIjnP/tblkpm3CwBi8WctOZ"
        },
        "id": "={{ $('Variables_1').item.json.id_registro_grupo }}",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        320,
        0
      ],
      "id": "84b61286-40bd-447e-80f5-033b7aa493c1",
      "name": "Grupo",
      "credentials": {
        "airtableOAuth2Api": {
          "id": "mylJqD7auLJ9sN2T",
          "name": "Bioenglish_1"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "98b5ba04-6ef6-4bf2-bc1b-ff9750eac831",
              "name": "id_detalles_venta",
              "value": "={{ $('Webhook').item.json.body.recordId }}",
              "type": "string"
            },
            {
              "id": "9a3677ac-ce76-447d-a79d-a4b07b732af4",
              "name": "tipo_recordatorio_pago",
              "value": "={{ $('Webhook').item.json.body.Tipo }}",
              "type": "string"
            },
            {
              "id": "c557b9c8-ffba-4fd2-92da-bda8d2c36b75",
              "name": "id_registro_clientes",
              "value": "={{ $('Detalles venta').item.json.Clientes[0] }}",
              "type": "string"
            },
            {
              "id": "90c98378-7629-4e3b-bdc5-ff242275ea01",
              "name": "id_registro_grupo",
              "value": "={{ $('Detalles venta').item.json.Grupos[0] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -96,
        0
      ],
      "id": "5c859342-b16e-4e17-9d22-efb60ec47077",
      "name": "Variables_1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7bbec97c-79e6-4f7d-bc02-fb1c039f35f0",
              "name": "nombre_estudiante",
              "value": "={{ $('Clientes').item.json['Nombre del estudiante'] }}",
              "type": "string"
            },
            {
              "id": "e3f2e7a4-a563-4b00-97d9-3d48143060ef",
              "name": "nombre_apoderado",
              "value": "={{ $('Clientes').item.json.Apoderado }}",
              "type": "string"
            },
            {
              "id": "a8df778b-f285-41e7-94a3-83911a954723",
              "name": "celular_estudiante",
              "value": "={{ \n$if(\n($('Clientes').item.json['Cel Apoderado']?.[0] ?? \"\") == \"\",\n$('Clientes').item.json['Celular Unico'],\n\"\"\n)\n}}",
              "type": "string"
            },
            {
              "id": "58e10fd3-ccf7-4db2-ad84-69b6f7f9c39a",
              "name": "celular_apoderado",
              "value": "={{  $if( ($('Clientes').item.json['Cel Apoderado']?.[0] ?? \"\") == \"\", \"\", $('Clientes').item.json['Celular Unico'] ) }}",
              "type": "string"
            },
            {
              "id": "53bd2744-ef78-4c10-9cc9-5addf54220fb",
              "name": "tipo",
              "value": "={{ \n$if(\n($('Clientes').item.json['Cel Apoderado']?.[0] ?? \"\") == \"\",\n\"Apoderado\",\n\"Estudiante\"\n)\n}}",
              "type": "string"
            },
            {
              "id": "d6aa80e7-4884-49bb-9899-383d823f0b17",
              "name": "url_tally_pago_recurrente",
              "value": "={{ $('Clientes').item.json['URL renovacion corto'] }}",
              "type": "string"
            },
            {
              "id": "1a77310e-e259-4991-83ea-928a5108b577",
              "name": "Nivel",
              "value": "={{ $('Grupo').item.json.Nivel }}",
              "type": "string"
            },
            {
              "id": "148e0d02-a5a5-4f6c-bbd0-691fd8d16fd5",
              "name": "Precios",
              "value": "=1 mes: S/.{{ $json['1 mes - precio renovación'] }}\n2 meses: S/.{{ $json['2 meses - precio renovación'] }}\n3 meses: S/.{{ $json['3 meses - precio renovación'] }}\n6 meses: S/.{{ $json['6 meses - precio renovación'] }}\n12 meses: S/.{{ $json['12 meses - precio renovación'] }}",
              "type": "string"
            },
            {
              "id": "03bd909e-9ee9-45db-8e5b-ff889dc4082c",
              "name": "Celular_a_enviar",
              "value": "={{ $('Clientes').item.json['Celular Unico'] }}",
              "type": "string"
            },
            {
              "id": "50765deb-917a-4dca-91a4-1395929b7bee",
              "name": "email",
              "value": "={{ $('Clientes').item.json['Email F'] }}",
              "type": "string"
            },
            {
              "id": "a6171914-e08f-4063-894d-8a5687aa3fde",
              "name": "Precio_1_mes",
              "value": "={{ $('Grupo').item?.json['1 mes - precio renovación'] ?? \"No disponible\" }}",
              "type": "string"
            },
            {
              "id": "2e63f9c0-d519-42ee-970f-104b3a7ae2a7",
              "name": "Precio_2_meses",
              "value": "={{ $('Grupo').item?.json['2 meses - precio renovación'] ?? \"No disponible\" }}",
              "type": "string"
            },
            {
              "id": "219528a4-5736-4ae3-8f2d-564ae9c6f24c",
              "name": "Precio_3_meses",
              "value": "={{ $('Grupo').item?.json['3 meses - precio renovación'] ?? \"No disponible\" }}",
              "type": "string"
            },
            {
              "id": "c4ca0544-c8fb-4389-9da0-8cf10fc654b8",
              "name": "Precio_6_meses",
              "value": "={{ $('Grupo').item?.json['6 meses - precio renovación'] ?? \"No disponible\" }}",
              "type": "string"
            },
            {
              "id": "de7058d2-3b1c-45d2-84d6-e293a66e61f1",
              "name": "Precio_12_meses",
              "value": "={{ $('Grupo').item?.json['12 meses - precio renovación'] ?? \"No disponible\" }}",
              "type": "string"
            },
            {
              "id": "bd6cb66a-4a46-472a-92d4-82316e1dab13",
              "name": "id_grupo_airtable",
              "value": "={{ $('Grupo').item.json.id }}",
              "type": "string"
            },
            {
              "id": "939a860f-f974-4a48-a80f-2c8d2ad7ebfd",
              "name": "url_tally_pago_recurrente_largo",
              "value": "={{ $('Clientes').item.json['URL renovacion'] }}",
              "type": "string"
            },
            {
              "id": "cc0b6145-75e2-4533-b520-4f1ba7c36674",
              "name": "id_cliente_airtable",
              "value": "={{ $('Clientes').item.json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        528,
        0
      ],
      "id": "9ec0bb18-6870-408b-84cb-c8aac21ee542",
      "name": "Variables_2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hooks.airtable.com/workflows/v1/genericWebhook/appBCL3CWLhCwIjnP/wfl19pYKBlYcfUB8R/wtrooADDjYPSIvTKv",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "precios",
              "value": "={{ $('Variables_2').item.json.Precios }}"
            },
            {
              "name": "nivel",
              "value": "={{ $('Variables_2').item.json.Nivel }}"
            },
            {
              "name": "url_link_tally",
              "value": "={{ $('Variables_2').item.json.url_tally_pago_recurrente }}"
            },
            {
              "name": "email_a_enviar",
              "value": "={{ $('Variables_2').item.json.email}}"
            },
            {
              "name": "nombre_estudiante",
              "value": "={{ $('Variables_2').item.json.nombre_estudiante }}"
            },
            {
              "name": "plantilla",
              "value": "7_dias_renovacion_CON_precios"
            },
            {
              "name": "numero_de_celular",
              "value": "={{ $('Variables_2').item.json.Celular_a_enviar }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        6032,
        -688
      ],
      "id": "d482ab7f-c9ad-4579-8fcc-f2edfe0913e9",
      "name": "Enviar email"
    },
    {
      "parameters": {
        "resource": "contacts",
        "filter": {
          "query": "={{ $('Variables_2').item.json.Celular_a_enviar }}"
        },
        "options": {
          "with": [
            "leads"
          ]
        },
        "limit": 1
      },
      "type": "n8n-nodes-kommo.kommo",
      "typeVersion": 1,
      "position": [
        800,
        0
      ],
      "id": "0c8912d6-5610-43c2-80ab-601cf8fc29ed",
      "name": "Get list of contacts",
      "credentials": {
        "kommoOAuth2Api": {
          "id": "yjgoywi6EgfDZmcO",
          "name": "kommo_1"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "fc632a6e-e3be-4b43-8535-83bfe0fa949c",
              "leftValue": "={{ $('Get list of contacts').item.json._embedded.contacts[0].id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1008,
        0
      ],
      "id": "b0e969fd-2ddb-428f-b481-8dc62a65b44e",
      "name": "existe contacto?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e76c1e07-8bf3-4d90-b985-7702d222ece7",
              "leftValue": "={{ $('Get list of contacts').item.json._embedded.contacts[0]._embedded.leads }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1824,
        -80
      ],
      "id": "cf285d04-3261-4645-930d-0c1946f00da9",
      "name": "tiene leads?"
    },
    {
      "parameters": {
        "resource": "contacts",
        "operation": "createContacts",
        "collection": {
          "contact": [
            {
              "name": "={{ $if($('Variables_2').item.json.tipo == \"Estudiante\",\n\n$('Variables_2').item.json.nombre_estudiante, \n\n$if(\n\"$('Variables_2').item.json.nombre_apoderado\"==\"\",\n\"\",\n\"Apoderado de\" $('Variables_2').item.json.nombre_estudiante\n\n)\n\n) }}",
              "custom_fields_values": {
                "custom_field": [
                  {
                    "data": "{\"id\":1988338,\"type\":\"select\"}",
                    "value": "={{ $if($('Variables_2').item.json.tipo == \"Estudiante\",\"Estudiante\",\"Apoderado\") }}"
                  },
                  {
                    "data": "{\"id\":1303680,\"type\":\"multitext\"}",
                    "value": "={{ $('Variables_2').item.json.Celular_a_enviar }}"
                  }
                ]
              }
            }
          ]
        }
      },
      "type": "n8n-nodes-kommo.kommo",
      "typeVersion": 1,
      "position": [
        1280,
        208
      ],
      "id": "9506b4c7-6a8b-4254-b280-fbba0d3d8b55",
      "name": "Create new contacts",
      "credentials": {
        "kommoOAuth2Api": {
          "id": "yjgoywi6EgfDZmcO",
          "name": "kommo_1"
        }
      }
    },
    {
      "parameters": {
        "resource": "leads",
        "operation": "createLeads",
        "collection": {
          "lead": [
            {
              "name": "={{ $if($('Variables_2').item.json.tipo == \"Estudiante\",  $('Variables_2').item.json.nombre_estudiante,   $if( \"$('Variables_2').item.json.nombre_apoderado\"==\"\", \"\", \"Apoderado de\" $('Variables_2').item.json.nombre_estudiante  )  ) }}",
              "pipeline_id": 8756191,
              "status_id": 68677523,
              "_embedded": {
                "contacts": [
                  {
                    "id": {
                      "contact": [
                        {
                          "id": "={{ $json.id_contact }}"
                        }
                      ]
                    }
                  }
                ]
              }
            }
          ]
        }
      },
      "type": "n8n-nodes-kommo.kommo",
      "typeVersion": 1,
      "position": [
        2640,
        64
      ],
      "id": "37921795-ebf1-49ab-9c75-07fbc3360fd1",
      "name": "Create new leads",
      "credentials": {
        "kommoOAuth2Api": {
          "id": "yjgoywi6EgfDZmcO",
          "name": "kommo_1"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5c188dbb-99bf-4c11-8562-14088f634cfc",
              "name": "id_contact",
              "value": "={{ $('Get list of contacts').item.json._embedded.contacts[0].id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2064,
        16
      ],
      "id": "7c32102d-f747-4780-a52a-89bda90b8aab",
      "name": "id_contact"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5c188dbb-99bf-4c11-8562-14088f634cfc",
              "name": "id_contact",
              "value": "={{ $json._embedded.contacts[0].id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2064,
        208
      ],
      "id": "32355781-7403-4f47-973e-5c81edc5a38b",
      "name": "id_contact1"
    },
    {
      "parameters": {
        "resource": "contacts",
        "operation": "updateContacts",
        "collection": {
          "contact": [
            {
              "id": "={{ $('Get list of contacts').item.json._embedded.contacts[0].id }}",
              "custom_fields_values": {
                "custom_field": [
                  {
                    "data": "{\"id\":1988338,\"type\":\"select\"}",
                    "value": "={{ $if($('Variables_2').item.json.tipo == \"Estudiante\",\"Estudiante\",\"Apoderado\") }}"
                  }
                ]
              }
            }
          ]
        }
      },
      "type": "n8n-nodes-kommo.kommo",
      "typeVersion": 1,
      "position": [
        1472,
        -80
      ],
      "id": "a7cbcda0-d49b-4ee3-8a3a-a2b4e58b8340",
      "name": "Update contacts",
      "credentials": {
        "kommoOAuth2Api": {
          "id": "yjgoywi6EgfDZmcO",
          "name": "kommo_1"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "148e0d02-a5a5-4f6c-bbd0-691fd8d16fd5",
              "name": "id_contacto",
              "value": "={{ $('Get list of contacts').item.json._embedded.contacts[0].id }}",
              "type": "number"
            },
            {
              "id": "03bd909e-9ee9-45db-8e5b-ff889dc4082c",
              "name": "id_lead",
              "value": "={{ $('Get list of contacts').item.json._embedded.contacts[0]._embedded.leads[0].id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2880,
        -208
      ],
      "id": "522d763d-a7b2-44ba-b84b-aaf4fdc3d05c",
      "name": "contact_lead"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "148e0d02-a5a5-4f6c-bbd0-691fd8d16fd5",
              "name": "id_contacto",
              "value": "={{ $('id_contact2').item.json.id_contact }}",
              "type": "number"
            },
            {
              "id": "03bd909e-9ee9-45db-8e5b-ff889dc4082c",
              "name": "id_lead",
              "value": "={{ $json._embedded.leads[0].id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2880,
        64
      ],
      "id": "8b3a5f45-4979-4ef0-8655-9ea76573cd6a",
      "name": "contact_lead1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5c188dbb-99bf-4c11-8562-14088f634cfc",
              "name": "id_contact",
              "value": "={{ $json.id_contact }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2384,
        64
      ],
      "id": "d656bed3-5266-4520-9245-484bd4580f39",
      "name": "id_contact2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "148e0d02-a5a5-4f6c-bbd0-691fd8d16fd5",
              "name": "id_contacto",
              "value": "={{ $json.id_contacto }}",
              "type": "number"
            },
            {
              "id": "03bd909e-9ee9-45db-8e5b-ff889dc4082c",
              "name": "id_lead",
              "value": "={{ $json.id_lead }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3136,
        -80
      ],
      "id": "d8b37bfc-2fad-481d-a567-bfd5fdc0d2cf",
      "name": "Variables_3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://bioenglish22.kommo.com/api/v2/salesbot/run",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[\n  {\n    \"bot_id\": 65546,\n    \"entity_id\": {{$('Variables_3').item.json.id_lead}},\n    \"entity_type\": 2\n  }\n] ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        5792,
        -688
      ],
      "id": "d616c23e-3e8f-4640-8283-77e1b4bbee68",
      "name": "Enviar mensaje",
      "credentials": {
        "oAuth2Api": {
          "id": "q6wwHvaILtzGGbjE",
          "name": "Kommo"
        }
      }
    },
    {
      "parameters": {
        "resource": "leads",
        "operation": "updateLeads",
        "collection": {
          "lead": [
            {
              "id": "={{ $('Variables_3').item.json.id_lead}}",
              "custom_fields_values": {
                "custom_field": [
                  {
                    "data": "{\"id\":1988340,\"type\":\"text\"}",
                    "value": "={{ $('Variables_2').item.json.Precio_1_mes }}"
                  },
                  {
                    "data": "{\"id\":1988342,\"type\":\"text\"}",
                    "value": "={{ $('Variables_2').item.json.Precio_2_meses }}"
                  },
                  {
                    "data": "{\"id\":1988344,\"type\":\"text\"}",
                    "value": "={{ $('Variables_2').item.json.Precio_3_meses }}"
                  },
                  {
                    "data": "{\"id\":1988346,\"type\":\"text\"}",
                    "value": "={{ $('Variables_2').item.json.Precio_6_meses }}"
                  },
                  {
                    "data": "{\"id\":1988348,\"type\":\"text\"}",
                    "value": "={{ $('Variables_2').item.json.Precio_12_meses }}"
                  },
                  {
                    "data": "{\"id\":1988350,\"type\":\"text\"}",
                    "value": "={{ $('Variables_2').item.json.nombre_estudiante }}"
                  },
                  {
                    "data": "{\"id\":1988352,\"type\":\"url\"}",
                    "value": "={{ $('Variables_4').item.json.url_tally_pago_recurrente }}"
                  },
                  {
                    "data": "{\"id\":1988354,\"type\":\"text\"}",
                    "value": "={{ $('Variables_2').item.json.Nivel }}"
                  }
                ]
              }
            }
          ]
        }
      },
      "type": "n8n-nodes-kommo.kommo",
      "typeVersion": 1,
      "position": [
        4720,
        -352
      ],
      "id": "5fb87eea-e76f-4987-bf1c-a4e0d7bbe62d",
      "name": "Update leads",
      "credentials": {
        "kommoOAuth2Api": {
          "id": "yjgoywi6EgfDZmcO",
          "name": "kommo_1"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4976,
        -352
      ],
      "id": "21cb1f7f-49cb-4bfb-abd3-4a767b1fde99",
      "name": "Wait",
      "webhookId": "5f0dd59d-61e6-4eb8-b60e-c71ac8c60b1f"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Variables_1').item.json.tipo_recordatorio_pago }}",
                    "rightValue": "7_dias_antes",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "ae42432c-6241-4088-8bcb-755d1997a481"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "7 dias"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "fcb36b08-ce5b-4747-adb9-4a4bd9e64022",
                    "leftValue": "={{ $('Variables_1').item.json.tipo_recordatorio_pago }}",
                    "rightValue": "3_dias_antes",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "3 dias"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b9b5875e-6228-4173-9395-cd8e04b1ddf8",
                    "leftValue": "={{ $('Variables_1').item.json.tipo_recordatorio_pago }}",
                    "rightValue": "1_dia_antes",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "1 dia"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        5200,
        -368
      ],
      "id": "fe9a63c7-f37b-404e-998f-0db0e9ec142f",
      "name": "Switch1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hooks.airtable.com/workflows/v1/genericWebhook/appBCL3CWLhCwIjnP/wfl19pYKBlYcfUB8R/wtrooADDjYPSIvTKv",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "precios",
              "value": "={{ $('Variables_2').item.json.Precios }}"
            },
            {
              "name": "nivel",
              "value": "={{ $('Variables_2').item.json.Nivel }}"
            },
            {
              "name": "url_link_tally",
              "value": "={{ $('Variables_2').item.json.url_tally_pago_recurrente }}"
            },
            {
              "name": "email_a_enviar",
              "value": "={{ $('Variables_2').item.json.email}}"
            },
            {
              "name": "nombre_estudiante",
              "value": "={{ $('Variables_2').item.json.nombre_estudiante }}"
            },
            {
              "name": "plantilla",
              "value": "7_dias_renovacion_SIN_precios"
            },
            {
              "name": "numero_de_celular",
              "value": "={{ $('Variables_2').item.json.Celular_a_enviar }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        6032,
        -912
      ],
      "id": "1668a15e-2565-4ba7-934d-73b5e3762b34",
      "name": "Enviar email1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://bioenglish22.kommo.com/api/v2/salesbot/run",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[\n  {\n    \"bot_id\": 65682,\n    \"entity_id\": {{$('Variables_3').item.json.id_lead}},\n    \"entity_type\": 2\n  }\n] ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        5792,
        -912
      ],
      "id": "12407c5e-f56d-4f4d-a118-e7768aa2ce24",
      "name": "Enviar mensaje1",
      "credentials": {
        "oAuth2Api": {
          "id": "q6wwHvaILtzGGbjE",
          "name": "Kommo"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1244011715008532602",
          "mode": "list",
          "cachedResultName": "Bioenglish",
          "cachedResultUrl": "https://discord.com/channels/1244011715008532602"
        },
        "channelId": {
          "__rl": true,
          "value": "1357814199446929488",
          "mode": "list",
          "cachedResultName": "errores",
          "cachedResultUrl": "https://discord.com/channels/1244011715008532602/1357814199446929488"
        },
        "content": "=Falta definir los precios de renovacion del grupo con el nivel {{ $('Variables_2').item.json.Nivel }}\n\n\nEntrar a este link para definir los precios de renovacion: https://airtable.com/appBCL3CWLhCwIjnP/tbllfzjbgoKjO87HI/viwHWienEAkK0GiH1/{{ $('Variables_2').item.json.id_grupo_airtable }}?blocks=hide\n\n\nSe hizo recordatorio de pago de renovacion 7 dias antes pero sin precios a este lead:\nhttps://bioenglish22.kommo.com/leads/detail/{{ $('Variables_3').item.json.id_lead }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        6256,
        -912
      ],
      "id": "0ad98751-7f8b-4ff7-8d09-cb6035ce18c1",
      "name": "Send a message",
      "webhookId": "cf7337c4-50db-4dc5-95b6-bd0922108198",
      "credentials": {
        "discordBotApi": {
          "id": "lrG2Z5VoQXKArDMn",
          "name": "bio_1"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "470e5792-f40b-4cec-a35f-15453f2d0e02",
              "leftValue": "={{ $('Variables_2').item.json.url_tally_pago_recurrente }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3344,
        -80
      ],
      "id": "937effc5-d55b-4e41-bb82-647f9266837d",
      "name": "Url de renovacion corto vacio?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "51961664-61bd-45f1-9ca2-30bc1b5189f3",
              "name": "url_tally_pago_recurrente",
              "value": "={{ $('Variables_2').item.json.url_tally_pago_recurrente }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4000,
        64
      ],
      "id": "704a5096-abfc-4bac-8121-def6018e5ad0",
      "name": "url_renovacion"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "51961664-61bd-45f1-9ca2-30bc1b5189f3",
              "name": "url_tally_pago_recurrente",
              "value": "={{ $json.url_tally_pago_recurrente }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4416,
        -96
      ],
      "id": "0a267b2b-9daa-4e48-8664-e9f675a6e6c7",
      "name": "Variables_4"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "UqJsZfAhJHkWNxvT",
          "mode": "list",
          "cachedResultUrl": "/workflow/UqJsZfAhJHkWNxvT",
          "cachedResultName": "Crear/actualizar url short.io"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "url_de_renovacion_largo": "={{ $('Variables_2').item.json.url_tally_pago_recurrente_largo }}",
            "id_registro_cliente": "={{ $('Variables_2').item.json.id_cliente_airtable }}",
            "tipo": "nuevo_url"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "url_de_renovacion_largo",
              "displayName": "url_de_renovacion_largo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "id_registro_cliente",
              "displayName": "id_registro_cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "tipo",
              "displayName": "tipo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "id_link_short_io",
              "displayName": "id_link_short_io",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        3648,
        -160
      ],
      "id": "e5ced7fb-3a08-4c5a-bef9-592aa6b0809b",
      "name": "crear url corto de renovacion"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "create",
        "projectId": "prkc7a6zgmy2biw",
        "table": "mf1zt2lexmn446a",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "id_escenario_n8n",
              "fieldValue": "={{ $execution.id }}"
            },
            {
              "fieldName": "id_automatizacion_n8n",
              "fieldValue": "={{ $workflow.id }}"
            },
            {
              "fieldName": "id_detalles_venta_airtable",
              "fieldValue": "={{ $('Variables_1').item.json.id_detalles_venta }}"
            },
            {
              "fieldName": "id_cliente_airtable",
              "fieldValue": "={{ $('Variables_1').item.json.id_registro_clientes }}"
            },
            {
              "fieldName": "id_grupo_airtable",
              "fieldValue": "={{ $('Variables_1').item.json.id_registro_grupo }}"
            },
            {
              "fieldName": "id_contact_kommo",
              "fieldValue": "={{ $('Variables_3').item.json.id_contacto }}"
            },
            {
              "fieldName": "id_lead_kommo",
              "fieldValue": "={{ $('Variables_3').item.json.id_lead }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        4704,
        192
      ],
      "id": "f3580440-92b0-4eab-a83c-50a9ca24c5b4",
      "name": "Create a row",
      "credentials": {
        "nocoDbApiToken": {
          "id": "Sybr1jbACFyMMWFf",
          "name": "bio_1"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "11a8f908-7794-463a-8c47-f5e525865a1e",
              "leftValue": "={{ $('Variables_2').item.json.Precio_1_mes }}",
              "rightValue": "No disponible",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "2a368ccd-33a7-49ec-8c0f-81db0eb96252",
              "leftValue": "={{ $('Variables_2').item.json.Precio_2_meses }}",
              "rightValue": "No disponible",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "9ac862ab-2eb2-4d3a-b914-00ca3f037ff5",
              "leftValue": "={{ $('Variables_2').item.json.Precio_3_meses }}",
              "rightValue": "No disponible",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "756a81de-238d-476c-845c-3bec5e666b89",
              "leftValue": "={{ $('Variables_2').item.json.Precio_6_meses }}",
              "rightValue": "No disponible",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "0fa911a5-5498-41de-9824-bd45d94ffb74",
              "leftValue": "={{ $('Variables_2').item.json.Precio_12_meses }}",
              "rightValue": "No disponible",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        5552,
        -800
      ],
      "id": "2c710983-a029-4447-872b-b00631d26014",
      "name": "No se tiene info de precio?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hooks.airtable.com/workflows/v1/genericWebhook/appBCL3CWLhCwIjnP/wfl19pYKBlYcfUB8R/wtrooADDjYPSIvTKv",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "precios",
              "value": "={{ $('Variables_2').item.json.Precios }}"
            },
            {
              "name": "nivel",
              "value": "={{ $('Variables_2').item.json.Nivel }}"
            },
            {
              "name": "url_link_tally",
              "value": "={{ $('Variables_2').item.json.url_tally_pago_recurrente }}"
            },
            {
              "name": "email_a_enviar",
              "value": "={{ $('Variables_2').item.json.email}}"
            },
            {
              "name": "nombre_estudiante",
              "value": "={{ $('Variables_2').item.json.nombre_estudiante }}"
            },
            {
              "name": "plantilla",
              "value": "3_dias_renovacion_CON_precios"
            },
            {
              "name": "numero_de_celular",
              "value": "={{ $('Variables_2').item.json.Celular_a_enviar }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        6032,
        -240
      ],
      "id": "b6778630-11ff-43cb-b64b-386e98c0adef",
      "name": "Enviar email2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://bioenglish22.kommo.com/api/v2/salesbot/run",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[\n  {\n    \"bot_id\": 65686,\n    \"entity_id\": {{$('Variables_3').item.json.id_lead}},\n    \"entity_type\": 2\n  }\n] ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        5792,
        -240
      ],
      "id": "09be8a55-f785-4c77-8f68-8a6d4b1073b1",
      "name": "Enviar mensaje2",
      "credentials": {
        "oAuth2Api": {
          "id": "q6wwHvaILtzGGbjE",
          "name": "Kommo"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hooks.airtable.com/workflows/v1/genericWebhook/appBCL3CWLhCwIjnP/wfl19pYKBlYcfUB8R/wtrooADDjYPSIvTKv",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "precios",
              "value": "={{ $('Variables_2').item.json.Precios }}"
            },
            {
              "name": "nivel",
              "value": "={{ $('Variables_2').item.json.Nivel }}"
            },
            {
              "name": "url_link_tally",
              "value": "={{ $('Variables_2').item.json.url_tally_pago_recurrente }}"
            },
            {
              "name": "email_a_enviar",
              "value": "={{ $('Variables_2').item.json.email}}"
            },
            {
              "name": "nombre_estudiante",
              "value": "={{ $('Variables_2').item.json.nombre_estudiante }}"
            },
            {
              "name": "plantilla",
              "value": "3_dias_renovacion_SIN_precios"
            },
            {
              "name": "numero_de_celular",
              "value": "={{ $('Variables_2').item.json.Celular_a_enviar }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        6032,
        -464
      ],
      "id": "6a5fe050-02cf-4e23-8957-da79b5a2a616",
      "name": "Enviar email3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://bioenglish22.kommo.com/api/v2/salesbot/run",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[\n  {\n    \"bot_id\": 65676,\n    \"entity_id\": {{$('Variables_3').item.json.id_lead}},\n    \"entity_type\": 2\n  }\n] ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        5792,
        -464
      ],
      "id": "0db36230-0d0d-49bb-943a-dc011650676e",
      "name": "Enviar mensaje3",
      "credentials": {
        "oAuth2Api": {
          "id": "q6wwHvaILtzGGbjE",
          "name": "Kommo"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1244011715008532602",
          "mode": "list",
          "cachedResultName": "Bioenglish",
          "cachedResultUrl": "https://discord.com/channels/1244011715008532602"
        },
        "channelId": {
          "__rl": true,
          "value": "1357814199446929488",
          "mode": "list",
          "cachedResultName": "errores",
          "cachedResultUrl": "https://discord.com/channels/1244011715008532602/1357814199446929488"
        },
        "content": "=Falta definir los precios de renovacion del grupo con el nivel {{ $('Variables_2').item.json.Nivel }}\n\n\nEntrar a este link para definir los precios de renovacion: https://airtable.com/appBCL3CWLhCwIjnP/tbllfzjbgoKjO87HI/viwHWienEAkK0GiH1/{{ $('Variables_2').item.json.id_grupo_airtable }}?blocks=hide\n\n\nSe hizo recordatorio de pago de renovacion 3 dias antes pero sin precios a este lead:\nhttps://bioenglish22.kommo.com/leads/detail/{{ $('Variables_3').item.json.id_lead }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        6256,
        -464
      ],
      "id": "9a225705-8b4f-4fa5-8014-7cacc95a4101",
      "name": "Send a message1",
      "webhookId": "cf7337c4-50db-4dc5-95b6-bd0922108198",
      "credentials": {
        "discordBotApi": {
          "id": "lrG2Z5VoQXKArDMn",
          "name": "bio_1"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "11a8f908-7794-463a-8c47-f5e525865a1e",
              "leftValue": "={{ $('Variables_2').item.json.Precio_1_mes }}",
              "rightValue": "No disponible",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "2a368ccd-33a7-49ec-8c0f-81db0eb96252",
              "leftValue": "={{ $('Variables_2').item.json.Precio_2_meses }}",
              "rightValue": "No disponible",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "9ac862ab-2eb2-4d3a-b914-00ca3f037ff5",
              "leftValue": "={{ $('Variables_2').item.json.Precio_3_meses }}",
              "rightValue": "No disponible",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "756a81de-238d-476c-845c-3bec5e666b89",
              "leftValue": "={{ $('Variables_2').item.json.Precio_6_meses }}",
              "rightValue": "No disponible",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "0fa911a5-5498-41de-9824-bd45d94ffb74",
              "leftValue": "={{ $('Variables_2').item.json.Precio_12_meses }}",
              "rightValue": "No disponible",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        5552,
        -352
      ],
      "id": "14d604f2-54ca-4f34-bc16-1e9076978ed6",
      "name": "No se tiene info de precio?1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hooks.airtable.com/workflows/v1/genericWebhook/appBCL3CWLhCwIjnP/wfl19pYKBlYcfUB8R/wtrooADDjYPSIvTKv",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "precios",
              "value": "={{ $('Variables_2').item.json.Precios }}"
            },
            {
              "name": "nivel",
              "value": "={{ $('Variables_2').item.json.Nivel }}"
            },
            {
              "name": "url_link_tally",
              "value": "={{ $('Variables_2').item.json.url_tally_pago_recurrente }}"
            },
            {
              "name": "email_a_enviar",
              "value": "={{ $('Variables_2').item.json.email}}"
            },
            {
              "name": "nombre_estudiante",
              "value": "={{ $('Variables_2').item.json.nombre_estudiante }}"
            },
            {
              "name": "plantilla",
              "value": "1_dia_renovacion_CON_precios"
            },
            {
              "name": "numero_de_celular",
              "value": "={{ $('Variables_2').item.json.Celular_a_enviar }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        6048,
        192
      ],
      "id": "fb04a892-10f5-4269-b116-17194a984389",
      "name": "Enviar email4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://bioenglish22.kommo.com/api/v2/salesbot/run",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[\n  {\n    \"bot_id\": 65686,\n    \"entity_id\": {{$('Variables_3').item.json.id_lead}},\n    \"entity_type\": 2\n  }\n] ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        5808,
        192
      ],
      "id": "82504058-e135-4182-8768-a13266255ada",
      "name": "Enviar mensaje4",
      "credentials": {
        "oAuth2Api": {
          "id": "q6wwHvaILtzGGbjE",
          "name": "Kommo"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hooks.airtable.com/workflows/v1/genericWebhook/appBCL3CWLhCwIjnP/wfl19pYKBlYcfUB8R/wtrooADDjYPSIvTKv",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "precios",
              "value": "={{ $('Variables_2').item.json.Precios }}"
            },
            {
              "name": "nivel",
              "value": "={{ $('Variables_2').item.json.Nivel }}"
            },
            {
              "name": "url_link_tally",
              "value": "={{ $('Variables_2').item.json.url_tally_pago_recurrente }}"
            },
            {
              "name": "email_a_enviar",
              "value": "={{ $('Variables_2').item.json.email}}"
            },
            {
              "name": "nombre_estudiante",
              "value": "={{ $('Variables_2').item.json.nombre_estudiante }}"
            },
            {
              "name": "plantilla",
              "value": "1_dia_renovacion_SIN_precios"
            },
            {
              "name": "numero_de_celular",
              "value": "={{ $('Variables_2').item.json.Celular_a_enviar }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        6048,
        -32
      ],
      "id": "5d344acf-4be4-4666-ac3d-efc8ab0578ef",
      "name": "Enviar email5"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://bioenglish22.kommo.com/api/v2/salesbot/run",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[\n  {\n    \"bot_id\": 65686,\n    \"entity_id\": {{$('Variables_3').item.json.id_lead}},\n    \"entity_type\": 2\n  }\n] ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        5808,
        -32
      ],
      "id": "ab733ad3-96e7-4952-bfba-b28d5201156c",
      "name": "Enviar mensaje5",
      "credentials": {
        "oAuth2Api": {
          "id": "q6wwHvaILtzGGbjE",
          "name": "Kommo"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1244011715008532602",
          "mode": "list",
          "cachedResultName": "Bioenglish",
          "cachedResultUrl": "https://discord.com/channels/1244011715008532602"
        },
        "channelId": {
          "__rl": true,
          "value": "1357814199446929488",
          "mode": "list",
          "cachedResultName": "errores",
          "cachedResultUrl": "https://discord.com/channels/1244011715008532602/1357814199446929488"
        },
        "content": "=Falta definir los precios de renovacion del grupo con el nivel {{ $('Variables_2').item.json.Nivel }}\n\n\nEntrar a este link para definir los precios de renovacion: https://airtable.com/appBCL3CWLhCwIjnP/tbllfzjbgoKjO87HI/viwHWienEAkK0GiH1/{{ $('Variables_2').item.json.id_grupo_airtable }}?blocks=hide\n\n\nSe hizo recordatorio de pago de renovacion 1 dia antes pero sin precios a este lead:\nhttps://bioenglish22.kommo.com/leads/detail/{{ $('Variables_3').item.json.id_lead }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        6272,
        -32
      ],
      "id": "16b46137-6187-4007-93c8-6e5da6f69aeb",
      "name": "Send a message2",
      "webhookId": "cf7337c4-50db-4dc5-95b6-bd0922108198",
      "credentials": {
        "discordBotApi": {
          "id": "lrG2Z5VoQXKArDMn",
          "name": "bio_1"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "11a8f908-7794-463a-8c47-f5e525865a1e",
              "leftValue": "={{ $('Variables_2').item.json.Precio_1_mes }}",
              "rightValue": "No disponible",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "2a368ccd-33a7-49ec-8c0f-81db0eb96252",
              "leftValue": "={{ $('Variables_2').item.json.Precio_2_meses }}",
              "rightValue": "No disponible",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "9ac862ab-2eb2-4d3a-b914-00ca3f037ff5",
              "leftValue": "={{ $('Variables_2').item.json.Precio_3_meses }}",
              "rightValue": "No disponible",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "756a81de-238d-476c-845c-3bec5e666b89",
              "leftValue": "={{ $('Variables_2').item.json.Precio_6_meses }}",
              "rightValue": "No disponible",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "0fa911a5-5498-41de-9824-bd45d94ffb74",
              "leftValue": "={{ $('Variables_2').item.json.Precio_12_meses }}",
              "rightValue": "No disponible",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        5568,
        80
      ],
      "id": "5909ea66-a90e-498a-ab8a-7ebf3e1fc9de",
      "name": "No se tiene info de precio?2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "51961664-61bd-45f1-9ca2-30bc1b5189f3",
              "name": "url_tally_pago_recurrente",
              "value": "={{ $json.url_acortado }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4000,
        -160
      ],
      "id": "791557b6-5113-41aa-b134-8ae81864350b",
      "name": "url_renovacion1"
    },
    {
      "parameters": {
        "queue": "bioenglish",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "acknowledge": "immediately",
          "jsonParseBody": true,
          "onlyContent": true
        }
      },
      "type": "n8n-nodes-base.rabbitmqTrigger",
      "typeVersion": 1,
      "position": [
        -496,
        0
      ],
      "id": "8d9574ec-975e-4724-a561-0e4d57603596",
      "name": "Webhook",
      "credentials": {
        "rabbitmq": {
          "id": "0rr5PL45GTNhamch",
          "name": "bio_1"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "d0f0cd99-4ed0-4de9-a00e-2ea09974eaee",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -480,
        -368
      ],
      "id": "ce17ef5c-fe14-498c-9d8a-b53930c1f5aa",
      "name": "Webhook1",
      "webhookId": "d0f0cd99-4ed0-4de9-a00e-2ea09974eaee"
    }
  ],
  "pinData": {
    "Create new contacts": [
      {
        "json": {
          "_links": {
            "self": {
              "href": "https://bioenglish22.kommo.com/api/v4/contacts"
            }
          },
          "_embedded": {
            "contacts": [
              {
                "id": 28116270,
                "is_deleted": false,
                "is_unsorted": false,
                "request_id": "0",
                "_links": {
                  "self": {
                    "href": "https://bioenglish22.kommo.com/api/v4/contacts/28116270"
                  }
                }
              }
            ]
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Create new leads": [
      {
        "json": {
          "_links": {
            "self": {
              "href": "https://bioenglish22.kommo.com/api/v4/leads"
            }
          },
          "_embedded": {
            "leads": [
              {
                "id": 24581270,
                "request_id": "0",
                "_links": {
                  "self": {
                    "href": "https://bioenglish22.kommo.com/api/v4/leads/24581270"
                  }
                }
              }
            ]
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Webhook1": [
      {
        "json": {
          "headers": {
            "host": "primary-production-55a73.up.railway.app",
            "user-agent": "Mozilla/5.0 (compatible; AirtableScripting; +https://airtable.com/developers/scripting;)",
            "content-length": "54",
            "accept": "*/*",
            "accept-encoding": "gzip,deflate",
            "content-type": "application/json",
            "x-airtable-source": "appBCL3CWLhCwIjnP/wflX6HhPCZwG0ZmbX",
            "x-forwarded-for": "44.199.193.163",
            "x-forwarded-host": "primary-production-55a73.up.railway.app",
            "x-forwarded-proto": "https",
            "x-railway-edge": "railway/us-east4-eqdc4a",
            "x-railway-request-id": "1RbcTx6BS4y0uuRkozsQ6Q",
            "x-real-ip": "44.199.193.163",
            "x-request-start": "1766773219160"
          },
          "params": {},
          "query": {},
          "body": {
            "recordId": "recnauGWmzzkNLccG",
            "Tipo": "7_dias_antes"
          },
          "webhookUrl": "https://primary-production-55a73.up.railway.app/webhook/d0f0cd99-4ed0-4de9-a00e-2ea09974eaee",
          "executionMode": "production"
        }
      }
    ],
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "primary-production-55a73.up.railway.app",
            "user-agent": "Mozilla/5.0 (compatible; AirtableScripting; +https://airtable.com/developers/scripting;)",
            "content-length": "53",
            "accept": "*/*",
            "accept-encoding": "gzip,deflate",
            "content-type": "application/json",
            "x-airtable-source": "appBCL3CWLhCwIjnP/wfla0ErPJisLonnYg",
            "x-forwarded-for": "54.173.98.68",
            "x-forwarded-host": "primary-production-55a73.up.railway.app",
            "x-forwarded-proto": "https",
            "x-railway-edge": "railway/us-east4-eqdc4a",
            "x-railway-request-id": "bOC763ZWRsG3GehgAax-fw",
            "x-real-ip": "54.173.98.68",
            "x-request-start": "1766811668265"
          },
          "params": {},
          "query": {},
          "body": {
            "recordId": "reclNiEDsqGSfzFsP",
            "Tipo": "1_dia_antes"
          },
          "webhookUrl": "https://primary-production-55a73.up.railway.app/webhook/9835affc-72a4-47ea-8968-aecdccf2b771",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "repo_name": "n8n_backups",
  "repo_owner": "mirkoflores",
  "repo_path": "n8n",
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "3eeV0S5bC6x3HCMd"
  },
  "shared": [
    {
      "updatedAt": "2025-12-20T17:06:23.257Z",
      "createdAt": "2025-12-20T17:06:23.257Z",
      "role": "workflow:owner",
      "workflowId": "WigkEeokYfYA5jiO",
      "projectId": "axO88AWqOW8lB7Vc"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2025-12-27T13:00:42.426Z",
  "versionId": "581d64a9-4154-4f1e-8506-ccabe145e9b6"
}