n8n/WigkEeokYfYA5jiO.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2025-12-26T05:09:30.839Z",
    "createdAt": "2025-12-26T05:09:28.516Z",
    "versionId": "0269581e-69b5-4906-afc0-ebfd6a38f596",
    "workflowId": "WigkEeokYfYA5jiO",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "d0f0cd99-4ed0-4de9-a00e-2ea09974eaee",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -800,
          288
        ],
        "id": "b1a9c96f-7ca3-47d4-82bd-e98e0cbecb06",
        "name": "Webhook",
        "webhookId": "d0f0cd99-4ed0-4de9-a00e-2ea09974eaee"
      },
      {
        "parameters": {
          "authentication": "airtableOAuth2Api",
          "base": {
            "__rl": true,
            "value": "appBCL3CWLhCwIjnP",
            "mode": "list",
            "cachedResultName": "BioEnglish",
            "cachedResultUrl": "https://airtable.com/appBCL3CWLhCwIjnP"
          },
          "table": {
            "__rl": true,
            "value": "tblr6JOWFdK3kOAfo",
            "mode": "list",
            "cachedResultName": "DetalleVentas",
            "cachedResultUrl": "https://airtable.com/appBCL3CWLhCwIjnP/tblr6JOWFdK3kOAfo"
          },
          "id": "={{ $('Webhook').item.json.body.recordId }}",
          "options": {}
        },
        "type": "n8n-nodes-base.airtable",
        "typeVersion": 2.1,
        "position": [
          -304,
          0
        ],
        "id": "ded6d2ef-cd36-45dd-ad33-def709b1b9d2",
        "name": "Detalles venta",
        "credentials": {
          "airtableOAuth2Api": {
            "id": "mylJqD7auLJ9sN2T",
            "name": "Bioenglish_1"
          }
        }
      },
      {
        "parameters": {
          "authentication": "airtableOAuth2Api",
          "base": {
            "__rl": true,
            "value": "appBCL3CWLhCwIjnP",
            "mode": "list",
            "cachedResultName": "BioEnglish",
            "cachedResultUrl": "https://airtable.com/appBCL3CWLhCwIjnP"
          },
          "table": {
            "__rl": true,
            "value": "tblkpm3CwBi8WctOZ",
            "mode": "list",
            "cachedResultName": "Clientes",
            "cachedResultUrl": "https://airtable.com/appBCL3CWLhCwIjnP/tblkpm3CwBi8WctOZ"
          },
          "id": "={{ $('Variables_1').item.json.id_registro_clientes }}",
          "options": {}
        },
        "type": "n8n-nodes-base.airtable",
        "typeVersion": 2.1,
        "position": [
          112,
          0
        ],
        "id": "ba23e1af-5c28-4026-a85a-9d6fceb761aa",
        "name": "Clientes",
        "credentials": {
          "airtableOAuth2Api": {
            "id": "mylJqD7auLJ9sN2T",
            "name": "Bioenglish_1"
          }
        }
      },
      {
        "parameters": {
          "authentication": "airtableOAuth2Api",
          "base": {
            "__rl": true,
            "value": "appBCL3CWLhCwIjnP",
            "mode": "list",
            "cachedResultName": "BioEnglish",
            "cachedResultUrl": "https://airtable.com/appBCL3CWLhCwIjnP"
          },
          "table": {
            "__rl": true,
            "value": "tblkpm3CwBi8WctOZ",
            "mode": "list",
            "cachedResultName": "Clientes",
            "cachedResultUrl": "https://airtable.com/appBCL3CWLhCwIjnP/tblkpm3CwBi8WctOZ"
          },
          "id": "={{ $('Variables_1').item.json.id_registro_grupo }}",
          "options": {}
        },
        "type": "n8n-nodes-base.airtable",
        "typeVersion": 2.1,
        "position": [
          320,
          0
        ],
        "id": "84b61286-40bd-447e-80f5-033b7aa493c1",
        "name": "Grupo",
        "credentials": {
          "airtableOAuth2Api": {
            "id": "mylJqD7auLJ9sN2T",
            "name": "Bioenglish_1"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "98b5ba04-6ef6-4bf2-bc1b-ff9750eac831",
                "name": "id_detalles_venta",
                "value": "={{ $('Webhook').item.json.body.recordId }}",
                "type": "string"
              },
              {
                "id": "9a3677ac-ce76-447d-a79d-a4b07b732af4",
                "name": "tipo_recordatorio_pago",
                "value": "={{ $('Webhook').item.json.body.Tipo }}",
                "type": "string"
              },
              {
                "id": "c557b9c8-ffba-4fd2-92da-bda8d2c36b75",
                "name": "id_registro_clientes",
                "value": "={{ $('Detalles venta').item.json.Clientes[0] }}",
                "type": "string"
              },
              {
                "id": "90c98378-7629-4e3b-bdc5-ff242275ea01",
                "name": "id_registro_grupo",
                "value": "={{ $('Detalles venta').item.json.Grupos[0] }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -96,
          0
        ],
        "id": "5c859342-b16e-4e17-9d22-efb60ec47077",
        "name": "Variables_1"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "7bbec97c-79e6-4f7d-bc02-fb1c039f35f0",
                "name": "nombre_estudiante",
                "value": "={{ $('Clientes').item.json['Nombre del estudiante'] }}",
                "type": "string"
              },
              {
                "id": "e3f2e7a4-a563-4b00-97d9-3d48143060ef",
                "name": "nombre_apoderado",
                "value": "={{ $('Clientes').item.json.Apoderado }}",
                "type": "string"
              },
              {
                "id": "a8df778b-f285-41e7-94a3-83911a954723",
                "name": "celular_estudiante",
                "value": "={{ \n$if(\n($('Clientes').item.json['Cel Apoderado']?.[0] ?? \"\") == \"\",\n$('Clientes').item.json['Celular Unico'],\n\"\"\n)\n}}",
                "type": "string"
              },
              {
                "id": "58e10fd3-ccf7-4db2-ad84-69b6f7f9c39a",
                "name": "celular_apoderado",
                "value": "={{  $if( ($('Clientes').item.json['Cel Apoderado']?.[0] ?? \"\") == \"\", \"\", $('Clientes').item.json['Celular Unico'] ) }}",
                "type": "string"
              },
              {
                "id": "53bd2744-ef78-4c10-9cc9-5addf54220fb",
                "name": "tipo",
                "value": "={{ \n$if(\n($('Clientes').item.json['Cel Apoderado']?.[0] ?? \"\") == \"\",\n\"Apoderado\",\n\"Estudiante\"\n)\n}}",
                "type": "string"
              },
              {
                "id": "d6aa80e7-4884-49bb-9899-383d823f0b17",
                "name": "url_tally_pago_recurrente",
                "value": "={{ $('Clientes').item.json['URL renovacion corto'] }}",
                "type": "string"
              },
              {
                "id": "1a77310e-e259-4991-83ea-928a5108b577",
                "name": "Nivel",
                "value": "={{ $('Grupo').item.json.Nivel }}",
                "type": "string"
              },
              {
                "id": "148e0d02-a5a5-4f6c-bbd0-691fd8d16fd5",
                "name": "Precios",
                "value": "=1 mes: S/.{{ $json['1 mes - precio renovación'] }}\n2 meses: S/.{{ $json['2 meses - precio renovación'] }}\n3 meses: S/.{{ $json['3 meses - precio renovación'] }}\n6 meses: S/.{{ $json['6 meses - precio renovación'] }}\n12 meses: S/.{{ $json['12 meses - precio renovación'] }}",
                "type": "string"
              },
              {
                "id": "03bd909e-9ee9-45db-8e5b-ff889dc4082c",
                "name": "Celular_a_enviar",
                "value": "={{ $('Clientes').item.json['Celular Unico'] }}",
                "type": "string"
              },
              {
                "id": "50765deb-917a-4dca-91a4-1395929b7bee",
                "name": "email",
                "value": "={{ $('Clientes').item.json['Email F'] }}",
                "type": "string"
              },
              {
                "id": "a6171914-e08f-4063-894d-8a5687aa3fde",
                "name": "Precio_1_mes",
                "value": "={{ $('Grupo').item?.json['1 mes - precio renovación'] ?? \"No disponible\" }}",
                "type": "string"
              },
              {
                "id": "2e63f9c0-d519-42ee-970f-104b3a7ae2a7",
                "name": "Precio_2_meses",
                "value": "={{ $('Grupo').item?.json['2 meses - precio renovación'] ?? \"No disponible\" }}",
                "type": "string"
              },
              {
                "id": "219528a4-5736-4ae3-8f2d-564ae9c6f24c",
                "name": "Precio_3_meses",
                "value": "={{ $('Grupo').item?.json['3 meses - precio renovación'] ?? \"No disponible\" }}",
                "type": "string"
              },
              {
                "id": "c4ca0544-c8fb-4389-9da0-8cf10fc654b8",
                "name": "Precio_6_meses",
                "value": "={{ $('Grupo').item?.json['6 meses - precio renovación'] ?? \"No disponible\" }}",
                "type": "string"
              },
              {
                "id": "de7058d2-3b1c-45d2-84d6-e293a66e61f1",
                "name": "Precio_12_meses",
                "value": "={{ $('Grupo').item?.json['12 meses - precio renovación'] ?? \"No disponible\" }}",
                "type": "string"
              },
              {
                "id": "bd6cb66a-4a46-472a-92d4-82316e1dab13",
                "name": "id_grupo_airtable",
                "value": "={{ $('Grupo').item.json.id }}",
                "type": "string"
              },
              {
                "id": "939a860f-f974-4a48-a80f-2c8d2ad7ebfd",
                "name": "url_tally_pago_recurrente_largo",
                "value": "={{ $('Clientes').item.json['URL renovacion'] }}",
                "type": "string"
              },
              {
                "id": "cc0b6145-75e2-4533-b520-4f1ba7c36674",
                "name": "id_cliente_airtable",
                "value": "={{ $('Clientes').item.json.id }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          528,
          0
        ],
        "id": "9ec0bb18-6870-408b-84cb-c8aac21ee542",
        "name": "Variables_2"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://hooks.airtable.com/workflows/v1/genericWebhook/appBCL3CWLhCwIjnP/wfl19pYKBlYcfUB8R/wtrooADDjYPSIvTKv",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "precios",
                "value": "={{ $('Variables_2').item.json.Precios }}"
              },
              {
                "name": "nivel",
                "value": "={{ $('Variables_2').item.json.Nivel }}"
              },
              {
                "name": "url_link_tally",
                "value": "={{ $('Variables_2').item.json.url_tally_pago_recurrente }}"
              },
              {
                "name": "email_a_enviar",
                "value": "={{ $('Variables_2').item.json.email}}"
              },
              {
                "name": "nombre_estudiante",
                "value": "={{ $('Variables_2').item.json.nombre_estudiante }}"
              },
              {
                "name": "plantilla",
                "value": "7_dias_renovacion_CON_precios"
              },
              {
                "name": "numero_de_celular",
                "value": "={{ $('Variables_2').item.json.Celular_a_enviar }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          5232,
          -224
        ],
        "id": "d482ab7f-c9ad-4579-8fcc-f2edfe0913e9",
        "name": "Enviar email"
      },
      {
        "parameters": {
          "resource": "contacts",
          "filter": {
            "query": "={{ $('Variables_2').item.json.Celular_a_enviar }}"
          },
          "options": {
            "with": [
              "leads"
            ]
          },
          "limit": 1
        },
        "type": "n8n-nodes-kommo.kommo",
        "typeVersion": 1,
        "position": [
          800,
          0
        ],
        "id": "0c8912d6-5610-43c2-80ab-601cf8fc29ed",
        "name": "Get list of contacts",
        "credentials": {
          "kommoOAuth2Api": {
            "id": "yjgoywi6EgfDZmcO",
            "name": "kommo_1"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "fc632a6e-e3be-4b43-8535-83bfe0fa949c",
                "leftValue": "={{ $('Get list of contacts').item.json._embedded.contacts[0].id }}",
                "rightValue": "",
                "operator": {
                  "type": "number",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1008,
          0
        ],
        "id": "b0e969fd-2ddb-428f-b481-8dc62a65b44e",
        "name": "existe contacto?"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "e76c1e07-8bf3-4d90-b985-7702d222ece7",
                "leftValue": "={{ $('Get list of contacts').item.json._embedded.contacts[0]._embedded.leads }}",
                "rightValue": "",
                "operator": {
                  "type": "array",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1824,
          -80
        ],
        "id": "cf285d04-3261-4645-930d-0c1946f00da9",
        "name": "tiene leads?"
      },
      {
        "parameters": {
          "resource": "contacts",
          "operation": "createContacts",
          "collection": {
            "contact": [
              {
                "name": "={{ $if($('Variables_2').item.json.tipo == \"Estudiante\",\n\n$('Variables_2').item.json.nombre_estudiante, \n\n$if(\n\"$('Variables_2').item.json.nombre_apoderado\"==\"\",\n\"\",\n\"Apoderado de\" $('Variables_2').item.json.nombre_estudiante\n\n)\n\n) }}",
                "custom_fields_values": {
                  "custom_field": [
                    {
                      "data": "{\"id\":1988338,\"type\":\"select\"}",
                      "value": "={{ $if($('Variables_2').item.json.tipo == \"Estudiante\",\"Estudiante\",\"Apoderado\") }}"
                    },
                    {
                      "data": "{\"id\":1303680,\"type\":\"multitext\"}",
                      "value": "={{ $('Variables_2').item.json.Celular_a_enviar }}"
                    }
                  ]
                }
              }
            ]
          }
        },
        "type": "n8n-nodes-kommo.kommo",
        "typeVersion": 1,
        "position": [
          1280,
          208
        ],
        "id": "9506b4c7-6a8b-4254-b280-fbba0d3d8b55",
        "name": "Create new contacts",
        "credentials": {
          "kommoOAuth2Api": {
            "id": "yjgoywi6EgfDZmcO",
            "name": "kommo_1"
          }
        }
      },
      {
        "parameters": {
          "resource": "leads",
          "operation": "createLeads",
          "collection": {
            "lead": [
              {
                "name": "={{ $if($('Variables_2').item.json.tipo == \"Estudiante\",  $('Variables_2').item.json.nombre_estudiante,   $if( \"$('Variables_2').item.json.nombre_apoderado\"==\"\", \"\", \"Apoderado de\" $('Variables_2').item.json.nombre_estudiante  )  ) }}",
                "pipeline_id": 8756191,
                "status_id": 68677523,
                "_embedded": {
                  "contacts": [
                    {
                      "id": {
                        "contact": [
                          {
                            "id": "={{ $json.id_contact }}"
                          }
                        ]
                      }
                    }
                  ]
                }
              }
            ]
          }
        },
        "type": "n8n-nodes-kommo.kommo",
        "typeVersion": 1,
        "position": [
          2640,
          64
        ],
        "id": "37921795-ebf1-49ab-9c75-07fbc3360fd1",
        "name": "Create new leads",
        "credentials": {
          "kommoOAuth2Api": {
            "id": "yjgoywi6EgfDZmcO",
            "name": "kommo_1"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "5c188dbb-99bf-4c11-8562-14088f634cfc",
                "name": "id_contact",
                "value": "={{ $('Get list of contacts').item.json._embedded.contacts[0].id }}",
                "type": "number"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2064,
          16
        ],
        "id": "7c32102d-f747-4780-a52a-89bda90b8aab",
        "name": "id_contact"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "5c188dbb-99bf-4c11-8562-14088f634cfc",
                "name": "id_contact",
                "value": "={{ $json._embedded.contacts[0].id }}",
                "type": "number"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2064,
          208
        ],
        "id": "32355781-7403-4f47-973e-5c81edc5a38b",
        "name": "id_contact1"
      },
      {
        "parameters": {
          "resource": "contacts",
          "operation": "updateContacts",
          "collection": {
            "contact": [
              {
                "id": "={{ $('Get list of contacts').item.json._embedded.contacts[0].id }}",
                "custom_fields_values": {
                  "custom_field": [
                    {
                      "data": "{\"id\":1988338,\"type\":\"select\"}",
                      "value": "={{ $if($('Variables_2').item.json.tipo == \"Estudiante\",\"Estudiante\",\"Apoderado\") }}"
                    }
                  ]
                }
              }
            ]
          }
        },
        "type": "n8n-nodes-kommo.kommo",
        "typeVersion": 1,
        "position": [
          1472,
          -80
        ],
        "id": "a7cbcda0-d49b-4ee3-8a3a-a2b4e58b8340",
        "name": "Update contacts",
        "credentials": {
          "kommoOAuth2Api": {
            "id": "yjgoywi6EgfDZmcO",
            "name": "kommo_1"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "148e0d02-a5a5-4f6c-bbd0-691fd8d16fd5",
                "name": "id_contacto",
                "value": "={{ $('Get list of contacts').item.json._embedded.contacts[0].id }}",
                "type": "number"
              },
              {
                "id": "03bd909e-9ee9-45db-8e5b-ff889dc4082c",
                "name": "id_lead",
                "value": "={{ $('Get list of contacts').item.json._embedded.contacts[0]._embedded.leads[0].id }}",
                "type": "number"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2880,
          -208
        ],
        "id": "522d763d-a7b2-44ba-b84b-aaf4fdc3d05c",
        "name": "contact_lead"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "148e0d02-a5a5-4f6c-bbd0-691fd8d16fd5",
                "name": "id_contacto",
                "value": "={{ $('id_contact2').item.json.id_contact }}",
                "type": "number"
              },
              {
                "id": "03bd909e-9ee9-45db-8e5b-ff889dc4082c",
                "name": "id_lead",
                "value": "={{ $json._embedded.leads[0].id }}",
                "type": "number"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2880,
          64
        ],
        "id": "8b3a5f45-4979-4ef0-8655-9ea76573cd6a",
        "name": "contact_lead1"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "5c188dbb-99bf-4c11-8562-14088f634cfc",
                "name": "id_contact",
                "value": "={{ $json.id_contact }}",
                "type": "number"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2384,
          64
        ],
        "id": "d656bed3-5266-4520-9245-484bd4580f39",
        "name": "id_contact2"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "148e0d02-a5a5-4f6c-bbd0-691fd8d16fd5",
                "name": "id_contacto",
                "value": "={{ $json.id_contacto }}",
                "type": "number"
              },
              {
                "id": "03bd909e-9ee9-45db-8e5b-ff889dc4082c",
                "name": "id_lead",
                "value": "={{ $json.id_lead }}",
                "type": "number"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          3136,
          -80
        ],
        "id": "d8b37bfc-2fad-481d-a567-bfd5fdc0d2cf",
        "name": "Variables_3"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://bioenglish22.kommo.com/api/v2/salesbot/run",
          "authentication": "genericCredentialType",
          "genericAuthType": "oAuth2Api",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "=[\n  {\n    \"bot_id\": 65546,\n    \"entity_id\": {{$('Variables_3').item.json.id_lead}},\n    \"entity_type\": 2\n  }\n] ",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          4992,
          -224
        ],
        "id": "d616c23e-3e8f-4640-8283-77e1b4bbee68",
        "name": "Enviar mensaje",
        "credentials": {
          "oAuth2Api": {
            "id": "q6wwHvaILtzGGbjE",
            "name": "Kommo"
          }
        }
      },
      {
        "parameters": {
          "resource": "leads",
          "operation": "updateLeads",
          "collection": {
            "lead": [
              {
                "id": "={{ $('Variables_3').item.json.id_lead}}",
                "custom_fields_values": {
                  "custom_field": [
                    {
                      "data": "{\"id\":1988340,\"type\":\"text\"}",
                      "value": "={{ $('Variables_2').item.json.Precio_1_mes }}"
                    },
                    {
                      "data": "{\"id\":1988342,\"type\":\"text\"}",
                      "value": "={{ $('Variables_2').item.json.Precio_2_meses }}"
                    },
                    {
                      "data": "{\"id\":1988344,\"type\":\"text\"}",
                      "value": "={{ $('Variables_2').item.json.Precio_3_meses }}"
                    },
                    {
                      "data": "{\"id\":1988346,\"type\":\"text\"}",
                      "value": "={{ $('Variables_2').item.json.Precio_6_meses }}"
                    },
                    {
                      "data": "{\"id\":1988348,\"type\":\"text\"}",
                      "value": "={{ $('Variables_2').item.json.Precio_12_meses }}"
                    },
                    {
                      "data": "{\"id\":1988350,\"type\":\"text\"}",
                      "value": "={{ $('Variables_2').item.json.nombre_estudiante }}"
                    },
                    {
                      "data": "{\"id\":1988352,\"type\":\"url\"}",
                      "value": "={{ $('Variables_4').item.json.url_tally_pago_recurrente }}"
                    },
                    {
                      "data": "{\"id\":1988354,\"type\":\"text\"}",
                      "value": "={{ $('Variables_2').item.json.Nivel }}"
                    }
                  ]
                }
              }
            ]
          }
        },
        "type": "n8n-nodes-kommo.kommo",
        "typeVersion": 1,
        "position": [
          4288,
          -336
        ],
        "id": "5fb87eea-e76f-4987-bf1c-a4e0d7bbe62d",
        "name": "Update leads",
        "credentials": {
          "kommoOAuth2Api": {
            "id": "yjgoywi6EgfDZmcO",
            "name": "kommo_1"
          }
        }
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          4544,
          -336
        ],
        "id": "21cb1f7f-49cb-4bfb-abd3-4a767b1fde99",
        "name": "Wait",
        "webhookId": "5f0dd59d-61e6-4eb8-b60e-c71ac8c60b1f"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.body.Tipo }}",
                      "rightValue": "7_dias_antes",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "ae42432c-6241-4088-8bcb-755d1997a481"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "7 dias"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "fcb36b08-ce5b-4747-adb9-4a4bd9e64022",
                      "leftValue": "={{ $json.body.Tipo }}",
                      "rightValue": "3_dias_antes",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "3 dias"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "b9b5875e-6228-4173-9395-cd8e04b1ddf8",
                      "leftValue": "={{ $json.body.Tipo }}",
                      "rightValue": "1_dia_antes",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "1 dia"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          -576,
          288
        ],
        "id": "fe9a63c7-f37b-404e-998f-0db0e9ec142f",
        "name": "Switch1"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://hooks.airtable.com/workflows/v1/genericWebhook/appBCL3CWLhCwIjnP/wfl19pYKBlYcfUB8R/wtrooADDjYPSIvTKv",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "precios",
                "value": "={{ $('Variables_2').item.json.Precios }}"
              },
              {
                "name": "nivel",
                "value": "={{ $('Variables_2').item.json.Nivel }}"
              },
              {
                "name": "url_link_tally",
                "value": "={{ $('Variables_2').item.json.url_tally_pago_recurrente }}"
              },
              {
                "name": "email_a_enviar",
                "value": "={{ $('Variables_2').item.json.email}}"
              },
              {
                "name": "nombre_estudiante",
                "value": "={{ $('Variables_2').item.json.nombre_estudiante }}"
              },
              {
                "name": "plantilla",
                "value": "7_dias_renovacion_SIN_precios"
              },
              {
                "name": "numero_de_celular",
                "value": "={{ $('Variables_2').item.json.Celular_a_enviar }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          5232,
          -448
        ],
        "id": "1668a15e-2565-4ba7-934d-73b5e3762b34",
        "name": "Enviar email1"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://bioenglish22.kommo.com/api/v2/salesbot/run",
          "authentication": "genericCredentialType",
          "genericAuthType": "oAuth2Api",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "=[\n  {\n    \"bot_id\": 0,\n    \"entity_id\": {{$('Variables_3').item.json.id_lead}},\n    \"entity_type\": 2\n  }\n] ",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          4992,
          -448
        ],
        "id": "12407c5e-f56d-4f4d-a118-e7768aa2ce24",
        "name": "Enviar mensaje1",
        "credentials": {
          "oAuth2Api": {
            "id": "q6wwHvaILtzGGbjE",
            "name": "Kommo"
          }
        }
      },
      {
        "parameters": {
          "resource": "message",
          "guildId": {
            "__rl": true,
            "value": "1244011715008532602",
            "mode": "list",
            "cachedResultName": "Bioenglish",
            "cachedResultUrl": "https://discord.com/channels/1244011715008532602"
          },
          "channelId": {
            "__rl": true,
            "value": "1357814199446929488",
            "mode": "list",
            "cachedResultName": "errores",
            "cachedResultUrl": "https://discord.com/channels/1244011715008532602/1357814199446929488"
          },
          "content": "=Falta definir los precios de renovacion del grupo con el nivel {{ $('Variables_2').item.json.Nivel }}\n\n\nEntrar a este link para definir los precios de renovacion: https://airtable.com/appBCL3CWLhCwIjnP/tbllfzjbgoKjO87HI/viwHWienEAkK0GiH1/{{ $('Variables_2').item.json.id_grupo_airtable }}?blocks=hide\n\n\nSe hizo recordatorio de pago de renovacion 7 dias antes pero sin precios a este lead:\nhttps://bioenglish22.kommo.com/leads/detail/{{ $('Variables_3').item.json.id_lead }}",
          "options": {}
        },
        "type": "n8n-nodes-base.discord",
        "typeVersion": 2,
        "position": [
          5456,
          -448
        ],
        "id": "0ad98751-7f8b-4ff7-8d09-cb6035ce18c1",
        "name": "Send a message",
        "webhookId": "cf7337c4-50db-4dc5-95b6-bd0922108198",
        "credentials": {
          "discordBotApi": {
            "id": "lrG2Z5VoQXKArDMn",
            "name": "bio_1"
          }
        }
      },
      {
        "parameters": {
          "content": "### avisar que no se tiene info de precio",
          "height": 80
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          5696,
          -352
        ],
        "id": "6ef84e22-3233-41ad-8c1f-d76b5b9b5aea",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "470e5792-f40b-4cec-a35f-15453f2d0e02",
                "leftValue": "={{ $('Variables_2').item.json.url_tally_pago_recurrente }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "empty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          3344,
          -80
        ],
        "id": "937effc5-d55b-4e41-bb82-647f9266837d",
        "name": "Url de renovacion corto vacio?"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "51961664-61bd-45f1-9ca2-30bc1b5189f3",
                "name": "url_tally_pago_recurrente",
                "value": "={{ $('Variables_2').item.json.url_tally_pago_recurrente }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          3648,
          64
        ],
        "id": "704a5096-abfc-4bac-8121-def6018e5ad0",
        "name": "url_renovacion"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "51961664-61bd-45f1-9ca2-30bc1b5189f3",
                "name": "url_tally_pago_recurrente",
                "value": "={{ $json.url_tally_pago_recurrente }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          3984,
          -80
        ],
        "id": "0a267b2b-9daa-4e48-8664-e9f675a6e6c7",
        "name": "Variables_4"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "UqJsZfAhJHkWNxvT",
            "mode": "list",
            "cachedResultUrl": "/workflow/UqJsZfAhJHkWNxvT",
            "cachedResultName": "Crear/actualizar url short.io"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "url_de_renovacion_largo": "={{ $('Variables_2').item.json.url_tally_pago_recurrente_largo }}",
              "id_registro_cliente": "={{ $('Variables_2').item.json.id_cliente_airtable }}",
              "tipo": "nuevo_url"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "url_de_renovacion_largo",
                "displayName": "url_de_renovacion_largo",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "id_registro_cliente",
                "displayName": "id_registro_cliente",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "tipo",
                "displayName": "tipo",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "id_link_short_io",
                "displayName": "id_link_short_io",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {
            "waitForSubWorkflow": true
          }
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          3648,
          -160
        ],
        "id": "e5ced7fb-3a08-4c5a-bef9-592aa6b0809b",
        "name": "crear url corto de renovacion"
      },
      {
        "parameters": {
          "authentication": "nocoDbApiToken",
          "operation": "create",
          "projectId": "prkc7a6zgmy2biw",
          "table": "mf1zt2lexmn446a",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldName": "id_escenario_n8n",
                "fieldValue": "={{ $execution.id }}"
              },
              {
                "fieldName": "id_automatizacion_n8n",
                "fieldValue": "={{ $workflow.id }}"
              },
              {
                "fieldName": "id_detalles_venta_airtable",
                "fieldValue": "={{ $('Variables_1').item.json.id_detalles_venta }}"
              },
              {
                "fieldName": "id_cliente_airtable",
                "fieldValue": "={{ $('Variables_1').item.json.id_registro_clientes }}"
              },
              {
                "fieldName": "id_grupo_airtable",
                "fieldValue": "={{ $('Variables_1').item.json.id_registro_grupo }}"
              },
              {
                "fieldName": "id_contact_kommo",
                "fieldValue": "={{ $('Variables_3').item.json.id_contacto }}"
              },
              {
                "fieldName": "id_lead_kommo",
                "fieldValue": "={{ $('Variables_3').item.json.id_lead }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.nocoDb",
        "typeVersion": 3,
        "position": [
          4272,
          208
        ],
        "id": "f3580440-92b0-4eab-a83c-50a9ca24c5b4",
        "name": "Create a row",
        "credentials": {
          "nocoDbApiToken": {
            "id": "Sybr1jbACFyMMWFf",
            "name": "bio_1"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "11a8f908-7794-463a-8c47-f5e525865a1e",
                "leftValue": "={{ $('Variables_2').item.json.Precio_1_mes }}",
                "rightValue": "No disponible",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              },
              {
                "id": "2a368ccd-33a7-49ec-8c0f-81db0eb96252",
                "leftValue": "={{ $('Variables_2').item.json.Precio_2_meses }}",
                "rightValue": "No disponible",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              },
              {
                "id": "9ac862ab-2eb2-4d3a-b914-00ca3f037ff5",
                "leftValue": "={{ $('Variables_2').item.json.Precio_3_meses }}",
                "rightValue": "No disponible",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              },
              {
                "id": "756a81de-238d-476c-845c-3bec5e666b89",
                "leftValue": "={{ $('Variables_2').item.json.Precio_6_meses }}",
                "rightValue": "No disponible",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              },
              {
                "id": "0fa911a5-5498-41de-9824-bd45d94ffb74",
                "leftValue": "={{ $('Variables_2').item.json.Precio_12_meses }}",
                "rightValue": "No disponible",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          4752,
          -336
        ],
        "id": "2c710983-a029-4447-872b-b00631d26014",
        "name": "No se tiene info de precio?"
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Switch1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Detalles venta": {
        "main": [
          [
            {
              "node": "Variables_1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Clientes": {
        "main": [
          [
            {
              "node": "Grupo",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Variables_1": {
        "main": [
          [
            {
              "node": "Clientes",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Grupo": {
        "main": [
          [
            {
              "node": "Variables_2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Variables_2": {
        "main": [
          [
            {
              "node": "Get list of contacts",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Enviar email": {
        "main": [
          []
        ]
      },
      "Get list of contacts": {
        "main": [
          [
            {
              "node": "existe contacto?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "existe contacto?": {
        "main": [
          [
            {
              "node": "Update contacts",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Create new contacts",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "tiene leads?": {
        "main": [
          [
            {
              "node": "contact_lead",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "id_contact",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "id_contact": {
        "main": [
          [
            {
              "node": "id_contact2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create new contacts": {
        "main": [
          [
            {
              "node": "id_contact1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "id_contact1": {
        "main": [
          [
            {
              "node": "id_contact2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update contacts": {
        "main": [
          [
            {
              "node": "tiene leads?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create new leads": {
        "main": [
          [
            {
              "node": "contact_lead1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "id_contact2": {
        "main": [
          [
            {
              "node": "Create new leads",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "contact_lead": {
        "main": [
          [
            {
              "node": "Variables_3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "contact_lead1": {
        "main": [
          [
            {
              "node": "Variables_3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Variables_3": {
        "main": [
          [
            {
              "node": "Url de renovacion corto vacio?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update leads": {
        "main": [
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "node": "No se tiene info de precio?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch1": {
        "main": [
          [
            {
              "node": "Detalles venta",
              "type": "main",
              "index": 0
            }
          ],
          [],
          []
        ]
      },
      "Enviar mensaje": {
        "main": [
          [
            {
              "node": "Enviar email",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Enviar mensaje1": {
        "main": [
          [
            {
              "node": "Enviar email1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Enviar email1": {
        "main": [
          [
            {
              "node": "Send a message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Url de renovacion corto vacio?": {
        "main": [
          [
            {
              "node": "crear url corto de renovacion",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "url_renovacion",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "url_renovacion": {
        "main": [
          [
            {
              "node": "Variables_4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "crear url corto de renovacion": {
        "main": [
          [
            {
              "node": "Variables_4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Variables_4": {
        "main": [
          [
            {
              "node": "Update leads",
              "type": "main",
              "index": 0
            },
            {
              "node": "Create a row",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "No se tiene info de precio?": {
        "main": [
          [
            {
              "node": "Enviar mensaje1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Enviar mensaje",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Bioenglish Lat",
    "name": "Version 0269581e",
    "description": ""
  },
  "activeVersionId": "0269581e-69b5-4906-afc0-ebfd6a38f596",
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Detalles venta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detalles venta": {
      "main": [
        [
          {
            "node": "Variables_1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clientes": {
      "main": [
        [
          {
            "node": "Grupo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Variables_1": {
      "main": [
        [
          {
            "node": "Clientes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grupo": {
      "main": [
        [
          {
            "node": "Variables_2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Variables_2": {
      "main": [
        [
          {
            "node": "Get list of contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar email": {
      "main": [
        []
      ]
    },
    "Get list of contacts": {
      "main": [
        [
          {
            "node": "existe contacto?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "existe contacto?": {
      "main": [
        [
          {
            "node": "Update contacts",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create new contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tiene leads?": {
      "main": [
        [
          {
            "node": "contact_lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "id_contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "id_contact": {
      "main": [
        [
          {
            "node": "id_contact2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create new contacts": {
      "main": [
        [
          {
            "node": "id_contact1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "id_contact1": {
      "main": [
        [
          {
            "node": "id_contact2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update contacts": {
      "main": [
        [
          {
            "node": "tiene leads?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create new leads": {
      "main": [
        [
          {
            "node": "contact_lead1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "id_contact2": {
      "main": [
        [
          {
            "node": "Create new leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "contact_lead": {
      "main": [
        [
          {
            "node": "Variables_3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "contact_lead1": {
      "main": [
        [
          {
            "node": "Variables_3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Variables_3": {
      "main": [
        [
          {
            "node": "Url de renovacion corto vacio?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update leads": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "No se tiene info de precio?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No se tiene info de precio?1",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Enviar mensaje": {
      "main": [
        [
          {
            "node": "Enviar email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar mensaje1": {
      "main": [
        [
          {
            "node": "Enviar email1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar email1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Url de renovacion corto vacio?": {
      "main": [
        [
          {
            "node": "crear url corto de renovacion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "url_renovacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "url_renovacion": {
      "main": [
        [
          {
            "node": "Variables_4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "crear url corto de renovacion": {
      "main": [
        [
          {
            "node": "Variables_4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Variables_4": {
      "main": [
        [
          {
            "node": "Update leads",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No se tiene info de precio?": {
      "main": [
        [
          {
            "node": "Enviar mensaje1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar mensaje2": {
      "main": [
        [
          {
            "node": "Enviar email2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar email3": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar mensaje3": {
      "main": [
        [
          {
            "node": "Enviar email3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No se tiene info de precio?1": {
      "main": [
        [
          {
            "node": "Enviar mensaje3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar mensaje2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-20T17:06:23.257Z",
  "id": "WigkEeokYfYA5jiO",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Chatbot de cobranzas",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "d0f0cd99-4ed0-4de9-a00e-2ea09974eaee",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -528,
        0
      ],
      "id": "b1a9c96f-7ca3-47d4-82bd-e98e0cbecb06",
      "name": "Webhook",
      "webhookId": "d0f0cd99-4ed0-4de9-a00e-2ea09974eaee"
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "base": {
          "__rl": true,
          "value": "appBCL3CWLhCwIjnP",
          "mode": "list",
          "cachedResultName": "BioEnglish",
          "cachedResultUrl": "https://airtable.com/appBCL3CWLhCwIjnP"
        },
        "table": {
          "__rl": true,
          "value": "tblr6JOWFdK3kOAfo",
          "mode": "list",
          "cachedResultName": "DetalleVentas",
          "cachedResultUrl": "https://airtable.com/appBCL3CWLhCwIjnP/tblr6JOWFdK3kOAfo"
        },
        "id": "={{ $('Webhook').item.json.body.recordId }}",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -304,
        0
      ],
      "id": "ded6d2ef-cd36-45dd-ad33-def709b1b9d2",
      "name": "Detalles venta",
      "credentials": {
        "airtableOAuth2Api": {
          "id": "mylJqD7auLJ9sN2T",
          "name": "Bioenglish_1"
        }
      }
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "base": {
          "__rl": true,
          "value": "appBCL3CWLhCwIjnP",
          "mode": "list",
          "cachedResultName": "BioEnglish",
          "cachedResultUrl": "https://airtable.com/appBCL3CWLhCwIjnP"
        },
        "table": {
          "__rl": true,
          "value": "tblkpm3CwBi8WctOZ",
          "mode": "list",
          "cachedResultName": "Clientes",
          "cachedResultUrl": "https://airtable.com/appBCL3CWLhCwIjnP/tblkpm3CwBi8WctOZ"
        },
        "id": "={{ $('Variables_1').item.json.id_registro_clientes }}",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        112,
        0
      ],
      "id": "ba23e1af-5c28-4026-a85a-9d6fceb761aa",
      "name": "Clientes",
      "credentials": {
        "airtableOAuth2Api": {
          "id": "mylJqD7auLJ9sN2T",
          "name": "Bioenglish_1"
        }
      }
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "base": {
          "__rl": true,
          "value": "appBCL3CWLhCwIjnP",
          "mode": "list",
          "cachedResultName": "BioEnglish",
          "cachedResultUrl": "https://airtable.com/appBCL3CWLhCwIjnP"
        },
        "table": {
          "__rl": true,
          "value": "tblkpm3CwBi8WctOZ",
          "mode": "list",
          "cachedResultName": "Clientes",
          "cachedResultUrl": "https://airtable.com/appBCL3CWLhCwIjnP/tblkpm3CwBi8WctOZ"
        },
        "id": "={{ $('Variables_1').item.json.id_registro_grupo }}",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        320,
        0
      ],
      "id": "84b61286-40bd-447e-80f5-033b7aa493c1",
      "name": "Grupo",
      "credentials": {
        "airtableOAuth2Api": {
          "id": "mylJqD7auLJ9sN2T",
          "name": "Bioenglish_1"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "98b5ba04-6ef6-4bf2-bc1b-ff9750eac831",
              "name": "id_detalles_venta",
              "value": "={{ $('Webhook').item.json.body.recordId }}",
              "type": "string"
            },
            {
              "id": "9a3677ac-ce76-447d-a79d-a4b07b732af4",
              "name": "tipo_recordatorio_pago",
              "value": "={{ $('Webhook').item.json.body.Tipo }}",
              "type": "string"
            },
            {
              "id": "c557b9c8-ffba-4fd2-92da-bda8d2c36b75",
              "name": "id_registro_clientes",
              "value": "={{ $('Detalles venta').item.json.Clientes[0] }}",
              "type": "string"
            },
            {
              "id": "90c98378-7629-4e3b-bdc5-ff242275ea01",
              "name": "id_registro_grupo",
              "value": "={{ $('Detalles venta').item.json.Grupos[0] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -96,
        0
      ],
      "id": "5c859342-b16e-4e17-9d22-efb60ec47077",
      "name": "Variables_1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7bbec97c-79e6-4f7d-bc02-fb1c039f35f0",
              "name": "nombre_estudiante",
              "value": "={{ $('Clientes').item.json['Nombre del estudiante'] }}",
              "type": "string"
            },
            {
              "id": "e3f2e7a4-a563-4b00-97d9-3d48143060ef",
              "name": "nombre_apoderado",
              "value": "={{ $('Clientes').item.json.Apoderado }}",
              "type": "string"
            },
            {
              "id": "a8df778b-f285-41e7-94a3-83911a954723",
              "name": "celular_estudiante",
              "value": "={{ \n$if(\n($('Clientes').item.json['Cel Apoderado']?.[0] ?? \"\") == \"\",\n$('Clientes').item.json['Celular Unico'],\n\"\"\n)\n}}",
              "type": "string"
            },
            {
              "id": "58e10fd3-ccf7-4db2-ad84-69b6f7f9c39a",
              "name": "celular_apoderado",
              "value": "={{  $if( ($('Clientes').item.json['Cel Apoderado']?.[0] ?? \"\") == \"\", \"\", $('Clientes').item.json['Celular Unico'] ) }}",
              "type": "string"
            },
            {
              "id": "53bd2744-ef78-4c10-9cc9-5addf54220fb",
              "name": "tipo",
              "value": "={{ \n$if(\n($('Clientes').item.json['Cel Apoderado']?.[0] ?? \"\") == \"\",\n\"Apoderado\",\n\"Estudiante\"\n)\n}}",
              "type": "string"
            },
            {
              "id": "d6aa80e7-4884-49bb-9899-383d823f0b17",
              "name": "url_tally_pago_recurrente",
              "value": "={{ $('Clientes').item.json['URL renovacion corto'] }}",
              "type": "string"
            },
            {
              "id": "1a77310e-e259-4991-83ea-928a5108b577",
              "name": "Nivel",
              "value": "={{ $('Grupo').item.json.Nivel }}",
              "type": "string"
            },
            {
              "id": "148e0d02-a5a5-4f6c-bbd0-691fd8d16fd5",
              "name": "Precios",
              "value": "=1 mes: S/.{{ $json['1 mes - precio renovación'] }}\n2 meses: S/.{{ $json['2 meses - precio renovación'] }}\n3 meses: S/.{{ $json['3 meses - precio renovación'] }}\n6 meses: S/.{{ $json['6 meses - precio renovación'] }}\n12 meses: S/.{{ $json['12 meses - precio renovación'] }}",
              "type": "string"
            },
            {
              "id": "03bd909e-9ee9-45db-8e5b-ff889dc4082c",
              "name": "Celular_a_enviar",
              "value": "={{ $('Clientes').item.json['Celular Unico'] }}",
              "type": "string"
            },
            {
              "id": "50765deb-917a-4dca-91a4-1395929b7bee",
              "name": "email",
              "value": "={{ $('Clientes').item.json['Email F'] }}",
              "type": "string"
            },
            {
              "id": "a6171914-e08f-4063-894d-8a5687aa3fde",
              "name": "Precio_1_mes",
              "value": "={{ $('Grupo').item?.json['1 mes - precio renovación'] ?? \"No disponible\" }}",
              "type": "string"
            },
            {
              "id": "2e63f9c0-d519-42ee-970f-104b3a7ae2a7",
              "name": "Precio_2_meses",
              "value": "={{ $('Grupo').item?.json['2 meses - precio renovación'] ?? \"No disponible\" }}",
              "type": "string"
            },
            {
              "id": "219528a4-5736-4ae3-8f2d-564ae9c6f24c",
              "name": "Precio_3_meses",
              "value": "={{ $('Grupo').item?.json['3 meses - precio renovación'] ?? \"No disponible\" }}",
              "type": "string"
            },
            {
              "id": "c4ca0544-c8fb-4389-9da0-8cf10fc654b8",
              "name": "Precio_6_meses",
              "value": "={{ $('Grupo').item?.json['6 meses - precio renovación'] ?? \"No disponible\" }}",
              "type": "string"
            },
            {
              "id": "de7058d2-3b1c-45d2-84d6-e293a66e61f1",
              "name": "Precio_12_meses",
              "value": "={{ $('Grupo').item?.json['12 meses - precio renovación'] ?? \"No disponible\" }}",
              "type": "string"
            },
            {
              "id": "bd6cb66a-4a46-472a-92d4-82316e1dab13",
              "name": "id_grupo_airtable",
              "value": "={{ $('Grupo').item.json.id }}",
              "type": "string"
            },
            {
              "id": "939a860f-f974-4a48-a80f-2c8d2ad7ebfd",
              "name": "url_tally_pago_recurrente_largo",
              "value": "={{ $('Clientes').item.json['URL renovacion'] }}",
              "type": "string"
            },
            {
              "id": "cc0b6145-75e2-4533-b520-4f1ba7c36674",
              "name": "id_cliente_airtable",
              "value": "={{ $('Clientes').item.json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        528,
        0
      ],
      "id": "9ec0bb18-6870-408b-84cb-c8aac21ee542",
      "name": "Variables_2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hooks.airtable.com/workflows/v1/genericWebhook/appBCL3CWLhCwIjnP/wfl19pYKBlYcfUB8R/wtrooADDjYPSIvTKv",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "precios",
              "value": "={{ $('Variables_2').item.json.Precios }}"
            },
            {
              "name": "nivel",
              "value": "={{ $('Variables_2').item.json.Nivel }}"
            },
            {
              "name": "url_link_tally",
              "value": "={{ $('Variables_2').item.json.url_tally_pago_recurrente }}"
            },
            {
              "name": "email_a_enviar",
              "value": "={{ $('Variables_2').item.json.email}}"
            },
            {
              "name": "nombre_estudiante",
              "value": "={{ $('Variables_2').item.json.nombre_estudiante }}"
            },
            {
              "name": "plantilla",
              "value": "7_dias_renovacion_CON_precios"
            },
            {
              "name": "numero_de_celular",
              "value": "={{ $('Variables_2').item.json.Celular_a_enviar }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        5600,
        -672
      ],
      "id": "d482ab7f-c9ad-4579-8fcc-f2edfe0913e9",
      "name": "Enviar email"
    },
    {
      "parameters": {
        "resource": "contacts",
        "filter": {
          "query": "={{ $('Variables_2').item.json.Celular_a_enviar }}"
        },
        "options": {
          "with": [
            "leads"
          ]
        },
        "limit": 1
      },
      "type": "n8n-nodes-kommo.kommo",
      "typeVersion": 1,
      "position": [
        800,
        0
      ],
      "id": "0c8912d6-5610-43c2-80ab-601cf8fc29ed",
      "name": "Get list of contacts",
      "credentials": {
        "kommoOAuth2Api": {
          "id": "yjgoywi6EgfDZmcO",
          "name": "kommo_1"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "fc632a6e-e3be-4b43-8535-83bfe0fa949c",
              "leftValue": "={{ $('Get list of contacts').item.json._embedded.contacts[0].id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1008,
        0
      ],
      "id": "b0e969fd-2ddb-428f-b481-8dc62a65b44e",
      "name": "existe contacto?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e76c1e07-8bf3-4d90-b985-7702d222ece7",
              "leftValue": "={{ $('Get list of contacts').item.json._embedded.contacts[0]._embedded.leads }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1824,
        -80
      ],
      "id": "cf285d04-3261-4645-930d-0c1946f00da9",
      "name": "tiene leads?"
    },
    {
      "parameters": {
        "resource": "contacts",
        "operation": "createContacts",
        "collection": {
          "contact": [
            {
              "name": "={{ $if($('Variables_2').item.json.tipo == \"Estudiante\",\n\n$('Variables_2').item.json.nombre_estudiante, \n\n$if(\n\"$('Variables_2').item.json.nombre_apoderado\"==\"\",\n\"\",\n\"Apoderado de\" $('Variables_2').item.json.nombre_estudiante\n\n)\n\n) }}",
              "custom_fields_values": {
                "custom_field": [
                  {
                    "data": "{\"id\":1988338,\"type\":\"select\"}",
                    "value": "={{ $if($('Variables_2').item.json.tipo == \"Estudiante\",\"Estudiante\",\"Apoderado\") }}"
                  },
                  {
                    "data": "{\"id\":1303680,\"type\":\"multitext\"}",
                    "value": "={{ $('Variables_2').item.json.Celular_a_enviar }}"
                  }
                ]
              }
            }
          ]
        }
      },
      "type": "n8n-nodes-kommo.kommo",
      "typeVersion": 1,
      "position": [
        1280,
        208
      ],
      "id": "9506b4c7-6a8b-4254-b280-fbba0d3d8b55",
      "name": "Create new contacts",
      "credentials": {
        "kommoOAuth2Api": {
          "id": "yjgoywi6EgfDZmcO",
          "name": "kommo_1"
        }
      }
    },
    {
      "parameters": {
        "resource": "leads",
        "operation": "createLeads",
        "collection": {
          "lead": [
            {
              "name": "={{ $if($('Variables_2').item.json.tipo == \"Estudiante\",  $('Variables_2').item.json.nombre_estudiante,   $if( \"$('Variables_2').item.json.nombre_apoderado\"==\"\", \"\", \"Apoderado de\" $('Variables_2').item.json.nombre_estudiante  )  ) }}",
              "pipeline_id": 8756191,
              "status_id": 68677523,
              "_embedded": {
                "contacts": [
                  {
                    "id": {
                      "contact": [
                        {
                          "id": "={{ $json.id_contact }}"
                        }
                      ]
                    }
                  }
                ]
              }
            }
          ]
        }
      },
      "type": "n8n-nodes-kommo.kommo",
      "typeVersion": 1,
      "position": [
        2640,
        64
      ],
      "id": "37921795-ebf1-49ab-9c75-07fbc3360fd1",
      "name": "Create new leads",
      "credentials": {
        "kommoOAuth2Api": {
          "id": "yjgoywi6EgfDZmcO",
          "name": "kommo_1"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5c188dbb-99bf-4c11-8562-14088f634cfc",
              "name": "id_contact",
              "value": "={{ $('Get list of contacts').item.json._embedded.contacts[0].id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2064,
        16
      ],
      "id": "7c32102d-f747-4780-a52a-89bda90b8aab",
      "name": "id_contact"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5c188dbb-99bf-4c11-8562-14088f634cfc",
              "name": "id_contact",
              "value": "={{ $json._embedded.contacts[0].id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2064,
        208
      ],
      "id": "32355781-7403-4f47-973e-5c81edc5a38b",
      "name": "id_contact1"
    },
    {
      "parameters": {
        "resource": "contacts",
        "operation": "updateContacts",
        "collection": {
          "contact": [
            {
              "id": "={{ $('Get list of contacts').item.json._embedded.contacts[0].id }}",
              "custom_fields_values": {
                "custom_field": [
                  {
                    "data": "{\"id\":1988338,\"type\":\"select\"}",
                    "value": "={{ $if($('Variables_2').item.json.tipo == \"Estudiante\",\"Estudiante\",\"Apoderado\") }}"
                  }
                ]
              }
            }
          ]
        }
      },
      "type": "n8n-nodes-kommo.kommo",
      "typeVersion": 1,
      "position": [
        1472,
        -80
      ],
      "id": "a7cbcda0-d49b-4ee3-8a3a-a2b4e58b8340",
      "name": "Update contacts",
      "credentials": {
        "kommoOAuth2Api": {
          "id": "yjgoywi6EgfDZmcO",
          "name": "kommo_1"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "148e0d02-a5a5-4f6c-bbd0-691fd8d16fd5",
              "name": "id_contacto",
              "value": "={{ $('Get list of contacts').item.json._embedded.contacts[0].id }}",
              "type": "number"
            },
            {
              "id": "03bd909e-9ee9-45db-8e5b-ff889dc4082c",
              "name": "id_lead",
              "value": "={{ $('Get list of contacts').item.json._embedded.contacts[0]._embedded.leads[0].id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2880,
        -208
      ],
      "id": "522d763d-a7b2-44ba-b84b-aaf4fdc3d05c",
      "name": "contact_lead"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "148e0d02-a5a5-4f6c-bbd0-691fd8d16fd5",
              "name": "id_contacto",
              "value": "={{ $('id_contact2').item.json.id_contact }}",
              "type": "number"
            },
            {
              "id": "03bd909e-9ee9-45db-8e5b-ff889dc4082c",
              "name": "id_lead",
              "value": "={{ $json._embedded.leads[0].id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2880,
        64
      ],
      "id": "8b3a5f45-4979-4ef0-8655-9ea76573cd6a",
      "name": "contact_lead1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5c188dbb-99bf-4c11-8562-14088f634cfc",
              "name": "id_contact",
              "value": "={{ $json.id_contact }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2384,
        64
      ],
      "id": "d656bed3-5266-4520-9245-484bd4580f39",
      "name": "id_contact2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "148e0d02-a5a5-4f6c-bbd0-691fd8d16fd5",
              "name": "id_contacto",
              "value": "={{ $json.id_contacto }}",
              "type": "number"
            },
            {
              "id": "03bd909e-9ee9-45db-8e5b-ff889dc4082c",
              "name": "id_lead",
              "value": "={{ $json.id_lead }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3136,
        -80
      ],
      "id": "d8b37bfc-2fad-481d-a567-bfd5fdc0d2cf",
      "name": "Variables_3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://bioenglish22.kommo.com/api/v2/salesbot/run",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[\n  {\n    \"bot_id\": 65546,\n    \"entity_id\": {{$('Variables_3').item.json.id_lead}},\n    \"entity_type\": 2\n  }\n] ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        5360,
        -672
      ],
      "id": "d616c23e-3e8f-4640-8283-77e1b4bbee68",
      "name": "Enviar mensaje",
      "credentials": {
        "oAuth2Api": {
          "id": "q6wwHvaILtzGGbjE",
          "name": "Kommo"
        }
      }
    },
    {
      "parameters": {
        "resource": "leads",
        "operation": "updateLeads",
        "collection": {
          "lead": [
            {
              "id": "={{ $('Variables_3').item.json.id_lead}}",
              "custom_fields_values": {
                "custom_field": [
                  {
                    "data": "{\"id\":1988340,\"type\":\"text\"}",
                    "value": "={{ $('Variables_2').item.json.Precio_1_mes }}"
                  },
                  {
                    "data": "{\"id\":1988342,\"type\":\"text\"}",
                    "value": "={{ $('Variables_2').item.json.Precio_2_meses }}"
                  },
                  {
                    "data": "{\"id\":1988344,\"type\":\"text\"}",
                    "value": "={{ $('Variables_2').item.json.Precio_3_meses }}"
                  },
                  {
                    "data": "{\"id\":1988346,\"type\":\"text\"}",
                    "value": "={{ $('Variables_2').item.json.Precio_6_meses }}"
                  },
                  {
                    "data": "{\"id\":1988348,\"type\":\"text\"}",
                    "value": "={{ $('Variables_2').item.json.Precio_12_meses }}"
                  },
                  {
                    "data": "{\"id\":1988350,\"type\":\"text\"}",
                    "value": "={{ $('Variables_2').item.json.nombre_estudiante }}"
                  },
                  {
                    "data": "{\"id\":1988352,\"type\":\"url\"}",
                    "value": "={{ $('Variables_4').item.json.url_tally_pago_recurrente }}"
                  },
                  {
                    "data": "{\"id\":1988354,\"type\":\"text\"}",
                    "value": "={{ $('Variables_2').item.json.Nivel }}"
                  }
                ]
              }
            }
          ]
        }
      },
      "type": "n8n-nodes-kommo.kommo",
      "typeVersion": 1,
      "position": [
        4288,
        -336
      ],
      "id": "5fb87eea-e76f-4987-bf1c-a4e0d7bbe62d",
      "name": "Update leads",
      "credentials": {
        "kommoOAuth2Api": {
          "id": "yjgoywi6EgfDZmcO",
          "name": "kommo_1"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4544,
        -336
      ],
      "id": "21cb1f7f-49cb-4bfb-abd3-4a767b1fde99",
      "name": "Wait",
      "webhookId": "5f0dd59d-61e6-4eb8-b60e-c71ac8c60b1f"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Variables_1').item.json.tipo_recordatorio_pago }}",
                    "rightValue": "7_dias_antes",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "ae42432c-6241-4088-8bcb-755d1997a481"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "7 dias"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "fcb36b08-ce5b-4747-adb9-4a4bd9e64022",
                    "leftValue": "={{ $('Variables_1').item.json.tipo_recordatorio_pago }}",
                    "rightValue": "3_dias_antes",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "3 dias"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b9b5875e-6228-4173-9395-cd8e04b1ddf8",
                    "leftValue": "={{ $('Variables_1').item.json.tipo_recordatorio_pago }}",
                    "rightValue": "1_dia_antes",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "1 dia"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        4768,
        -352
      ],
      "id": "fe9a63c7-f37b-404e-998f-0db0e9ec142f",
      "name": "Switch1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hooks.airtable.com/workflows/v1/genericWebhook/appBCL3CWLhCwIjnP/wfl19pYKBlYcfUB8R/wtrooADDjYPSIvTKv",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "precios",
              "value": "={{ $('Variables_2').item.json.Precios }}"
            },
            {
              "name": "nivel",
              "value": "={{ $('Variables_2').item.json.Nivel }}"
            },
            {
              "name": "url_link_tally",
              "value": "={{ $('Variables_2').item.json.url_tally_pago_recurrente }}"
            },
            {
              "name": "email_a_enviar",
              "value": "={{ $('Variables_2').item.json.email}}"
            },
            {
              "name": "nombre_estudiante",
              "value": "={{ $('Variables_2').item.json.nombre_estudiante }}"
            },
            {
              "name": "plantilla",
              "value": "7_dias_renovacion_SIN_precios"
            },
            {
              "name": "numero_de_celular",
              "value": "={{ $('Variables_2').item.json.Celular_a_enviar }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        5600,
        -896
      ],
      "id": "1668a15e-2565-4ba7-934d-73b5e3762b34",
      "name": "Enviar email1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://bioenglish22.kommo.com/api/v2/salesbot/run",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[\n  {\n    \"bot_id\": 0,\n    \"entity_id\": {{$('Variables_3').item.json.id_lead}},\n    \"entity_type\": 2\n  }\n] ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        5360,
        -896
      ],
      "id": "12407c5e-f56d-4f4d-a118-e7768aa2ce24",
      "name": "Enviar mensaje1",
      "credentials": {
        "oAuth2Api": {
          "id": "q6wwHvaILtzGGbjE",
          "name": "Kommo"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1244011715008532602",
          "mode": "list",
          "cachedResultName": "Bioenglish",
          "cachedResultUrl": "https://discord.com/channels/1244011715008532602"
        },
        "channelId": {
          "__rl": true,
          "value": "1357814199446929488",
          "mode": "list",
          "cachedResultName": "errores",
          "cachedResultUrl": "https://discord.com/channels/1244011715008532602/1357814199446929488"
        },
        "content": "=Falta definir los precios de renovacion del grupo con el nivel {{ $('Variables_2').item.json.Nivel }}\n\n\nEntrar a este link para definir los precios de renovacion: https://airtable.com/appBCL3CWLhCwIjnP/tbllfzjbgoKjO87HI/viwHWienEAkK0GiH1/{{ $('Variables_2').item.json.id_grupo_airtable }}?blocks=hide\n\n\nSe hizo recordatorio de pago de renovacion 7 dias antes pero sin precios a este lead:\nhttps://bioenglish22.kommo.com/leads/detail/{{ $('Variables_3').item.json.id_lead }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        5824,
        -896
      ],
      "id": "0ad98751-7f8b-4ff7-8d09-cb6035ce18c1",
      "name": "Send a message",
      "webhookId": "cf7337c4-50db-4dc5-95b6-bd0922108198",
      "credentials": {
        "discordBotApi": {
          "id": "lrG2Z5VoQXKArDMn",
          "name": "bio_1"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "470e5792-f40b-4cec-a35f-15453f2d0e02",
              "leftValue": "={{ $('Variables_2').item.json.url_tally_pago_recurrente }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3344,
        -80
      ],
      "id": "937effc5-d55b-4e41-bb82-647f9266837d",
      "name": "Url de renovacion corto vacio?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "51961664-61bd-45f1-9ca2-30bc1b5189f3",
              "name": "url_tally_pago_recurrente",
              "value": "={{ $('Variables_2').item.json.url_tally_pago_recurrente }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3648,
        64
      ],
      "id": "704a5096-abfc-4bac-8121-def6018e5ad0",
      "name": "url_renovacion"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "51961664-61bd-45f1-9ca2-30bc1b5189f3",
              "name": "url_tally_pago_recurrente",
              "value": "={{ $json.url_tally_pago_recurrente }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3984,
        -80
      ],
      "id": "0a267b2b-9daa-4e48-8664-e9f675a6e6c7",
      "name": "Variables_4"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "UqJsZfAhJHkWNxvT",
          "mode": "list",
          "cachedResultUrl": "/workflow/UqJsZfAhJHkWNxvT",
          "cachedResultName": "Crear/actualizar url short.io"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "url_de_renovacion_largo": "={{ $('Variables_2').item.json.url_tally_pago_recurrente_largo }}",
            "id_registro_cliente": "={{ $('Variables_2').item.json.id_cliente_airtable }}",
            "tipo": "nuevo_url"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "url_de_renovacion_largo",
              "displayName": "url_de_renovacion_largo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "id_registro_cliente",
              "displayName": "id_registro_cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "tipo",
              "displayName": "tipo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "id_link_short_io",
              "displayName": "id_link_short_io",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        3648,
        -160
      ],
      "id": "e5ced7fb-3a08-4c5a-bef9-592aa6b0809b",
      "name": "crear url corto de renovacion"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "create",
        "projectId": "prkc7a6zgmy2biw",
        "table": "mf1zt2lexmn446a",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "id_escenario_n8n",
              "fieldValue": "={{ $execution.id }}"
            },
            {
              "fieldName": "id_automatizacion_n8n",
              "fieldValue": "={{ $workflow.id }}"
            },
            {
              "fieldName": "id_detalles_venta_airtable",
              "fieldValue": "={{ $('Variables_1').item.json.id_detalles_venta }}"
            },
            {
              "fieldName": "id_cliente_airtable",
              "fieldValue": "={{ $('Variables_1').item.json.id_registro_clientes }}"
            },
            {
              "fieldName": "id_grupo_airtable",
              "fieldValue": "={{ $('Variables_1').item.json.id_registro_grupo }}"
            },
            {
              "fieldName": "id_contact_kommo",
              "fieldValue": "={{ $('Variables_3').item.json.id_contacto }}"
            },
            {
              "fieldName": "id_lead_kommo",
              "fieldValue": "={{ $('Variables_3').item.json.id_lead }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        4272,
        208
      ],
      "id": "f3580440-92b0-4eab-a83c-50a9ca24c5b4",
      "name": "Create a row",
      "credentials": {
        "nocoDbApiToken": {
          "id": "Sybr1jbACFyMMWFf",
          "name": "bio_1"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "11a8f908-7794-463a-8c47-f5e525865a1e",
              "leftValue": "={{ $('Variables_2').item.json.Precio_1_mes }}",
              "rightValue": "No disponible",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "2a368ccd-33a7-49ec-8c0f-81db0eb96252",
              "leftValue": "={{ $('Variables_2').item.json.Precio_2_meses }}",
              "rightValue": "No disponible",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "9ac862ab-2eb2-4d3a-b914-00ca3f037ff5",
              "leftValue": "={{ $('Variables_2').item.json.Precio_3_meses }}",
              "rightValue": "No disponible",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "756a81de-238d-476c-845c-3bec5e666b89",
              "leftValue": "={{ $('Variables_2').item.json.Precio_6_meses }}",
              "rightValue": "No disponible",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "0fa911a5-5498-41de-9824-bd45d94ffb74",
              "leftValue": "={{ $('Variables_2').item.json.Precio_12_meses }}",
              "rightValue": "No disponible",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        5120,
        -784
      ],
      "id": "2c710983-a029-4447-872b-b00631d26014",
      "name": "No se tiene info de precio?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hooks.airtable.com/workflows/v1/genericWebhook/appBCL3CWLhCwIjnP/wfl19pYKBlYcfUB8R/wtrooADDjYPSIvTKv",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "precios",
              "value": "={{ $('Variables_2').item.json.Precios }}"
            },
            {
              "name": "nivel",
              "value": "={{ $('Variables_2').item.json.Nivel }}"
            },
            {
              "name": "url_link_tally",
              "value": "={{ $('Variables_2').item.json.url_tally_pago_recurrente }}"
            },
            {
              "name": "email_a_enviar",
              "value": "={{ $('Variables_2').item.json.email}}"
            },
            {
              "name": "nombre_estudiante",
              "value": "={{ $('Variables_2').item.json.nombre_estudiante }}"
            },
            {
              "name": "plantilla",
              "value": "7_dias_renovacion_CON_precios"
            },
            {
              "name": "numero_de_celular",
              "value": "={{ $('Variables_2').item.json.Celular_a_enviar }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        5600,
        -224
      ],
      "id": "b6778630-11ff-43cb-b64b-386e98c0adef",
      "name": "Enviar email2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://bioenglish22.kommo.com/api/v2/salesbot/run",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[\n  {\n    \"bot_id\": 65546,\n    \"entity_id\": {{$('Variables_3').item.json.id_lead}},\n    \"entity_type\": 2\n  }\n] ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        5360,
        -224
      ],
      "id": "09be8a55-f785-4c77-8f68-8a6d4b1073b1",
      "name": "Enviar mensaje2",
      "credentials": {
        "oAuth2Api": {
          "id": "q6wwHvaILtzGGbjE",
          "name": "Kommo"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hooks.airtable.com/workflows/v1/genericWebhook/appBCL3CWLhCwIjnP/wfl19pYKBlYcfUB8R/wtrooADDjYPSIvTKv",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "precios",
              "value": "={{ $('Variables_2').item.json.Precios }}"
            },
            {
              "name": "nivel",
              "value": "={{ $('Variables_2').item.json.Nivel }}"
            },
            {
              "name": "url_link_tally",
              "value": "={{ $('Variables_2').item.json.url_tally_pago_recurrente }}"
            },
            {
              "name": "email_a_enviar",
              "value": "={{ $('Variables_2').item.json.email}}"
            },
            {
              "name": "nombre_estudiante",
              "value": "={{ $('Variables_2').item.json.nombre_estudiante }}"
            },
            {
              "name": "plantilla",
              "value": "7_dias_renovacion_SIN_precios"
            },
            {
              "name": "numero_de_celular",
              "value": "={{ $('Variables_2').item.json.Celular_a_enviar }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        5600,
        -448
      ],
      "id": "6a5fe050-02cf-4e23-8957-da79b5a2a616",
      "name": "Enviar email3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://bioenglish22.kommo.com/api/v2/salesbot/run",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[\n  {\n    \"bot_id\": 0,\n    \"entity_id\": {{$('Variables_3').item.json.id_lead}},\n    \"entity_type\": 2\n  }\n] ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        5360,
        -448
      ],
      "id": "0db36230-0d0d-49bb-943a-dc011650676e",
      "name": "Enviar mensaje3",
      "credentials": {
        "oAuth2Api": {
          "id": "q6wwHvaILtzGGbjE",
          "name": "Kommo"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1244011715008532602",
          "mode": "list",
          "cachedResultName": "Bioenglish",
          "cachedResultUrl": "https://discord.com/channels/1244011715008532602"
        },
        "channelId": {
          "__rl": true,
          "value": "1357814199446929488",
          "mode": "list",
          "cachedResultName": "errores",
          "cachedResultUrl": "https://discord.com/channels/1244011715008532602/1357814199446929488"
        },
        "content": "=Falta definir los precios de renovacion del grupo con el nivel {{ $('Variables_2').item.json.Nivel }}\n\n\nEntrar a este link para definir los precios de renovacion: https://airtable.com/appBCL3CWLhCwIjnP/tbllfzjbgoKjO87HI/viwHWienEAkK0GiH1/{{ $('Variables_2').item.json.id_grupo_airtable }}?blocks=hide\n\n\nSe hizo recordatorio de pago de renovacion 7 dias antes pero sin precios a este lead:\nhttps://bioenglish22.kommo.com/leads/detail/{{ $('Variables_3').item.json.id_lead }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        5824,
        -448
      ],
      "id": "9a225705-8b4f-4fa5-8014-7cacc95a4101",
      "name": "Send a message1",
      "webhookId": "cf7337c4-50db-4dc5-95b6-bd0922108198",
      "credentials": {
        "discordBotApi": {
          "id": "lrG2Z5VoQXKArDMn",
          "name": "bio_1"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "11a8f908-7794-463a-8c47-f5e525865a1e",
              "leftValue": "={{ $('Variables_2').item.json.Precio_1_mes }}",
              "rightValue": "No disponible",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "2a368ccd-33a7-49ec-8c0f-81db0eb96252",
              "leftValue": "={{ $('Variables_2').item.json.Precio_2_meses }}",
              "rightValue": "No disponible",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "9ac862ab-2eb2-4d3a-b914-00ca3f037ff5",
              "leftValue": "={{ $('Variables_2').item.json.Precio_3_meses }}",
              "rightValue": "No disponible",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "756a81de-238d-476c-845c-3bec5e666b89",
              "leftValue": "={{ $('Variables_2').item.json.Precio_6_meses }}",
              "rightValue": "No disponible",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "0fa911a5-5498-41de-9824-bd45d94ffb74",
              "leftValue": "={{ $('Variables_2').item.json.Precio_12_meses }}",
              "rightValue": "No disponible",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        5120,
        -336
      ],
      "id": "14d604f2-54ca-4f34-bc16-1e9076978ed6",
      "name": "No se tiene info de precio?1"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "primary-production-55a73.up.railway.app",
            "user-agent": "Mozilla/5.0 (compatible; AirtableScripting; +https://airtable.com/developers/scripting;)",
            "content-length": "54",
            "accept": "*/*",
            "accept-encoding": "gzip,deflate",
            "content-type": "application/json",
            "x-airtable-source": "appBCL3CWLhCwIjnP/wflX6HhPCZwG0ZmbX",
            "x-forwarded-for": "44.202.227.208",
            "x-forwarded-host": "primary-production-55a73.up.railway.app",
            "x-forwarded-proto": "https",
            "x-railway-edge": "railway/us-east4-eqdc4a",
            "x-railway-request-id": "1uhz1hBNQJ-nxqXcozsQ6Q",
            "x-real-ip": "44.202.227.208",
            "x-request-start": "1766251768297"
          },
          "params": {},
          "query": {},
          "body": {
            "recordId": "reci5B3kXsKVyvfwX",
            "Tipo": "7_dias_antes"
          },
          "webhookUrl": "https://primary-production-55a73.up.railway.app/webhook/d0f0cd99-4ed0-4de9-a00e-2ea09974eaee",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Create new contacts": [
      {
        "json": {
          "_links": {
            "self": {
              "href": "https://bioenglish22.kommo.com/api/v4/contacts"
            }
          },
          "_embedded": {
            "contacts": [
              {
                "id": 28116270,
                "is_deleted": false,
                "is_unsorted": false,
                "request_id": "0",
                "_links": {
                  "self": {
                    "href": "https://bioenglish22.kommo.com/api/v4/contacts/28116270"
                  }
                }
              }
            ]
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Create new leads": [
      {
        "json": {
          "_links": {
            "self": {
              "href": "https://bioenglish22.kommo.com/api/v4/leads"
            }
          },
          "_embedded": {
            "leads": [
              {
                "id": 24581270,
                "request_id": "0",
                "_links": {
                  "self": {
                    "href": "https://bioenglish22.kommo.com/api/v4/leads/24581270"
                  }
                }
              }
            ]
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Clientes": [
      {
        "json": {
          "id": "receJcK4J92PFbXkp",
          "createdTime": "2023-03-28T15:33:26.000Z",
          "Estudiante": "C-96-Sisa yolé Valerie galiano huasco",
          "Apoderado": "Delia Huasco",
          "DetalleVentas": [
            "recdWe7sJTmTAZTsh",
            "rec1E5bw1tL7F6N4i",
            "reck88jo6v9XTdlGV",
            "recu2gNWjZdC5JCkZ",
            "recXHZfTjO0X9Tvhc",
            "recv7IA8vrY3yLXKy",
            "recLwxC5NXYHkAJoH",
            "receYFcX8KOlaUpvq",
            "recacfaeVoXqo2ONT",
            "recYSuEF7oImgkWJE",
            "recy9pR0088eGElUq",
            "recEw1OQEeJKBEaiI",
            "recZRXSugbPiPSbdp",
            "recU1mO9PADh9jb38",
            "recahcPnlnobXXCPi",
            "reci5B3kXsKVyvfwX"
          ],
          "PEN Rollup (from DetalleVentas)": 4660,
          "# Ventas": 16,
          "Nombre del estudiante": "Gianmarco Rusher",
          "ID": 96,
          "Tipo": "Menor de edad",
          "Celular del estudiante 1": "+51930552921",
          "Email del estudiante": "dyr.gahua@gmail.com",
          "Inicio Suscripción Actual": "2026-01-05",
          "Status": "Ok",
          "1ra Suscripción": "2023-04-03",
          "WA Link": {
            "label": "Open URL",
            "url": "https://api.whatsapp.com/send?phone=+51930552921&text=Hola"
          },
          "#Semanas": 52,
          "Fecha fin": "2027-01-04",
          "Semanas transcurridas": -2,
          "Dif Semanas": 54,
          "Grupos (from DetalleVentas)": [
            "recpumSpRQEyWJXL5",
            "recpumSpRQEyWJXL5",
            "rechppg2lNnPsBnss",
            "recpumSpRQEyWJXL5",
            "recpumSpRQEyWJXL5",
            "recpumSpRQEyWJXL5",
            "recpumSpRQEyWJXL5",
            "recpumSpRQEyWJXL5",
            "recpumSpRQEyWJXL5",
            "recpumSpRQEyWJXL5",
            "rec25XUyZufWTKuj3",
            "rec25XUyZufWTKuj3",
            "rec25XUyZufWTKuj3",
            "rec25XUyZufWTKuj3",
            "rec25XUyZufWTKuj3",
            "rec25XUyZufWTKuj3"
          ],
          "latestPurchaseDate": "2025-12-01",
          "Grupo actual": "ENGLISH KET_A2 | Virtual | Flor | M-J-4:30-6:00pm-S-11:00-12:30pm",
          "Cel Estudiante": [
            "recYnO7G5rfXVt80p"
          ],
          "Celular Unico": "+51936639242",
          "Pais Celular": "Peru",
          "PEN SF": 4660,
          "ISO": "PE",
          "Grupos Ultimo": [
            "rec25XUyZufWTKuj3"
          ],
          "TUSD": 1165,
          "Fecha de Fin (from DetalleVentas)": [
            "2023-05-01",
            "2023-05-31",
            "2023-07-01",
            "2023-06-30",
            "2023-07-31",
            "2023-08-30",
            "2023-09-29",
            "2023-10-30",
            "2023-12-01",
            "2023-12-29",
            "2024-08-19",
            "2025-02-17",
            "2025-05-26",
            "2025-08-25",
            "2026-02-17",
            "2027-01-04"
          ],
          "Fecha de Inicio (from DetalleVentas)": [
            "2023-04-03",
            "2023-05-03",
            "2023-06-03",
            "2023-06-02",
            "2023-07-03",
            "2023-08-02",
            "2023-09-01",
            "2023-10-02",
            "2023-11-03",
            "2023-12-01",
            "2024-03-04",
            "2024-09-02",
            "2025-03-03",
            "2025-06-02",
            "2025-09-02",
            "2026-01-05"
          ],
          "Kommo Link WA": {
            "label": "Button",
            "url": "https://bioenglish22.kommo.com/chats/leads/detail/10162934?filter%5Bterm%5D=%2B+51930552921"
          },
          "Cantidad DV": 16,
          "Fecha de Fin (from DetalleVentas) 2": [
            "2027-01-04"
          ],
          "Record ID": "receJcK4J92PFbXkp",
          "Clientes (from DetalleVentas)": [
            "receJcK4J92PFbXkp",
            "receJcK4J92PFbXkp",
            "receJcK4J92PFbXkp",
            "receJcK4J92PFbXkp",
            "receJcK4J92PFbXkp",
            "receJcK4J92PFbXkp",
            "receJcK4J92PFbXkp",
            "receJcK4J92PFbXkp",
            "receJcK4J92PFbXkp",
            "receJcK4J92PFbXkp",
            "receJcK4J92PFbXkp",
            "receJcK4J92PFbXkp",
            "receJcK4J92PFbXkp",
            "receJcK4J92PFbXkp",
            "receJcK4J92PFbXkp",
            "receJcK4J92PFbXkp"
          ],
          "Fecha de Pago (from DetalleVentas)": [
            "2023-03-28",
            "2023-05-03",
            "2023-05-31",
            "2023-06-09",
            "2023-07-06",
            "2023-08-13",
            "2023-09-15",
            "2023-10-17",
            "2023-11-30",
            "2023-12-30",
            "2024-04-05",
            "2024-09-30",
            "2025-04-19",
            "2025-07-31",
            "2025-10-29",
            "2025-11-30"
          ],
          "Fecha min": "2023-03-28",
          "Usuarios": [
            "rec0DumatdFQFnxdy"
          ],
          "Magic link (from Usuarios)": [
            "https://www.bioenglish.lat/magic-authentication?magic-token=b85da1dd86624ed19e62ea0350d00b20"
          ],
          "Fin Suscripción Actual": "2026-01-04",
          "Suscripción (from DetalleVentas)": [
            "ANUAL"
          ],
          "Email F": "gianmarcorusher@gmail.com",
          "Nombre F": "Sisa",
          "Fecha de hora de envío": "2026-01-04T09:00:00.000Z",
          "URL renovacion": "https://tally.so/r/A7K61k?nombre_estudiante=Sisa%20yol%C3%A9%20Valerie%20galiano%20huasco&celular_estudiante=%2B51930552921",
          "URL renovacion corto": "a"
        }
      }
    ],
    "Grupo": [
      {
        "json": {
          "id": "rec25XUyZufWTKuj3",
          "createdTime": "2024-01-04T22:34:20.000Z",
          "Grupos": "ENGLISH KET_A2 | Virtual | Flor | M-J-4:30-6:00pm-S-11:00-12:30pm",
          "DetalleVentas": [
            "rec2NXpP9KamllKcU",
            "recZV5xdXhKbYkjwH",
            "recMrHOcVaHMMTrM2",
            "recoM5v9htnnkb0AW",
            "recmLGebupAsEBKUN",
            "rec4dOng6Y47Ebye0",
            "recU7poTCYnVgwW1J",
            "recG0ajLpJ0dH1Fnh",
            "recd22EzXN8Z2eGn8",
            "reclg068dPxLhsoqF",
            "recmaw53BayBDDSAZ",
            "recwFdCyDwuYcItqF",
            "recvzXD5c4wCRkg0r",
            "recVqMU1FXvGAeywg",
            "recxD40lJHWtdrNpf",
            "recKNeHjpZj550SVX",
            "recNmqWgvHL6KszTY",
            "reczD3107LPcswb4G",
            "recmrApueoQlwvdIg",
            "rec0QIwsNkkINEuwv",
            "recQXBc6wGuXrW2Rf",
            "recMvEa0gKfe3DHOX",
            "reckZ9oTkClL1Ffzj",
            "recy9pR0088eGElUq",
            "rec58CP5ao6FUj5x9",
            "recW7WY6i0sjH7FCz",
            "receOg8WRLupc3ccn",
            "recPrdTFVprvYxU7o",
            "rec9XDHYqrH9JBMK7",
            "rec05AvY51sbW8Dt5",
            "recsUj0BIbPLII2fw",
            "recu9RsZ556nliWG9",
            "recun5c5VTbb0y79m",
            "rec7LppCBJJzDRO5z",
            "recfGOpRZwwe4ClkN",
            "recR2NLijRnq5D5Wy",
            "recBG3pz51FRCI6Y9",
            "recWe8jT52AWDqM1P",
            "recEng9STaGhv6S87",
            "recByCjtBz8VrCJC7",
            "recpRDw7LAOfH97MM",
            "rec2aLjbVoQvDyv26",
            "rec0koIUcYnWzZQqI",
            "rec3HtPWy7SYZMOis",
            "recw5kk4jksDfVIcu",
            "rec2mymB7Cd1kmO8q",
            "recOeWalNdDfYrUwT",
            "rec9dZ7Gcf2LLlhpa",
            "recEw1OQEeJKBEaiI",
            "recoRynVdgMOfKnFc",
            "recbIkGU80aU8Q8AU",
            "recvx1t8B5mjHOO58",
            "recPrmJhUodN1yVl1",
            "recxFPscVjuNz5qbS",
            "rec1hD5MvvLJw8px3",
            "recVPsHoqBRNnVAzI",
            "recm5JTI0ePrPL1sY",
            "rec2hudOYK7mxT3fl",
            "recPDrAbILFx7mfTg",
            "rec9iEZWZV4oIJJNb",
            "recjGpnpOjSEkzeFk",
            "recHaDaSDkuuMeOXh",
            "recvJ5RZ4ebr592WZ",
            "recwUyfUDJyJfM1Y4",
            "recg1HB0if1WPeAUp",
            "recAvuzq4ab2uyGwc",
            "recS6VLvaRD4bIKwl",
            "recHsp2usdXASmd1f",
            "recT2SlUli7PEUvi6",
            "recusmmLIL9um9k6n",
            "recLa6gUN1rj6eUPP",
            "recHvkEGiNgKrmkB1",
            "recvVg71P0EPd3ZtU",
            "recyYu39u5mk2ID62",
            "rec9ufG8jDATFCTsX",
            "recZRXSugbPiPSbdp",
            "recVxh3hZmC7li6gs",
            "recLlZDccIXSBsQfp",
            "reckNi36XSJGHE3yV",
            "recHlfMYyufJqwcCh",
            "recPUcV7WNkahv2K1",
            "recK0LD46s4LymkjJ",
            "rec20NjkwGVD9DB0x",
            "recU1mO9PADh9jb38",
            "rec2khYQYsbbmAzpg",
            "recvvdL0eDjlF0rgw",
            "reccLwW3muZBtj9KV",
            "recqu5s8CaFjtHulL",
            "recLpBKwwvNEzc9mO",
            "recFt3l44qnRxYcNt",
            "recoWCeeVJWi2OWnF",
            "recvsgZjTo2VPrtIo",
            "recahcPnlnobXXCPi",
            "recw3MOKDMrp5uf5h",
            "recdmTVTExTVnv9RI",
            "recznN7kWbef2gESh",
            "recIFYoJ5MqVCyndN",
            "reciyTiFhIBWNHenY",
            "reci5B3kXsKVyvfwX",
            "recNSrZrttaC0S0kN"
          ],
          "Feb23": 0,
          "Feb23 PEN": 0,
          "Modalidad": "Virtual",
          "Nivel": "ENGLISH KET_A2",
          "Horario": "M-J-4:30-6:00pm-S-11:00-12:30pm",
          "Mar23": 0,
          "Mar23 PEN": 0,
          "Docente": "Teacher Flor",
          "Ene23 A": 0,
          "Ene23 PEN": 0,
          "Abr23": 0,
          "Abr23 PEN": 0,
          "Ahora": 5,
          "Status": "Rentable",
          "Edades": "9 a 12 años",
          "Teachers horarios": [
            "recvChSYMRUqaSvs8"
          ],
          "From Teachers (from Teachers horarios)": [
            "rec4xEKSBjKWNVwOY"
          ],
          "May23 PEN": 0,
          "May23": 0,
          "Jun23 PEN": 0,
          "Jun23": 0,
          "Jul23 PEN": 0,
          "Ago23 PEN": 0,
          "Sep23 PEN": 0,
          "Oct23 PEN": 0,
          "Jul23": 0,
          "Sep23": 0,
          "Oct23": 0,
          "Ago23": 0,
          "Grupos mes": [
            "recHN9cdZItClJVBw"
          ],
          "Nov23 PEN": 0,
          "Total": 21210.5,
          "Total from Mar23": 21210.5,
          "Year2024": "2025",
          "Nov23": 0,
          "Dic23": 0,
          "Ene24": 8,
          "Dic23 PEN": 278.5,
          "Ene24 PEN": 765,
          "Grabaciones": [
            "recVUnr5PI94csbZk",
            "recvOYfWENAT5Ff4q",
            "rect3QcUGtT2MlVj0",
            "rec74dr9T9Y2zLRQF",
            "recL05Bj5Z0sn3DM9",
            "recxianleexMX5HKr",
            "recbB4HtkcDMn560H",
            "rechHGoEi1mEoAd1F",
            "rec2LJCuhEi4tstSk",
            "recjClD8xi6G7yExt",
            "recYSTXlmHQBhTmwO",
            "rec2GKtVtOxbKPNlu",
            "rec67xocjQQ2tHyk2",
            "recbbIZlYnOXBAdEp",
            "recRMdfNw3RyViPKw",
            "rec3H1o8lSrmrAZgY",
            "recKv4gjfxht3xDm0",
            "recLwkCsIzJGgxgah",
            "recEbijDZBN6iM4WZ",
            "recTAhaxDAbxLwrQc",
            "recP6u3EjUBhEQ1za",
            "recPvfvnCi6Rd0Dze",
            "recWerg6Ku66gzxOr",
            "recUkYQ8en3FUPfuk",
            "recGsiKAy9XH5aXYB",
            "rec5otaWrft1iVrSi",
            "recYJ2UwJ2u7RzHGc",
            "recDyaonLQT9ODpLT",
            "recljMiFTMSDc2SK9",
            "recxRgfDxpgaMZEts",
            "recP0Gef7girw3YbU",
            "recWlNdQmnBwr4uzu",
            "recHe4XYUzoXjGZPm",
            "recaU9le1g2QW7ddN",
            "recb718hvL1rRqyMX",
            "recoFcIbhJdDbC4eo",
            "recGqy3MweCTeiy9X",
            "recH71YmW8GDE7pxA",
            "rec9POjYcCMytlmgN",
            "recP0HY5g7cM2yM14",
            "rec5m1RLfhmW6OWF0",
            "reclJJpxtqxHEEZnC",
            "recEyFCmyVqfN69Sl",
            "recusVXUuiG0jJo2d",
            "rec14blFg22ewNO1K",
            "recRaPQXnwnX2v9X4",
            "reckYAPD9exsmluMX",
            "recfv6f34dQqWlEVB",
            "recRiOoofF3XgJcPD",
            "recd8G0SqTbiNz7SS",
            "recdtUkrD6oP2Jv1G",
            "recNtnF86eCqBtyn4",
            "recviOhcG3H50fPlg",
            "recH7IXQKq6jJPBAL",
            "recYSpXYOmoy2f8PT",
            "rec80X6JGXlJixDej",
            "rechxX3JOORJRDWYn",
            "reccHJ4XixRqpde9o",
            "recaaGDqhknMbOSbp",
            "rec45oUr8xlghlKvz",
            "reclzLPUZXAIcEEAK",
            "rec7VV12rrxzNRjgE",
            "recYowL6KTgEZNWAw",
            "recI0rUzfLv3iFQcA",
            "recZXdsCGNyunddWG",
            "reczZojnYqhde9sbH",
            "recCojNqmYAFmLOTk",
            "rec7339R9iDVlriCQ",
            "recOcSTDMf4Sj7Tda",
            "recf91uWMGATtSLRj",
            "rec732xvdMM7zuk8E",
            "recAugK7gYCMXCnv8",
            "recOGOB88pJc7nq6p",
            "reckKDMLwqOgyAPww",
            "recekPUFgDHx7ic5K",
            "rec4mNZxgCGZeT8gL",
            "recKPUy2zYNNqb9gC",
            "recp1E1uhIQ6MsI4P",
            "reclNBOE9nC4YFyaI",
            "recsyl1f9iJzkSnFP",
            "recbKTr3NpRxVCeB9",
            "recp3co3GcMka1YvS",
            "reclBQowcDzIRDFsK",
            "rec8lQ5WOgpMKpCRw",
            "recgEM4VPnBCQuuFz",
            "recLHrphIRFWOmowE",
            "recId2hlBfIOUNLyf",
            "recGTWT696uEvVaxS",
            "rec3H2O2OLGkyZ88Z",
            "rec8IrEfH3fWGRSrF",
            "reckCV4FEMLIuAMUS",
            "recbpq3BhlVIodZtg",
            "recdReiZ6m54CPSUq",
            "recKpzsyqxDH50FSJ",
            "recCsxf6fyfqTF0lE",
            "recLFUqKWck7CXU4y",
            "recRlX7oxdxjxbE7I",
            "recVU5Pcy5hPnJr29",
            "recLRgKARoTTtNyEC",
            "reciQIC7ZAFCWKt7P",
            "rec5tYfUk8XnmETMX",
            "rec1RUVWK0TDooDhY",
            "rechKmwZXfTZ4eLjC",
            "reczjJ1afU3mpSmEj",
            "recwCPy3iBpNf6a7S",
            "recSsSejV9XCbh1t7",
            "recQCVRA0NO5WvrC8",
            "recupz2hUHw3VUQQH",
            "recOgG4bd3SDUxhRz",
            "recAUYRbtrLcntpb9",
            "recM6h3TmfYpkTXU9",
            "rec1JqVYBCmBC4EZL",
            "recrqQzoBgopbX3zp",
            "recDPj69PQtlfoowS",
            "recVmEpezNV4g1fvH",
            "recqlY3q0B1M8f6sz",
            "recKjwuoQVBFtR1G0",
            "recw5bkRCR6RXc0OH",
            "recO4sZ08eWt90wcS",
            "recc5hLUicQXXlleF",
            "rec2dmVldpXuwstB2",
            "recEK7nlpKqB6gtIw",
            "recBUZqbU6eM4KjvM",
            "rec9GOQidKu8Kt9wl",
            "rec5HklMKxZFLT6Ns",
            "recyaOsH77TwSOuS4",
            "recibZGEi5BZhIqUu",
            "recSiqzSFTdJofG92",
            "recL4ZPjICyRoIGP6",
            "rec7DyBZgkPxqVaZh",
            "recDhuzitvF7AK7Ve",
            "recrqOy8ROvfT3H3E",
            "recq05x34iHRCLfq0",
            "recPRslMNxloVxXHi",
            "recrTGMFmAzjH5Fct",
            "recgOSzNKnmnWiTBM",
            "recsxbOdJklSUbq1W",
            "recDTIdkAOu0hlQJp",
            "recFqrJTdcJENqRMS",
            "recqZaJvUKiynP2r7",
            "recmdF6vXbvxQjn1P",
            "recXpMqU3Vh0yMuID",
            "rectScwERHA7Z9TM5",
            "reclIPXhZ1PSpP6yS",
            "recuNPzi6ipFKmZMR",
            "recCgk3aoOUeSamAU",
            "rec2nIs0Xvs7iY9wn",
            "recEzz9QR6kkqpFey",
            "recfTASR7kGAYHEu1",
            "recljCvlwMaNTqSKO",
            "reclCiwOynkKTwwQ2",
            "recJxgojQWfXrZoD4",
            "rec8FsONsJ7xM3teI",
            "receX844ZDSxwQRmX",
            "recY5NTDkHv5cI1ev",
            "recPn3QzWmVEWlNNX",
            "recOM6JWFtpeUh6ck",
            "recb3jLC7F7F83pjy",
            "recQIBV8v2xRTgS2i",
            "rect3l5KxJKf70bIT",
            "recFVnBzyDrlg6icF",
            "rectlFI7j6J6axofQ",
            "recnKSlPXBnMI5fYX",
            "recQmUh22gknxuYlZ",
            "recZqQD6pCffs4AoN",
            "rec5Qd6GKK0KuhVvM",
            "recb5c5xbWDR3dnZX",
            "recHESczgcFnJJRV2",
            "recJlPGWD0on0212G",
            "recH72oSRECVZfgti",
            "rec2q2FxJrjPGcSFk",
            "recJgo499VQqEO1vW",
            "recB2j0OaQHOxp5It",
            "recrNSvjbxGsvUCaT",
            "recPZZ72UjbrOoVUu",
            "recE5C7ngPlHqekzY",
            "recv8LoH1175XN9q3",
            "recNT6FzFL2VwnTzU",
            "recSgAuKT2zZPf1Cc",
            "recAQrc17iksJvtHi",
            "recwi7gzzSuAJvSak",
            "rec7AzzzFO0wpGk4w",
            "recaOHdJyRsPaC702",
            "reciyePUBMCcbAc1m",
            "recZryh7K60tiIPa6",
            "recGRLm9bN1sgvTow",
            "reccVvuHrwYi6btg7",
            "rec0UvYjwIdy3fIIE",
            "recrtYi2sV4DJJKPV",
            "recka6RsM7aMKQYrZ",
            "rec1rZojheKTiXMfe",
            "recQaPjbsFHnOh0aX",
            "rechDFavLVQOtVami",
            "recsVsfMCA8pSeysd",
            "rec8iIKeOt0SRYI3Q",
            "recpxqEE3ydOalSyf",
            "recLyILj9uKldSGFu",
            "rec57eKnkPghkWoAm",
            "recx9pDyvPMR63hsf",
            "recgwS5rWwyEerReL",
            "recS3hUHcGSAEmJFk",
            "recGYADBm3jbYubCO",
            "recT8Pa61NwTFycFt",
            "recajbGRUFC8tQGt1",
            "reck5Qv9UaBrD7zpF",
            "recrI64nRqTmZ49DF",
            "recbjXKB8tN5lWO9G",
            "rec8jbU3zdJldTSWX",
            "recpmAjskv5HACFW6",
            "reckhV2baLAN1boBM",
            "recsMNGgPbho0rewC",
            "rec7NDnARoT1ozQv7",
            "recLIqEDJ1u74roRi"
          ],
          "Portal": [
            "recvmxjtk4Woiua6g",
            "recvjGKmENexKtAQx",
            "recbdq7Yv3Ss5PIEI",
            "recZrDRhD1GsiMDcB",
            "recJApUgBBQPLhy3E",
            "rechw7q3skhfkYz8u",
            "reccusCIy7UBxZeuA",
            "recThu8lQ0dEydkqS",
            "recorLvfxRStZ5maV",
            "recNza9rM4Cvb3WBG",
            "rec3ydfbufxb8yjJp",
            "recEfX7SLKhGKpANF"
          ],
          "Tarea Enunciado": [
            "recP5n8su5VeZYwqs",
            "rechK1AorZSc6cD3U",
            "rec30Mxu51jBV2CwJ",
            "recQdG7nu2b7J5JdD",
            "recFjImBYUCTXTsoS",
            "rec4gugcAlHuG7Avr",
            "rec559kzACC1BIsRP"
          ],
          "Portal Docente": [
            "rec9CTPHltCOgBqyy",
            "recD5iES7jYXLR150"
          ],
          "Grupo Nombre": "Movers ",
          "Nivel 2": "Básico",
          "Detalles": "📅 Martes y Jueves\n⏰ 4:45-6:15 pm\n📅 Sábado\n⏰ 10:00-11:30 am\n",
          "Tipo": "Niños",
          "Edades copy": "8-10 ",
          "Tipo 2": "Curso",
          "Format": "Movers  para niños de 9 a 12 años",
          "WA": "https://api.whatsapp.com/send?phone=51900570149&text=Hola%20Bio%20English%2C%20quiero%20m%C3%A1s%20informaci%C3%B3n%20del%20Grupo%3A%20Movers%20%20para%20ni%C3%B1os%20de%209%20a%2012%20a%C3%B1os",
          "Status 2": "Activo",
          "Recursos": [
            "recixbaAIU9QVEOfn",
            "rectbU8Ob0EY7GxCq"
          ],
          "Apr24 PEN": 765,
          "GRUPOS ACTIVOS": "activo",
          "Feb24": 14,
          "Feb24 PEN": 884,
          "Mar24": 17,
          "Mar24 PEN": 975,
          "Abr24": 15,
          "May24 PEN": 565,
          "May24": 8,
          "Jun24": 7,
          "Jun24 PEN": 555,
          "Jul24": 3,
          "Jul24 PEN": 405,
          "Jun 24 %": 0.875,
          "Jun24 C": 0,
          "Tipo Grupo": "Niños",
          "Record ID": "rec25XUyZufWTKuj3",
          "SOLO ZOOM DE RECURSOS": [
            "https://us02web.zoom.us/j/84760142631?pwd=tkTRELIKh6ZW7fy88qAg7sCTMKaEZX.1   "
          ],
          "1 mes - precio renovación": 155,
          "2 meses - precio renovación": 295,
          "3 meses - precio renovación": 420,
          "6 meses - precio renovación": 745,
          "12 meses - precio renovación": 1300
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Get list of contacts": [
      {
        "json": {
          "_page": 1,
          "_links": {
            "self": {
              "href": "https://bioenglish22.kommo.com/api/v4/contacts?query=%2B51936639242&with=leads&page=1&limit=1"
            },
            "next": {
              "href": "https://bioenglish22.kommo.com/api/v4/contacts?query=%2B51936639242&with=leads&page=2&limit=1"
            }
          },
          "_embedded": {
            "contacts": [
              {
                "id": 28101510,
                "name": "Gian Marco Tejada",
                "first_name": "",
                "last_name": "",
                "responsible_user_id": 11277651,
                "group_id": 0,
                "created_by": 0,
                "updated_by": 0,
                "created_at": 1766177082,
                "updated_at": 1766354470,
                "closest_task_at": null,
                "is_deleted": false,
                "is_unsorted": false,
                "custom_fields_values": [
                  {
                    "field_id": 1303680,
                    "field_name": "Phone",
                    "field_code": "PHONE",
                    "field_type": "multitext",
                    "values": [
                      {
                        "value": "+51936639242",
                        "enum_id": 928100,
                        "enum_code": "WORK"
                      }
                    ]
                  },
                  {
                    "field_id": 1988338,
                    "field_name": "Tipo",
                    "field_code": null,
                    "field_type": "select",
                    "values": [
                      {
                        "value": "Estudiante",
                        "enum_id": 1439428,
                        "enum_code": null
                      }
                    ]
                  }
                ],
                "account_id": 32863847,
                "_links": {
                  "self": {
                    "href": "https://bioenglish22.kommo.com/api/v4/contacts/28101510?query=%2B51936639242&with=leads&page=1&limit=1"
                  }
                },
                "_embedded": {
                  "tags": [],
                  "leads": [
                    {
                      "id": 24581270,
                      "_links": {
                        "self": {
                          "href": "https://bioenglish22.kommo.com/api/v4/leads/24581270?query=%2B51936639242&with=leads&page=1&limit=1"
                        }
                      }
                    }
                  ],
                  "companies": []
                }
              }
            ]
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "repo_name": "n8n_backups",
  "repo_owner": "mirkoflores",
  "repo_path": "n8n",
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "3eeV0S5bC6x3HCMd"
  },
  "shared": [
    {
      "updatedAt": "2025-12-20T17:06:23.257Z",
      "createdAt": "2025-12-20T17:06:23.257Z",
      "role": "workflow:owner",
      "workflowId": "WigkEeokYfYA5jiO",
      "projectId": "axO88AWqOW8lB7Vc"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-12-26T05:15:46.523Z",
  "versionId": "b2aceb3f-6dd7-49cf-a18f-fd8c0981075a"
}